openapi: 3.0.1
info:
  title: AssemblyAI API
  description: AssemblyAI API
  termsOfService: https://www.assemblyai.com/legal/terms-of-service
  contact:
    name: API Support
    url: https://www.assemblyai.com/docs/
    email: support@assemblyai.com
  version: '1.3.2'
servers:
  - url: https://api.assemblyai.com
    description: AssemblyAI API
paths:
  /v2/upload:
    post:
      tags:
        - transcript
      summary: Upload a media file
      description: Upload a media file to AssemblyAI's servers.
      operationId: uploadFile
      requestBody:
        content:
          application/octet-stream: { }
      responses:
        '200':
          description: Media file uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
          x-label: Media file uploaded
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: files
      x-fern-sdk-method-name: upload
  /v2/transcript:
    post:
      tags:
        - transcript
      summary: Transcribe audio
      description: Create a transcript from a media file that is accessible via a URL.
      operationId: createTranscript
      requestBody:
        description: Params to create a transcript
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptParams'
        required: true
      responses:
        '200':
          description: Transcript created and queued for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transcript'
          links:
            GetTranscriptById:
              $ref: '#/components/links/GetTranscriptById'
            GetTranscriptSentencesById:
              $ref: '#/components/links/GetTranscriptSentencesById'
            GetTranscriptParagraphsById:
              $ref: '#/components/links/GetTranscriptParagraphsById'
            GetTranscriptSubtitlesById:
              $ref: '#/components/links/GetTranscriptSubtitlesById'
            GetTranscriptRedactedAudioById:
              $ref: '#/components/links/GetTranscriptRedactedAudioById'
            WordSearchByTranscriptId:
              $ref: '#/components/links/WordSearchByTranscriptId'
            DeleteTranscriptById:
              $ref: '#/components/links/DeleteTranscriptById'
          x-label: Transcript created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      callbacks:
        transcriptReadyWebhook:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/TranscriptReadyNotification'
                required: true
              responses:
                2XX:
                  description: Successfully received the notification
                4XX:
                  description: Invalid request
                5XX:
                  description: Unexpected error
        redactedAudioWebhook:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/RedactedAudioNotification'
                required: true
              responses:
                2XX:
                  description: Successfully received the notification
                4XX:
                  description: Invalid request
                5XX:
                  description: Unexpected error
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: submit
      x-fern-request-name: TranscriptParams
    get:
      tags:
        - transcript
      summary: List transcripts
      description: "Retrieve a list of transcripts you created.\nTranscripts are sorted from newest to oldest. The previous URL always points to a page with older transcripts.\n"
      operationId: listTranscripts
      parameters:
        - name: limit
          in: query
          description: Maximum amount of transcripts to retrieve
          schema:
            $ref: '#/components/schemas/ListTranscriptParams'
          x-label: Limit
        - name: status
          in: query
          description: Filter by transcript status
          schema:
            $ref: '#/components/schemas/TranscriptStatus'
          x-label: Status
        - name: created_on
          in: query
          description: Only get transcripts created on this date
          schema:
            $ref: '#/components/schemas/ListTranscriptParams'
          x-label: Created on
        - name: before_id
          in: query
          description: Get transcripts that were created before this transcript ID
          schema:
            $ref: '#/components/schemas/ListTranscriptParams'
          x-label: Before ID
        - name: after_id
          in: query
          description: Get transcripts that were created after this transcript ID
          schema:
            $ref: '#/components/schemas/ListTranscriptParams'
          x-label: After ID
        - name: throttled_only
          in: query
          description: 'Only get throttled transcripts, overrides the status filter'
          schema:
            $ref: '#/components/schemas/ListTranscriptParams'
          x-label: Throttled only
      responses:
        '200':
          description: "A list of transcripts. Transcripts are sorted from newest to oldest. The previous URL always points to a page with older transcripts.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: list
      x-fern-request-name: ListTranscriptParams
  '/v2/transcript/{transcript_id}':
    get:
      tags:
        - transcript
      summary: Get transcript
      description: Get the transcript resource. The transcript is ready when the "status" is "completed".
      operationId: getTranscript
      parameters:
        - name: transcript_id
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
          x-label: Transcript ID
      responses:
        '200':
          description: The transcript resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transcript'
          links:
            GetTranscriptById:
              $ref: '#/components/links/GetTranscriptById'
            GetTranscriptSentencesById:
              $ref: '#/components/links/GetTranscriptSentencesById'
            GetTranscriptParagraphsById:
              $ref: '#/components/links/GetTranscriptParagraphsById'
            GetTranscriptSubtitlesById:
              $ref: '#/components/links/GetTranscriptSubtitlesById'
            GetTranscriptRedactedAudioById:
              $ref: '#/components/links/GetTranscriptRedactedAudioById'
            WordSearchByTranscriptId:
              $ref: '#/components/links/WordSearchByTranscriptId'
            DeleteTranscriptById:
              $ref: '#/components/links/DeleteTranscriptById'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: get
      x-fern-request-name: GetTranscriptParams
    delete:
      tags:
        - transcript
      summary: Delete transcript
      description: Remove the data from the transcript and mark it as deleted.
      operationId: deleteTranscript
      parameters:
        - name: transcript_id
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
          x-label: Transcript ID
      responses:
        '200':
          description: The deleted transcript response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transcript'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: delete
  '/v2/transcript/{transcript_id}/{subtitle_format}':
    get:
      tags:
        - transcript
      summary: Get subtitles for transcript
      description: Export your transcript in SRT or VTT format to use with a video player for subtitles and closed captions.
      operationId: getSubtitles
      parameters:
        - name: transcript_id
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
          x-label: Transcript ID
        - name: subtitle_format
          in: path
          description: The format of the captions
          required: true
          schema:
            $ref: '#/components/schemas/SubtitleFormat'
          x-label: Subtitle format
        - name: chars_per_caption
          in: query
          description: The maximum number of characters per caption
          schema:
            type: integer
          x-label: Number of characters per caption
      responses:
        '200':
          description: The exported captions as text
          content:
            text/plain:
              schema:
                type: string
                example: "WEBVTT\n00:12.340 --> 00:16.220\nLast year I showed these two slides said that demonstrate\n00:16.200 --> 00:20.040\nthat the Arctic ice cap which for most of the last 3,000,000 years has been the\n00:20.020 --> 00:25.040\nsize of the lower 48 States has shrunk by 40% but this understates\n"
              examples:
                srt:
                  $ref: '#/components/examples/SrtSubtitlesResponse'
                vtt:
                  $ref: '#/components/examples/VttSubtitlesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: getSubtitles
      x-fern-request-name: GetSubtitlesParams
  '/v2/transcript/{transcript_id}/sentences':
    get:
      tags:
        - transcript
      summary: Get sentences in transcript
      description: Get the transcript split by sentences. The API will attempt to semantically segment the transcript into sentences to create more reader-friendly transcripts.
      operationId: getTranscriptSentences
      parameters:
        - name: transcript_id
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
          x-label: Transcript ID
      responses:
        '200':
          description: Exported sentences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentencesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: getSentences
      x-fern-request-name: GetSentencesParams
  '/v2/transcript/{transcript_id}/paragraphs':
    get:
      tags:
        - transcript
      summary: Get paragraphs in transcript
      description: Get the transcript split by paragraphs. The API will attempt to semantically segment your transcript into paragraphs to create more reader-friendly transcripts.
      operationId: getTranscriptParagraphs
      parameters:
        - name: transcript_id
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
          x-label: Transcript ID
      responses:
        '200':
          description: Exported paragraphs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParagraphsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: getParagraphs
      x-fern-request-name: GetParagraphsParams
  '/v2/transcript/{transcript_id}/word-search':
    get:
      tags:
        - transcript
      summary: Search words in transcript
      description: 'Search through the transcript for keywords. You can search for individual words, numbers, or phrases containing up to five words or numbers.'
      operationId: wordSearch
      parameters:
        - name: transcript_id
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
          x-label: Transcript ID
        - name: words
          in: query
          description: Keywords to search for
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              x-label: Word
          x-label: Words
      responses:
        '200':
          description: Word search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WordSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: wordSearch
      x-fern-request-name: WordSearchParams
  '/v2/transcript/{transcript_id}/redacted-audio':
    get:
      tags:
        - transcript
      summary: Get redacted audio
      description: Retrieve the redacted audio object containing the status and URL to the redacted audio.
      operationId: getRedactedAudio
      parameters:
        - name: transcript_id
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
          x-label: Transcript ID
      responses:
        '200':
          description: The redacted audio object containing the status and URL to the redacted audio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedactedAudioResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: getRedactedAudio
      x-fern-request-name: GetRedactedAudioParams
  /v2/realtime/token:
    post:
      tags:
        - streaming
      summary: Create temporary authentication token for Streaming STT
      description: Create a temporary authentication token for Streaming Speech-to-Text
      operationId: createTemporaryToken
      requestBody:
        description: Params to create a temporary authentication token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRealtimeTemporaryTokenParams'
        required: true
      responses:
        '200':
          description: Temporary authentication token generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeTemporaryTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: realtime
      x-fern-sdk-method-name: createTemporaryToken
      x-fern-request-name: CreateRealtimeTemporaryTokenParams
  /lemur/v3/generate/task:
    post:
      tags:
        - LeMUR
      summary: Run a task using LeMUR
      description: Use the LeMUR task endpoint to input your own LLM prompt.
      operationId: lemurTask
      requestBody:
        description: Params to run the task
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LemurTaskParams'
        required: true
      responses:
        '200':
          description: LeMUR task response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests in a 60 second window.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Number of remaining requests in the current time window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Number of seconds until the remaining requests resets to the value of X-RateLimit-Limit.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LemurTaskResponse'
          links:
            PurgeLemurRequestDataById:
              $ref: '#/components/links/PurgeLemurRequestDataById'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: task
      x-fern-request-name: LemurTaskParams
  /lemur/v3/generate/summary:
    post:
      tags:
        - LeMUR
      summary: Summarize a transcript using LeMUR
      description: "Custom Summary allows you to distill a piece of audio into a few impactful sentences.\nYou can give the model context to obtain more targeted results while outputting the results in a variety of formats described in human language.\n"
      operationId: lemurSummary
      requestBody:
        description: Params to generate the summary
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LemurSummaryParams'
        required: true
      responses:
        '200':
          description: LeMUR summary response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests in a 60 second window.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Number of remaining requests in the current time window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Number of seconds until the remaining requests resets to the value of X-RateLimit-Limit.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LemurSummaryResponse'
          links:
            PurgeLemurRequestDataById:
              $ref: '#/components/links/PurgeLemurRequestDataById'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: summary
      x-fern-request-name: LemurSummaryParams
  /lemur/v3/generate/question-answer:
    post:
      tags:
        - LeMUR
      summary: Ask questions using LeMUR
      description: "Question & Answer allows you to ask free-form questions about a single transcript or a group of transcripts.\nThe questions can be any whose answers you find useful, such as judging whether a caller is likely to become a customer or whether all items on a meeting's agenda were covered.\n"
      operationId: lemurQuestionAnswer
      requestBody:
        description: Params to ask questions about the transcripts
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LemurQuestionAnswerParams'
        required: true
      responses:
        '200':
          description: LeMUR question & answer response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests in a 60 second window.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Number of remaining requests in the current time window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Number of seconds until the remaining requests resets to the value of X-RateLimit-Limit.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LemurQuestionAnswerResponse'
          links:
            PurgeLemurRequestDataById:
              $ref: '#/components/links/PurgeLemurRequestDataById'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: questionAnswer
      x-fern-request-name: LemurQuestionAnswerParams
  /lemur/v3/generate/action-items:
    post:
      tags:
        - LeMUR
      summary: Extract action items
      description: Use LeMUR to generate a list of action items from a transcript
      operationId: lemurActionItems
      requestBody:
        description: Params to generate action items from transcripts
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LemurActionItemsParams'
        required: true
      responses:
        '200':
          description: LeMUR action items response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests in a 60 second window.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Number of remaining requests in the current time window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Number of seconds until the remaining requests resets to the value of X-RateLimit-Limit.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LemurActionItemsResponse'
          links:
            PurgeLemurRequestDataById:
              $ref: '#/components/links/PurgeLemurRequestDataById'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-label: Extract action items using LeMUR
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: actionItems
      x-fern-request-name: LemurActionItemsParams
  '/lemur/v3/{request_id}':
    get:
      tags:
        - LeMUR
      summary: Retrieve LeMUR response
      description: "Retrieve a LeMUR response that was previously generated.\n"
      operationId: getLemurResponse
      parameters:
        - name: request_id
          in: path
          description: "The ID of the LeMUR request you previously made.\nThis would be found in the response of the original request.\n"
          required: true
          schema:
            type: string
          x-label: LeMUR request ID
      responses:
        '200':
          description: LeMUR response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LemurResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: getResponse
      x-fern-request-name: GetLemurResponseParams
    delete:
      tags:
        - LeMUR
      summary: Purge LeMUR request data
      description: "Delete the data for a previously submitted LeMUR request.\nThe LLM response data, as well as any context provided in the original request will be removed.\n"
      operationId: purgeLemurRequestData
      parameters:
        - name: request_id
          in: path
          description: The ID of the LeMUR request whose data you want to delete. This would be found in the response of the original request.
          required: true
          schema:
            type: string
          x-label: LeMUR request ID
      responses:
        '200':
          description: LeMUR request data deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurgeLemurRequestDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: purgeRequestData
      x-fern-request-name: PurgeLemurRequestDataParams
components:
  schemas:
    TranscriptWebhookNotification:
      type: object
      oneOf:
        - $ref: '#/components/schemas/TranscriptReadyNotification'
        - $ref: '#/components/schemas/RedactedAudioNotification'
      additionalProperties: false
      description: The notifications sent to the webhook URL.
      x-label: Transcript webhook notification
      x-fern-sdk-group-name: transcripts
    TranscriptReadyNotification:
      required:
        - transcript_id
        - status
      type: object
      properties:
        transcript_id:
          type: string
          description: The ID of the transcript
          format: uuid
          x-label: Transcript ID
        status:
          $ref: '#/components/schemas/TranscriptReadyStatus'
      additionalProperties: false
      description: The notification when the transcript status is completed or error.
      example:
        transcript_id: 9ea68fd3-f953-42c1-9742-976c447fb463
        status: completed
      x-label: Transcript ready notification
      x-fern-sdk-group-name: transcripts
    RedactedAudioNotification:
      type: object
      allOf:
        - $ref: '#/components/schemas/RedactedAudioResponse'
      additionalProperties: false
      description: The notification when the redacted audio is ready.
      x-label: Redacted audio notification
      x-fern-sdk-group-name: transcripts
    RedactedAudioResponse:
      required:
        - status
        - redacted_audio_url
      type: object
      properties:
        status:
          $ref: '#/components/schemas/RedactedAudioStatus'
        redacted_audio_url:
          type: string
          description: The URL of the redacted audio file
          format: url
          x-label: Redacted audio URL
      additionalProperties: false
      example:
        redacted_audio_url: https://s3.us-west-2.amazonaws.com/api.assembly.ai.usw2/redacted-audio/785efd9e-0e20-45e1-967b-3db17770ed9f.wav?AWSAccessKeyId=ASIAVASQFLPGLUP5JD7Y&Signature=z1r2MOA46esiiAmk%2FreBkL8rl6g%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEPv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIHxKoUJdd5P%2Fdy4WlfvRNppQtauTy7OuAb5azR2OIoYSAiEA8iPx4xAx0pbZztT4e7fGnzPS4phvNCnYKflIijUoxDsq%2BwMIMxAEGgwzNDQ4MzkyNDg4NDQiDJxsCgo0cDg789FV0CrYAwPK3CHbRHoNPFiQ%2FO6EdHZ4OSFRcS%2FDvDyHQRNnYNSwG4JB2mUMWEVw808JWTya%2But4wEcmPiUCVJMTvh70cxhILAxP84CBTuWGM%2Fszbj4tn1thjVsqovf9YZmP17OCFa77Bc9%2F9RwtRaABEqJ2eb6%2Bsir7w0MMzhe1z%2F%2B1PUKxicJAZasBv3Ova%2BTY2eNkPZHQ4Njie4X5sh05b%2BrKnz58E7GTQ1sHZQDYHZecwb5fP0B3LR0vuqNtK%2BdpMAxw5H7BinQ4rdccLmsLLMQeVn8jdRDZNEvsdmoeQL0y0qD%2BUcyGMJoAjMT4FnXhBhVxc3bgkVUbHlZMn48FNCYcmzM8UB9wGmSnr6iQoqEaFElfQVbvAzsW7lnlfLROZxMvGXyliobPYPSaYZlVYgHcIxeWuOAXRtEtmL2jbaX4ghCVgJBVO3BBzTgub2jB0KPU6lYZLLM4kf%2B8hKX8iyxSRc6ZVEefTcyruoDppjB028pA9q75hLH1CZwhfLoM%2F3z5f0aFCl05zQnaa10nbcKj0hERELf4FXqS8yWbSutlRcd7Rr9o8jN31QGUscpsuIvl%2FpyJcZmItX8nO%2FF0s1QjrIi11DLYD9YoOh7eVkN8eKKn5w4cHldVI2sw4NCPqgY6pQE%2BM9va2ad1%2BNrXeQ9t8K41lojTN0BFmM8ERD5fF77xcTlW8VdV%2FiJeLLHDvnYYWVKcga9hSROlmsqvMyn3Tmhz7KQbIepSAOKhcHM%2FyUaLfErvCtjXGwo8nsKForL7SKiGkaRCBmwfQtkSVP6m4tGT50YdGxakh54f8uyC55SbkElknRbpl5haiZ%2F82UddFBkdPcM3t0s7vwbEy%2BbilYyetOr6htc%3D&Expires=1698966551
        status: redacted_audio_ready
      x-label: Redacted audio response
      x-fern-sdk-group-name: transcripts
    RedactedAudioStatus:
      enum:
        - redacted_audio_ready
      type: string
      description: The status of the redacted audio
      x-label: Redacted audio status
      x-fern-sdk-group-name: transcripts
      x-aai-enum:
        redacted_audio_ready:
          label: Redacted audio is ready
    SubtitleFormat:
      enum:
        - srt
        - vtt
      type: string
      description: Format of the subtitles
      x-label: Subtitle format
      x-fern-sdk-group-name: transcripts
      x-aai-enum:
        srt:
          label: SRT
        vtt:
          label: VTT
    WordSearchResponse:
      required:
        - id
        - total_count
        - matches
      type: object
      properties:
        id:
          type: string
          description: The ID of the transcript
          format: uuid
          x-label: Transcript ID
        total_count:
          type: integer
          description: 'The total count of all matched instances. For e.g., word 1 matched 2 times, and word 2 matched 3 times, `total_count` will equal 5.'
          x-label: Total count of matches
        matches:
          type: array
          items:
            $ref: '#/components/schemas/WordSearchMatch'
          description: The matches of the search
          x-label: Matches
      additionalProperties: false
      example:
        id: d5a3d302-066e-43fb-b63b-8f57baf185db
        total_count: 10
        matches:
          - text: smoke
            count: 6
            timestamps:
              - 
                - 250
                - 650
              - 
                - 49168
                - 49398
              - 
                - 55284
                - 55594
              - 
                - 168888
                - 169118
              - 
                - 215108
                - 215386
              - 
                - 225944
                - 226170
            indexes:
              - 0
              - 136
              - 156
              - 486
              - 652
              - 698
          - text: wildfires
            count: 4
            timestamps:
              - 
                - 1668
                - 2346
              - 
                - 33852
                - 34546
              - 
                - 50118
                - 51110
              - 
                - 231356
                - 232354
            indexes:
              - 4
              - 90
              - 140
              - 716
      x-label: Word search response
      x-fern-sdk-group-name: transcripts
    WordSearchMatch:
      required:
        - text
        - count
        - timestamps
        - indexes
      type: object
      properties:
        text:
          type: string
          description: The matched word
          x-label: Text
        count:
          type: integer
          description: The total amount of times the word is in the transcript
          x-label: Count
        timestamps:
          type: array
          items:
            $ref: '#/components/schemas/WordSearchTimestamp'
          description: An array of timestamps
          x-label: Timestamps
        indexes:
          type: array
          items:
            type: integer
            x-label: Index
          description: An array of all index locations for that word within the `words` array of the completed transcript
          x-label: Indexes
      additionalProperties: false
      example:
        text: smoke
        count: 6
        timestamps:
          - 
            - 250
            - 650
          - 
            - 49168
            - 49398
          - 
            - 55284
            - 55594
          - 
            - 168888
            - 169118
          - 
            - 215108
            - 215386
          - 
            - 225944
            - 226170
        indexes:
          - 0
          - 136
          - 156
          - 486
          - 652
          - 698
      x-label: Word search match
      x-fern-sdk-group-name: transcripts
    WordSearchTimestamp:
      type: array
      items:
        type: integer
        description: Timestamp in milliseconds
        x-label: Timestamp
      description: 'An array of timestamps structured as [`start_time`, `end_time`] in milliseconds'
      example:
        - 250
        - 650
      x-label: Word search timestamp
      x-fern-sdk-group-name: transcripts
    Timestamp:
      required:
        - start
        - end
      type: object
      properties:
        start:
          type: integer
          description: The start time in milliseconds
          x-label: Start
        end:
          type: integer
          description: The end time in milliseconds
          x-label: End
      additionalProperties: false
      description: Timestamp containing a start and end property in milliseconds
      example:
        start: 3978
        end: 5114
      x-label: Timestamp
      x-fern-sdk-group-name: transcripts
    TranscriptOptionalParams:
      type: object
      properties:
        language_code:
          oneOf:
            - anyOf:
                - $ref: '#/components/schemas/TranscriptLanguageCode'
                - type: string
            - type: 'null'
          description: "The language of your audio file. Possible values are found in [Supported Languages](https://www.assemblyai.com/docs/concepts/supported-languages).\nThe default value is 'en_us'.\n"
          default: en_us
          x-label: Language code
          x-ts-type: 'LiteralUnion<TranscriptLanguageCode, string> | null'
          x-go-type: TranscriptLanguageCode
        language_detection:
          type: boolean
          description: 'Enable [Automatic language detection](https://www.assemblyai.com/docs/models/speech-recognition#automatic-language-detection), either true or false.'
          default: false
          x-label: Language detection
        language_confidence_threshold:
          maximum: 1
          minimum: 0
          type: number
          description: "The confidence threshold for the automatically detected language.\nAn error will be returned if the language confidence is below this threshold.\nDefaults to 0.\n"
          format: float
          default: 0
          x-label: Language confidence threshold
        speech_model:
          oneOf:
            - $ref: '#/components/schemas/SpeechModel'
            - type: 'null'
          description: 'The speech model to use for the transcription. When `null`, the "best" model is used.'
          default: best
          x-label: Speech model
        punctuate:
          type: boolean
          description: 'Enable Automatic Punctuation, can be true or false'
          default: true
          x-label: Punctuate
        format_text:
          type: boolean
          description: 'Enable Text Formatting, can be true or false'
          default: true
          x-label: Format text
        disfluencies:
          type: boolean
          description: 'Transcribe Filler Words, like "umm", in your media file; can be true or false'
          default: false
          x-label: Disfluencies
        dual_channel:
          type: boolean
          description: 'Enable [Dual Channel](https://www.assemblyai.com/docs/models/speech-recognition#dual-channel-transcription) transcription, can be true or false.'
          default: false
          x-label: Dual channel
        webhook_url:
          type: string
          description: "The URL to which we send webhook requests.\nWe sends two different types of webhook requests.\nOne request when a transcript is completed or failed, and one request when the redacted audio is ready if redact_pii_audio is enabled.\n"
          format: url
          x-label: Webhook URL
        webhook_auth_header_name:
          description: The header name to be sent with the transcript completed or failed webhook requests
          default: 
          x-label: Webhook auth header name
        webhook_auth_header_value:
          description: The header value to send back with the transcript completed or failed webhook requests for added security
          default: 
          x-label: Webhook auth header value
        auto_highlights:
          type: boolean
          description: 'Enable Key Phrases, either true or false'
          default: false
          x-label: Key phrases
        audio_start_from:
          type: integer
          description: 'The point in time, in milliseconds, to begin transcribing in your media file'
          x-label: Audio start from
        audio_end_at:
          type: integer
          description: 'The point in time, in milliseconds, to stop transcribing in your media file'
          x-label: Audio end at
        word_boost:
          type: array
          items:
            type: string
            x-label: Word to boost
          description: The list of custom vocabulary to boost transcription probability for
          x-label: Word boost
        boost_param:
          $ref: '#/components/schemas/TranscriptBoostParam'
        filter_profanity:
          type: boolean
          description: 'Filter profanity from the transcribed text, can be true or false'
          default: false
          x-label: Filter profanity
        redact_pii:
          type: boolean
          description: 'Redact PII from the transcribed text using the Redact PII model, can be true or false'
          default: false
          x-label: Redact PII
        redact_pii_audio:
          type: boolean
          description: 'Generate a copy of the original media file with spoken PII "beeped" out, can be true or false. See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.'
          default: false
          x-label: Redact PII audio
        redact_pii_audio_quality:
          $ref: '#/components/schemas/RedactPiiAudioQuality'
        redact_pii_policies:
          type: array
          items:
            $ref: '#/components/schemas/PiiPolicy'
          description: 'The list of PII Redaction policies to enable. See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.'
          x-label: Redact PII policies
        redact_pii_sub:
          oneOf:
            - $ref: '#/components/schemas/SubstitutionPolicy'
            - type: 'null'
          description: 'The replacement logic for detected PII, can be "entity_type" or "hash". See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.'
          default: hash
          x-label: Redact PII substitution
        speaker_labels:
          type: boolean
          description: 'Enable [Speaker diarization](https://www.assemblyai.com/docs/models/speaker-diarization), can be true or false'
          default: false
          x-label: Speaker labels
        speakers_expected:
          description: 'Tells the speaker label model how many speakers it should attempt to identify, up to 10. See [Speaker diarization](https://www.assemblyai.com/docs/models/speaker-diarization) for more details.'
          default: 
          x-label: Speakers expected
        content_safety:
          type: boolean
          description: 'Enable [Content Moderation](https://www.assemblyai.com/docs/models/content-moderation), can be true or false'
          default: false
          x-label: Content Moderation
        content_safety_confidence:
          maximum: 100
          minimum: 25
          type: integer
          description: The confidence threshold for the Content Moderation model. Values must be between 25 and 100.
          default: 50
          x-label: Content Moderation confidence
        iab_categories:
          type: boolean
          description: 'Enable [Topic Detection](https://www.assemblyai.com/docs/models/topic-detection), can be true or false'
          default: false
          x-label: Topic Detection
        custom_spelling:
          type: array
          items:
            $ref: '#/components/schemas/TranscriptCustomSpelling'
          description: Customize how words are spelled and formatted using to and from values
          x-label: Custom spellings
        sentiment_analysis:
          type: boolean
          description: 'Enable [Sentiment Analysis](https://www.assemblyai.com/docs/models/sentiment-analysis), can be true or false'
          default: false
          x-label: Sentiment Analysis
        auto_chapters:
          type: boolean
          description: 'Enable [Auto Chapters](https://www.assemblyai.com/docs/models/auto-chapters), can be true or false'
          default: false
          x-label: Auto chapters
        entity_detection:
          type: boolean
          description: 'Enable [Entity Detection](https://www.assemblyai.com/docs/models/entity-detection), can be true or false'
          default: false
          x-label: Entity Detection
        speech_threshold:
          maximum: 1
          minimum: 0
          description: "Reject audio files that contain less than this fraction of speech.\nValid values are in the range [0, 1] inclusive.\n"
          format: float
          default: 0
          x-label: Speech threshold
        summarization:
          type: boolean
          description: 'Enable [Summarization](https://www.assemblyai.com/docs/models/summarization), can be true or false'
          default: false
          x-label: Enable Summarization
        summary_model:
          $ref: '#/components/schemas/SummaryModel'
        summary_type:
          $ref: '#/components/schemas/SummaryType'
        custom_topics:
          type: boolean
          description: 'Enable custom topics, either true or false'
          default: false
          x-label: Enable custom topics
        topics:
          type: array
          items:
            type: string
            x-label: Topic
          description: The list of custom topics
          x-label: Custom topics
      additionalProperties: false
      description: The parameters for creating a transcript
      example:
        speech_model: 
        language_code: en_us
        language_detection: true
        language_confidence_threshold: 0.7
        punctuate: true
        format_text: true
        dual_channel: true
        webhook_url: https://your-webhook-url.tld/path
        webhook_auth_header_name: webhook-secret
        webhook_auth_header_value: webhook-secret-value
        auto_highlights: true
        audio_start_from: 10
        audio_end_at: 280
        word_boost:
          - aws
          - azure
          - google cloud
        boost_param: high
        filter_profanity: true
        redact_pii: true
        redact_pii_audio: true
        redact_pii_audio_quality: mp3
        redact_pii_policies:
          - us_social_security_number
          - credit_card_number
        redact_pii_sub: hash
        speaker_labels: true
        speakers_expected: 2
        content_safety: true
        iab_categories: true
        custom_spelling: [ ]
        disfluencies: false
        sentiment_analysis: true
        auto_chapters: true
        entity_detection: true
        speech_threshold: 0.5
        summarization: true
        summary_model: informative
        summary_type: bullets
        custom_topics: true
        topics: [ ]
      x-label: Optional transcript parameters
      x-fern-sdk-group-name: transcripts
    TranscriptParams:
      type: object
      allOf:
        - required:
            - audio_url
          type: object
          properties:
            audio_url:
              type: string
              description: The URL of the audio or video file to transcribe.
              format: url
              x-label: Audio URL
          additionalProperties: false
        - $ref: '#/components/schemas/TranscriptOptionalParams'
      additionalProperties: false
      description: The parameters for creating a transcript
      example:
        speech_model: 
        language_code: en_us
        language_detection: true
        language_confidence_threshold: 0.7
        audio_url: https://github.com/AssemblyAI-Examples/audio-examples/raw/main/20230607_me_canadian_wildfires.mp3
        punctuate: true
        format_text: true
        dual_channel: true
        webhook_url: https://your-webhook-url/path
        webhook_auth_header_name: webhook-secret
        webhook_auth_header_value: webhook-secret-value
        auto_highlights: true
        audio_start_from: 10
        audio_end_at: 280
        word_boost:
          - aws
          - azure
          - google cloud
        boost_param: high
        filter_profanity: true
        redact_pii: true
        redact_pii_audio: true
        redact_pii_audio_quality: mp3
        redact_pii_policies:
          - us_social_security_number
          - credit_card_number
        redact_pii_sub: hash
        speaker_labels: true
        speakers_expected: 2
        content_safety: true
        iab_categories: true
        custom_spelling: [ ]
        disfluencies: false
        sentiment_analysis: true
        auto_chapters: true
        entity_detection: true
        speech_threshold: 0.5
        summarization: true
        summary_model: informative
        summary_type: bullets
        custom_topics: true
        topics: [ ]
      x-label: Transcript parameters
      x-fern-sdk-group-name: transcripts
    SummaryModel:
      enum:
        - informative
        - conversational
        - catchy
      type: string
      description: The model to summarize the transcript
      x-label: Summary model
      x-fern-sdk-group-name: transcripts
      x-aai-enum:
        informative:
          label: Informative
        conversational:
          label: Conversational
        catchy:
          label: Catchy
    SummaryType:
      enum:
        - bullets
        - bullets_verbose
        - gist
        - headline
        - paragraph
      type: string
      description: The type of summary
      x-label: Summary type
      x-fern-sdk-group-name: transcripts
      x-aai-enum:
        bullets:
          label: Bullets
        bullets_verbose:
          label: Bullets verbose
        gist:
          label: Gist
        headline:
          label: Headline
        paragraph:
          label: Paragraph
    TranscriptBoostParam:
      enum:
        - low
        - default
        - high
      type: string
      description: How much to boost specified words
      x-label: Word boost level
      x-fern-sdk-group-name: transcripts
      x-aai-enum:
        low:
          label: Low
        default:
          label: Default
        high:
          label: High
    TranscriptCustomSpelling:
      required:
        - from
        - to
      type: object
      properties:
        from:
          type: array
          items:
            type: string
            description: Word or phrase to replace
            x-label: Word or phrase
          description: Words or phrases to replace
          x-label: From
        to:
          type: string
          description: Word or phrase to replace with
          x-label: To
      additionalProperties: false
      description: 'Object containing words or phrases to replace, and the word or phrase to replace with'
      example:
        from:
          - dicarlo
        to: Decarlo
      x-label: Custom spelling
      x-fern-sdk-group-name: transcripts
    TranscriptUtterance:
      required:
        - confidence
        - start
        - end
        - text
        - words
        - speaker
      type: object
      properties:
        confidence:
          maximum: 1
          minimum: 0
          type: number
          description: The confidence score for the transcript of this utterance
          format: double
          x-label: Confidence
        start:
          type: integer
          description: 'The starting time, in milliseconds, of the utterance in the audio file'
          x-label: Start
        end:
          type: integer
          description: 'The ending time, in milliseconds, of the utterance in the audio file'
          x-label: End
        text:
          type: string
          description: The text for this utterance
          x-label: Text
        words:
          type: array
          items:
            $ref: '#/components/schemas/TranscriptWord'
          description: The words in the utterance.
          x-label: Words
        speaker:
          type: string
          description: 'The speaker of this utterance, where each speaker is assigned a sequential capital letter - e.g. "A" for Speaker A, "B" for Speaker B, etc.'
          x-label: Speaker
      additionalProperties: false
      example:
        confidence: 0.9359033333333334
        end: 26950
        speaker: A
        start: 250
        text: 'Smoke from hundreds of wildfires in Canada is triggering air quality alerts throughout the US. Skylines from Maine to Maryland to Minnesota are gray and smoggy. And in some places, the air quality warnings include the warning to stay inside. We wanted to better understand what''s happening here and why, so we called Peter de Carlo, an associate professor in the Department of Environmental Health and Engineering at Johns Hopkins University Varsity. Good morning, professor.'
        words:
          - text: Smoke
            start: 250
            end: 650
            confidence: 0.97503
            speaker: A
          - text: from
            start: 730
            end: 1022
            confidence: 0.99999
            speaker: A
          - text: hundreds
            start: 1076
            end: 1418
            confidence: 0.99843
            speaker: A
          - text: of
            start: 1434
            end: 1614
            confidence: 0.85
            speaker: A
          - text: wildfires
            start: 1652
            end: 2346
            confidence: 0.89657
            speaker: A
          - text: in
            start: 2378
            end: 2526
            confidence: 0.99994
            speaker: A
          - text: Canada
            start: 2548
            end: 3130
            confidence: 0.93864
            speaker: A
          - text: is
            start: 3210
            end: 3454
            confidence: 0.999
            speaker: A
          - text: triggering
            start: 3492
            end: 3946
            confidence: 0.75366
            speaker: A
          - text: air
            start: 3978
            end: 4174
            confidence: 1
            speaker: A
          - text: quality
            start: 4212
            end: 4558
            confidence: 0.87745
            speaker: A
          - text: alerts
            start: 4644
            end: 5114
            confidence: 0.94739
            speaker: A
          - text: throughout
            start: 5162
            end: 5466
            confidence: 0.99726
            speaker: A
          - text: the
            start: 5498
            end: 5694
            confidence: 0.79
            speaker: A
          - text: US.
            start: 5732
            end: 6382
            confidence: 0.88
            speaker: A
      x-label: Utterance
      x-fern-sdk-group-name: transcripts
    SubstitutionPolicy:
      enum:
        - entity_name
        - hash
      type: string
      description: 'The replacement logic for detected PII, can be "entity_name" or "hash". See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.'
      x-label: Redact PII substitution
      x-fern-sdk-group-name: transcripts
      x-aai-enum:
        entity_name:
          label: Entity name
        hash:
          label: Hash
    RedactPiiAudioQuality:
      enum:
        - mp3
        - wav
      type: string
      description: 'Controls the filetype of the audio created by redact_pii_audio. Currently supports mp3 (default) and wav. See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.'
      example: mp3
      x-label: Redact PII audio quality
      x-fern-sdk-group-name: transcripts
      x-fern-enum:
        mp3:
          description: MP3 audio format is lower quality and lower size than WAV.
          casing:
            camel: mp3
            snake: mp3
            pascal: Mp3
            screamingSnake: MP3
        wav:
          description: WAV audio format is the highest quality (no compression) and larger size than MP3.
      x-aai-enum:
        mp3:
          label: MP3
        wav:
          label: WAV
    PiiPolicy:
      enum:
        - account_number
        - banking_information
        - blood_type
        - credit_card_cvv
        - credit_card_expiration
        - credit_card_number
        - date
        - date_interval
        - date_of_birth
        - drivers_license
        - drug
        - duration
        - email_address
        - event
        - filename
        - gender_sexuality
        - healthcare_number
        - injury
        - ip_address
        - language
        - location
        - marital_status
        - medical_condition
        - medical_process
        - money_amount
        - nationality
        - number_sequence
        - occupation
        - organization
        - passport_number
        - password
        - person_age
        - person_name
        - phone_number
        - physical_attribute
        - political_affiliation
        - religion
        - statistics
        - time
        - url
        - us_social_security_number
        - username
        - vehicle_id
        - zodiac_sign
      type: string
      description: The type of PII to redact
      x-label: PII policy
      x-fern-sdk-group-name: transcripts
      x-fern-enum:
        account_number:
          description: 'Customer account or membership identification number (e.g., Policy No. 10042992, Member ID: HZ-5235-001)'
        banking_information:
          description: 'Banking information, including account and routing numbers'
        blood_type:
          description: 'Blood type (e.g., O-, AB positive)'
        credit_card_cvv:
          description: 'Credit card verification code (e.g., CVV: 080)'
        credit_card_expiration:
          description: Expiration date of a credit card
        credit_card_number:
          description: Credit card number
        date:
          description: 'Specific calendar date (e.g., December 18)'
        date_interval:
          description: 'Broader time periods, including date ranges, months, seasons, years, and decades (e.g., 2020-2021, 5-9 May, January 1984)'
        date_of_birth:
          description: 'Date of birth (e.g., Date of Birth: March 7,1961)'
        drivers_license:
          description: 'Driver''s license number. (e.g., DL# 356933-540)'
        drug:
          description: 'Medications, vitamins, or supplements (e.g., Advil, Acetaminophen, Panadol)'
        duration:
          description: 'Periods of time, specified as a number and a unit of time (e.g., 8 months, 2 years)'
        email_address:
          description: 'Email address (e.g., support@assemblyai.com)'
        event:
          description: 'Name of an event or holiday (e.g., Olympics, Yom Kippur)'
        filename:
          description: 'Names of computer files, including the extension or filepath (e.g., Taxes/2012/brad-tax-returns.pdf)'
        gender_sexuality:
          description: 'Terms indicating gender identity or sexual orientation, including slang terms (e.g., female, bisexual, trans)'
        healthcare_number:
          description: 'Healthcare numbers and health plan beneficiary numbers (e.g., Policy No.: 5584-486-674-YM)'
        injury:
          description: 'Bodily injury (e.g., I broke my arm, I have a sprained wrist)'
        ip_address:
          description: 'Internet IP address, including IPv4 and IPv6 formats (e.g., 192.168.0.1)'
        language:
          description: 'Name of a natural language (e.g., Spanish, French)'
        location:
          description: 'Any Location reference including mailing address, postal code, city, state, province, country, or coordinates. (e.g., Lake Victoria, 145 Windsor St., 90210)'
        marital_status:
          description: 'Terms indicating marital status (e.g., Single, common-law, ex-wife, married)'
        medical_condition:
          description: 'Name of a medical condition, disease, syndrome, deficit, or disorder (e.g., chronic fatigue syndrome, arrhythmia, depression)'
        medical_process:
          description: 'Medical process, including treatments, procedures, and tests (e.g., heart surgery, CT scan)'
        money_amount:
          description: 'Name and/or amount of currency (e.g., 15 pesos, $94.50)'
        nationality:
          description: 'Terms indicating nationality, ethnicity, or race (e.g., American, Asian, Caucasian)'
        number_sequence:
          description: Numerical PII (including alphanumeric strings) that doesn't fall under other categories
        occupation:
          description: 'Job title or profession (e.g., professor, actors, engineer, CPA)'
        organization:
          description: 'Name of an organization (e.g., CNN, McDonalds, University of Alaska, Northwest General Hospital)'
        passport_number:
          description: 'Passport numbers, issued by any country (e.g., PA4568332, NU3C6L86S12)'
        password:
          description: 'Account passwords, PINs, access keys, or verification answers (e.g., 27%alfalfa, temp1234, My mother''s maiden name is Smith)'
        person_age:
          description: 'Number associated with an age (e.g., 27, 75)'
        person_name:
          description: 'Name of a person (e.g., Bob, Doug Jones, Dr. Kay Martinez, MD)'
        phone_number:
          description: Telephone or fax number
        physical_attribute:
          description: 'Distinctive bodily attributes, including terms indicating race (e.g., I''m 190cm tall, He belongs to the Black students'' association)'
        political_affiliation:
          description: 'Terms referring to a political party, movement, or ideology (e.g., Republican, Liberal)'
        religion:
          description: 'Terms indicating religious affiliation (e.g., Hindu, Catholic)'
        statistics:
          description: 'Medical statistics (e.g., 18%, 18 percent)'
        time:
          description: 'Expressions indicating clock times (e.g., 19:37:28, 10pm EST)'
        url:
          description: 'Internet addresses (e.g., https://www.assemblyai.com/)'
        us_social_security_number:
          description: Social Security Number or equivalent
        username:
          description: 'Usernames, login names, or handles (e.g., @AssemblyAI)'
        vehicle_id:
          description: 'Vehicle identification numbers (VINs), vehicle serial numbers, and license plate numbers (e.g., 5FNRL38918B111818, BIF7547)'
        zodiac_sign:
          description: 'Names of Zodiac signs (e.g., Aries, Taurus)'
      x-aai-enum:
        account_number:
          label: Account number
        banking_information:
          label: Banking information
        blood_type:
          label: Blood type
        credit_card_cvv:
          label: Credit card CVV
        credit_card_expiration:
          label: Credit card expiration
        credit_card_number:
          label: Credit card number
        date:
          label: Date
        date_interval:
          label: Date interval
        date_of_birth:
          label: Date of birth
        drivers_license:
          label: Driver's license
        drug:
          label: Drug
        duration:
          label: Duration
        email_address:
          label: Email address
        event:
          label: Event
        filename:
          label: Filename
        gender_sexuality:
          label: Gender sexuality
        healthcare_number:
          label: Healthcare number
        injury:
          label: Injury
        ip_address:
          label: IP address
        language:
          label: Language
        location:
          label: Location
        marital_status:
          label: Marital status
        medical_condition:
          label: Medical condition
        medical_process:
          label: Medical process
        money_amount:
          label: Money amount
        nationality:
          label: Nationality
        number_sequence:
          label: Number sequence
        occupation:
          label: Occupation
        organization:
          label: Organization
        passport_number:
          label: Passport number
        password:
          label: Password
        person_age:
          label: Person age
        person_name:
          label: Person name
        phone_number:
          label: Phone number
        physical_attribute:
          label: Physical attribute
        political_affiliation:
          label: Political affiliation
        religion:
          label: Religion
        statistics:
          label: Statistics
        time:
          label: Time
        url:
          label: URL
        us_social_security_number:
          label: US Social Security Number
        username:
          label: Username
        vehicle_id:
          label: Vehicle ID
        zodiac_sign:
          label: Zodiac sign
    SpeechModel:
      enum:
        - best
        - nano
      type: string
      description: The speech model to use for the transcription.
      x-label: Speech model
      x-fern-sdk-group-name: transcripts
      x-fern-enum:
        best:
          name: Best
          description: The best model optimized for accuracy.
        nano:
          name: Nano
          description: 'A lightweight, lower cost model for a wide range of languages.'
      x-aai-enum:
        best:
          label: Best
        nano:
          label: Nano
    TranscriptLanguageCode:
      enum:
        - en
        - en_au
        - en_uk
        - en_us
        - es
        - fr
        - de
        - it
        - pt
        - nl
        - af
        - sq
        - am
        - ar
        - hy
        - as
        - az
        - ba
        - eu
        - be
        - bn
        - bs
        - br
        - bg
        - my
        - ca
        - zh
        - hr
        - cs
        - da
        - et
        - fo
        - fi
        - gl
        - ka
        - el
        - gu
        - ht
        - ha
        - haw
        - he
        - hi
        - hu
        - is
        - id
        - ja
        - jw
        - kn
        - kk
        - km
        - ko
        - lo
        - la
        - lv
        - ln
        - lt
        - lb
        - mk
        - mg
        - ms
        - ml
        - mt
        - mi
        - mr
        - mn
        - ne
        - no
        - nn
        - oc
        - pa
        - ps
        - fa
        - pl
        - ro
        - ru
        - sa
        - sr
        - sn
        - sd
        - si
        - sk
        - sl
        - so
        - su
        - sw
        - sv
        - tl
        - tg
        - ta
        - tt
        - te
        - th
        - bo
        - tr
        - tk
        - uk
        - ur
        - uz
        - vi
        - cy
        - yi
        - yo
      type: string
      description: "The language of your audio file. Possible values are found in [Supported Languages](https://www.assemblyai.com/docs/concepts/supported-languages).\nThe default value is 'en_us'.\n"
      x-label: Language code
      x-fern-sdk-group-name: transcripts
      x-aai-enum:
        en:
          label: English (global)
        en_au:
          label: English (Australian)
        en_uk:
          label: English (British)
        en_us:
          label: English (US)
        es:
          label: Spanish
        fr:
          label: French
        de:
          label: German
        it:
          label: Italian
        pt:
          label: Portuguese
        nl:
          label: Dutch
        af:
          label: Afrikaans
        sq:
          label: Albanian
        am:
          label: Amharic
        ar:
          label: Arabic
        hy:
          label: Armenian
        as:
          label: Assamese
        az:
          label: Azerbaijani
        ba:
          label: Bashkir
        eu:
          label: Basque
        be:
          label: Belarusian
        bn:
          label: Bengali
        bs:
          label: Bosnian
        br:
          label: Breton
        bg:
          label: Bulgarian
        my:
          label: Burmese
        ca:
          label: Catalan
        zh:
          label: Chinese
        hr:
          label: Croatian
        cs:
          label: Czech
        da:
          label: Danish
        et:
          label: Estonian
        fo:
          label: Faroese
        fi:
          label: Finnish
        gl:
          label: Galician
        ka:
          label: Georgian
        el:
          label: Greek
        gu:
          label: Gujarati
        ht:
          label: Haitian
        ha:
          label: Hausa
        haw:
          label: Hawaiian
        he:
          label: Hebrew
        hi:
          label: Hindi
        hu:
          label: Hungarian
        is:
          label: Icelandic
        id:
          label: Indonesian
        ja:
          label: Japanese
        jw:
          label: Javanese
        kn:
          label: Kannada
        kk:
          label: Kazakh
        km:
          label: Khmer
        ko:
          label: Korean
        lo:
          label: Lao
        la:
          label: Latin
        lv:
          label: Latvian
        ln:
          label: Lingala
        lt:
          label: Lithuanian
        lb:
          label: Luxembourgish
        mk:
          label: Macedonian
        mg:
          label: Malagasy
        ms:
          label: Malay
        ml:
          label: Malayalam
        mt:
          label: Maltese
        mi:
          label: Maori
        mr:
          label: Marathi
        mn:
          label: Mongolian
        ne:
          label: Nepali
        no:
          label: Norwegian
        nn:
          label: Norwegian Nynorsk
        oc:
          label: Occitan
        pa:
          label: Panjabi
        ps:
          label: Pashto
        fa:
          label: Persian
        pl:
          label: Polish
        ro:
          label: Romanian
        ru:
          label: Russian
        sa:
          label: Sanskrit
        sr:
          label: Serbian
        sn:
          label: Shona
        sd:
          label: Sindhi
        si:
          label: Sinhala
        sk:
          label: Slovak
        sl:
          label: Slovenian
        so:
          label: Somali
        su:
          label: Sundanese
        sw:
          label: Swahili
        sv:
          label: Swedish
        tl:
          label: Tagalog
        tg:
          label: Tajik
        ta:
          label: Tamil
        tt:
          label: Tatar
        te:
          label: Telugu
        th:
          label: Thai
        bo:
          label: Tibetan
        tr:
          label: Turkish
        tk:
          label: Turkmen
        uk:
          label: Ukrainian
        ur:
          label: Urdu
        uz:
          label: Uzbek
        vi:
          label: Vietnamese
        cy:
          label: Welsh
        yi:
          label: Yiddish
        yo:
          label: Yoruba
    TranscriptStatus:
      enum:
        - queued
        - processing
        - completed
        - error
      type: string
      description: 'The status of your transcript. Possible values are queued, processing, completed, or error.'
      x-label: Status
      x-fern-sdk-group-name: transcripts
      x-fern-enum:
        queued:
          description: The audio file is in the queue to be processed by the API.
        processing:
          description: The audio file is being processed by the API.
        completed:
          description: The transcript job has been completed successfully.
        error:
          description: An error occurred while processing the audio file.
      x-aai-enum:
        queued:
          label: Queued
        processing:
          label: Processing
        completed:
          label: Completed
        error:
          label: Error
    TranscriptReadyStatus:
      enum:
        - completed
        - error
      type: string
      description: The status of the transcript. Either completed or error.
      x-label: Status
      x-fern-sdk-group-name: transcripts
      x-fern-enum:
        completed:
          description: The transcript job has been completed successfully.
        error:
          description: An error occurred while processing the audio file.
      x-aai-enum:
        completed:
          label: Completed
        error:
          label: Error
    Transcript:
      required:
        - id
        - speech_model
        - language_model
        - acoustic_model
        - status
        - audio_url
        - webhook_auth
        - auto_highlights
        - redact_pii
        - summarization
        - language_confidence_threshold
        - language_confidence
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of your transcript
          format: uuid
          x-label: ID
        audio_url:
          type: string
          description: The URL of the media that was transcribed
          format: url
          x-label: Audio URL
        status:
          $ref: '#/components/schemas/TranscriptStatus'
        language_code:
          anyOf:
            - $ref: '#/components/schemas/TranscriptLanguageCode'
            - type: string
          description: "The language of your audio file.\nPossible values are found in [Supported Languages](https://www.assemblyai.com/docs/concepts/supported-languages).\nThe default value is 'en_us'.\n"
          x-label: Language code
          x-ts-type: 'LiteralUnion<TranscriptLanguageCode, string>'
          x-go-type: TranscriptLanguageCode
        language_detection:
          description: 'Whether [Automatic language detection](https://www.assemblyai.com/docs/models/speech-recognition#automatic-language-detection) is enabled, either true or false'
          x-label: Language detection
        language_confidence_threshold:
          maximum: 1
          minimum: 0
          description: "The confidence threshold for the automatically detected language.\nAn error will be returned if the language confidence is below this threshold.\n"
          format: float
          x-label: Language confidence threshold
        language_confidence:
          maximum: 1
          minimum: 0
          description: 'The confidence score for the detected language, between 0.0 (low confidence) and 1.0 (high confidence)'
          format: double
          x-label: Language confidence
        speech_model:
          oneOf:
            - $ref: '#/components/schemas/SpeechModel'
            - type: 'null'
          description: 'The speech model used for the transcription. When `null`, the default model is used.'
          default: 
          x-label: Speech model
        text:
          description: The textual transcript of your media file
          x-label: Text
        words:
          items:
            $ref: '#/components/schemas/TranscriptWord'
          description: "An array of temporally-sequential word objects, one for each word in the transcript.\nSee [Speech recognition](https://www.assemblyai.com/docs/models/speech-recognition) for more information.\n"
          x-label: Words
        utterances:
          items:
            $ref: '#/components/schemas/TranscriptUtterance'
          description: "When dual_channel or speaker_labels is enabled, a list of turn-by-turn utterance objects.\nSee [Speaker diarization](https://www.assemblyai.com/docs/models/speaker-diarization) for more information.\n"
          x-label: Utterances
        confidence:
          maximum: 1
          minimum: 0
          description: 'The confidence score for the transcript, between 0.0 (low confidence) and 1.0 (high confidence)'
          format: double
          x-label: Confidence
        audio_duration:
          description: 'The duration of this transcript object''s media file, in seconds'
          x-label: Audio duration
        punctuate:
          description: 'Whether Automatic Punctuation is enabled, either true or false'
          x-label: Punctuate
        format_text:
          description: 'Whether Text Formatting is enabled, either true or false'
          x-label: Format text
        disfluencies:
          description: 'Transcribe Filler Words, like "umm", in your media file; can be true or false'
          x-label: Disfluencies
        dual_channel:
          description: 'Whether [Dual channel transcription](https://www.assemblyai.com/docs/models/speech-recognition#dual-channel-transcription) was enabled in the transcription request, either true or false'
          x-label: Dual channel
        webhook_url:
          description: "The URL to which we send webhook requests.\nWe sends two different types of webhook requests.\nOne request when a transcript is completed or failed, and one request when the redacted audio is ready if redact_pii_audio is enabled.\n"
          format: url
          x-label: Webhook URL
        webhook_status_code:
          description: 'The status code we received from your server when delivering the transcript completed or failed webhook request, if a webhook URL was provided'
          x-label: Webhook HTTP status code
        webhook_auth:
          type: boolean
          description: Whether webhook authentication details were provided
          x-label: Webhook auth enabled
        webhook_auth_header_name:
          description: The header name to be sent with the transcript completed or failed webhook requests
          x-label: Webhook auth header name
        speed_boost:
          description: Whether speed boost is enabled
          deprecated: true
          x-label: Speed boost
        auto_highlights:
          type: boolean
          description: 'Whether Key Phrases is enabled, either true or false'
          x-label: Key Phrases
        auto_highlights_result:
          oneOf:
            - $ref: '#/components/schemas/AutoHighlightsResult'
            - type: 'null'
          description: "An array of results for the Key Phrases model, if it is enabled.\nSee [Key Phrases](https://www.assemblyai.com/docs/models/key-phrases) for more information.\n"
          x-label: Key Phrases result
        audio_start_from:
          description: 'The point in time, in milliseconds, in the file at which the transcription was started'
          x-label: Audio start from
        audio_end_at:
          description: 'The point in time, in milliseconds, in the file at which the transcription was terminated'
          x-label: Audio end at
        word_boost:
          type: array
          items:
            type: string
            x-label: Boosted word
          description: The list of custom vocabulary to boost transcription probability for
          x-label: Word boost
        boost_param:
          description: The word boost parameter value
          x-label: Boost
        filter_profanity:
          description: 'Whether [Profanity Filtering](https://www.assemblyai.com/docs/models/speech-recognition#profanity-filtering) is enabled, either true or false'
          x-label: Filter profanity
        redact_pii:
          type: boolean
          description: 'Whether [PII Redaction](https://www.assemblyai.com/docs/models/pii-redaction) is enabled, either true or false'
          x-label: Redact PII
        redact_pii_audio:
          description: "Whether a redacted version of the audio file was generated,\neither true or false. See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more information.\n"
          x-label: Redact PII audio
        redact_pii_audio_quality:
          oneOf:
            - $ref: '#/components/schemas/RedactPiiAudioQuality'
            - type: 'null'
          description: "The audio quality of the PII-redacted audio file, if redact_pii_audio is enabled.\nSee [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more information.\n"
          x-label: Redact PII audio quality
        redact_pii_policies:
          items:
            $ref: '#/components/schemas/PiiPolicy'
          description: "The list of PII Redaction policies that were enabled, if PII Redaction is enabled.\nSee [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more information.\n"
          x-label: Redact PII policies
        redact_pii_sub:
          $ref: '#/components/schemas/SubstitutionPolicy'
        speaker_labels:
          description: 'Whether [Speaker diarization](https://www.assemblyai.com/docs/models/speaker-diarization) is enabled, can be true or false'
          x-label: Speaker labels
        speakers_expected:
          description: 'Tell the speaker label model how many speakers it should attempt to identify, up to 10. See [Speaker diarization](https://www.assemblyai.com/docs/models/speaker-diarization) for more details.'
          x-label: Speakers expected
        content_safety:
          description: 'Whether [Content Moderation](https://www.assemblyai.com/docs/models/content-moderation) is enabled, can be true or false'
          x-label: Content Moderation
        content_safety_labels:
          oneOf:
            - $ref: '#/components/schemas/ContentSafetyLabelsResult'
            - type: 'null'
          description: "An array of results for the Content Moderation model, if it is enabled.\nSee [Content moderation](https://www.assemblyai.com/docs/models/content-moderation) for more information.\n"
          x-label: Content Moderation labels
        iab_categories:
          description: 'Whether [Topic Detection](https://www.assemblyai.com/docs/models/topic-detection) is enabled, can be true or false'
          x-label: Topic Detection
        iab_categories_result:
          oneOf:
            - $ref: '#/components/schemas/TopicDetectionModelResult'
            - type: 'null'
          description: "The result of the Topic Detection model, if it is enabled.\nSee [Topic Detection](https://www.assemblyai.com/docs/models/topic-detection) for more information.\n"
          x-label: Topic Detection result
        custom_spelling:
          items:
            $ref: '#/components/schemas/TranscriptCustomSpelling'
          description: Customize how words are spelled and formatted using to and from values
          x-label: Custom spellings
        auto_chapters:
          description: 'Whether [Auto Chapters](https://www.assemblyai.com/docs/models/auto-chapters) is enabled, can be true or false'
          x-label: Auto Chapters enabled
        chapters:
          items:
            $ref: '#/components/schemas/Chapter'
          description: An array of temporally sequential chapters for the audio file
          x-label: Chapters
        summarization:
          type: boolean
          description: 'Whether [Summarization](https://www.assemblyai.com/docs/models/summarization) is enabled, either true or false'
          x-label: Summarization enabled
        summary_type:
          description: 'The type of summary generated, if [Summarization](https://www.assemblyai.com/docs/models/summarization) is enabled'
          x-label: Summary type
        summary_model:
          description: "The Summarization model used to generate the summary,\nif [Summarization](https://www.assemblyai.com/docs/models/summarization) is enabled\n"
          x-label: Summary model
        summary:
          description: 'The generated summary of the media file, if [Summarization](https://www.assemblyai.com/docs/models/summarization) is enabled'
          x-label: Summary
        custom_topics:
          description: 'Whether custom topics is enabled, either true or false'
          x-label: Custom topics enabled
        topics:
          type: array
          items:
            type: string
            x-label: Topic
          description: The list of custom topics provided if custom topics is enabled
          x-label: Topics
        sentiment_analysis:
          description: 'Whether [Sentiment Analysis](https://www.assemblyai.com/docs/models/sentiment-analysis) is enabled, can be true or false'
          x-label: Sentiment Analysis
        sentiment_analysis_results:
          items:
            $ref: '#/components/schemas/SentimentAnalysisResult'
          description: "An array of results for the Sentiment Analysis model, if it is enabled.\nSee [Sentiment Analysis](https://www.assemblyai.com/docs/models/sentiment-analysis) for more information.\n"
          x-label: Sentiment Analysis results
        entity_detection:
          description: 'Whether [Entity Detection](https://www.assemblyai.com/docs/models/entity-detection) is enabled, can be true or false'
          x-label: Entity Detection
        entities:
          items:
            $ref: '#/components/schemas/Entity'
          description: "An array of results for the Entity Detection model, if it is enabled.\nSee [Entity detection](https://www.assemblyai.com/docs/models/entity-detection) for more information.\n"
          x-label: Entities
        speech_threshold:
          maximum: 1
          minimum: 0
          description: "Defaults to null. Reject audio files that contain less than this fraction of speech.\nValid values are in the range [0, 1] inclusive.\n"
          format: float
          x-label: Speech threshold
        throttled:
          description: True while a request is throttled and false when a request is no longer throttled
          x-label: Throttled
        error:
          type: string
          description: Error message of why the transcript failed
          x-label: Error
        language_model:
          type: string
          description: The language model that was used for the transcript
          deprecated: true
          x-label: Language model
        acoustic_model:
          type: string
          description: The acoustic model that was used for the transcript
          deprecated: true
          x-label: Acoustic model
      additionalProperties: false
      description: A transcript object
      example:
        id: 9ea68fd3-f953-42c1-9742-976c447fb463
        speech_model: 
        language_model: assemblyai_default
        acoustic_model: assemblyai_default
        language_code: en_us
        language_detection: true
        language_confidence_threshold: 0.7
        language_confidence: 0.9959
        status: completed
        audio_url: https://github.com/AssemblyAI-Examples/audio-examples/raw/main/20230607_me_canadian_wildfires.mp3
        text: 'Smoke from hundreds of wildfires in Canada is triggering air quality alerts throughout the US. Skylines from Maine to Maryland to Minnesota are gray and smoggy. And in some places, the air quality warnings include the warning to stay inside. We wanted to better understand what''s happening here and why, so we called Peter de Carlo, an associate professor in the Department of Environmental Health and Engineering at Johns Hopkins University Varsity. Good morning, professor. Good morning. What is it about the conditions right now that have caused this round of wildfires to affect so many people so far away? Well, there''s a couple of things. The season has been pretty dry already. And then the fact that we''re getting hit in the US. Is because there''s a couple of weather systems that are essentially channeling the smoke from those Canadian wildfires through Pennsylvania into the Mid Atlantic and the Northeast and kind of just dropping the smoke there. So what is it in this haze that makes it harmful? And I''m assuming it is harmful. It is. The levels outside right now in Baltimore are considered unhealthy. And most of that is due to what''s called particulate matter, which are tiny particles, microscopic smaller than the width of your hair that can get into your lungs and impact your respiratory system, your cardiovascular system, and even your neurological your brain. What makes this particularly harmful? Is it the volume of particulant? Is it something in particular? What is it exactly? Can you just drill down on that a little bit more? Yeah. So the concentration of particulate matter I was looking at some of the monitors that we have was reaching levels of what are, in science, big 150 micrograms per meter cubed, which is more than ten times what the annual average should be and about four times higher than what you''re supposed to have on a 24 hours average. And so the concentrations of these particles in the air are just much, much higher than we typically see. And exposure to those high levels can lead to a host of health problems. And who is most vulnerable? I noticed that in New York City, for example, they''re canceling outdoor activities. And so here it is in the early days of summer, and they have to keep all the kids inside. So who tends to be vulnerable in a situation like this? It''s the youngest. So children, obviously, whose bodies are still developing. The elderly, who are their bodies are more in decline and they''re more susceptible to the health impacts of breathing, the poor air quality. And then people who have preexisting health conditions, people with respiratory conditions or heart conditions can be triggered by high levels of air pollution. Could this get worse? That''s a good question. In some areas, it''s much worse than others. And it just depends on kind of where the smoke is concentrated. I think New York has some of the higher concentrations right now, but that''s going to change as that air moves away from the New York area. But over the course of the next few days, we will see different areas being hit at different times with the highest concentrations. I was going to ask you about more fires start burning. I don''t expect the concentrations to go up too much higher. I was going to ask you how and you started to answer this, but how much longer could this last? Or forgive me if I''m asking you to speculate, but what do you think? Well, I think the fires are going to burn for a little bit longer, but the key for us in the US. Is the weather system changing. And so right now, it''s kind of the weather systems that are pulling that air into our mid Atlantic and Northeast region. As those weather systems change and shift, we''ll see that smoke going elsewhere and not impact us in this region as much. And so I think that''s going to be the defining factor. And I think the next couple of days we''re going to see a shift in that weather pattern and start to push the smoke away from where we are. And finally, with the impacts of climate change, we are seeing more wildfires. Will we be seeing more of these kinds of wide ranging air quality consequences or circumstances? I mean, that is one of the predictions for climate change. Looking into the future, the fire season is starting earlier and lasting longer, and we''re seeing more frequent fires. So, yeah, this is probably something that we''ll be seeing more frequently. This tends to be much more of an issue in the Western US. So the eastern US. Getting hit right now is a little bit new. But yeah, I think with climate change moving forward, this is something that is going to happen more frequently. That''s Peter De Carlo, associate professor in the Department of Environmental Health and Engineering at Johns Hopkins University. Sergeant Carlo, thanks so much for joining us and sharing this expertise with us. Thank you for having me.'
        words:
          - text: Smoke
            start: 250
            end: 650
            confidence: 0.97465
            speaker: 
          - text: from
            start: 730
            end: 1022
            confidence: 0.99999
            speaker: 
          - text: hundreds
            start: 1076
            end: 1418
            confidence: 0.99844
            speaker: 
          - text: of
            start: 1434
            end: 1614
            confidence: 0.84
            speaker: 
          - text: wildfires
            start: 1652
            end: 2346
            confidence: 0.89572
            speaker: 
          - text: in
            start: 2378
            end: 2526
            confidence: 0.99994
            speaker: 
          - text: Canada
            start: 2548
            end: 3130
            confidence: 0.93953
            speaker: 
          - text: is
            start: 3210
            end: 3454
            confidence: 0.999
            speaker: 
          - text: triggering
            start: 3492
            end: 3946
            confidence: 0.74794
            speaker: 
          - text: air
            start: 3978
            end: 4174
            confidence: 1
            speaker: 
          - text: quality
            start: 4212
            end: 4558
            confidence: 0.88077
            speaker: 
          - text: alerts
            start: 4644
            end: 5114
            confidence: 0.94814
            speaker: 
          - text: throughout
            start: 5162
            end: 5466
            confidence: 0.99726
            speaker: 
          - text: the
            start: 5498
            end: 5694
            confidence: 0.79
            speaker: 
          - text: US.
            start: 5732
            end: 6382
            confidence: 0.89
            speaker: 
        utterances:
          - confidence: 0.9359033333333334
            end: 26950
            speaker: A
            start: 250
            text: 'Smoke from hundreds of wildfires in Canada is triggering air quality alerts throughout the US. Skylines from Maine to Maryland to Minnesota are gray and smoggy. And in some places, the air quality warnings include the warning to stay inside. We wanted to better understand what''s happening here and why, so we called Peter de Carlo, an associate professor in the Department of Environmental Health and Engineering at Johns Hopkins University Varsity. Good morning, professor.'
            words:
              - text: Smoke
                start: 250
                end: 650
                confidence: 0.97503
                speaker: A
              - text: from
                start: 730
                end: 1022
                confidence: 0.99999
                speaker: A
              - text: hundreds
                start: 1076
                end: 1418
                confidence: 0.99843
                speaker: A
              - text: of
                start: 1434
                end: 1614
                confidence: 0.85
                speaker: A
              - text: wildfires
                start: 1652
                end: 2346
                confidence: 0.89657
                speaker: A
              - text: in
                start: 2378
                end: 2526
                confidence: 0.99994
                speaker: A
              - text: Canada
                start: 2548
                end: 3130
                confidence: 0.93864
                speaker: A
              - text: is
                start: 3210
                end: 3454
                confidence: 0.999
                speaker: A
              - text: triggering
                start: 3492
                end: 3946
                confidence: 0.75366
                speaker: A
              - text: air
                start: 3978
                end: 4174
                confidence: 1
                speaker: A
              - text: quality
                start: 4212
                end: 4558
                confidence: 0.87745
                speaker: A
              - text: alerts
                start: 4644
                end: 5114
                confidence: 0.94739
                speaker: A
              - text: throughout
                start: 5162
                end: 5466
                confidence: 0.99726
                speaker: A
              - text: the
                start: 5498
                end: 5694
                confidence: 0.79
                speaker: A
              - text: US.
                start: 5732
                end: 6382
                confidence: 0.88
                speaker: A
        confidence: 0.9404651451800253
        audio_duration: 281
        punctuate: true
        format_text: true
        dual_channel: false
        webhook_url: https://your-webhook-url.tld/path
        webhook_status_code: 200
        webhook_auth: true
        webhook_auth_header_name: webhook-secret
        auto_highlights_result:
          status: success
          results:
            - count: 1
              rank: 0.08
              text: air quality alerts
              timestamps:
                - start: 3978
                  end: 5114
            - count: 1
              rank: 0.08
              text: wide ranging air quality consequences
              timestamps:
                - start: 235388
                  end: 238694
            - count: 1
              rank: 0.07
              text: more wildfires
              timestamps:
                - start: 230972
                  end: 232354
            - count: 1
              rank: 0.07
              text: air pollution
              timestamps:
                - start: 156004
                  end: 156910
            - count: 3
              rank: 0.07
              text: weather systems
              timestamps:
                - start: 47344
[...]
