{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "Braintrust API",
    "description": "API specification for the backend data server. The API is hosted globally at\nhttps://api.braintrust.dev or in your own environment.\n\nYou can access the OpenAPI spec for this API at https://github.com/braintrustdata/braintrust-openapi.",
    "license": {
      "name": "Apache 2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.braintrust.dev"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {}
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key or JWT",
        "description": "Most Braintrust endpoints are authenticated by providing your API key as a header `Authorization: Bearer [api_key]` to your HTTP request. You can create an API key in the Braintrust [organization settings page](https://www.braintrustdata.com/app/settings?subroute=api-keys)."
      }
    },
    "schemas": {
      "ProjectIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "Project id"
      },
      "ExperimentIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "Experiment id"
      },
      "DatasetIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "Dataset id"
      },
      "PromptIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "Prompt id"
      },
      "PromptSessionIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "PromptSession id"
      },
      "RoleIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "Role id"
      },
      "GroupIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "Group id"
      },
      "AclIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "Acl id"
      },
      "UserIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "User id"
      },
      "ProjectAutomationIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "ProjectAutomation id"
      },
      "ProjectScoreIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "ProjectScore id"
      },
      "ProjectTagIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "ProjectTag id"
      },
      "SpanIframeIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "SpanIframe id"
      },
      "EvalStatusPageIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "EvalStatusPage id"
      },
      "FunctionIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "Function id"
      },
      "ViewIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "View id"
      },
      "OrganizationIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "Organization id"
      },
      "ApiKeyIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "ApiKey id"
      },
      "ServiceTokenIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "ServiceToken id"
      },
      "AiSecretIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "AiSecret id"
      },
      "EnvVarIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "EnvVar id"
      },
      "McpServerIdParam": {
        "type": "string",
        "format": "uuid",
        "description": "McpServer id"
      },
      "ProjectIdQuery": {
        "type": "string",
        "format": "uuid",
        "description": "Project id"
      },
      "ProjectName": {
        "type": "string",
        "description": "Name of the project to search for"
      },
      "ExperimentName": {
        "type": "string",
        "description": "Name of the experiment to search for"
      },
      "DatasetName": {
        "type": "string",
        "description": "Name of the dataset to search for"
      },
      "PromptName": {
        "type": "string",
        "description": "Name of the prompt to search for"
      },
      "PromptSessionName": {
        "type": "string",
        "description": "Name of the prompt_session to search for"
      },
      "RoleName": {
        "type": "string",
        "description": "Name of the role to search for"
      },
      "GroupName": {
        "type": "string",
        "description": "Name of the group to search for"
      },
      "ProjectAutomationName": {
        "type": "string",
        "description": "Name of the project_automation to search for"
      },
      "ProjectScoreName": {
        "type": "string",
        "description": "Name of the project_score to search for"
      },
      "ProjectTagName": {
        "type": "string",
        "description": "Name of the project_tag to search for"
      },
      "SpanIframeName": {
        "type": "string",
        "description": "Name of the span_iframe to search for"
      },
      "EvalStatusPageName": {
        "type": "string",
        "description": "Name of the eval_status_page to search for"
      },
      "FunctionName": {
        "type": "string",
        "description": "Name of the function to search for"
      },
      "ViewName": {
        "type": "string",
        "description": "Name of the view to search for"
      },
      "ApiKeyName": {
        "type": "string",
        "description": "Name of the api_key to search for"
      },
      "ServiceTokenName": {
        "type": "string",
        "description": "Name of the service_token to search for"
      },
      "AiSecretName": {
        "type": "string",
        "description": "Name of the ai_secret to search for"
      },
      "EnvVarName": {
        "type": "string",
        "description": "Name of the env_var to search for"
      },
      "McpServerName": {
        "type": "string",
        "description": "Name of the mcp_server to search for"
      },
      "OrgName": {
        "type": "string",
        "description": "Filter search results to within a particular organization"
      },
      "Ids": {
        "anyOf": [
          {
            "type": "string",
            "format": "uuid"
          },
          {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "description": "Filter search results to a particular set of object IDs. To specify a list of IDs, include the query param multiple times"
      },
      "AppLimitParam": {
        "type": "integer",
        "nullable": true,
        "minimum": 0,
        "description": "Limit the number of objects to return"
      },
      "AppLimitWithDefaultParam": {
        "type": "integer",
        "nullable": true,
        "minimum": 0,
        "default": 1000,
        "description": "Limit the number of objects to return"
      },
      "FetchLimitParam": {
        "type": "integer",
        "nullable": true,
        "minimum": 0,
        "description": "limit the number of traces fetched\n\nFetch queries may be paginated if the total result size is expected to be large (e.g. project_logs which accumulate over a long time). Note that fetch queries only support pagination in descending time order (from latest to earliest `_xact_id`. Furthermore, later pages may return rows which showed up in earlier pages, except with an earlier `_xact_id`. This happens because pagination occurs over the whole version history of the event log. You will most likely want to exclude any such duplicate, outdated rows (by `id`) from your combined result set.\n\nThe `limit` parameter controls the number of full traces to return. So you may end up with more individual rows than the specified limit if you are fetching events containing traces."
      },
      "StartingAfter": {
        "type": "string",
        "format": "uuid",
        "description": "Pagination cursor id.\n\nFor example, if the final item in the last page you fetched had an id of `foo`, pass `starting_after=foo` to fetch the next page. Note: you may only pass one of `starting_after` and `ending_before`"
      },
      "EndingBefore": {
        "type": "string",
        "format": "uuid",
        "description": "Pagination cursor id.\n\nFor example, if the initial item in the last page you fetched had an id of `foo`, pass `ending_before=foo` to fetch the previous page. Note: you may only pass one of `starting_after` and `ending_before`"
      },
      "MaxXactId": {
        "type": "string",
        "description": "DEPRECATION NOTICE: The manually-constructed pagination cursor is deprecated in favor of the explicit 'cursor' returned by object fetch requests. Please prefer the 'cursor' argument going forwards.\n\nTogether, `max_xact_id` and `max_root_span_id` form a pagination cursor\n\nSince a paginated fetch query returns results in order from latest to earliest, the cursor for the next page can be found as the row with the minimum (earliest) value of the tuple `(_xact_id, root_span_id)`. See the documentation of `limit` for an overview of paginating fetch queries."
      },
      "MaxRootSpanId": {
        "type": "string",
        "description": "DEPRECATION NOTICE: The manually-constructed pagination cursor is deprecated in favor of the explicit 'cursor' returned by object fetch requests. Please prefer the 'cursor' argument going forwards.\n\nTogether, `max_xact_id` and `max_root_span_id` form a pagination cursor\n\nSince a paginated fetch query returns results in order from latest to earliest, the cursor for the next page can be found as the row with the minimum (earliest) value of the tuple `(_xact_id, root_span_id)`. See the documentation of `limit` for an overview of paginating fetch queries."
      },
      "Version": {
        "type": "string",
        "description": "Retrieve a snapshot of events from a past time\n\nThe version id is essentially a filter on the latest event transaction id. You can use the `max_xact_id` returned by a past fetch as the version to reproduce that exact fetch."
      },
      "PromptVersion": {
        "type": "string",
        "description": "Retrieve prompt at a specific version.\n\nThe version id can either be a transaction id (e.g. '1000192656880881099') or a version identifier (e.g. '81cd05ee665fdfb3')."
      },
      "PromptEnvironment": {
        "type": "string",
        "description": "Filter by environment slug. Cannot be used together with `version`.\n\nFor `GET /v1/prompt`, environment resolution currently requires the request to match a single prompt. If multiple prompts match, the endpoint returns `400` (for example when `limit=1` is not set). Use `limit=1` or other filters (for example `slug`, `project_id`) to narrow results."
      },
      "SummarizeScores": {
        "type": "boolean",
        "nullable": true,
        "description": "Whether to summarize the scores and metrics. If false (or omitted), only the metadata will be returned."
      },
      "ComparisonExperimentId": {
        "type": "string",
        "format": "uuid",
        "description": "The experiment to compare against, if summarizing scores and metrics. If omitted, will fall back to the `base_exp_id` stored in the experiment metadata, and then to the most recent experiment run in the same project. Must pass `summarize_scores=true` for this id to be used"
      },
      "SummarizeData": {
        "type": "boolean",
        "nullable": true,
        "description": "Whether to summarize the data. If false (or omitted), only the metadata will be returned."
      },
      "Slug": {
        "type": "string",
        "description": "Retrieve prompt with a specific slug"
      },
      "ViewType": {
        "type": "string",
        "enum": [
          "projects",
          "experiments",
          "experiment",
          "playgrounds",
          "playground",
          "datasets",
          "dataset",
          "prompts",
          "parameters",
          "tools",
          "scorers",
          "classifiers",
          "logs",
          "monitor",
          "for_review_project_log",
          "for_review_experiments",
          "for_review_datasets",
          null
        ],
        "description": "Type of object that the view corresponds to."
      },
      "UserGivenName": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "description": "Given name of the user to search for. You may pass the param multiple times to filter for more than one given name"
      },
      "UserFamilyName": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "description": "Family name of the user to search for. You may pass the param multiple times to filter for more than one family name"
      },
      "UserEmail": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "description": "Email of the user to search for. You may pass the param multiple times to filter for more than one email"
      },
      "AclObjectType": {
        "type": "string",
        "enum": [
          "organization",
          "project",
          "experiment",
          "dataset",
          "prompt",
          "prompt_session",
          "group",
          "role",
          "org_member",
          "project_log",
          "org_project"
        ],
        "description": "The object type that the ACL applies to"
      },
      "AclObjectId": {
        "type": "string",
        "format": "uuid",
        "description": "The id of the object the ACL applies to"
      },
      "AclListOrgObjectType": {
        "type": "string",
        "enum": [
          "organization",
          "project",
          "experiment",
          "dataset",
          "prompt",
          "prompt_session",
          "group",
          "role",
          "org_member",
          "project_log",
          "org_project"
        ],
        "description": "The object type that the ACL applies to"
      },
      "AclListOrgObjectId": {
        "type": "string",
        "format": "uuid",
        "description": "The id of the object the ACL applies to"
      },
      "AclListUserId": {
        "type": "string",
        "format": "uuid",
        "description": "Id of the user the ACL applies to. Exactly one of `user_id` and `group_id` will be provided"
      },
      "AclListGroupId": {
        "type": "string",
        "format": "uuid",
        "description": "Id of the group the ACL applies to. Exactly one of `user_id` and `group_id` will be provided"
      },
      "AclListPermission": {
        "type": "string",
        "enum": [
          "create",
          "read",
          "update",
          "delete",
          "create_acls",
          "read_acls",
          "update_acls",
          "delete_acls"
        ],
        "description": "Each permission permits a certain type of operation on an object in the system\n\nPermissions can be assigned to to objects on an individual basis, or grouped into roles"
      },
      "AclListRestrictObjectType": {
        "type": "string",
        "enum": [
          "organization",
          "project",
          "experiment",
          "dataset",
          "prompt",
          "prompt_session",
          "group",
          "role",
          "org_member",
          "project_log",
          "org_project"
        ],
        "description": "The object type that the ACL applies to"
      },
      "AclListRoleId": {
        "type": "string",
        "format": "uuid",
        "description": "Id of the role the ACL grants. Exactly one of `permission` and `role_id` will be provided"
      },
      "ProjectScoreType": {
        "type": "string",
        "enum": [
          "slider",
          "categorical",
          "weighted",
          "minimum",
          "maximum",
          "online",
          "free-form"
        ],
        "description": "The type of the configured score",
        "title": "project_score_type_single"
      },
      "AISecretType": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ]
      },
      "EnvVarObjectType": {
        "type": "string",
        "enum": [
          "organization",
          "project",
          "function"
        ],
        "description": "The type of the object the environment variable is scoped for"
      },
      "EnvVarObjectId": {
        "type": "string",
        "format": "uuid",
        "description": "The id of the object the environment variable is scoped for"
      },
      "FunctionTypeEnum": {
        "type": "string",
        "enum": [
          "llm",
          "scorer",
          "task",
          "tool",
          "custom_view",
          "preprocessor",
          "facet",
          "classifier",
          "tag",
          "parameters",
          "sandbox",
          null
        ],
        "default": "scorer",
        "description": "The type of global function. Defaults to 'scorer'."
      },
      "NullableSavedFunctionId": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "function"
                ]
              },
              "id": {
                "type": "string"
              },
              "version": {
                "type": "string",
                "description": "The version of the function"
              }
            },
            "required": [
              "type",
              "id"
            ],
            "title": "function"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "global"
                ]
              },
              "name": {
                "type": "string"
              },
              "function_type": {
                "$ref": "#/components/schemas/FunctionTypeEnum"
              }
            },
            "required": [
              "type",
              "name"
            ],
            "title": "global"
          },
          {
            "type": "null"
          }
        ],
        "description": "Default preprocessor for this project. When set, functions that use preprocessors will use this instead of their built-in default."
      },
      "ProjectSettings": {
        "type": "object",
        "nullable": true,
        "properties": {
          "comparison_key": {
            "type": "string",
            "nullable": true,
            "description": "The key used to join two experiments (defaults to `input`)"
          },
          "baseline_experiment_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "The id of the experiment to use as the default baseline for comparisons"
          },
          "spanFieldOrder": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "object_type": {
                  "type": "string"
                },
                "column_id": {
                  "type": "string"
                },
                "position": {
                  "type": "string"
                },
                "layout": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "full"
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "two_column"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "object_type",
                "column_id",
                "position"
              ]
            },
            "description": "The order of the fields to display in the trace view"
          },
          "remote_eval_sources": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "description": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "url"
              ]
            },
            "description": "The remote eval sources to use for the project"
          },
          "disable_realtime_queries": {
            "type": "boolean",
            "nullable": true,
            "description": "If true, disable real-time queries for this project. This can improve query performance for high-volume logs."
          },
          "default_preprocessor": {
            "$ref": "#/components/schemas/NullableSavedFunctionId"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the project"
          },
          "org_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique id for the organization that the project belongs under"
          },
          "name": {
            "type": "string",
            "description": "Name of the project"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Textual description of the project"
          },
          "created": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Date of project creation"
          },
          "deleted_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Date of project deletion, or null if the project is still active"
          },
          "user_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Identifies the user who created the project"
          },
          "settings": {
            "$ref": "#/components/schemas/ProjectSettings"
          }
        },
        "required": [
          "id",
          "org_id",
          "name"
        ]
      },
      "CreateProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Name of the project"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Textual description of the project"
          },
          "org_name": {
            "type": "string",
            "nullable": true,
            "description": "For nearly all users, this parameter should be unnecessary. But in the rare case that your API key belongs to multiple organizations, you may specify the name of the organization the project belongs in."
          }
        },
        "required": [
          "name"
        ]
      },
      "PatchProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Name of the project"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "user_id": {
            "type": "string",
            "nullable": true
          },
          "settings": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProjectSettings"
              },
              {
                "description": "Project settings. Patch operations replace all settings, so make sure you include all settings you want to keep."
              }
            ]
          }
        }
      },
      "InsertEventsResponse": {
        "type": "object",
        "properties": {
          "row_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The ids of all rows that were inserted, aligning one-to-one with the rows provided as input"
          }
        },
        "required": [
          "row_ids"
        ]
      },
      "SpanType": {
        "type": "string",
        "nullable": true,
        "enum": [
          "llm",
          "score",
          "function",
          "eval",
          "task",
          "tool",
          "automation",
          "facet",
          "preprocessor",
          "classifier",
          "review",
          null
        ],
        "description": "Type of the span, for display purposes only"
      },
      "SpanAttributes": {
        "type": "object",
        "nullable": true,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Name of the span, for display purposes only"
          },
          "type": {
            "$ref": "#/components/schemas/SpanType"
          }
        },
        "additionalProperties": {
          "nullable": true
        },
        "description": "Human-identifying attributes of the span, such as name, type, etc."
      },
      "ObjectReferenceNullish": {
        "type": "object",
        "nullable": true,
        "properties": {
          "object_type": {
            "type": "string",
            "enum": [
              "project_logs",
              "experiment",
              "dataset",
              "prompt",
              "function",
              "prompt_session"
            ],
            "description": "Type of the object the event is originating from."
          },
          "object_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the object the event is originating from."
          },
          "id": {
            "type": "string",
            "description": "ID of the original event."
          },
          "_xact_id": {
            "type": "string",
            "nullable": true,
            "description": "Transaction ID of the original event."
          },
          "created": {
            "type": "string",
            "nullable": true,
            "description": "Created timestamp of the original event. Used to help sort in the UI"
          }
        },
        "required": [
          "object_type",
          "object_id",
          "id"
        ],
        "description": "Indicates the event was copied from another object."
      },
      "InsertProjectLogsEvent": {
        "type": "object",
        "properties": {
          "input": {
            "nullable": true,
            "description": "The arguments that uniquely define a user input (an arbitrary, JSON serializable object)."
          },
          "output": {
            "nullable": true,
            "description": "The output of your application, including post-processing (an arbitrary, JSON serializable object), that allows you to determine whether the result is correct or not. For example, in an app that generates SQL queries, the `output` should be the _result_ of the SQL query generated by the model, not the query itself, because there may be multiple valid queries that answer a single question."
          },
          "expected": {
            "nullable": true,
            "description": "The ground truth value (an arbitrary, JSON serializable object) that you'd compare to `output` to determine if your `output` value is correct or not. Braintrust currently does not compare `output` to `expected` for you, since there are so many different ways to do that correctly. Instead, these values are just used to help you navigate while digging into analyses. However, we may later use these values to re-score outputs or fine-tune your models."
          },
          "error": {
            "nullable": true,
            "description": "The error that occurred, if any."
          },
          "scores": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "number",
              "nullable": true,
              "minimum": 0,
              "maximum": 1
            },
            "description": "A dictionary of numeric values (between 0 and 1) to log. The scores should give you a variety of signals that help you determine how accurate the outputs are compared to what you expect and diagnose failures. For example, a summarization app might have one score that tells you how accurate the summary is, and another that measures the word similarity between the generated and grouth truth summary. The word similarity score could help you determine whether the summarization was covering similar concepts or not. You can use these scores to help you sort, filter, and compare logs."
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "properties": {
              "model": {
                "type": "string",
                "nullable": true,
                "description": "The model used for this example"
              }
            },
            "additionalProperties": {
              "nullable": true
            },
            "description": "A dictionary with additional data about the test example, model outputs, or just about anything else that's relevant, that you can use to help find and analyze examples later. For example, you could log the `prompt`, example's `id`, or anything else that would be useful to slice/dice later. The values in `metadata` can be any JSON-serializable type, but its keys must be strings"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "A list of tags to log"
          },
          "metrics": {
            "type": "object",
            "nullable": true,
            "properties": {
              "start": {
                "type": "number",
                "nullable": true,
                "description": "A unix timestamp recording when the section of code which produced the project logs event started"
              },
              "end": {
                "type": "number",
                "nullable": true,
                "description": "A unix timestamp recording when the section of code which produced the project logs event finished"
              },
              "prompt_tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The number of tokens in the prompt used to generate the project logs event (only set if this is an LLM span)"
              },
              "completion_tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The number of tokens in the completion generated by the model (only set if this is an LLM span)"
              },
              "tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The total number of tokens in the input and output of the project logs event."
              },
              "caller_functionname": {
                "nullable": true,
                "description": "This metric is deprecated"
              },
              "caller_filename": {
                "nullable": true,
                "description": "This metric is deprecated"
              },
              "caller_lineno": {
                "nullable": true,
                "description": "This metric is deprecated"
              }
            },
            "additionalProperties": {
              "type": "number"
            },
            "description": "Metrics are numerical measurements tracking the execution of the code that produced the project logs event. Use \"start\" and \"end\" to track the time span over which the project logs event was produced"
          },
          "context": {
            "type": "object",
            "nullable": true,
            "properties": {
              "caller_functionname": {
                "type": "string",
                "nullable": true,
                "description": "The function in code which created the project logs event"
              },
              "caller_filename": {
                "type": "string",
                "nullable": true,
                "description": "Name of the file in code where the project logs event was created"
              },
              "caller_lineno": {
                "type": "integer",
                "nullable": true,
                "description": "Line of code where the project logs event was created"
              }
            },
            "additionalProperties": {
              "nullable": true
            },
            "description": "Context is additional information about the code that produced the project logs event. It is essentially the textual counterpart to `metrics`. Use the `caller_*` attributes to track the location in code which produced the project logs event"
          },
          "span_attributes": {
            "$ref": "#/components/schemas/SpanAttributes"
          },
          "id": {
            "type": "string",
            "nullable": true,
            "description": "A unique identifier for the project logs event. If you don't provide one, Braintrust will generate one for you"
          },
          "created": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "The timestamp the project logs event was created"
          },
          "origin": {
            "$ref": "#/components/schemas/ObjectReferenceNullish"
          },
          "facets": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Facets for categorization (dictionary from facet id to value)"
          },
          "_object_delete": {
            "type": "boolean",
            "nullable": true,
            "description": "Pass `_object_delete=true` to mark the project logs event deleted. Deleted events will not show up in subsequent fetches for this project logs"
          },
          "_is_merge": {
            "type": "boolean",
            "nullable": true,
            "description": "The `_is_merge` field controls how the row is merged with any existing row with the same id in the DB. By default (or when set to `false`), the existing row is completely replaced by the new row. When set to `true`, the new row is deep-merged into the existing row, if one is found. If no existing row is found, the new row is inserted as is.\n\nFor example, say there is an existing row in the DB `{\"id\": \"foo\", \"input\": {\"a\": 5, \"b\": 10}}`. If we merge a new row as `{\"_is_merge\": true, \"id\": \"foo\", \"input\": {\"b\": 11, \"c\": 20}}`, the new row will be `{\"id\": \"foo\", \"input\": {\"a\": 5, \"b\": 11, \"c\": 20}}`. If we replace the new row as `{\"id\": \"foo\", \"input\": {\"b\": 11, \"c\": 20}}`, the new row will be `{\"id\": \"foo\", \"input\": {\"b\": 11, \"c\": 20}}`"
          },
          "_merge_paths": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The `_merge_paths` field allows controlling the depth of the merge, when `_is_merge=true`. `_merge_paths` is a list of paths, where each path is a list of field names. The deep merge will not descend below any of the specified merge paths.\n\nFor example, say there is an existing row in the DB `{\"id\": \"foo\", \"input\": {\"a\": {\"b\": 10}, \"c\": {\"d\": 20}}, \"output\": {\"a\": 20}}`. If we merge a new row as `{\"_is_merge\": true, \"_merge_paths\": [[\"input\", \"a\"], [\"output\"]], \"input\": {\"a\": {\"q\": 30}, \"c\": {\"e\": 30}, \"bar\": \"baz\"}, \"output\": {\"d\": 40}}`, the new row will be `{\"id\": \"foo\": \"input\": {\"a\": {\"q\": 30}, \"c\": {\"d\": 20, \"e\": 30}, \"bar\": \"baz\"}, \"output\": {\"d\": 40}}`. In this case, due to the merge paths, we have replaced `input.a` and `output`, but have still deep-merged `input` and `input.c`."
          },
          "_array_delete": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "delete": {
                  "type": "array",
                  "items": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "path",
                "delete"
              ]
            },
            "description": "The `_array_delete` field allows removing specific values from array fields. It is an array of objects with `path` and `delete` properties.\n\nFor example, to remove tags \"foo\" and \"bar\" from an existing row: `{\"_is_merge\": true, \"_array_delete\": [{\"path\": [\"tags\"], \"delete\": [\"foo\", \"bar\"]}]}`. For nested fields like `metadata.categories`, use `[{\"path\": [\"metadata\", \"categories\"], \"delete\": [\"value\"]}]`. This will remove those specific values from the array while preserving others."
          },
          "_parent_id": {
            "type": "string",
            "nullable": true,
            "description": "DEPRECATED: The `_parent_id` field is deprecated and should not be used. Support for `_parent_id` will be dropped in a future version of Braintrust. Log `span_id`, `root_span_id`, and `span_parents` explicitly instead.\n\nUse the `_parent_id` field to create this row as a subspan of an existing row. Tracking hierarchical relationships are important for tracing (see the [guide](https://www.braintrust.dev/docs/instrument) for full details).\n\nFor example, say we have logged a row `{\"id\": \"abc\", \"input\": \"foo\", \"output\": \"bar\", \"expected\": \"boo\", \"scores\": {\"correctness\": 0.33}}`. We can create a sub-span of the parent row by logging `{\"_parent_id\": \"abc\", \"id\": \"llm_call\", \"input\": {\"prompt\": \"What comes after foo?\"}, \"output\": \"bar\", \"metrics\": {\"tokens\": 1}}`. In the webapp, only the root span row `\"abc\"` will show up in the summary view. You can view the full trace hierarchy (in this case, the `\"llm_call\"` row) by clicking on the \"abc\" row.\n\nIf the row is being merged into an existing row, this field will be ignored."
          },
          "span_id": {
            "type": "string",
            "nullable": true,
            "description": "Use `span_id`, `root_span_id`, and `span_parents` instead of `_parent_id`, which is now deprecated. The span_id is a unique identifier describing the row's place in the a trace, and the root_span_id is a unique identifier for the whole trace. See the [guide](https://www.braintrust.dev/docs/instrument) for full details.\n\nFor example, say we have logged a row `{\"id\": \"abc\", \"span_id\": \"span0\", \"root_span_id\": \"root_span0\", \"input\": \"foo\", \"output\": \"bar\", \"expected\": \"boo\", \"scores\": {\"correctness\": 0.33}}`. We can create a sub-span of the parent row by logging `{\"id\": \"llm_call\", \"span_id\": \"span1\", \"root_span_id\": \"root_span0\", \"span_parents\": [\"span0\"], \"input\": {\"prompt\": \"What comes after foo?\"}, \"output\": \"bar\", \"metrics\": {\"tokens\": 1}}`. In the webapp, only the root span row `\"abc\"` will show up in the summary view. You can view the full trace hierarchy (in this case, the `\"llm_call\"` row) by clicking on the \"abc\" row.\n\nIf the row is being merged into an existing row, this field will be ignored."
          },
          "root_span_id": {
            "type": "string",
            "nullable": true,
            "description": "Use `span_id`, `root_span_id`, and `span_parents` instead of `_parent_id`, which is now deprecated. The span_id is a unique identifier describing the row's place in the a trace, and the root_span_id is a unique identifier for the whole trace. See the [guide](https://www.braintrust.dev/docs/instrument) for full details.\n\nFor example, say we have logged a row `{\"id\": \"abc\", \"span_id\": \"span0\", \"root_span_id\": \"root_span0\", \"input\": \"foo\", \"output\": \"bar\", \"expected\": \"boo\", \"scores\": {\"correctness\": 0.33}}`. We can create a sub-span of the parent row by logging `{\"id\": \"llm_call\", \"span_id\": \"span1\", \"root_span_id\": \"root_span0\", \"span_parents\": [\"span0\"], \"input\": {\"prompt\": \"What comes after foo?\"}, \"output\": \"bar\", \"metrics\": {\"tokens\": 1}}`. In the webapp, only the root span row `\"abc\"` will show up in the summary view. You can view the full trace hierarchy (in this case, the `\"llm_call\"` row) by clicking on the \"abc\" row.\n\nIf the row is being merged into an existing row, this field will be ignored."
          },
          "span_parents": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Use `span_id`, `root_span_id`, and `span_parents` instead of `_parent_id`, which is now deprecated. The span_id is a unique identifier describing the row's place in the a trace, and the root_span_id is a unique identifier for the whole trace. See the [guide](https://www.braintrust.dev/docs/instrument) for full details.\n\nFor example, say we have logged a row `{\"id\": \"abc\", \"span_id\": \"span0\", \"root_span_id\": \"root_span0\", \"input\": \"foo\", \"output\": \"bar\", \"expected\": \"boo\", \"scores\": {\"correctness\": 0.33}}`. We can create a sub-span of the parent row by logging `{\"id\": \"llm_call\", \"span_id\": \"span1\", \"root_span_id\": \"root_span0\", \"span_parents\": [\"span0\"], \"input\": {\"prompt\": \"What comes after foo?\"}, \"output\": \"bar\", \"metrics\": {\"tokens\": 1}}`. In the webapp, only the root span row `\"abc\"` will show up in the summary view. You can view the full trace hierarchy (in this case, the `\"llm_call\"` row) by clicking on the \"abc\" row.\n\nIf the row is being merged into an existing row, this field will be ignored."
          }
        },
        "description": "A project logs event"
      },
      "InsertProjectLogsEventRequest": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InsertProjectLogsEvent"
            },
            "description": "A list of project logs events to insert"
          }
        },
        "required": [
          "events"
        ]
      },
      "SavedFunctionId": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "function"
                ]
              },
              "id": {
                "type": "string"
              },
              "version": {
                "type": "string",
                "description": "The version of the function"
              }
            },
            "required": [
              "type",
              "id"
            ],
            "title": "function"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "global"
                ]
              },
              "name": {
                "type": "string"
              },
              "function_type": {
                "$ref": "#/components/schemas/FunctionTypeEnum"
              }
            },
            "required": [
              "type",
              "name"
            ],
            "title": "global"
          },
          {
            "type": "null"
          }
        ],
        "description": "Optional function identifier that produced the classification"
      },
      "ProjectLogsEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the project logs event. If you don't provide one, Braintrust will generate one for you"
          },
          "_xact_id": {
            "type": "string",
            "description": "The transaction id of an event is unique to the network operation that processed the event insertion. Transaction ids are monotonically increasing over time and can be used to retrieve a versioned snapshot of the project logs (see the `version` parameter)"
          },
          "_pagination_key": {
            "type": "string",
            "nullable": true,
            "description": "A stable, time-ordered key that can be used to paginate over project logs events. This field is auto-generated by Braintrust and only exists in Brainstore."
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp the project logs event was created"
          },
          "org_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique id for the organization that the project belongs under"
          },
          "project_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the project"
          },
          "log_id": {
            "type": "string",
            "enum": [
              "g"
            ],
            "description": "A literal 'g' which identifies the log as a project log"
          },
          "input": {
            "nullable": true,
            "description": "The arguments that uniquely define a user input (an arbitrary, JSON serializable object)."
          },
          "output": {
            "nullable": true,
            "description": "The output of your application, including post-processing (an arbitrary, JSON serializable object), that allows you to determine whether the result is correct or not. For example, in an app that generates SQL queries, the `output` should be the _result_ of the SQL query generated by the model, not the query itself, because there may be multiple valid queries that answer a single question."
          },
          "expected": {
            "nullable": true,
            "description": "The ground truth value (an arbitrary, JSON serializable object) that you'd compare to `output` to determine if your `output` value is correct or not. Braintrust currently does not compare `output` to `expected` for you, since there are so many different ways to do that correctly. Instead, these values are just used to help you navigate while digging into analyses. However, we may later use these values to re-score outputs or fine-tune your models."
          },
          "error": {
            "nullable": true,
            "description": "The error that occurred, if any."
          },
          "scores": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "number",
              "nullable": true,
              "minimum": 0,
              "maximum": 1
            },
            "description": "A dictionary of numeric values (between 0 and 1) to log. The scores should give you a variety of signals that help you determine how accurate the outputs are compared to what you expect and diagnose failures. For example, a summarization app might have one score that tells you how accurate the summary is, and another that measures the word similarity between the generated and grouth truth summary. The word similarity score could help you determine whether the summarization was covering similar concepts or not. You can use these scores to help you sort, filter, and compare logs."
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "properties": {
              "model": {
                "type": "string",
                "nullable": true,
                "description": "The model used for this example"
              }
            },
            "additionalProperties": {
              "nullable": true
            },
            "description": "A dictionary with additional data about the test example, model outputs, or just about anything else that's relevant, that you can use to help find and analyze examples later. For example, you could log the `prompt`, example's `id`, or anything else that would be useful to slice/dice later. The values in `metadata` can be any JSON-serializable type, but its keys must be strings"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "A list of tags to log"
          },
          "metrics": {
            "type": "object",
            "nullable": true,
            "properties": {
              "start": {
                "type": "number",
                "nullable": true,
                "description": "A unix timestamp recording when the section of code which produced the project logs event started"
              },
              "end": {
                "type": "number",
                "nullable": true,
                "description": "A unix timestamp recording when the section of code which produced the project logs event finished"
              },
              "prompt_tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The number of tokens in the prompt used to generate the project logs event (only set if this is an LLM span)"
              },
              "completion_tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The number of tokens in the completion generated by the model (only set if this is an LLM span)"
              },
              "tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The total number of tokens in the input and output of the project logs event."
              },
              "caller_functionname": {
                "nullable": true,
                "description": "This metric is deprecated"
              },
              "caller_filename": {
                "nullable": true,
                "description": "This metric is deprecated"
              },
              "caller_lineno": {
                "nullable": true,
                "description": "This metric is deprecated"
              }
            },
            "additionalProperties": {
              "type": "number"
            },
            "description": "Metrics are numerical measurements tracking the execution of the code that produced the project logs event. Use \"start\" and \"end\" to track the time span over which the project logs event was produced"
          },
          "context": {
            "type": "object",
            "nullable": true,
            "properties": {
              "caller_functionname": {
                "type": "string",
                "nullable": true,
                "description": "The function in code which created the project logs event"
              },
              "caller_filename": {
                "type": "string",
                "nullable": true,
                "description": "Name of the file in code where the project logs event was created"
              },
              "caller_lineno": {
                "type": "integer",
                "nullable": true,
                "description": "Line of code where the project logs event was created"
              }
            },
            "additionalProperties": {
              "nullable": true
            },
            "description": "Context is additional information about the code that produced the project logs event. It is essentially the textual counterpart to `metrics`. Use the `caller_*` attributes to track the location in code which produced the project logs event"
          },
          "span_id": {
            "type": "string",
            "description": "A unique identifier used to link different project logs events together as part of a full trace. See the [tracing guide](https://www.braintrust.dev/docs/instrument) for full details on tracing"
          },
          "span_parents": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "An array of the parent `span_ids` of this project logs event. This should be empty for the root span of a trace, and should most often contain just one parent element for subspans"
          },
          "root_span_id": {
            "type": "string",
            "description": "A unique identifier for the trace this project logs event belongs to"
          },
          "is_root": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether this span is a root span"
          },
          "span_attributes": {
            "$ref": "#/components/schemas/SpanAttributes"
          },
          "origin": {
            "$ref": "#/components/schemas/ObjectReferenceNullish"
          },
          "comments": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true
            },
            "description": "Optional list of comments attached to this event"
          },
          "audit_data": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true
            },
            "description": "Optional list of audit entries attached to this event"
          },
          "_async_scoring_state": {
            "nullable": true,
            "description": "The async scoring state for this event"
          },
          "facets": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Facets for categorization (dictionary from facet id to value)"
          },
          "classifications": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Stable classification identifier"
                  },
                  "label": {
                    "type": "string",
                    "description": "Original label of the classification item, which is useful for search and indexing purposes"
                  },
                  "confidence": {
                    "type": "number",
                    "nullable": true,
                    "description": "Optional confidence score for the classification"
                  },
                  "metadata": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "nullable": true
                    },
                    "description": "Optional metadata associated with the classification"
                  },
                  "source": {
                    "$ref": "#/components/schemas/SavedFunctionId"
                  }
                },
                "required": [
                  "id"
                ]
              }
            },
            "description": "Classifications for this event (dictionary from classification name to items)"
          }
        },
        "required": [
          "id",
          "_xact_id",
          "created",
          "org_id",
          "project_id",
          "log_id",
          "span_id",
          "root_span_id"
        ]
      },
      "FetchProjectLogsEventsResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectLogsEvent"
            },
            "description": "A list of fetched events"
          },
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "Pagination cursor\n\nPass this string directly as the `cursor` param to your next fetch request to get the next page of results. Not provided if the returned result set is empty."
          }
        },
        "required": [
          "events"
        ]
      },
      "FetchLimit": {
        "type": "integer",
        "nullable": true,
        "minimum": 0,
        "description": "limit the number of traces fetched\n\nFetch queries may be paginated if the total result size is expected to be large (e.g. project_logs which accumulate over a long time). Note that fetch queries only support pagination in descending time order (from latest to earliest `_xact_id`. Furthermore, later pages may return rows which showed up in earlier pages, except with an earlier `_xact_id`. This happens because pagination occurs over the whole version history of the event log. You will most likely want to exclude any such duplicate, outdated rows (by `id`) from your combined result set.\n\nThe `limit` parameter controls the number of full traces to return. So you may end up with more individual rows than the specified limit if you are fetching events containing traces."
      },
      "FetchPaginationCursor": {
        "type": "string",
        "nullable": true,
        "description": "An opaque string to be used as a cursor for the next page of results, in order from latest to earliest.\n\nThe string can be obtained directly from the `cursor` property of the previous fetch query"
      },
      "FetchEventsRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "$ref": "#/components/schemas/FetchLimit"
          },
          "cursor": {
            "$ref": "#/components/schemas/FetchPaginationCursor"
          },
          "max_xact_id": {
            "$ref": "#/components/schemas/MaxXactId",
            "nullable": true
          },
          "max_root_span_id": {
            "$ref": "#/components/schemas/MaxRootSpanId",
            "nullable": true
          },
          "version": {
            "$ref": "#/components/schemas/Version",
            "nullable": true
          }
        }
      },
      "FeedbackResponseSchema": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "FeedbackProjectLogsItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the project logs event to log feedback for. This is the row `id` returned by `POST /v1/project_logs/{project_id}/insert`"
          },
          "scores": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "number",
              "nullable": true,
              "minimum": 0,
              "maximum": 1
            },
            "description": "A dictionary of numeric values (between 0 and 1) to log. These scores will be merged into the existing scores for the project logs event"
          },
          "expected": {
            "nullable": true,
            "description": "The ground truth value (an arbitrary, JSON serializable object) that you'd compare to `output` to determine if your `output` value is correct or not"
          },
          "comment": {
            "type": "string",
            "nullable": true,
            "description": "An optional comment string to log about the project logs event"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "A dictionary with additional data about the feedback. If you have a `user_id`, you can log it here and access it in the Braintrust UI. Note, this metadata does not correspond to the main event itself, but rather the audit log attached to the event."
          },
          "source": {
            "type": "string",
            "nullable": true,
            "enum": [
              "app",
              "api",
              "external",
              null
            ],
            "description": "The source of the feedback. Must be one of \"external\" (default), \"app\", or \"api\""
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "A list of tags to log"
          }
        },
        "required": [
          "id"
        ]
      },
      "FeedbackProjectLogsEventRequest": {
        "type": "object",
        "properties": {
          "feedback": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeedbackProjectLogsItem"
            },
            "description": "A list of project logs feedback items"
          }
        },
        "required": [
          "feedback"
        ]
      },
      "RepoInfo": {
        "type": "object",
        "nullable": true,
        "properties": {
          "commit": {
            "type": "string",
            "nullable": true,
            "description": "SHA of most recent commit"
          },
          "branch": {
            "type": "string",
            "nullable": true,
            "description": "Name of the branch the most recent commit belongs to"
          },
          "tag": {
            "type": "string",
            "nullable": true,
            "description": "Name of the tag on the most recent commit"
          },
          "dirty": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether or not the repo had uncommitted changes when snapshotted"
          },
          "author_name": {
            "type": "string",
            "nullable": true,
            "description": "Name of the author of the most recent commit"
          },
          "author_email": {
            "type": "string",
            "nullable": true,
            "description": "Email of the author of the most recent commit"
          },
          "commit_message": {
            "type": "string",
            "nullable": true,
            "description": "Most recent commit message"
          },
          "commit_time": {
            "type": "string",
            "nullable": true,
            "description": "Time of the most recent commit"
          },
          "git_diff": {
            "type": "string",
            "nullable": true,
            "description": "If the repo was dirty when run, this includes the diff between the current state of the repo and the most recent commit."
          }
        },
        "description": "Metadata about the state of the repo when the experiment was created"
      },
      "Experiment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the experiment"
          },
          "project_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the project that the experiment belongs under"
          },
          "name": {
            "type": "string",
            "description": "Name of the experiment. Within a project, experiment names are unique"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Textual description of the experiment"
          },
          "created": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Date of experiment creation"
          },
          "repo_info": {
            "$ref": "#/components/schemas/RepoInfo"
          },
          "commit": {
            "type": "string",
            "nullable": true,
            "description": "Commit, taken directly from `repo_info.commit`"
          },
          "base_exp_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Id of default base experiment to compare against when viewing this experiment"
          },
          "deleted_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Date of experiment deletion, or null if the experiment is still active"
          },
          "dataset_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Identifier of the linked dataset, or null if the experiment is not linked to a dataset"
          },
          "dataset_version": {
            "type": "string",
            "nullable": true,
            "description": "Version number of the linked dataset the experiment was run against. This can be used to reproduce the experiment after the dataset has been modified."
          },
          "public": {
            "type": "boolean",
            "description": "Whether or not the experiment is public. Public experiments can be viewed by anybody inside or outside the organization"
          },
          "user_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Identifies the user who created the experiment"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "User-controlled metadata about the experiment"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "A list of tags for the experiment"
          }
        },
        "required": [
          "id",
          "project_id",
          "name",
          "public"
        ]
      },
      "CreateExperiment": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the project that the experiment belongs under"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "description": "Name of the experiment. Within a project, experiment names are unique"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Textual description of the experiment"
          },
          "repo_info": {
            "$ref": "#/components/schemas/RepoInfo"
          },
          "base_exp_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Id of default base experiment to compare against when viewing this experiment"
          },
          "dataset_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Identifier of the linked dataset, or null if the experiment is not linked to a dataset"
          },
          "dataset_version": {
            "type": "string",
            "nullable": true,
            "description": "Version number of the linked dataset the experiment was run against. This can be used to reproduce the experiment after the dataset has been modified."
          },
          "public": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether or not the experiment is public. Public experiments can be viewed by anybody inside or outside the organization"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "User-controlled metadata about the experiment"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "A list of tags for the experiment"
          },
          "ensure_new": {
            "type": "boolean",
            "nullable": true,
            "description": "Normally, creating an experiment with the same name as an existing experiment will return the existing one un-modified. But if `ensure_new` is true, registration will generate a new experiment with a unique name in case of a conflict."
          }
        },
        "required": [
          "project_id"
        ]
      },
      "PatchExperiment": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Name of the experiment. Within a project, experiment names are unique"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Textual description of the experiment"
          },
          "repo_info": {
            "$ref": "#/components/schemas/RepoInfo"
          },
          "base_exp_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Id of default base experiment to compare against when viewing this experiment"
          },
          "dataset_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Identifier of the linked dataset, or null if the experiment is not linked to a dataset"
          },
          "dataset_version": {
            "type": "string",
            "nullable": true,
            "description": "Version number of the linked dataset the experiment was run against. This can be used to reproduce the experiment after the dataset has been modified."
          },
          "public": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether or not the experiment is public. Public experiments can be viewed by anybody inside or outside the organization"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "User-controlled metadata about the experiment"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "A list of tags for the experiment"
          }
        }
      },
      "InsertExperimentEvent": {
        "type": "object",
        "properties": {
          "input": {
            "nullable": true,
            "description": "The arguments that uniquely define a test case (an arbitrary, JSON serializable object). Later on, Braintrust will use the `input` to know whether two test cases are the same between experiments, so they should not contain experiment-specific state. A simple rule of thumb is that if you run the same experiment twice, the `input` should be identical"
          },
          "output": {
            "nullable": true,
            "description": "The output of your application, including post-processing (an arbitrary, JSON serializable object), that allows you to determine whether the result is correct or not. For example, in an app that generates SQL queries, the `output` should be the _result_ of the SQL query generated by the model, not the query itself, because there may be multiple valid queries that answer a single question"
          },
          "expected": {
            "nullable": true,
            "description": "The ground truth value (an arbitrary, JSON serializable object) that you'd compare to `output` to determine if your `output` value is correct or not. Braintrust currently does not compare `output` to `expected` for you, since there are so many different ways to do that correctly. Instead, these values are just used to help you navigate your experiments while digging into analyses. However, we may later use these values to re-score outputs or fine-tune your models"
          },
          "error": {
            "nullable": true,
            "description": "The error that occurred, if any."
          },
          "scores": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "number",
              "nullable": true,
              "minimum": 0,
              "maximum": 1
            },
            "description": "A dictionary of numeric values (between 0 and 1) to log. The scores should give you a variety of signals that help you determine how accurate the outputs are compared to what you expect and diagnose failures. For example, a summarization app might have one score that tells you how accurate the summary is, and another that measures the word similarity between the generated and grouth truth summary. The word similarity score could help you determine whether the summarization was covering similar concepts or not. You can use these scores to help you sort, filter, and compare experiments"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "properties": {
              "model": {
                "type": "string",
                "nullable": true,
                "description": "The model used for this example"
              }
            },
            "additionalProperties": {
              "nullable": true
            },
            "description": "A dictionary with additional data about the test example, model outputs, or just about anything else that's relevant, that you can use to help find and analyze examples later. For example, you could log the `prompt`, example's `id`, or anything else that would be useful to slice/dice later. The values in `metadata` can be any JSON-serializable type, but its keys must be strings"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "A list of tags to log"
          },
          "metrics": {
            "type": "object",
            "nullable": true,
            "properties": {
              "start": {
                "type": "number",
                "nullable": true,
                "description": "A unix timestamp recording when the section of code which produced the experiment event started"
              },
              "end": {
                "type": "number",
                "nullable": true,
                "description": "A unix timestamp recording when the section of code which produced the experiment event finished"
              },
              "prompt_tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The number of tokens in the prompt used to generate the experiment event (only set if this is an LLM span)"
              },
              "completion_tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The number of tokens in the completion generated by the model (only set if this is an LLM span)"
              },
              "tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The total number of tokens in the input and output of the experiment event."
              },
              "caller_functionname": {
                "nullable": true,
                "description": "This metric is deprecated"
              },
              "caller_filename": {
                "nullable": true,
                "description": "This metric is deprecated"
              },
              "caller_lineno": {
                "nullable": true,
                "description": "This metric is deprecated"
              }
            },
            "additionalProperties": {
              "type": "number"
            },
            "description": "Metrics are numerical measurements tracking the execution of the code that produced the experiment event. Use \"start\" and \"end\" to track the time span over which the experiment event was produced"
          },
          "context": {
            "type": "object",
            "nullable": true,
            "properties": {
              "caller_functionname": {
                "type": "string",
                "nullable": true,
                "description": "The function in code which created the experiment event"
              },
              "caller_filename": {
                "type": "string",
                "nullable": true,
                "description": "Name of the file in code where the experiment event was created"
              },
              "caller_lineno": {
                "type": "integer",
                "nullable": true,
                "description": "Line of code where the experiment event was created"
              }
            },
            "additionalProperties": {
              "nullable": true
            },
            "description": "Context is additional information about the code that produced the experiment event. It is essentially the textual counterpart to `metrics`. Use the `caller_*` attributes to track the location in code which produced the experiment event"
          },
          "span_attributes": {
            "$ref": "#/components/schemas/SpanAttributes"
          },
          "id": {
            "type": "string",
            "nullable": true,
            "description": "A unique identifier for the experiment event. If you don't provide one, Braintrust will generate one for you"
          },
          "created": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "The timestamp the experiment event was created"
          },
          "origin": {
            "$ref": "#/components/schemas/ObjectReferenceNullish"
          },
          "facets": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Facets for categorization (dictionary from facet id to value)"
          },
          "_object_delete": {
            "type": "boolean",
            "nullable": true,
            "description": "Pass `_object_delete=true` to mark the experiment event deleted. Deleted events will not show up in subsequent fetches for this experiment"
          },
          "_is_merge": {
            "type": "boolean",
            "nullable": true,
            "description": "The `_is_merge` field controls how the row is merged with any existing row with the same id in the DB. By default (or when set to `false`), the existing row is completely replaced by the new row. When set to `true`, the new row is deep-merged into the existing row, if one is found. If no existing row is found, the new row is inserted as is.\n\nFor example, say there is an existing row in the DB `{\"id\": \"foo\", \"input\": {\"a\": 5, \"b\": 10}}`. If we merge a new row as `{\"_is_merge\": true, \"id\": \"foo\", \"input\": {\"b\": 11, \"c\": 20}}`, the new row will be `{\"id\": \"foo\", \"input\": {\"a\": 5, \"b\": 11, \"c\": 20}}`. If we replace the new row as `{\"id\": \"foo\", \"input\": {\"b\": 11, \"c\": 20}}`, the new row will be `{\"id\": \"foo\", \"input\": {\"b\": 11, \"c\": 20}}`"
          },
          "_merge_paths": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The `_merge_paths` field allows controlling the depth of the merge, when `_is_merge=true`. `_merge_paths` is a list of paths, where each path is a list of field names. The deep merge will not descend below any of the specified merge paths.\n\nFor example, say there is an existing row in the DB `{\"id\": \"foo\", \"input\": {\"a\": {\"b\": 10}, \"c\": {\"d\": 20}}, \"output\": {\"a\": 20}}`. If we merge a new row as `{\"_is_merge\": true, \"_merge_paths\": [[\"input\", \"a\"], [\"output\"]], \"input\": {\"a\": {\"q\": 30}, \"c\": {\"e\": 30}, \"bar\": \"baz\"}, \"output\": {\"d\": 40}}`, the new row will be `{\"id\": \"foo\": \"input\": {\"a\": {\"q\": 30}, \"c\": {\"d\": 20, \"e\": 30}, \"bar\": \"baz\"}, \"output\": {\"d\": 40}}`. In this case, due to the merge paths, we have replaced `input.a` and `output`, but have still deep-merged `input` and `input.c`."
          },
          "_array_delete": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "delete": {
                  "type": "array",
                  "items": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "path",
                "delete"
              ]
            },
            "description": "The `_array_delete` field allows removing specific values from array fields. It is an array of objects with `path` and `delete` properties.\n\nFor example, to remove tags \"foo\" and \"bar\" from an existing row: `{\"_is_merge\": true, \"_array_delete\": [{\"path\": [\"tags\"], \"delete\": [\"foo\", \"bar\"]}]}`. For nested fields like `metadata.categories`, use `[{\"path\": [\"metadata\", \"categories\"], \"delete\": [\"value\"]}]`. This will remove those specific values from the array while preserving others."
          },
          "_parent_id": {
            "type": "string",
            "nullable": true,
            "description": "DEPRECATED: The `_parent_id` field is deprecated and should not be used. Support for `_parent_id` will be dropped in a future version of Braintrust. Log `span_id`, `root_span_id`, and `span_parents` explicitly instead.\n\nUse the `_parent_id` field to create this row as a subspan of an existing row. Tracking hierarchical relationships are important for tracing (see the [guide](https://www.braintrust.dev/docs/instrument) for full details).\n\nFor example, say we have logged a row `{\"id\": \"abc\", \"input\": \"foo\", \"output\": \"bar\", \"expected\": \"boo\", \"scores\": {\"correctness\": 0.33}}`. We can create a sub-span of the parent row by logging `{\"_parent_id\": \"abc\", \"id\": \"llm_call\", \"input\": {\"prompt\": \"What comes after foo?\"}, \"output\": \"bar\", \"metrics\": {\"tokens\": 1}}`. In the webapp, only the root span row `\"abc\"` will show up in the summary view. You can view the full trace hierarchy (in this case, the `\"llm_call\"` row) by clicking on the \"abc\" row.\n\nIf the row is being merged into an existing row, this field will be ignored."
          },
          "span_id": {
            "type": "string",
            "nullable": true,
            "description": "Use `span_id`, `root_span_id`, and `span_parents` instead of `_parent_id`, which is now deprecated. The span_id is a unique identifier describing the row's place in the a trace, and the root_span_id is a unique identifier for the whole trace. See the [guide](https://www.braintrust.dev/docs/instrument) for full details.\n\nFor example, say we have logged a row `{\"id\": \"abc\", \"span_id\": \"span0\", \"root_span_id\": \"root_span0\", \"input\": \"foo\", \"output\": \"bar\", \"expected\": \"boo\", \"scores\": {\"correctness\": 0.33}}`. We can create a sub-span of the parent row by logging `{\"id\": \"llm_call\", \"span_id\": \"span1\", \"root_span_id\": \"root_span0\", \"span_parents\": [\"span0\"], \"input\": {\"prompt\": \"What comes after foo?\"}, \"output\": \"bar\", \"metrics\": {\"tokens\": 1}}`. In the webapp, only the root span row `\"abc\"` will show up in the summary view. You can view the full trace hierarchy (in this case, the `\"llm_call\"` row) by clicking on the \"abc\" row.\n\nIf the row is being merged into an existing row, this field will be ignored."
          },
          "root_span_id": {
            "type": "string",
            "nullable": true,
            "description": "Use `span_id`, `root_span_id`, and `span_parents` instead of `_parent_id`, which is now deprecated. The span_id is a unique identifier describing the row's place in the a trace, and the root_span_id is a unique identifier for the whole trace. See the [guide](https://www.braintrust.dev/docs/instrument) for full details.\n\nFor example, say we have logged a row `{\"id\": \"abc\", \"span_id\": \"span0\", \"root_span_id\": \"root_span0\", \"input\": \"foo\", \"output\": \"bar\", \"expected\": \"boo\", \"scores\": {\"correctness\": 0.33}}`. We can create a sub-span of the parent row by logging `{\"id\": \"llm_call\", \"span_id\": \"span1\", \"root_span_id\": \"root_span0\", \"span_parents\": [\"span0\"], \"input\": {\"prompt\": \"What comes after foo?\"}, \"output\": \"bar\", \"metrics\": {\"tokens\": 1}}`. In the webapp, only the root span row `\"abc\"` will show up in the summary view. You can view the full trace hierarchy (in this case, the `\"llm_call\"` row) by clicking on the \"abc\" row.\n\nIf the row is being merged into an existing row, this field will be ignored."
          },
          "span_parents": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Use `span_id`, `root_span_id`, and `span_parents` instead of `_parent_id`, which is now deprecated. The span_id is a unique identifier describing the row's place in the a trace, and the root_span_id is a unique identifier for the whole trace. See the [guide](https://www.braintrust.dev/docs/instrument) for full details.\n\nFor example, say we have logged a row `{\"id\": \"abc\", \"span_id\": \"span0\", \"root_span_id\": \"root_span0\", \"input\": \"foo\", \"output\": \"bar\", \"expected\": \"boo\", \"scores\": {\"correctness\": 0.33}}`. We can create a sub-span of the parent row by logging `{\"id\": \"llm_call\", \"span_id\": \"span1\", \"root_span_id\": \"root_span0\", \"span_parents\": [\"span0\"], \"input\": {\"prompt\": \"What comes after foo?\"}, \"output\": \"bar\", \"metrics\": {\"tokens\": 1}}`. In the webapp, only the root span row `\"abc\"` will show up in the summary view. You can view the full trace hierarchy (in this case, the `\"llm_call\"` row) by clicking on the \"abc\" row.\n\nIf the row is being merged into an existing row, this field will be ignored."
          }
        },
        "description": "An experiment event"
      },
      "InsertExperimentEventRequest": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InsertExperimentEvent"
            },
            "description": "A list of experiment events to insert"
          }
        },
        "required": [
          "events"
        ]
      },
      "ExperimentEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the experiment event. If you don't provide one, Braintrust will generate one for you"
          },
          "_xact_id": {
            "type": "string",
            "description": "The transaction id of an event is unique to the network operation that processed the event insertion. Transaction ids are monotonically increasing over time and can be used to retrieve a versioned snapshot of the experiment (see the `version` parameter)"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp the experiment event was created"
          },
          "_pagination_key": {
            "type": "string",
            "nullable": true,
            "description": "A stable, time-ordered key that can be used to paginate over experiment events. This field is auto-generated by Braintrust and only exists in Brainstore."
          },
          "project_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the project that the experiment belongs under"
          },
          "experiment_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the experiment"
          },
          "input": {
            "nullable": true,
            "description": "The arguments that uniquely define a test case (an arbitrary, JSON serializable object). Later on, Braintrust will use the `input` to know whether two test cases are the same between experiments, so they should not contain experiment-specific state. A simple rule of thumb is that if you run the same experiment twice, the `input` should be identical"
          },
          "output": {
            "nullable": true,
            "description": "The output of your application, including post-processing (an arbitrary, JSON serializable object), that allows you to determine whether the result is correct or not. For example, in an app that generates SQL queries, the `output` should be the _result_ of the SQL query generated by the model, not the query itself, because there may be multiple valid queries that answer a single question"
          },
          "expected": {
            "nullable": true,
            "description": "The ground truth value (an arbitrary, JSON serializable object) that you'd compare to `output` to determine if your `output` value is correct or not. Braintrust currently does not compare `output` to `expected` for you, since there are so many different ways to do that correctly. Instead, these values are just used to help you navigate your experiments while digging into analyses. However, we may later use these values to re-score outputs or fine-tune your models"
          },
          "error": {
            "nullable": true,
            "description": "The error that occurred, if any."
          },
          "scores": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "number",
              "nullable": true,
              "minimum": 0,
              "maximum": 1
            },
            "description": "A dictionary of numeric values (between 0 and 1) to log. The scores should give you a variety of signals that help you determine how accurate the outputs are compared to what you expect and diagnose failures. For example, a summarization app might have one score that tells you how accurate the summary is, and another that measures the word similarity between the generated and grouth truth summary. The word similarity score could help you determine whether the summarization was covering similar concepts or not. You can use these scores to help you sort, filter, and compare experiments"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "properties": {
              "model": {
                "type": "string",
                "nullable": true,
                "description": "The model used for this example"
              }
            },
            "additionalProperties": {
              "nullable": true
            },
            "description": "A dictionary with additional data about the test example, model outputs, or just about anything else that's relevant, that you can use to help find and analyze examples later. For example, you could log the `prompt`, example's `id`, or anything else that would be useful to slice/dice later. The values in `metadata` can be any JSON-serializable type, but its keys must be strings"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "A list of tags to log"
          },
          "metrics": {
            "type": "object",
            "nullable": true,
            "properties": {
              "start": {
                "type": "number",
                "nullable": true,
                "description": "A unix timestamp recording when the section of code which produced the experiment event started"
              },
              "end": {
                "type": "number",
                "nullable": true,
                "description": "A unix timestamp recording when the section of code which produced the experiment event finished"
              },
              "prompt_tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The number of tokens in the prompt used to generate the experiment event (only set if this is an LLM span)"
              },
              "completion_tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The number of tokens in the completion generated by the model (only set if this is an LLM span)"
              },
              "tokens": {
                "type": "integer",
                "nullable": true,
                "description": "The total number of tokens in the input and output of the experiment event."
              },
              "caller_functionname": {
                "nullable": true,
                "description": "This metric is deprecated"
              },
              "caller_filename": {
                "nullable": true,
                "description": "This metric is deprecated"
              },
              "caller_lineno": {
                "nullable": true,
                "description": "This metric is deprecated"
              }
            },
            "additionalProperties": {
              "type": "number"
            },
            "description": "Metrics are numerical measurements tracking the execution of the code that produced the experiment event. Use \"start\" and \"end\" to track the time span over which the experiment event was produced"
          },
          "context": {
            "type": "object",
            "nullable": true,
            "properties": {
              "caller_functionname": {
                "type": "string",
                "nullable": true,
                "description": "The function in code which created the experiment event"
              },
              "caller_filename": {
                "type": "string",
                "nullable": true,
                "description": "Name of the file in code where the experiment event was created"
              },
              "caller_lineno": {
                "type": "integer",
                "nullable": true,
                "description": "Line of code where the experiment event was created"
              }
            },
            "additionalProperties": {
              "nullable": true
            },
            "description": "Context is additional information about the code that produced the experiment event. It is essentially the textual counterpart to `metrics`. Use the `caller_*` attributes to track the location in code which produced the experiment event"
          },
          "span_id": {
            "type": "string",
            "description": "A unique identifier used to link different experiment events together as part of a full trace. See the [tracing guide](https://www.braintrust.dev/docs/instrument) for full details on tracing"
          },
          "span_parents": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "An array of the parent `span_ids` of this experiment event. This should be empty for the root span of a trace, and should most often contain just one parent element for subspans"
          },
          "root_span_id": {
            "type": "string",
            "description": "A unique identifier for the trace this experiment event belongs to"
          },
          "span_attributes": {
            "$ref": "#/components/schemas/SpanAttributes"
          },
          "is_root": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether this span is a root span"
          },
          "origin": {
            "$ref": "#/components/schemas/ObjectReferenceNullish"
          },
          "comments": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true
            },
            "description": "Optional list of comments attached to this event"
          },
          "audit_data": {
            "type": "array",
            "nullable": true,
            "items": {
              "nullable": true
            },
            "description": "Optional list of audit entries attached to this event"
          },
          "facets": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Facets for categorization (dictionary from facet id to value)"
          },
          "classifications": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Stable classification identifier"
                  },
                  "label": {
                    "type": "string",
[...]
