openapi: 3.0.1
info:
  title: API Reference
  description: "The Cohere Platform is centered around models.\n\nEach model has a different amount of power (i.e. parameters), to be used for different tasks.\n\nCohere also supports finetuning of baseline models to improve performance on downstream tasks or to teach the model large quantities of information which cannot be extracted with few-shot learning or prompt engineering."
  termsOfService: https://cohere.com/terms-of-use
  contact:
    name: Cohere Developers
    url: https://cohere.com/
    email: team@cohere.com
  license:
    name: proprietary
    url: https://cohere.com/terms-of-use
  version: '1.0'
servers:
  - url: https://api.cohere.com
    description: production
paths:
  /v1/chat:
    post:
      summary: Chat
      description: "Generates a text response to a user message.\nTo learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/docs/chat-api).\n"
      operationId: chat
      parameters:
        - $ref: '#/components/parameters/RequestSource'
        - name: Accepts
          in: header
          description: "Pass text/event-stream to receive the streamed response as server-sent events. The default is `\\n` delimited events.\n"
          schema:
            enum:
              - text/event-stream
            type: string
          example: text/event-stream
          x-fern-audiences:
            - public
      requestBody:
        content:
          application/json:
            schema:
              required:
                - message
              type: object
              properties:
                message:
                  type: string
                  description: "Text input for the model to respond to.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                model:
                  type: string
                  description: "Defaults to `command-r-plus-08-2024`.\n\nThe name of a compatible [Cohere model](https://docs.cohere.com/docs/models) or the ID of a [fine-tuned](https://docs.cohere.com/docs/chat-fine-tuning) model.\n\nCompatible Deployments: Cohere Platform, Private Deployments\n"
                  x-fern-audiences:
                    - public
                stream:
                  type: boolean
                  description: "Defaults to `false`.\n\nWhen `true`, the response will be a JSON stream of events. The final event will contain the complete response, and will have an `event_type` of `\"stream-end\"`.\n\nStreaming is beneficial for user interfaces that render the contents of the response piece by piece, as it gets generated.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                preamble:
                  type: string
                  description: "When specified, the default Cohere preamble will be replaced with the provided one. Preambles are a part of the prompt used to adjust the model's overall behavior and conversation style, and use the `SYSTEM` role.\n\nThe `SYSTEM` role is also used for the contents of the optional `chat_history=` parameter. When used with the `chat_history=` parameter it adds content throughout a conversation. Conversely, when used with the `preamble=` parameter it adds content at the start of the conversation only.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                chat_history:
                  minItems: 0
                  type: array
                  items:
                    $ref: '#/components/schemas/Message'
                  description: "A list of previous messages between the user and the model, giving the model conversational context for responding to the user's `message`.\n\nEach item represents a single message in the chat history, excluding the current user turn. It has two properties: `role` and `message`. The `role` identifies the sender (`CHATBOT`, `SYSTEM`, or `USER`), while the `message` contains the text content.\n\nThe chat_history parameter should not be used for `SYSTEM` messages in most cases. Instead, to add a `SYSTEM` role message at the beginning of a conversation, the `preamble` parameter should be used.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                conversation_id:
                  type: string
                  description: "An alternative to `chat_history`.\n\nProviding a `conversation_id` creates or resumes a persisted conversation with the specified ID. The ID can be any non empty string.\n\nCompatible Deployments: Cohere Platform\n"
                  x-fern-audiences:
                    - public
                prompt_truncation:
                  enum:
                    - OFF
                    - AUTO
                    - AUTO_PRESERVE_ORDER
                  type: string
                  description: "Defaults to `AUTO` when `connectors` are specified and `OFF` in all other cases.\n\nDictates how the prompt will be constructed.\n\nWith `prompt_truncation` set to \"AUTO\", some elements from `chat_history` and `documents` will be dropped in an attempt to construct a prompt that fits within the model's context length limit. During this process the order of the documents and chat history will be changed and ranked by relevance.\n\nWith `prompt_truncation` set to \"AUTO_PRESERVE_ORDER\", some elements from `chat_history` and `documents` will be dropped in an attempt to construct a prompt that fits within the model's context length limit. During this process the order of the documents and chat history will be preserved as they are inputted into the API.\n\nWith `prompt_truncation` set to \"OFF\", no elements will be dropped. If the sum of the inputs exceeds the model's context length limit, a `TooManyTokens` error will be returned.\n\nCompatible Deployments: \n - AUTO: Cohere Platform Only\n - AUTO_PRESERVE_ORDER: Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                connectors:
                  minItems: 0
                  type: array
                  items:
                    $ref: '#/components/schemas/ChatConnector'
                  description: "Accepts `{\"id\": \"web-search\"}`, and/or the `\"id\"` for a custom [connector](https://docs.cohere.com/docs/connectors), if you've [created](https://docs.cohere.com/docs/creating-and-deploying-a-connector) one.\n\nWhen specified, the model's reply will be enriched with information found by querying each of the connectors (RAG).\n\nCompatible Deployments: Cohere Platform\n"
                  x-fern-audiences:
                    - public
                search_queries_only:
                  type: boolean
                  description: "Defaults to `false`.\n\nWhen `true`, the response will only contain a list of generated search queries, but no search will take place, and no reply from the model to the user's `message` will be generated.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                documents:
                  type: array
                  items:
                    $ref: '#/components/schemas/ChatDocument'
                  description: "A list of relevant documents that the model can cite to generate a more accurate reply. Each document is a string-string dictionary.\n\nExample:\n```\n[\n  { \"title\": \"Tall penguins\", \"text\": \"Emperor penguins are the tallest.\" },\n  { \"title\": \"Penguin habitats\", \"text\": \"Emperor penguins only live in Antarctica.\" },\n]\n```\n\nKeys and values from each document will be serialized to a string and passed to the model. The resulting generation will include citations that reference some of these documents.\n\nSome suggested keys are \"text\", \"author\", and \"date\". For better generation quality, it is recommended to keep the total word count of the strings in the dictionary to under 300 words.\n\nAn `id` field (string) can be optionally supplied to identify the document in the citations. This field will not be passed to the model.\n\nAn `_excludes` field (array of strings) can be optionally supplied to omit some key-value pairs from being shown to the model. The omitted fields will still show up in the citation object. The \"_excludes\" field will not be passed to the model.\n\nSee ['Document Mode'](https://docs.cohere.com/docs/retrieval-augmented-generation-rag#document-mode) in the guide for more information.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                citation_quality:
                  enum:
                    - fast
                    - accurate
                    - off
                  type: string
                  description: "Defaults to `\"accurate\"`.\n\nDictates the approach taken to generating citations as part of the RAG flow by allowing the user to specify whether they want `\"accurate\"` results, `\"fast\"` results or no results.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                temperature:
                  maximum: 1
                  minimum: 0
                  type: number
                  description: "Defaults to `0.3`.\n\nA non-negative float that tunes the degree of randomness in generation. Lower temperatures mean less random generations, and higher temperatures mean more random generations.\n\nRandomness can be further maximized by increasing the  value of the `p` parameter.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  format: float
                  x-fern-audiences:
                    - public
                max_tokens:
                  type: integer
                  description: "The maximum number of tokens the model will generate as part of the response. Note: Setting a low value may result in incomplete generations.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  writeOnly: true
                  x-fern-audiences:
                    - public
                max_input_tokens:
                  type: integer
                  description: "The maximum number of input tokens to send to the model. If not specified, `max_input_tokens` is the model's context length limit minus a small buffer.\n\nInput will be truncated according to the `prompt_truncation` parameter.\n\nCompatible Deployments: Cohere Platform\n"
                  writeOnly: true
                  x-fern-audiences:
                    - public
                k:
                  maximum: 500
                  minimum: 0
                  type: integer
                  description: "Ensures only the top `k` most likely tokens are considered for generation at each step.\nDefaults to `0`, min value of `0`, max value of `500`.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  default: 0
                  writeOnly: true
                  x-fern-audiences:
                    - public
                p:
                  maximum: 0.99
                  minimum: 0.01
                  type: number
                  description: "Ensures that only the most likely tokens, with total probability mass of `p`, are considered for generation at each step. If both `k` and `p` are enabled, `p` acts after `k`.\nDefaults to `0.75`. min value of `0.01`, max value of `0.99`.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  default: 0.75
                  writeOnly: true
                  x-fern-audiences:
                    - public
                seed:
                  maximum: 18446744073709552000
                  minimum: 0
                  type: integer
                  description: "If specified, the backend will make a best effort to sample tokens\ndeterministically, such that repeated requests with the same\nseed and parameters should return the same result. However,\ndeterminism cannot be totally guaranteed.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                stop_sequences:
                  type: array
                  items:
                    type: string
                  description: "A list of up to 5 strings that the model will use to stop generation. If the model generates a string that matches any of the strings in the list, it will stop generating tokens and return the generated text up to that point not including the stop sequence.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  writeOnly: true
                  x-fern-audiences:
                    - public
                frequency_penalty:
                  type: number
                  description: "Defaults to `0.0`, min value of `0.0`, max value of `1.0`.\n\nUsed to reduce repetitiveness of generated tokens. The higher the value, the stronger a penalty is applied to previously present tokens, proportional to how many times they have already appeared in the prompt or prior generation.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  writeOnly: true
                  x-fern-audiences:
                    - public
                presence_penalty:
                  type: number
                  description: "Defaults to `0.0`, min value of `0.0`, max value of `1.0`.\n\nUsed to reduce repetitiveness of generated tokens. Similar to `frequency_penalty`, except that this penalty is applied equally to all tokens that have already appeared, regardless of their exact frequencies.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  writeOnly: true
                  x-fern-audiences:
                    - public
                tools:
                  minItems: 0
                  type: array
                  items:
                    $ref: '#/components/schemas/Tool'
                  description: "A list of available tools (functions) that the model may suggest invoking before producing a text response.\n\nWhen `tools` is passed (without `tool_results`), the `text` field in the response will be `\"\"` and the `tool_calls` field in the response will be populated with a list of tool calls that need to be made. If no calls need to be made, the `tool_calls` array will be empty.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                tool_results:
                  minItems: 0
                  type: array
                  items:
                    $ref: '#/components/schemas/ToolResult'
                  description: "A list of results from invoking tools recommended by the model in the previous chat turn. Results are used to produce a text response and will be referenced in citations. When using `tool_results`, `tools` must be passed as well.\nEach tool_result contains information about how it was invoked, as well as a list of outputs in the form of dictionaries.\n\n**Note**: `outputs` must be a list of objects. If your tool returns a single object (eg `{\"status\": 200}`), make sure to wrap it in a list.\n```\ntool_results = [\n  {\n    \"call\": {\n      \"name\": <tool name>,\n      \"parameters\": {\n        <param name>: <param value>\n      }\n    },\n    \"outputs\": [{\n      <key>: <value>\n    }]\n  },\n  ...\n]\n```\n**Note**: Chat calls with `tool_results` should not be included in the Chat history to avoid duplication of the message text.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                force_single_step:
                  type: boolean
                  description: Forces the chat to be single step. Defaults to `false`.
                  x-fern-audiences:
                    - public
                response_format:
                  $ref: '#/components/schemas/ResponseFormat'
                safety_mode:
                  enum:
                    - CONTEXTUAL
                    - STRICT
                    - NONE
                  description: "Used to select the [safety instruction](/docs/safety-modes) inserted into the prompt. Defaults to `CONTEXTUAL`.\nWhen `NONE` is specified, the safety instruction will be omitted.\n\nSafety modes are not yet configurable in combination with `tools`, `tool_results` and `documents` parameters.\n\n**Note**: This parameter is only compatible with models [Command R 08-2024](/docs/command-r#august-2024-release), [Command R+ 08-2024](/docs/command-r-plus#august-2024-release) and newer.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"
                  x-fern-audiences:
                    - public
                  x-fern-availability: beta
              x-fern-audiences:
                - public
              x-examples:
                Chat:
                  value:
                    message: Can you give me a global market overview of solar panels?
                    temperature: 0.3
                    stream: false
                    chat_history:
                      - role: User
                        message: Hi!
                      - role: Chatbot
                        message: How can I help you today?
                    prompt_truncation: OFF
                Chat with web search:
                  value:
                    message: Can you give me a global market overview of solar panels?
                    temperature: 0.3
                    stream: false
                    chat_history: [ ]
                    connectors:
                      - id: web-search
                    prompt_truncation: AUTO
                Chat with connector:
                  value:
                    message: How do I expense a meal?
                    stream: false
                    connectors:
                      - id: custom-connector-id
                    prompt_truncation: AUTO
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/NonStreamedChatResponse'
                  - $ref: '#/components/schemas/StreamedChatResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimit'
        '498':
          $ref: '#/components/responses/InvalidToken'
        '499':
          $ref: '#/components/responses/RequestCancelled'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      x-fern-audiences:
        - public
      x-fern-streaming:
        stream-condition: $request.stream
        response:
          required:
            - text
          x-fern-type-name: NonStreamedChatResponse
          properties:
            text:
              type: string
              x-fern-audiences:
                - public
              minLength: 1
              description: Contents of the reply generated by the model.
            generation_id:
              type: string
              x-fern-audiences:
                - public
              format: uuid
              description: Unique identifier for the generated reply. Useful for submitting feedback.
            citations:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Inline citations for the generated reply.
              items:
                $ref: '#/components/schemas/ChatCitation'
            documents:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Documents seen by the model when generating the reply.
              items:
                $ref: '#/components/schemas/ChatDocument'
            is_search_required:
              type: boolean
              x-fern-audiences:
                - public
              description: Denotes that a search for documents is required during the RAG flow.
            search_queries:
              type: array
              x-fern-audiences:
                - public
              description: 'Generated search queries, meant to be used as part of the RAG flow.'
              items:
                $ref: '#/components/schemas/ChatSearchQuery'
            search_results:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Documents retrieved from each of the conducted searches.
              items:
                $ref: '#/components/schemas/ChatSearchResult'
            finish_reason:
              x-fern-audiences:
                - public
              $ref: '#/components/schemas/FinishReason'
            tool_calls:
              x-fern-audiences:
                - public
              type: array
              items:
                $ref: '#/components/schemas/ToolCall'
            chat_history:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              items:
                $ref: '#/components/schemas/Message'
              description: "A list of previous messages between the user and the model, meant to give the model conversational context for responding to the user's `message`.\n"
            meta:
              $ref: '#/components/schemas/ApiMeta'
              x-fern-audiences:
                - public
        response-stream:
          description: StreamedChatResponse is returned in streaming mode (specified with `stream=True` in the request).
          x-fern-type-name: StreamedChatResponse
          oneOf:
            - $ref: '#/components/schemas/ChatStreamStartEvent'
            - $ref: '#/components/schemas/ChatSearchQueriesGenerationEvent'
            - $ref: '#/components/schemas/ChatSearchResultsEvent'
            - $ref: '#/components/schemas/ChatTextGenerationEvent'
            - $ref: '#/components/schemas/ChatCitationGenerationEvent'
            - $ref: '#/components/schemas/ChatToolCallsGenerationEvent'
            - $ref: '#/components/schemas/ChatStreamEndEvent'
            - $ref: '#/components/schemas/ChatToolCallsChunkEvent'
      x-fern-examples:
        - code-samples:
            - sdk: go
              name: Default
              code: "package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Chat(\n\t\tcontext.TODO(),\n\t\t&cohere.ChatRequest{\n\t\t\tChatHistory: []*cohere.Message{\n\t\t\t\t{\n\t\t\t\t\tRole: \"USER\",\n\t\t\t\t\tUser: &cohere.ChatMessage{\n\t\t\t\t\t\tMessage: \"Who discovered gravity?\",\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tRole: \"CHATBOT\",\n\t\t\t\t\tChatbot: &cohere.ChatMessage{\n\t\t\t\t\t\tMessage: \"The man who is widely credited with discovering gravity is Sir Isaac Newton\",\n\t\t\t\t\t},\n\t\t\t\t}},\n\t\t\tMessage: \"What year was he born?\",\n\t\t\tConnectors: []*cohere.ChatConnector{\n\t\t\t\t{Id: \"web-search\"},\n\t\t\t},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"
            - sdk: typescript
              name: Default
              code: "const { CohereClient } = require('cohere-ai');\n\nconst cohere = new CohereClient({\n  token: '<<apiKey>>',\n});\n\n(async () => {\n  const response = await cohere.chat({\n    chatHistory: [\n      { role: 'USER', message: 'Who discovered gravity?' },\n      {\n        role: 'CHATBOT',\n        message: 'The man who is widely credited with discovering gravity is Sir Isaac Newton',\n      },\n    ],\n    message: 'What year was he born?',\n    // perform web search before answering the question. You can also use your own custom connector.\n    connectors: [{ id: 'web-search' }],\n  });\n\n  console.log(response);\n})();\n"
            - sdk: java
              name: Default
              code: "/* (C)2024 */\npackage chatpost;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.requests.ChatRequest;\nimport com.cohere.api.types.ChatMessage;\nimport com.cohere.api.types.ChatMessageRole;\nimport com.cohere.api.types.NonStreamedChatResponse;\nimport java.util.List;\n\npublic class Default {\n    public static void main(String[] args) {\n        Cohere cohere = Cohere.builder().token(\"<<apiKey>>\").clientName(\"snippet\").build();\n\n        NonStreamedChatResponse response =\n                cohere.chat(\n                        ChatRequest.builder()\n                                .message(\"What year was he born?\")\n                                .chatHistory(\n                                        List.of(\n                                                ChatMessage.builder()\n                                                        .role(ChatMessageRole.USER)\n                                                        .message(\"Who discovered gravity?\")\n                                                        .build(),\n                                                ChatMessage.builder()\n                                                        .role(ChatMessageRole.CHATBOT)\n                                                        .message(\n                                                                \"The man who is widely credited\"\n                                                                    + \" with discovering gravity is\"\n                                                                    + \" Sir Isaac Newton\")\n                                                        .build()))\n                                .build());\n\n        System.out.println(response);\n    }\n}\n"
            - sdk: python
              name: Sync
              code: "import cohere\n\nco = cohere.Client(\"<<apiKey>>\")\n\nresponse = co.chat(\n    chat_history=[\n        {\"role\": \"USER\", \"message\": \"Who discovered gravity?\"},\n        {\n            \"role\": \"CHATBOT\",\n            \"message\": \"The man who is widely credited with discovering gravity is Sir Isaac Newton\",\n        },\n    ],\n    message=\"What year was he born?\",\n    # perform web search before answering the question. You can also use your own custom connector.\n    connectors=[{\"id\": \"web-search\"}],\n)\n\nprint(response)\n"
            - sdk: python
              name: Async
              code: "import cohere\nimport asyncio\n\nco = cohere.AsyncClient(\"<<apiKey>>\")\n\n\nasync def main():\n    return await co.chat(\n        chat_history=[\n            {\"role\": \"USER\", \"message\": \"Who discovered gravity?\"},\n            {\n                \"role\": \"CHATBOT\",\n                \"message\": \"The man who is widely credited with discovering gravity is Sir Isaac Newton\",\n            },\n        ],\n        message=\"What year was he born?\",\n        # perform web search before answering the question. You can also use your own custom connector.\n        connectors=[{\"id\": \"web-search\"}],\n    )\n\nasyncio.run(main())\n"
            - sdk: curl
              name: Default
              code: "curl --request POST \\\n  --url https://api.cohere.com/v1/chat \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"chat_history\": [\n      {\n        \"role\": \"USER\",\n        \"message\": \"Who discovered gravity?\"\n      },\n      {\n        \"role\": \"CHATBOT\",\n        \"message\": \"The man who is widely credited with discovering gravity is Sir Isaac Newton\"\n      }\n    ],\n    \"message\": \"What year was he born?\",\n    \"connectors\": [\n      {\n        \"id\": \"web-search\"\n      }\n    ]\n  }'"
          request:
            chat_history:
              - role: USER
                message: Who discovered gravity?
              - role: CHATBOT
                message: The man who is widely credited with discovering gravity is Sir Isaac Newton
            message: What year was he born?
            connectors:
              - id: web-search
            stream: false
          response:
            body:
              text: Isaac Newton was born on 25 December 1642 (Old Style) or 4 January 1643 (New Style).
              generation_id: 0385c7cf-4247-43a3-a450-b25b547a31e1
              chat_history:
                - role: USER
                  message: Who discovered gravity?
                - role: CHATBOT
                  message: The man who is widely credited with discovering gravity is Sir Isaac Newton
                - role: USER
                  message: What year was he born?
                - role: CHATBOT
                  message: Isaac Newton was born on 25 December 1642 (Old Style) or 4 January 1643 (New Style).
              finish_reason: COMPLETE
              meta:
                api_version:
                  version: '1'
                billed_units:
                  input_tokens: 31738
                  output_tokens: 35
                tokens:
                  input_tokens: 32465
                  output_tokens: 205
              citations:
                - start: 25
                  end: 41
                  text: '1642-12-25T00:00:00.0000000+00:00'
                  document_ids:
                    - web-search_0
                    - web-search_1
                    - web-search_2
                    - web-search_3
                    - web-search_4
                    - web-search_5
                - start: 42
                  end: 53
                  text: (Old Style)
                  document_ids:
                    - web-search_0
                    - web-search_1
                    - web-search_4
                    - web-search_5
                - start: 57
                  end: 71
                  text: '1643-01-04T00:00:00.0000000+00:00'
                  document_ids:
                    - web-search_0
                    - web-search_1
                    - web-search_3
                    - web-search_4
                    - web-search_5
                - start: 72
                  end: 83
                  text: (New Style)
                  document_ids:
                    - web-search_0
                    - web-search_1
                    - web-search_4
                    - web-search_5
              documents:
                - id: web-search_0
                  snippet: "New Articles History & Society\n\nLifestyles & Social Issues\n\nPhilosophy & Religion\n\nPolitics, Law & Government\n\nWorld History Science & Tech\n\nTechnology Biographies\n\nBrowse Biographies Animals & Nature\n\nBirds, Reptiles & Other Vertebrates\n\nBugs, Mollusks & Other Invertebrates\n\nFossils & Geologic Time\n\nPlants Geography & Travel\n\nGeography & Travel Arts & Culture\n\nEntertainment & Pop Culture\n\nAsk the Chatbot Games & Quizzes History & Society Science & Tech Biographies Animals & Nature Geography & Travel Arts & Culture Money Videos\n\nIntroduction & Top Questions\n\nFormative influences\n\nInfluence of the Scientific Revolution\n\nWork during the plague years\n\nInaugural lectures at Trinity\n\nInfluence of the Hermetic tradition\n\nUniversal gravitation\n\nInternational prominence\n\nInterest in religion and theology\n\nLeader of English science\n\nFinal years Quotes References & Edit History Quick Facts & Related Topics\n\nIsaac Newton Timeline\n\nIsaac Newton’s Achievements\n\nUnderstanding Newton’s Laws of Motion\n\nNumbers and Mathematics\n\nPhysics and Natural Law\n\nWhat is Isaac Newton most famous for?\n\nHow was Isaac Newton educated?\n\nWhat was Isaac Newton’s childhood like?\n\nWhat is the Scientific Revolution?\n\nHow is the Scientific Revolution connected to the Enlightenment?\n\nGravity: From Apples to the Universe\n\nTelescopes: Seeing Stars\n\nUnusual Counting Systems\n\nWhat's the Difference Between Speed and Velocity?\n\nIs Zero an Even or an Odd Number?\n\nThe 10 Greatest Basketball Players of All Time\n\nWhat Is a Modern Pentathlon?\n\nWhich Religion Is the Oldest?\n\nWhat's the Difference Between a Solstice and an Equinox?\n\nNew Seven Wonders of the World\n\nIs It True That Squirrels Forget Where They Bury About Half of Their Food?\n\nAmerica’s 5 Most Notorious Cold Cases (Including One You May Have Thought Was Already Solved)\n\nIsaac Newton, oil painting by Sir Godfrey Kneller, 1702; in the National Portrait Gallery, London. Newton's discoveries in physics and mathematics revolutionized science.(more)\n\nEnglish physicist and mathematician\n\nWhile every effort has been made to follow citation style rules, there may be some discrepancies. Please refer to the appropriate style manual or other sources if you have any questions.\n\nSelect Citation Style\n\nChicago Manual of Style\n\nShare to social media\n\nURL https://www.britannica.com/biography/Isaac-Newton\n\nThank you for your feedback\n\nOur editors will review what you’ve submitted and determine whether to revise the article.\n\nIsaac Newton Institute of Mathematical Sciences - Who was Isaac Newton?\n\nScience Kids - Fun Science and Technology for Kids - Biography of Isaac Newton\n\nTrinity College Dublin - School of mathematics - Biography of Sir Isaac Newton\n\nWorld History Encyclopedia - Isaac Newton\n\nStanford Encyclopedia of Philosophy - Biography of Isaac Newton\n\nUniversity of British Columbia - Physics and Astronomy Department - The Life and Work of Newton\n\nLiveScience - Biography of Isaac Newton\n\nPhysics LibreTexts - Newton's Laws of Motion\n\nArticles from Britannica Encyclopedias for elementary and high school students.\n\nIsaac Newton - Children's Encyclopedia (Ages 8-11)\n\nIsaac Newton - Student Encyclopedia (Ages 11 and up)\n\nPlease select which sections you would like to print:\n\nWhile every effort has been made to follow citation style rules, there may be some discrepancies. Please refer to the appropriate style manual or other sources if you have any questions.\n\nSelect Citation Style\n\nChicago Manual of Style\n\nShare to social media\n\nURL https://www.britannica.com/biography/Isaac-Newton Feedback\n\nThank you for your feedback\n\nOur editors will review what you’ve submitted and determine whether to revise the article.\n\nIsaac Newton Institute of Mathematical Sciences - Who was Isaac Newton?\n\nScience Kids - Fun Science and Technology for Kids - Biography of Isaac Newton\n\nTrinity College Dublin - School of mathematics - Biography of Sir Isaac Newton\n\nWorld History Encyclopedia - Isaac Newton\n\nStanford Encyclopedia of Philosophy - Biography of Isaac Newton\n\nUniversity of British Columbia - Physics and Astronomy Department - The Life and Work of Newton\n\nLiveScience - Biography of Isaac Newton\n\nPhysics LibreTexts - Newton's Laws of Motion\n\nArticles from Britannica Encyclopedias for elementary and high school students.\n\nIsaac Newton - Children's Encyclopedia (Ages 8-11)\n\nIsaac Newton - Student Encyclopedia (Ages 11 and up)\n\nAlso known as: Sir Isaac Newton\n\nProfessor of History of Science, Indiana University, Bloomington, 1963–89. Author of Never at Rest: A Biography of Isaac Newton and others.\n\nThe Editors of Encyclopaedia Britannica\n\nEncyclopaedia Britannica's editors oversee subject areas in which they have extensive knowledge, whether from years of experience gained by working on that content or via study for an advanced degree. They write new content and verify and edit content received from contributors.\n\nThe Editors of Encyclopaedia Britannica\n\nLast Updated: Jul 23, 2024 • Article History Table of Contents\n\nSir Isaac Newton (Show more)\n\nDecember 25, 1642 [January 4, 1643, New Style], Woolsthorpe, Lincolnshire, England (Show more)\n\nMarch 20 [March 31], 1727, London (aged 84) (Show more)\n\n“The Method of Fluxions and Infinite Series” (Show more)\n\nNewton’s laws of motion\n\nwhite light (Show more)\n\nScientific Revolution (Show more)\n\nIsaac Newton Institute of Mathematical Sciences - Who was Isaac Newton? (July 23, 2024) (Show more)\n\nSee all related content →\n\nWhat is Isaac Newton most famous for?\n\nAlthough Isaac Newton is well known for his discoveries in optics (white light composition) and mathematics (calculus), it is his formulation of the three laws of motion—the basic principles of modern physics—for which he is most famous. His formulation of the laws of motion resulted in the law of universal gravitation.\n\nHow was Isaac Newton educated?\n\nAfter interrupted attendance at the grammar school in Grantham, Lincolnshire, England, Isaac Newton finally settled down to prepare for university, going on to Trinity College, Cambridge, in 1661, somewhat older than his classmates. There he immersed himself in Aristotle’s work and discovered the works of René Descartes before graduating in 1665 with a bachelor’s degree.\n\nWhat was Isaac Newton’s childhood like?\n\nIsaac Newton was born to a widowed mother (his father died three months prior) and was not expected to survive, being tiny and weak. Shortly thereafter Newton was sent by his stepfather, the well-to-do minister Barnabas Smith, to live with his grandmother and was separated from his mother until Smith’s death in 1653.\n\nWhat did Isaac Newton write?\n\nIsaac Newton is widely known for his published work Philosophiae Naturalis Principia Mathematica (1687), commonly known as the Principia. His laws of motion first appeared in this work. It is one of the most important single works in the history of modern science.\n\nConsider how Isaac Newton's discovery of gravity led to a better understanding of planetary motion\n\nIsaac Newton's formulation of the law of universal gravitation.(more)See all videos for this article\n\nIsaac Newton (born December 25, 1642 [January 4, 1643, New Style], Woolsthorpe, Lincolnshire, England—died March 20 [March 31], 1727, London) was an English physicist and mathematician who was the culminating figure of the Scientific Revolution of the 17th century. In optics, his discovery of the composition of white light integrated the phenomena of colours into the science of light and laid the foundation for modern physical optics. In mechanics, his three laws of motion, the basic principles of modern physics, resulted in the formulation of the law of universal gravitation. In mathematics, he was the original discoverer of the infinitesimal calculus. Newton’s Philosophiae Naturalis Principia Mathematica (Mathematical Principles of Natural Philosophy, 1687) was one of the most important single works in the history of modern science.\n\nFormative influences\n\nBorn in the hamlet of Woolsthorpe, Newton was the only son of a local yeoman, also Isaac Newton, who had died three months before, and of Hannah Ayscough. That same year, at Arcetri near Florence, Galileo Galilei had died; Newton would eventually pick up his idea of a mathematical science of motion and bring his work to full fruition. A tiny and weak baby, Newton was not expected to survive his first day of life, much less 84 years. Deprived of a father before birth, he soon lost his mother as well, for within two years she married a second time; her husband, the well-to-do minister Barnabas Smith, left young Isaac with his grandmother and moved to a neighbouring village to raise a son and two daughters. For nine years, until the death of Barnabas Smith in 1653, Isaac was effectively separated from his mother, and his pronounced psychotic tendencies have been ascribed to this traumatic event. That he hated his stepfather we may be sure. When he examined the state of his soul in 1662 and compiled a catalog of sins in shorthand, he remembered “Threatning my father and mother Smith to burne them and the house over them.” The acute sense of insecurity that rendered him obsessively anxious when his work was published and irrationally violent when he defended it accompanied Newton throughout his life and can plausibly be traced to his early years.\n\nAfter his mother was widowed a second time, she determined that her first-born son should manage her now considerable property. It quickly became apparent, however, that this would be a disaster, both for the estate and for Newton. He could not bring himself to concentrate on rural affairs—set to watch the cattle, he would curl up under a tree with a book. Fortunately, the mistake was recognized, and Newton was sent back to the grammar school in Grantham, where he had already studied, to prepare for the university. As with many of the leading scientists of the age, he left behind in Grantham anecdotes about his mechanical ability and his skill in building models of machines, such as clocks and windmills. At the school he apparently gained a firm command of Latin but probably received no more than a smattering of arithmetic. By June 1661 he was ready to matriculate at Trinity College, Cambridge, somewhat older than the other undergraduates because of his interrupted education.\n\nInfluence of the Scientific Revolution\n\nWhen Newton arrived in Cambridge in 1661, the movement now known as the Scientific Revolution was well advanced, and many of the works basic to modern science had appeared. Astronomers from Nicolaus Copernicus to Johannes Kepler had elaborated the heliocentric system of the universe. Galileo had proposed the foundations of a new mechanics built on the principle of inertia. Led by René Descartes, philosophers had begun to formulate a new conception of nature as an intricate, impersonal, and inert machine. Yet as far as the universities of Europe, including Cambridge, were concerned, all this might well have never happened. They continued to be the strongholds of outmoded Aristotelianism, which rested on a geocentric view of the universe and dealt with nature in qualitative rather than quantitative terms.\n\nPhysics and Natural Law\n\nLike thousands of other undergraduates, Newton began his higher education by immersing himself in Aristotle’s work. Even though the new philosophy was not in the curriculum, it was in the air. Some time during his undergraduate career, Newton discovered the works of the French natural philosopher Descartes and the other mechanical philosophers, who, in contrast to Aristotle, viewed physical reality as composed entirely of particles of matter in motion and who held that all the phenomena of nature result from their mechanical interaction. A new set of notes, which he entitled “Quaestiones Quaedam Philosophicae” (“Certain Philosophical Questions”), begun sometime in 1664, usurped the unused pages of a notebook intended for traditional scholastic exercises; under the title he entered the slogan “Amicus Plato amicus Aristoteles magis amica veritas” (“Plato is my friend, Aristotle is my friend, but my best friend is truth”). Newton’s scientific career had begun.\n\nThe “Quaestiones” reveal that Newton had discovered the new conception of nature that provided the framework of the Scientific Revolution. He had thoroughly mastered the works of Descartes and had also discovered that the French philosopher Pierre Gassendi had revived atomism, an alternative mechanical system to explain nature. The “Quaestiones” also reveal that Newton already was inclined to find the latter a more attractive philosophy than Cartesian natural philosophy, which rejected the existence of ultimate indivisible particles. The works of the 17th-century chemist Robert Boyle provided the foundation for Newton’s considerable work in chemistry. Significantly, he had read Henry More, the Cambridge Platonist, and was thereby introduced to another intellectual world, the magical Hermetic tradition, which sought to explain natural phenomena in terms of alchemical and magical concepts. The two traditions of natural philosophy, the mechanical and the Hermetic, antithetical though they appear, continued to influence his thought and in their tension supplied the fundamental theme of his scientific career.\n\nAre you a student? Get a special academic rate on Britannica Premium. Learn More\n\nAlthough he did not record it in the “Quaestiones,” Newton had also begun his mathematical studies. He again started with Descartes, from whose La Géometrie he branched out into the other literature of modern analysis with its application of algebraic techniques to problems of geometry. He then reached back for the support of classical geometry. Within little more than a year, he had mastered the literature; and, pursuing his own line of analysis, he began to move into new territory. He discovered the binomial theorem, and he developed the calculus, a more powerful form of analysis that employs infinitesimal considerations in finding the slopes of curves and areas under curves.\n\nBy 1669 Newton was ready to write a tract summarizing his progress, De Analysi per Aequationes Numeri Terminorum Infinitas (“On Analysis by Infinite Series”), which circulated in manuscript through a limited circle and made his name known. During the next two years he revised it as De methodis serierum et fluxionum (“On the Methods of Series and Fluxions”). The word fluxions, Newton’s private rubric, indicates that the calculus had been born. Despite the fact that only a handful of savants were even aware of Newton’s existence, he had arrived at the point where he had become the leading mathematician in Europe.\n\nWork during the plague years\n\nWho created the color wheel?\n\nFor millennia, many believed Aristotle's theory that all colors were a mixture of black and white. How did we learn otherwise?(more)See all videos for this article\n\nWhen Newton received the bachelor’s degree in April 1665, the most remarkable undergraduate career in the history of university education had passed unrecognized. On his own, without formal guidance, he had sought out the new philosophy and the new mathematics and made them his own, but he had confined the progress of his studies to his notebooks. Then, in 1665, the plague closed the university, and for most of the following two years he was forced to stay at his home, contemplating at leisure what he had learned. During the plague years Newton laid the foundations of the calculus and extended an earlier insight into an essay, “Of Colours,” which contains most of the ideas elaborated in his Opticks. It was during this time that he examined the elements of circular motion and, applying his analysis to the Moon and the planets, derived the inverse square relation that the radially directed force acting on a planet decreases with the square of its distance from the Sun—which was later crucial to the law of universal gravitation. The world heard nothing of these discoveries."
                  timestamp: '2024-08-15T20:57:35.0000000+00:00'
                  title: 'Isaac Newton | Biography, Facts, Discoveries, Laws, & Inventions | Britannica'
                  url: https://www.britannica.com/biography/Isaac-Newton
                - id: web-search_1
                  snippet: "Sir Isaac Newton FRS (25 December 1642 – 20 March 1726/27) was an English polymath active as a mathematician, physicist, astronomer, alchemist, theologian, and author who was described in his time as a natural philosopher. He was a key figure in the Scientific Revolution and the Enlightenment that followed. His pioneering book Philosophiæ Naturalis Principia Mathematica (Mathematical Principles of Natural Philosophy), first published in 1687, consolidated many previous results and established classical mechanics. Newton also made seminal contributions to optics, and shares credit with German mathematician Gottfried Wilhelm Leibniz for formulating infinitesimal calculus, though he developed calculus years before Leibniz.\n\nIn the Principia, Newton formulated the laws of motion and universal gravitation that formed the dominant scientific viewpoint for centuries until it was superseded by the theory of relativity. He used his mathematical description of gravity to derive Kepler's laws of planetary motion, account for tides, the trajectories of comets, the precession of the equinoxes and other phenomena, eradicating doubt about the Solar System's heliocentricity. He demonstrated that the motion of objects on Earth and celestial bodies could be accounted for by the same principles. Newton's inference that the Earth is an oblate spheroid was later confirmed by the geodetic measurements of Maupertuis, La Condamine, and others, convincing most European scientists of the superiority of Newtonian mechanics over earlier systems.\n\nHe built the first practical reflecting telescope and developed a sophisticated theory of colour based on the observation that a prism separates white light into the colours of the visible spectrum. His work on light was collected in his highly influential book Opticks, published in 1704. He formulated an empirical law of cooling, which was the first heat transfer formulation, made the first theoretical calculation of the speed of sound, and introduced the notion of a Newtonian fluid. Furthermore, he made early investigations into electricity, with an idea from his book Opticks arguably the beginning of the field theory of the electric force. In addition to his work on calculus, as a mathematician, he contributed to the study of power series, generalised the binomial theorem to non-integer exponents, developed a method for approximating the roots of a function, and classified most of the cubic plane curves.\n\nNewton was a fellow of Trinity College and the second Lucasian Professor of Mathematics at the University of Cambridge. He was a devout but unorthodox Christian who privately rejected the doctrine of the Trinity. He refused to take holy orders in the Church of England, unlike most members of the Cambridge faculty of the day. Beyond his work on the mathematical sciences, Newton dedicated much of his time to the study of alchemy and biblical chronology, but most of his work in those areas remained unpublished until long after his death. Politically and personally tied to the Whig party, Newton served two brief terms as Member of Parliament for the University of Cambridge, in 1689–1690 and 1701–1702. He was knighted by Queen Anne in 1705 and spent the last three decades of his life in London, serving as Warden (1696–1699) and Master (1699–1727) of the Royal Mint, as well as president of the Royal Society (1703–1727).\n\nIsaac Newton was born (according to the Julian calendar in use in England at the time) on Christmas Day, 25 December 1642 (NS 4 January 1643) at Woolsthorpe Manor in Woolsthorpe-by-Colsterworth, a hamlet in the county of Lincolnshire. His father, also named Isaac Newton, had died three months before. Born prematurely, Newton was a small child; his mother Hannah Ayscough reportedly said that he could have fit inside a quart mug. When Newton was three, his mother remarried and went to live with her new husband, the Reverend Barnabas Smith, leaving her son in the care of his maternal grandmother, Margery Ayscough (née Blythe). Newton disliked his stepfather and maintained some enmity towards his mother for marrying him, as revealed by this entry in a list of sins committed up to the age of 19: \"Threatening my father and mother Smith to burn them and the house over them.\" Newton's mother had three children (Mary, Benjamin, and Hannah) from her second marriage.\n\nFrom the age of about twelve until he was seventeen, Newton was educated at The King's School in Grantham, which taught Latin and Ancient Greek and probably imparted a significant foundation of mathematics. He was removed from school by his mother and returned to Woolsthorpe-by-Colsterworth by October 1659. His mother, widowed for the second time, attempted to make him a farmer, an occupation he hated. Henry Stokes, master at The King's School, persuaded his mother to send him back to school. Motivated partly by a desire for revenge against a schoolyard bully, he became the top-ranked student, distinguishing himself mainly by building sundials and models of windmills.\n\nUniversity of Cambridge\n\nIn June 1661, Newton was admitted to Trinity College at the University of Cambridge. His uncle the Reverend William Ayscough, who had studied at Cambridge, recommended him to the university. At Cambridge, Newton started as a subsizar, paying his way by performing valet duties until he was awarded a scholarship in 1664, which covered his university costs for four more years until the completion of his MA. At the time, Cambridge's teachings were based on those of Aristotle, whom Newton read along with then more modern philosophers, including Descartes and astronomers such as Galileo Galilei and Thomas Street. He set down in his notebook a series of \"Quaestiones\" about mechanical philosophy as he found it. In 1665, he discovered the generalised binomial theorem and began to develop a mathematical theory that later became calculus. Soon after Newton obtained his BA degree at Cambridge in August 1665, the university temporarily closed as a precaution against the Great Plague.\n\nAlthough he had been undistinguished as a Cambridge student, Newton's private studies at his home in Woolsthorpe over the next two years saw the development of his theories on calculus, optics, and the law of gravitation.\n\nIn April 1667, Newton returned to the University of Cambridge, and in October he was elected as a fellow of Trinity. Fellows were required to take holy orders and be ordained as Anglican priests, although this was not enforced in the Restoration years, and an assertion of conformity to the Church of England was sufficient. He made the commitment that \"I will either set Theology as the object of my studies and will take holy orders when the time prescribed by these statutes [7 years] arrives, or I will resign from the college.\" Up until this point he had not thought much about religion and had twice signed his agreement to the Thirty-nine Articles, the basis of Church of England doctrine. By 1675 the issue could not be avoided, and by then his unconventional views stood in the way.\n\nHis academic work impressed the Lucasian professor Isaac Barrow, who was anxious to develop his own religious and administrative potential (he became master of Trinity College two years later); in 1669, Newton succeeded him, only one year after receiving his MA. The terms of the Lucasian professorship required that the holder not be active in the church – presumably to leave more time for science. Newton argued that this should exempt him from the ordination requirement, and King Charles II, whose permission was needed, accepted this argument; thus, a conflict between Newton's religious views and Anglican orthodoxy was averted.\n\nThe Lucasian Professor of Mathematics at Cambridge position included the responsibility of instructing geography. In 1672, and again in 1681, Newton published a revised, corrected, and amended edition of the Geographia Generalis, a geography textbook first published in 1650 by the then-deceased Bernhardus Varenius. In the Geographia Generalis, Varenius attempted to create a theoretical foundation linking scientific principles to classical concepts in geography, and considered geography to be a mix between science and pure mathematics applied to quantifying features of the Earth. While it is unclear if Newton ever lectured in geography, the 1733 Dugdale and Shaw English translation of the book stated Newton published the book to be read by students while he lectured on the subject. The Geographia Generalis is viewed by some as the dividing line between ancient and modern traditions in the history of geography, and Newton's involvement in the subsequent editions is thought to be a large part of the reason for this enduring legacy.\n\nNewton was elected a Fellow of the Royal Society (FRS) in 1672.\n\nNewton's work has been said \"to distinctly advance every branch of mathematics then studied\". His work on the subject, usually referred to as fluxions or calculus, seen in a manuscript of October 1666, is now published among Newton's mathematical papers. His work De analysi per aequationes numero terminorum infinitas, sent by Isaac Barrow to John Collins in June 1669, was identified by Barrow in a letter sent to Collins that August as the work \"of an extraordinary genius and proficiency in these things\". Newton later became involved in a dispute with Leibniz over priority in the development of calculus. Most modern historians believe that Newton and Leibniz developed calculus independently, although with very different mathematical notations. However, it is established that Newton came to develop calculus much earlier than Leibniz. Leibniz's notation and \"differential Method\", nowadays recognised as much more convenient notations, were adopted by continental European mathematicians, and after 1820 or so, also by British mathematicians.\n\nHis work extensively uses calculus in geometric form based on limiting values of the ratios of vanishingly small quantities: in the Principia itself, Newton gave demonstration of this under the name of \"the method of first and last ratios\" and explained why he put his expositions in this form, remarking also that \"hereby the same thing is performed as by the method of indivisibles.\" Because of this, the Principia has been called \"a book dense with the theory and application of the infinitesimal calculus\" in modern times and in Newton's time \"nearly all of it is of this calculus.\" His use of methods involving \"one or more orders of the infinitesimally small\" is present in his De motu corporum in gyrum of 1684 and in his papers on motion \"during the two decades preceding 1684\".\n\nNewton had been reluctant to publish his calculus because he feared controversy and criticism. He was close to the Swiss mathematician Nicolas Fatio de Duillier. In 1691, Duillier started to write a new version of Newton's Principia, and corresponded with Leibniz. In 1693, the relationship between Duillier and Newton deteriorated and the book was never completed. Starting in 1699, other members of the Royal Society accused Leibniz of plagiarism. The dispute then broke out in full force in 1711 when the Royal Society proclaimed in a study that it was Newton who was the true discoverer and labelled Leibniz a fraud; it was later found that Newton wrote the study's concluding remarks on Leibniz. Thus began the bitter controversy which marred the lives of both Newton and Leibniz until the latter's death in 1716.\n\nNewton is generally credited with the generalised binomial theorem, valid for any exponent. He discovered Newton's identities, Newton's method, classified cubic plane curves (polynomials of degree three in two variables), made substantial contributions to the theory of finite differences, and was the first to use fractional indices and to employ coordinate geometry to derive solutions to Diophantine equations. He approximated partial sums of the harmonic series by logarithms (a precursor to Euler's summation formula) and was the first to use power series with confidence and to revert power series. Newton's work on infinite series was inspired by Simon Stevin's decimals.\n\nIn 1666, Newton observed that the spectrum of colours exiting a prism in the position of minimum deviation is oblong, even when the light ray entering the prism is circular, which is to say, the prism refracts different colours by different angles. This led him to conclude that colour is a property intrinsic to light – a point which had, until then, been a matter of debate.\n\nFrom 1670 to 1672, Newton lectured on optics. During this period he investigated the refraction of light, demonstrating that the multicoloured image produced by a prism, which he named a spectrum, could be recomposed into white light by a lens and a second prism. Modern scholarship has revealed that Newton's analysis and resynthesis of white light owes a debt to corpuscular alchemy.\n\nHe showed that coloured light does not change its properties by separating out a coloured beam and shining it on various objects, and that regardless of whether reflected, scattered, or transmitted, the light remains the same colour. Thus, he observed that colour is the result of objects interacting with already-coloured light rather than objects generating the colour themselves. This is known as Newton's theory of colour.\n\nFrom this work, he concluded that the lens of any refracting telescope would suffer from the dispersion of light into colours (chromatic aberration). As a proof of the concept, he constructed a telescope using reflective mirrors instead of lenses as the objective to bypass that problem. Building the design, the first known functional reflecting telescope, today known as a Newtonian telescope, involved solving the problem of a suitable mirror material and shaping technique. Newton ground his own mirrors out of a custom composition of highly reflective speculum metal, using Newton's rings to judge the quality of the optics for his telescopes. In late 1668, he was able to produce this first reflecting telescope. It was about eight inches long and it gave a clearer and larger image. In 1671, the Royal Society asked for a demonstration of his reflecting telescope. Their interest encouraged him to publish his notes, Of Colours, which he later expanded into the work Opticks. When Robert Hooke criticised some of Newton's ideas, Newton was so offended that he withdrew from public debate. Newton and Hooke had brief exchanges in 1679–80, when Hooke, appointed to manage the Royal Society's correspondence, opened up a correspondence intended to elicit contributions from Newton to Royal Society transactions, which had the effect of stimulating Newton to work out a proof that the elliptical form of planetary orbits would result from a centripetal force inversely proportional to the square of the radius vector. But the two men remained generally on poor terms until Hooke's death.\n\nNewton argued that light is composed of particles or corpuscles, which were refracted by accelerating into a denser medium. He verged on soundlike waves to explain the repeated pattern of reflection and transmission by thin films (Opticks Bk. II, Props. 12), but still retained his theory of 'fits' that disposed corpuscles to be reflected or transmitted (Props.13). However, later physicists favoured a purely wavelike explanation of light to account for the interference patterns and the general phenomenon of diffraction. Today's quantum mechanics, photons, and the idea of wave–particle duality bear only a minor resemblance to Newton's understanding of light.\n\nIn his Hypothesis of Light of 1675, Newton posited the existence of the ether to transmit forces between particles. The contact with the Cambridge Platonist philosopher Henry More revived his interest in alchemy. He replaced the ether with occult forces based on Hermetic ideas of attraction and repulsion between particles. John Maynard Keynes, who acquired many of Newton's writings on alchemy, stated that \"Newton was not the first of the age of reason: He was the last of the magicians.\" Newton's contributions to science cannot be isolated from his interest in alchemy. This was at a time when there was no clear distinction between alchemy and science.\n\nIn 1704, Newton published Opticks, in which he expounded his corpuscular theory of light. He considered light to be made up of extremely subtle corpuscles, that ordinary matter was made of grosser corpuscles and speculated that through a kind of alchemical transmutation \"Are not gross Bodies and Light convertible into one another, ... and may not Bodies receive much of their Activity from the Particles of Light which enter their Composition?\" Newton also constructed a primitive form of a frictional electrostatic generator, using a glass globe.\n\nIn his book Opticks, Newton was the first to show a diagram using a prism as a beam expander, and also the use of multiple-prism arrays. Some 278 years after Newton's discussion, multiple-prism beam expanders became central to the development of narrow-linewidth tunable lasers. Also, the use of these prismatic beam expanders led to the multiple-prism dispersion theory.\n\nSubsequent to Newton, much has been amended. Young and Fresnel discarded Newton's particle theory in favour of Huygens' wave theory to show that colour is the visible manifestation of light's wavelength. Science also slowly came to realise the difference between perception of colour and mathematisable optics. The German poet and scientist, Goethe, could not shake the Newtonian foundation but \"one hole Goethe did find in Newton's armour, ... Newton had committed himself to the doctrine that refraction without colour was impossible. He, therefore, thought that the object-glasses of telescopes must forever remain imperfect, achromatism and refraction being incompatible. This inference was proved by Dollond to be wrong.\"\n\nNewton had been developing his theory of gravitation as far back as 1665. In 1679, Newton returned to his work on celestial mechanics by considering gravitation and its effect on the orbits of planets with reference to Kepler's laws of planetary motion. This followed stimulation by a brief exchange of letters in 1679–80 with Hooke, who had been appointed Secretary of the Royal Society, and who opened a correspondence intended to elicit contributions from Newton to Royal Society transactions. Newton's reawakening interest in astronomical matters received further stimulus by the appearance of a comet in the winter of 1680–1681, on which he corresponded with John Flamsteed. After the exchanges with Hooke, Newton worked out a proof that the elliptical form of planetary orbits would result from a centripetal force inversely proportional to the square of the radius vector. Newton communicated his results to Edmond Halley and to the Royal Society in De motu corporum in gyrum, a tract written on about nine sheets which was copied into the Royal Society's Register Book in December 1684. This tract contained the nucleus that Newton developed and expanded to form the Principia.\n\nThe Principia was published on 5 July 1687 with encouragement and financial help from Halley. In this work, Newton stated the three universal laws of motion. Together, these laws describe the relationship between any object, the forces acting upon it and the resulting motion, laying the foundation for classical mechanics. They contributed to many advances during the Industrial Revolution which soon followed and were not improved upon for more than 200 years. Many of these advances continue to be the underpinnings of non-relativistic technologies in the modern world. He used the Latin word gravitas (weight) for the effect that would become known as gravity, and defined the law of universal gravitation.\n\nIn the same work, Newton presented a calculus-like method of geometrical analysis using 'first and last ratios', gave the first analytical determination (based on Boyle's law) of the speed of sound in air, inferred the oblateness of Earth's spheroidal figure, accounted for the precession of the equinoxes as a result of the Moon's gravitational attraction on the Earth's oblateness, initiated the gravitational study of the irregularities in the motion of the Moon, provided a theory for the determination of the orbits of comets, and much more. Newton's biographer David Brewster reported that the complexity of applying his theory of gravity to the motion of the moon was so great it affected Newton's health: \"[H]e was deprived of his appetite and sleep\" during his work on the problem in 1692–93, and told the astronomer John Machin that \"his head never ached but when he was studying the subject\". According to Brewster, Edmund Halley also told John Conduitt that when pressed to complete his analysis Newton \"always replied that it made his head ache, and kept him awake so often, that he would think of it no more\". [Emphasis in original]\n\nNewton made clear his heliocentric view of the Solar System—developed in a somewhat modern way because already in the mid-1680s he recognised the \"deviation of the Sun\" from the centre of gravity of the Solar System. For Newton, it was not precisely the centre of the Sun or any other body that could be considered at rest, but rather \"the common centre of gravity of the Earth, the Sun and all the Planets is to be esteem'd the Centre of the World\", and this centre of gravity \"either is at rest or moves uniformly forward in a right line\". (Newton adopted the \"at rest\" alternative in view of common consent that the centre, wherever it was, was at rest.)\n\nNewton was criticised for introducing \"occult agencies\" into science because of his postulate of an invisible force able to act over vast distances. Later, in the second edition of the Principia (1713), Newton firmly rejected such criticisms in a concluding General Scholium, writing that it was enough that the phenomena implied a gravitational attraction, as they did; but they did not so far indicate its cause, and it was both unnecessary and improper to frame hypotheses of things that were not implied by the phenomena. (Here Newton used what became his famous expression \"Hypotheses non fingo\".)\n\nWith the Principia, Newton became internationally recognised. He acquired a circle of admirers, including the Swiss-born mathematician Nicolas Fatio de Duillier.\n\nIn 1710, Newton found 72 of the 78 \"species\" of cubic curves and categorised them into four types. In 1717, and probably with Newton's help, James Stirling proved that every cubic was one of these four types. Newton also claimed that the four types could be obtained by plane projection from one of them, and this was proved in 1731, four years after his death.\n\nIn the 1690s, Newton wrote a number of religious tracts dealing with the literal and symbolic interpretation of the Bible. A manuscript Newton sent to John Locke in which he disputed the fidelity of 1 John 5:7—the Johannine Comma—and its fidelity to the original manuscripts of the New Testament, remained unpublished until 1785.\n\nNewton was also a member of the Parliament of England for Cambridge University in 1689 and 1701, but according to some accounts his only comments were to complain about a cold draught in the chamber and request that the window be closed. He was, however, noted by Cambridge diarist Abraham de la Pryme to have rebuked students who were frightening locals by claiming that a house was haunted.\n\nNewton moved to London to take up the post of warden of the Royal Mint during the reign of King William III in 1696, a position that he had obtained through the patronage of Charles Montagu, 1st Earl of Halifax, then Chancellor of the Exchequer. He took charge of England's great recoining, trod on the toes of Lord Lucas, Governor of the Tower, and secured the job of deputy comptroller of the temporary Chester branch for Edmond Halley. Newton became perhaps the best-known Master of the Mint upon the death of Thomas Neale in 1699, a position Newton held for the last 30 years of his life. These appointments were intended as sinecures, but Newton took them seriously. He retired from his Cambridge duties in 1701, and exercised his authority to reform the currency and punish clippers and counterfeiters.\n\nAs Warden, and afterwards as Master, of the Royal Mint, Newton estimated that 20 percent of the coins taken in during the Great Recoinage of 1696 were counterfeit. Counterfeiting was high treason, punishable by the felon being hanged, drawn and quartered. Despite this, convicting even the most flagrant criminals could be extremely difficult, but Newton proved equal to the task.\n\nDisguised as a habitué of bars and taverns, he gathered much of that evidence himself. For all the barriers placed to prosecution, and separating the branches of government, English law still had ancient and formidable customs of authority. Newton had himself made a justice of the peace in all the home counties. A draft letter regarding the matter is included in Newton's personal first edition of Philosophiæ Naturalis Principia Mathematica, which he must have been amending at the time. Then he conducted more than 100 cross-examinations of witnesses, informers, and suspects between June 1698 and Christmas 1699. Newton successfully prosecuted 28 coiners.\n\nNewton was made president of the Royal Society in 1703 and an associate of the French Académie des Sciences. In his position at the Royal Society, Newton made an enemy of John Flamsteed, the Astronomer Royal, by prematurely publishing Flamsteed's Historia Coelestis Britannica, which Newton had used in his studies.\n\nIn April 1705, Queen Anne knighted Newton during a royal visit to Trinity College, Cambridge. The knighthood is likely to have been motivated by political considerations connected with the parliamentary election in May 1705, rather than any recognition of Newton's scientific work or services as Master of the Mint. Newton was the second scientist to be knighted, after Francis Bacon.\n\nAs a result of a report written by Newton on 21 September 1717 to the Lords Commissioners of His Majesty's Treasury, the bimetallic relationship between gold coins and silver coins was changed by royal proclamation on 22 December 1717, forbidding the exchange of gold guineas for more than 21 silver shillings. This inadvertently resulted in a silver shortage as silver coins were used to pay for imports, while exports were paid for in gold, effectively moving Britain from the silver standard to its first gold standard. It is a matter of debate as to whether he intended to do this or not. It has been argued that Newton conceived of his work at the Mint as a continuation of his alchemical work.\n\nNewton was invested in the South Sea Company and lost some £20,000 (£4.4 million in 2020) when it collapsed in around 1720.\n\nToward the end of his life, Newton took up residence at Cranbury Park, near Winchester, with his niece and her husband, until his death. His half-niece, Catherine Barton, served as his hostess in social affairs at his house on Jermyn Street in London; he was her \"very loving Uncle\", according to his letter to her when she was recovering from smallpox.\n\nNewton died in his sleep in London on 20 March 1727 (OS 20 March 1726; NS 31 March 1727). He was given a ceremonial funeral, attended by nobles, scientists, and philosophers, and was buried in Westminster Abbey among kings and queens. He was the first scientist to be buried in the abbey. Voltaire may have been present at his funeral. A bachelor, he had divested much of his estate to relatives during his last years, and died intestate. His papers went to John Conduitt and Catherine Barton.\n\nShortly after his death, a plaster death mask was moulded of Newton. It was used by Flemish sculptor John Michael Rysbrack in making a sculpture of Newton. It is now held by the Royal Society, who created a 3D scan of it in 2012.\n\nNewton's hair was posthumously examined and found to contain mercury, probably resulting from his alchemical pursuits. Mercury poisoning could explain Newton's eccentricity in late life.\n\nAlthough it was claimed that he was once engaged, Newton never married. The French writer and philosopher Voltaire, who was in London at the time of Newton's funeral, said that he \"was never sensible to any passion, was not subject to the common frailties of mankind, nor had any commerce with women—a circumstance which was assured me by the physician and surgeon who attended him in his last moments.” There exists a widespread belief that Newton died a virgin, and writers as diverse as mathematician Charles Hutton, economist John Maynard Keynes, and physicist Carl Sagan have commented on it.\n\nNewton had a close friendship with the Swiss mathematician Nicolas Fatio de Duillier, whom he met in London around 1689—some of their correspondence has survived. Their relationship came to an abrupt and unexplained end in 1693, and at the same time Newton suffered a nervous breakdown, which included sending wild accusatory letters to his friends Samuel Pepys and John Locke. His note to the latter included the charge that Locke had endeavoured to \"embroil\" him with \"woemen & by other means\".\n\nNewton was relatively modest about his achievements, writing in a letter to Robert Hooke in February 1676, \"If I have seen further it is by standing on the shoulders of giants.\" Two writers think that the sentence, written at a time when Newton and Hooke were in dispute over optical discoveries, was an oblique attack on Hooke (said to have been short and hunchbacked), rather than—or in addition to—a statement of modesty. On the other hand, the widely known proverb about standing on the shoulders of giants, published among others by seventeenth-century poet George Herbert (a former orator of the University of Cambridge and fellow of Trinity College) in his Jacula Prudentum (1651), had as its main point that \"a dwarf on a giant's shoulders sees farther of the two\", and so its effect as an analogy would place Newton himself rather than Hooke as the 'dwarf'.\n\nIn a later memoir, Newton wrote, \"I do not know what I may appear to the world, but to myself I seem to have been only like a boy playing on the sea-shore, and diverting myself in now and then finding a smoother pebble or a prettier shell than ordinary, whilst the great ocean of truth lay all undiscovered before me.\"\n\nAlthough born into an Anglican family, by his thirties Newton held a Christian faith that, had it been made public, would not have been considered orthodox by mainstream Christianity, with one historian labelling him a heretic.\n\nBy 1672, he had started to record his theological researches in notebooks which he showed to no one and which have only been available for public examination since 1972. Over half of what Newton wrote concerned theology and alchemy, and most has never been printed. His writings demonstrate an extensive knowledge of early Church writings and show that in the conflict between Athanasius and Arius which defined the Creed, he took the side of Arius, the loser, who rejected the conventional view of the Trinity. Newton \"recognized Christ as a divine mediator between God and man, who was subordinate to the Father who created him.\" He was especially interested in prophecy, but for him, \"the great apostasy was trinitarianism.\"\n\nNewton tried unsuccessfully to obtain one of the two fellowships that exempted the holder from the ordination requirement. At the last moment in 1675 he received a dispensation from the government that excused him and all future holders of the Lucasian chair.\n\nIn Newton's eyes, worshipping Christ as God was idolatry, to him the fundamental sin. In 1999, historian Stephen D. Snobelen wrote, \"Isaac Newton was a heretic. But ... he never made a public declaration of his private faith—which the orthodox would have deemed extremely radical. He hid his faith so well that scholars are still unraveling his personal beliefs.\" Snobelen concludes that Newton was at least a Socinian sympathiser (he owned and had thoroughly read at least eight Socinian books), possibly an Arian and almost certainly an anti-trinitarian.\n\nAlthough the laws of motion and universal gravitation became Newton's best-known discoveries, he warned against using them to view the Universe as a mere machine, as if akin to a great clock. He said, \"So then gravity may put the planets into motion, but without the Divine Power it could never put them into such a circulating motion, as they have about the sun\".\n\nAlong with his scientific fame, Newton's studies of the Bible and of the early Church Fathers were also noteworthy. Newton wrote works on textual criticism, most notably An Historical Account of Two Notable Corruptions of Scripture and Observations upon the Prophecies of Daniel, and the Apocalypse of St. John. He placed the crucifixion of Jesus Christ at 3 April, AD 33, which agrees with one traditionally accepted date.\n\nHe believed in a rationally immanent world, but he rejected the hylozoism implicit in Leibniz and Baruch Spinoza. The ordered and dynamically informed Universe could be understood, and must be understood, by an active reason. In his correspondence, Newton claimed that in writing the Principia \"I had an eye upon such Principles as might work with considering men for the belief of a Deity\". He saw evidence of design in the system of the world: \"Such a wonderful uniformity in the planetary system must be allowed the effect of choice\". But Newton insisted that divine intervention would eventually be required to reform the system, due to the slow growth of instabilities. For this, Leibniz lampooned him: \"God Almighty wants to wind up his watch from time to time: otherwise it would cease to move. He had not, it seems, sufficient foresight to make it a perpetual motion.\"\n\nNewton's position was vigorously defended by his follower Samuel Clarke in a famous correspondence. A century later, Pierre-Simon Laplace's work Celestial Mechanics had a natural explanation for why the planet orbits do not require periodic divine intervention. The contrast between Laplace's mechanistic worldview and Newton's one is the most strident considering the famous answer which the French scientist gave Napoleon, who had criticised him for the absence of the Creator in the Mécanique céleste: \"Sire, j'ai pu me passer de cette hypothèse\" (\"Sir, I didn't need this hypothesis\").\n\nScholars long debated whether Newton disputed the doctrine of the Trinity. His first biographer, David Brewster, who compiled his manuscripts, interpreted Newton as questioning the veracity of some passages used to support the Trinity, but never denying the doctrine of the Trinity as such. In the twentieth century, encrypted manuscripts written by Newton and bought by John Maynard Keynes (among others) were deciphered and it became known that Newton did indeed reject Trinitarianism.\n\nNewton and Robert Boyle's approach to the mechanical philosophy was promoted by rationalist pamphleteers as a viable alternative to the pantheists and enthusiasts, and was accepted hesitantly by orthodox preachers as well as dissident preachers like the latitudinarians. The clarity and simplicity of science was seen as a way to combat the emotional and metaphysical superlatives of both superstitious enthusiasm and the threat of atheism, and at the same time, the second wave of English deists used Newton's discoveries to demonstrate the possibility of a \"Natural Religion\".\n\nThe attacks made against pre-Enlightenment \"magical thinking\", and the mystical elements of Christianity, were given their foundation with Boyle's mechanical conception of the universe. Newton gave Boyle's ideas their completion through mathematical proofs and, perhaps more importantly, was very successful in popularising them.\n\nNewton was not the first of the age of reason. He was the last of the magicians, the last of the Babylonians and Sumerians, the last great mind which looked out on the visible and intellectual world with the same eyes as those who began to build our intellectual inheritance rather less than 10,000 years ago. Isaac Newton, a posthumous child born with no father on Christmas Day, 1642, was the last wonderchild to whom the Magi could do sincere and appropriate homage.\n\n–John Maynard Keynes, \"Newton, the Man\"\n\nOf an estimated ten million words of writing in Newton's papers, about one million deal with alchemy. Many of Newton's writings on alchemy are copies of other manuscripts, with his own annotations. Alchemical texts mix artisanal knowledge with philosophical speculation, often hidden behind layers of wordplay, allegory, and imagery to protect craft secrets. Some of the content contained in Newton's papers could have been considered heretical by the church.\n\nIn 1888, after spending sixteen years cataloguing Newton's papers, Cambridge University kept a small number and returned the rest to the Earl of Portsmouth. In 1936, a descendant offered the papers for sale at Sotheby's. The collection was broken up and sold for a total of about £9,000. John Maynard Keynes was one of about three dozen bidders who obtained part of the collection at auction. Keynes went on to reassemble an estimated half of Newton's collection of papers on alchemy before donating his collection to Cambridge University in 1946.\n\nAll of Newton's known writings on alchemy are currently being put online in a project undertaken by Indiana University: \"The Chymistry of Isaac Newton\" and summarised in a book.\n\nNewton's fundamental contributions to science include the quantification of gravitational attraction, the discovery that white light is actually a mixture of immutable spectral colors, and the formulation of the calculus. Yet there is another, more mysterious side to Newton that is imperfectly known, a realm of activity that spanned some thirty years of his life, although he kept it largely hidden from his contemporaries and colleagues. We refer to Newton's involvement in the discipline of alchemy, or as it was often called in seventeenth-century England, \"chymistry.\"\n\nIn June 2020, two unpublished pages of Newton's notes on Jan Baptist van Helmont's book on plague, De Peste, were being auctioned online by Bonhams. Newton's analysis of this book, which he made in Cambridge while protecting himself from London's 1665–1666 infection, is the most substantial written statement he is known to have made about the plague, according to Bonhams. As far as the therapy is concerned, Newton writes that \"the best is a toad suspended by the legs in a chimney for three days, which at last vomited up earth with various insects in it, on to a dish of yellow wax, and shortly after died. Combining powdered toad with the excretions and serum made into lozenges and worn about the affected area drove away the contagion and drew out the poison\".\n\nThe mathematician Joseph-Louis Lagrange said that Newton was the greatest genius who ever lived, and once added that Newton was also \"the most fortunate, for we cannot find more than once a system of the world to establish.\" English poet Alexander Pope wrote the famous epitaph:\n\nNature, and Nature's laws lay hid in night. God said, Let Newton be! and all was light.\n\nBut this was not allowed to be inscribed in Newton's monument at Westminster. The epitaph added is as follows:\n\nH. S. E. ISAACUS NEWTON Eques Auratus, / Qui, animi vi prope divinâ, / Planetarum Motus, Figuras, / Cometarum semitas, Oceanique Aestus. Suâ Mathesi facem praeferente / Primus demonstravit: / Radiorum Lucis dissimilitudines, / Colorumque inde nascentium proprietates, / Quas nemo antea vel suspicatus erat, pervestigavit. / Naturae, Antiquitatis, S. Scripturae, / Sedulus, sagax, fidus Interpres / Dei O. M. Majestatem Philosophiâ asseruit, / Evangelij Simplicitatem Moribus expressit. / Sibi gratulentur Mortales, / Tale tantumque exstitisse / HUMANI GENERIS DECUS. / NAT. XXV DEC. A.D. MDCXLII. OBIIT. XX. MAR. MDCCXXVI,\n\nwhich can be translated as follows:\n\nHere is buried Isaac Newton, Knight, who by a strength of mind almost divine, and mathematical principles peculiarly his own, explored the course and figures of the planets, the paths of comets, the tides of the sea, the dissimilarities in rays of light, and, what no other scholar has previously imagined, the properties of the colours thus produced. Diligent, sagacious and faithful, in his expositions of nature, antiquity and the holy Scriptures, he vindicated by his philosophy the majesty of God mighty and good, and expressed the simplicity of the Gospel in his manners. Mortals rejoice that there has existed such and so great an ornament of the human race! He was born on 25th December 1642, and died on 20th March 1726.\n\nIn a 2005 survey of members of Britain's Royal Society (formerly headed by Newton) asking who had the greater effect on the history of science, Newton or Albert Einstein, the members deemed Newton to have made the greater overall contribution. In 1999, an opinion poll of 100 of the day's leading physicists voted Einstein the \"greatest physicist ever,\" with Newton the runner-up, while a parallel survey of rank-and-file physicists by the site PhysicsWeb gave the top spot to Newton. New Scientist called Newton \"the supreme genius and most enigmatic character in the history of science\". Newton has been called the \"most influential figure in the history of Western science\". Einstein kept a picture of Newton on his study wall alongside ones of Michael Faraday and James Clerk Maxwell.\n\nPhysicist Lev Landau ranked physicists on a logarithmic scale of productivity ranging from 0 to 5. The highest ranking, 0, was assigned to Newton. Albert Einstein was ranked 0.5. A rank of 1 was awarded to the \"founding fathers\" of quantum mechanics, Niels Bohr, Werner Heisenberg, Paul Dirac and Erwin Schrödinger. Landau, a Nobel prize winner and discoverer of superfluidity, ranked himself as 2.\n\nThe SI derived unit of force is named the newton in his honour.\n\nWoolsthorpe Manor is a Grade I listed building by Historic England through being his birthplace and \"where he discovered gravity and developed his theories regarding the refraction of light\".\n\nIn 1816, a tooth said to have belonged to Newton was sold for £730 in London to an aristocrat who had it set in a ring. Guinness World Records 2002 classified it as the most valuable tooth in the world, which would value approximately £25,000 (US$35,700) in late 2001. Who bought it and who currently has it has not been disclosed.\n\nNewton himself often told the story that he was inspired to formulate his theory of gravitation by watching the fall of an apple from a tree. The story is believed to have passed into popular knowledge after being related by Catherine Barton, Newton's niece, to Voltaire. Voltaire then wrote in his Essay on Epic Poetry (1727), \"Sir Isaac Newton walking in his gardens, had the first thought of his system of gravitation, upon seeing an apple falling from a tree.\"\n\nAlthough it has been said that the apple story is a myth and that he did not arrive at his theory of gravity at any single moment, acquaintances of Newton (such as William Stukeley, whose manuscript account of 1752 has been made available by the Royal Society) do in fact confirm the incident, though not the apocryphal version that the apple actually hit Newton's head. Stukeley recorded in his Memoirs of Sir Isaac Newton's Life a conversation with Newton in Kensington on 15 April 1726:\n\nwe went into the garden, & drank thea under the shade of some appletrees, only he, & myself. amidst other discourse, he told me, he was just in the same situation, as when formerly, the notion of gravitation came into his mind. \"why should that apple always descend perpendicularly to the ground,\" thought he to him self: occasion'd by the fall of an apple, as he sat in a comtemplative mood: \"why should it not go sideways, or upwards? but constantly to the earths centre? assuredly, the reason is, that the earth draws it. there must be a drawing power in matter. & the sum of the drawing power in the matter of the earth must be in the earths center, not in any side of the earth. therefore dos this apple fall perpendicularly, or toward the center. if matter thus draws matter; it must be in proportion of its quantity. therefore the apple draws the earth, as well as the earth draws the apple.\"\n\nJohn Conduitt, Newton's assistant at the Royal Mint and husband of Newton's niece, also described the event when he wrote about Newton's life:\n\nIn the year 1666 he retired again from Cambridge to his mother in Lincolnshire. Whilst he was pensively meandering in a garden it came into his thought that the power of gravity (which brought an apple from a tree to the ground) was not limited to a certain distance from earth, but that this power must extend much further than was usually thought. Why not as high as the Moon said he to himself & if so, that must influence her motion & perhaps retain her in her orbit, whereupon he fell a calculating what would be the effect of that supposition.\n\nIt is known from his notebooks that Newton was grappling in the late 1660s with the idea that terrestrial gravity extends, in an inverse-square proportion, to the Moon; however, it took him two decades to develop the full-fledged theory. The question was not whether gravity existed, but whether it extended so far from Earth that it could also be the force holding the Moon to its orbit. Newton showed that if the force decreased as the inverse square of the distance, one could indeed calculate the Moon's orbital period, and get good agreement. He guessed the same force was responsible for other orbital motions, and hence named it \"universal gravitation\".\n\nVarious trees are claimed to be \"the\" apple tree which Newton describes. The King's School, Grantham claims that the tree was purchased by the school, uprooted and transported to the headmaster's garden some years later. The staff of the (now) National Trust-owned Woolsthorpe Manor dispute this, and claim that a tree present in their gardens is the one described by Newton. A descendant of the original tree can be seen growing outside the main gate of Trinity College, Cambridge, below the room Newton lived in when he studied there. The National Fruit Collection at Brogdale in Kent can supply grafts from their tree, which appears identical to Flower of Kent, a coarse-fleshed cooking variety.\n\nNewton's monument (1731) can be seen in Westminster Abbey, at the north of the entrance to the choir against the choir screen, near his tomb. It was executed by the sculptor Michael Rysbrack (1694–1770) in white and grey marble with design by the architect William Kent. The monument features a figure of Newton reclining on top of a sarcophagus, his right elbow resting on several of his great books and his left hand pointing to a scroll with a mathematical design. Above him is a pyramid and a celestial globe showing the signs of the Zodiac and the path of the comet of 1680. A relief panel depicts putti using instruments such as a telescope and prism.\n\nFrom 1978 until 1988, an image of Newton designed by Harry Ecclestone appeared on Series D £1 banknotes issued by the Bank of England (the last £1 notes to be issued by the Bank of England). Newton was shown on the reverse of the notes holding a book and accompanied by a telescope, a prism and a map of the Solar System.\n\nA statue of Isaac Newton, looking at an apple at his feet, can be seen at the Oxford University Museum of Natural History. A large bronze statue, Newton, after William Blake, by Eduardo Paolozzi, dated 1995 and inspired by Blake's etching, dominates the piazza of the British Library in London. A bronze statue of Newton was erected in 1858 in the centre of Grantham where he went to school, prominently standing in front of Grantham Guildhall.\n\nThe still-surviving farmhouse at Woolsthorpe By Colsterworth is a Grade I listed building by Historic England through being his birthplace and \"where he discovered gravity and developed his theories regarding the refraction of light\".\n\nEnlightenment philosophers chose a short history of scientific predecessors—Galileo, Boyle, and Newton principally—as the guides and guarantors of their applications of the singular concept of nature and natural law to every physical and social field of the day. In this respect, the lessons of history and the social structures built upon it could be discarded.\n\nIt is held by European philosophers of the Enlightenment and by historians of the Enlightenment that Newton's publication of the Principia was a turning point in the Scientific Revolution and started the Enlightenment. It was Newton's conception of the universe based upon natural and rationally understandable laws that became one of the seeds for Enlightenment ideology. Locke and Voltaire applied concepts of natural law to political systems advocating intrinsic rights; the physiocrats and Adam Smith applied natural conceptions of psychology and self-interest to economic systems; and sociologists criticised the current social order for trying to fit history into natural models of progress. Monboddo and Samuel Clarke resisted elements of Newton's work, but eventually rationalised it to conform with their strong religious views of nature.\n\nPublished in his lifetime\n\nDe analysi per aequationes numero terminorum infinitas (1669, published 1711)\n\nOf Natures Obvious Laws & Processes in Vegetation (unpublished, c. 1671–75)\n\nDe motu corporum in gyrum (1684)\n\nPhilosophiæ Naturalis Principia Mathematica (1687)\n\nScala graduum Caloris. Calorum Descriptiones & signa (1701)\n\nReports as Master of the Mint (1701–1725)\n\nArithmetica Universalis (1707)\n\nPublished posthumously\n\nDe mundi systemate (The System of the World) (1728)\n\nOptical Lectures (1728)\n\nThe Chronology of Ancient Kingdoms Amended (1728)\n\nObservations on Daniel and The Apocalypse of St. John (1733)\n\nMethod of Fluxions (1671, published 1736)\n\nAn Historical Account of Two Notable Corruptions of Scripture (1754)\n\nElements of the Philosophy of Newton, a book by Voltaire\n\nList of multiple discoveries: seventeenth century\n\nList of things named after Isaac Newton\n\nList of presidents of the Royal Society\n\n^ a b c d e During Newton's lifetime, two calendars were in use in Europe: the Julian (\"Old Style\") calendar in Protestant and Orthodox regions, including Britain; and the Gregorian (\"New Style\") calendar in Roman Catholic Europe. At Newton's birth, Gregorian dates were ten days ahead of Julian dates; thus, his birth is recorded as taking place on 25 December 1642 Old Style, but it can be converted to a New Style (modern) date of 4 January 1643. By the time of his death, the difference between the calendars had increased to eleven days. Moreover, he died in the period after the start of the New Style year on 1 January but before that of the Old Style new year on 25 March. His death occurred on 20 March 1726, according to the Old Style calendar, but the year is usually adjusted to 1727. A full
[...]
