openapi: 3.1.0
info:
  title: API Reference
  version: "1.0"
  description: |-
    The Cohere Platform is centered around models.

    Each model has a different amount of power (i.e. parameters), to be used for different tasks.

    Cohere also supports finetuning of baseline models to improve performance on downstream tasks or to teach the model large quantities of information which cannot be extracted with few-shot learning or prompt engineering.
  summary: Cohere's API
  contact:
    name: Cohere Developers
    url: https://cohere.com/
    email: team@cohere.com
  termsOfService: https://cohere.com/terms-of-use
  license:
    name: proprietary
    url: https://cohere.com/terms-of-use
servers:
  - url: https://api.cohere.com
    description: production
security:
  - bearerAuth: []
tags:
  - name: /datasets
    description: Datasets API
  - name: /connectors
    description: Connectors API
  - name: /embed-jobs
    description: Embed Jobs API
  - name: /finetuning
    description: Finetuning API (Beta)
paths:
  /v1/chat:
    post:
      parameters:
        - $ref: "#/components/parameters/RequestSource"
        - name: Accepts
          description: |
            Pass text/event-stream to receive the streamed response as server-sent events. The default is `\n` delimited events.
          x-fern-audiences:
            - public
          schema:
            type: string
            enum:
              - text/event-stream
          in: header
          required: false
          example: text/event-stream
      x-fern-audiences:
        - public
      summary: Chat V1 API
      operationId: chat
      x-fern-streaming:
        stream-description: |
          Generates a streamed text response to a user message.

          To learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/docs/chat-api).
        stream-condition: $request.stream
        response:
          required:
            - text
          x-fern-type-name: NonStreamedChatResponse
          properties:
            text:
              type: string
              x-fern-audiences:
                - public
              minLength: 1
              description: Contents of the reply generated by the model.
            generation_id:
              type: string
              x-fern-audiences:
                - public
              format: uuid
              description: Unique identifier for the generated reply. Useful for submitting
                feedback.
            response_id:
              type: string
              x-fern-audiences:
                - public
              format: uuid
              description: Unique identifier for the response.
            citations:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Inline citations for the generated reply.
              items:
                $ref: "#/components/schemas/ChatCitation"
            documents:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Documents seen by the model when generating the reply.
              items:
                $ref: "#/components/schemas/ChatDocument"
            is_search_required:
              type: boolean
              x-fern-audiences:
                - public
              description: Denotes that a search for documents is required during the RAG
                flow.
            search_queries:
              type: array
              x-fern-audiences:
                - public
              description: Generated search queries, meant to be used as part of the RAG flow.
              items:
                $ref: "#/components/schemas/ChatSearchQuery"
            search_results:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Documents retrieved from each of the conducted searches.
              items:
                $ref: "#/components/schemas/ChatSearchResult"
            finish_reason:
              x-fern-audiences:
                - public
              $ref: "#/components/schemas/FinishReason"
            tool_calls:
              x-fern-audiences:
                - public
              type: array
              items:
                $ref: "#/components/schemas/ToolCall"
            chat_history:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              items:
                $ref: "#/components/schemas/Message"
              description: |
                A list of previous messages between the user and the model, meant to give the model conversational context for responding to the user's `message`.
            meta:
              $ref: "#/components/schemas/ApiMeta"
              x-fern-audiences:
                - public
        response-stream:
          description: StreamedChatResponse is returned in streaming mode (specified with
            `stream=True` in the request).
          x-fern-type-name: StreamedChatResponse
          oneOf:
            - $ref: "#/components/schemas/ChatStreamStartEvent"
            - $ref: "#/components/schemas/ChatSearchQueriesGenerationEvent"
            - $ref: "#/components/schemas/ChatSearchResultsEvent"
            - $ref: "#/components/schemas/ChatTextGenerationEvent"
            - $ref: "#/components/schemas/ChatCitationGenerationEvent"
            - $ref: "#/components/schemas/ChatToolCallsGenerationEvent"
            - $ref: "#/components/schemas/ChatStreamEndEvent"
            - $ref: "#/components/schemas/ChatToolCallsChunkEvent"
            - $ref: "#/components/schemas/ChatDebugEvent"
          discriminator:
            propertyName: event_type
            mapping:
              stream-start: "#/components/schemas/ChatStreamStartEvent"
              search-queries-generation: "#/components/schemas/ChatSearchQueriesGenerationEvent"
              search-results: "#/components/schemas/ChatSearchResultsEvent"
              text-generation: "#/components/schemas/ChatTextGenerationEvent"
              citation-generation: "#/components/schemas/ChatCitationGenerationEvent"
              tool-calls-generation: "#/components/schemas/ChatToolCallsGenerationEvent"
              stream-end: "#/components/schemas/ChatStreamEndEvent"
              tool-calls-chunk: "#/components/schemas/ChatToolCallsChunkEvent"
              debug: "#/components/schemas/ChatDebugEvent"
      x-fern-examples:
        - code-samples:
            - sdk: go
              name: Default
              code: >
                package main


                import (
                	"context"
                	"log"
                	"os"

                	cohere "github.com/cohere-ai/cohere-go/v2"
                	client "github.com/cohere-ai/cohere-go/v2/client"
                )


                func main() {
                	co := client.NewClient(client.WithToken(os.Getenv("CO_API_KEY")))

                	resp, err := co.Chat(
                		context.TODO(),
                		&cohere.ChatRequest{
                			ChatHistory: []*cohere.Message{
                				{
                					Role: "USER",
                					User: &cohere.ChatMessage{
                						Message: "Who discovered gravity?",
                					},
                				},
                				{
                					Role: "CHATBOT",
                					Chatbot: &cohere.ChatMessage{
                						Message: "The man who is widely credited with discovering gravity is Sir Isaac Newton",
                					},
                				}},
                			Message: "What year was he born?",
                			Connectors: []*cohere.ChatConnector{
                				{Id: "web-search"},
                			},
                		},
                	)

                	if err != nil {
                		log.Fatal(err)
                	}

                	log.Printf("%+v", resp)
                }
            - sdk: typescript
              name: Default
              code: >
                import { CohereClient } from 'cohere-ai';


                const cohere = new CohereClient({});


                (async () => {
                  const response = await cohere.chat({
                    chatHistory: [
                      { role: 'USER', message: 'Who discovered gravity?' },
                      {
                        role: 'CHATBOT',
                        message: 'The man who is widely credited with discovering gravity is Sir Isaac Newton',
                      },
                    ],
                    message: 'What year was he born?',
                    // perform web search before answering the question. You can also use your own custom connector.
                    connectors: [{ id: 'web-search' }],
                  });

                  console.log(response);
                })();
            - sdk: java
              name: Default
              code: >
                /* (C)2024 */

                package chatpost;


                import com.cohere.api.Cohere;

                import com.cohere.api.requests.ChatRequest;

                import com.cohere.api.types.ChatMessage;

                import com.cohere.api.types.Message;

                import com.cohere.api.types.NonStreamedChatResponse;

                import java.util.List;


                public class Default {
                  public static void main(String[] args) {
                    Cohere cohere = Cohere.builder().clientName("snippet").build();

                    NonStreamedChatResponse response =
                        cohere.chat(
                            ChatRequest.builder()
                                .message("What year was he born?")
                                .chatHistory(
                                    List.of(
                                        Message.user(
                                            ChatMessage.builder().message("Who discovered gravity?").build()),
                                        Message.chatbot(
                                            ChatMessage.builder()
                                                .message(
                                                    "The man who is widely"
                                                        + " credited with"
                                                        + " discovering gravity"
                                                        + " is Sir Isaac"
                                                        + " Newton")
                                                .build())))
                                .build());

                    System.out.println(response);
                  }
                }
            - sdk: python
              name: Sync
              code: >
                import cohere


                co = cohere.Client()


                response = co.chat(
                    chat_history=[
                        {"role": "USER", "message": "Who discovered gravity?"},
                        {
                            "role": "CHATBOT",
                            "message": "The man who is widely credited with discovering gravity is Sir Isaac Newton",
                        },
                    ],
                    message="What year was he born?",
                    # perform web search before answering the question. You can also use your own custom connector.
                    connectors=[{"id": "web-search"}],
                )


                print(response)
            - sdk: python
              name: Async
              code: >
                import cohere

                import asyncio


                co = cohere.AsyncClient()



                async def main():
                    return await co.chat(
                        chat_history=[
                            {"role": "USER", "message": "Who discovered gravity?"},
                            {
                                "role": "CHATBOT",
                                "message": "The man who is widely credited with discovering gravity is Sir Isaac Newton",
                            },
                        ],
                        message="What year was he born?",
                        # perform web search before answering the question. You can also use your own custom connector.
                        connectors=[{"id": "web-search"}],
                    )


                asyncio.run(main())
            - sdk: curl
              name: Default
              code: >-
                curl --request POST \
                  --url https://api.cohere.com/v1/chat \
                  --header 'accept: application/json' \
                  --header 'content-type: application/json' \
                  --header "Authorization: bearer $CO_API_KEY" \
                  --data '{
                    "chat_history": [
                      {
                        "role": "USER",
                        "message": "Who discovered gravity?"
                      },
                      {
                        "role": "CHATBOT",
                        "message": "The man who is widely credited with discovering gravity is Sir Isaac Newton"
                      }
                    ],
                    "message": "What year was he born?",
                    "connectors": [
                      {
                        "id": "web-search"
                      }
                    ]
                  }'
          request:
            chat_history:
              - role: USER
                message: Who discovered gravity?
              - role: CHATBOT
                message: The man who is widely credited with discovering gravity is Sir Isaac
                  Newton
            message: What year was he born?
            connectors:
              - id: web-search
            stream: false
          response:
            body:
              text: Isaac Newton was born on 25 December 1642 (Old Style) or 4 January 1643
                (New Style).
              generation_id: 0385c7cf-4247-43a3-a450-b25b547a31e1
              chat_history:
                - role: USER
                  message: Who discovered gravity?
                - role: CHATBOT
                  message: The man who is widely credited with discovering gravity is Sir Isaac
                    Newton
                - role: USER
                  message: What year was he born?
                - role: CHATBOT
                  message: Isaac Newton was born on 25 December 1642 (Old Style) or 4 January 1643
                    (New Style).
              finish_reason: COMPLETE
              meta:
                api_version:
                  version: '1'
                billed_units:
                  input_tokens: 31738
                  output_tokens: 35
                tokens:
                  input_tokens: 32465
                  output_tokens: 205
              citations:
                - start: 25
                  end: 41
                  text: 25 December 1642
                  document_ids:
                    - web-search_0
                    - web-search_1
                    - web-search_2
                    - web-search_3
                    - web-search_4
                    - web-search_5
                - start: 42
                  end: 53
                  text: (Old Style)
                  document_ids:
                    - web-search_0
                    - web-search_1
                    - web-search_4
                    - web-search_5
                - start: 57
                  end: 71
                  text: 4 January 1643
                  document_ids:
                    - web-search_0
                    - web-search_1
                    - web-search_3
                    - web-search_4
                    - web-search_5
                - start: 72
                  end: 83
                  text: (New Style)
                  document_ids:
                    - web-search_0
                    - web-search_1
                    - web-search_4
                    - web-search_5
              documents:
                - id: web-search_0
                  snippet: >-
                    New Articles History & Society


                    Lifestyles & Social Issues


                    Philosophy & Religion


                    Politics, Law & Government


                    World History Science & Tech


                    Technology Biographies


                    Browse Biographies Animals & Nature


                    Birds, Reptiles & Other Vertebrates


                    Bugs, Mollusks & Other Invertebrates


                    Fossils & Geologic Time


                    Plants Geography & Travel


                    Geography & Travel Arts & Culture


                    Entertainment & Pop Culture


                    Ask the Chatbot Games & Quizzes History & Society Science &
                    Tech Biographies Animals & Nature Geography & Travel Arts &
                    Culture Money Videos


                    Introduction & Top Questions


                    Formative influences


                    Influence of the Scientific Revolution


                    Work during the plague years


                    Inaugural lectures at Trinity


                    Influence of the Hermetic tradition


                    Universal gravitation


                    International prominence


                    Interest in religion and theology


                    Leader of English science


                    Final years Quotes References & Edit History Quick Facts &
                    Related Topics


                    Isaac Newton Timeline


                    Isaac Newton’s Achievements


                    Understanding Newton’s Laws of Motion


                    Numbers and Mathematics


                    Physics and Natural Law


                    What is Isaac Newton most famous for?


                    How was Isaac Newton educated?


                    What was Isaac Newton’s childhood like?


                    What is the Scientific Revolution?


                    How is the Scientific Revolution connected to the
                    Enlightenment?


                    Gravity: From Apples to the Universe


                    Telescopes: Seeing Stars


                    Unusual Counting Systems


                    What's the Difference Between Speed and Velocity?


                    Is Zero an Even or an Odd Number?


                    The 10 Greatest Basketball Players of All Time


                    What Is a Modern Pentathlon?


                    Which Religion Is the Oldest?


                    What's the Difference Between a Solstice and an Equinox?


                    New Seven Wonders of the World


                    Is It True That Squirrels Forget Where They Bury About Half
                    of Their Food?


                    America’s 5 Most Notorious Cold Cases (Including One You May
                    Have Thought Was Already Solved)


                    Isaac Newton, oil painting by Sir Godfrey Kneller, 1702; in
                    the National Portrait Gallery, London. Newton's discoveries
                    in physics and mathematics revolutionized science.(more)


                    English physicist and mathematician


                    While every effort has been made to follow citation style
                    rules, there may be some discrepancies. Please refer to the
                    appropriate style manual or other sources if you have any
                    questions.


                    Select Citation Style


                    Chicago Manual of Style


                    Share to social media


                    URL https://www.britannica.com/biography/Isaac-Newton


                    Thank you for your feedback


                    Our editors will review what you’ve submitted and determine
                    whether to revise the article.


                    Isaac Newton Institute of Mathematical Sciences - Who was
                    Isaac Newton?


                    Science Kids - Fun Science and Technology for Kids -
                    Biography of Isaac Newton


                    Trinity College Dublin - School of mathematics - Biography
                    of Sir Isaac Newton


                    World History Encyclopedia - Isaac Newton


                    Stanford Encyclopedia of Philosophy - Biography of Isaac
                    Newton


                    University of British Columbia - Physics and Astronomy
                    Department - The Life and Work of Newton


                    LiveScience - Biography of Isaac Newton


                    Physics LibreTexts - Newton's Laws of Motion


                    Articles from Britannica Encyclopedias for elementary and
                    high school students.


                    Isaac Newton - Children's Encyclopedia (Ages 8-11)


                    Isaac Newton - Student Encyclopedia (Ages 11 and up)


                    Please select which sections you would like to print:


                    While every effort has been made to follow citation style
                    rules, there may be some discrepancies. Please refer to the
                    appropriate style manual or other sources if you have any
                    questions.


                    Select Citation Style


                    Chicago Manual of Style


                    Share to social media


                    URL https://www.britannica.com/biography/Isaac-Newton
                    Feedback


                    Thank you for your feedback


                    Our editors will review what you’ve submitted and determine
                    whether to revise the article.


                    Isaac Newton Institute of Mathematical Sciences - Who was
                    Isaac Newton?


                    Science Kids - Fun Science and Technology for Kids -
                    Biography of Isaac Newton


                    Trinity College Dublin - School of mathematics - Biography
                    of Sir Isaac Newton


                    World History Encyclopedia - Isaac Newton


                    Stanford Encyclopedia of Philosophy - Biography of Isaac
                    Newton


                    University of British Columbia - Physics and Astronomy
                    Department - The Life and Work of Newton


                    LiveScience - Biography of Isaac Newton


                    Physics LibreTexts - Newton's Laws of Motion


                    Articles from Britannica Encyclopedias for elementary and
                    high school students.


                    Isaac Newton - Children's Encyclopedia (Ages 8-11)


                    Isaac Newton - Student Encyclopedia (Ages 11 and up)


                    Also known as: Sir Isaac Newton


                    Professor of History of Science, Indiana University,
                    Bloomington, 1963–89. Author of Never at Rest: A Biography
                    of Isaac Newton and others.


                    The Editors of Encyclopaedia Britannica


                    Encyclopaedia Britannica's editors oversee subject areas in
                    which they have extensive knowledge, whether from years of
                    experience gained by working on that content or via study
                    for an advanced degree. They write new content and verify
                    and edit content received from contributors.


                    The Editors of Encyclopaedia Britannica


                    Last Updated: Jul 23, 2024 • Article History Table of
                    Contents


                    Sir Isaac Newton (Show more)


                    December 25, 1642 [January 4, 1643, New Style], Woolsthorpe,
                    Lincolnshire, England (Show more)


                    March 20 [March 31], 1727, London (aged 84) (Show more)


                    “The Method of Fluxions and Infinite Series” (Show more)


                    Newton’s laws of motion


                    white light (Show more)


                    Scientific Revolution (Show more)


                    Isaac Newton Institute of Mathematical Sciences - Who was
                    Isaac Newton? (July 23, 2024) (Show more)


                    See all related content →


                    What is Isaac Newton most famous for?


                    Although Isaac Newton is well known for his discoveries in
                    optics (white light composition) and mathematics (calculus),
                    it is his formulation of the three laws of motion—the basic
                    principles of modern physics—for which he is most famous.
                    His formulation of the laws of motion resulted in the law of
                    universal gravitation.


                    How was Isaac Newton educated?


                    After interrupted attendance at the grammar school in
                    Grantham, Lincolnshire, England, Isaac Newton finally
                    settled down to prepare for university, going on to Trinity
                    College, Cambridge, in 1661, somewhat older than his
                    classmates. There he immersed himself in Aristotle’s work
                    and discovered the works of René Descartes before graduating
                    in 1665 with a bachelor’s degree.


                    What was Isaac Newton’s childhood like?


                    Isaac Newton was born to a widowed mother (his father died
                    three months prior) and was not expected to survive, being
                    tiny and weak. Shortly thereafter Newton was sent by his
                    stepfather, the well-to-do minister Barnabas Smith, to live
                    with his grandmother and was separated from his mother until
                    Smith’s death in 1653.


                    What did Isaac Newton write?


                    Isaac Newton is widely known for his published work
                    Philosophiae Naturalis Principia Mathematica (1687),
                    commonly known as the Principia. His laws of motion first
                    appeared in this work. It is one of the most important
                    single works in the history of modern science.


                    Consider how Isaac Newton's discovery of gravity led to a
                    better understanding of planetary motion


                    Isaac Newton's formulation of the law of universal
                    gravitation.(more)See all videos for this article


                    Isaac Newton (born December 25, 1642 [January 4, 1643, New
                    Style], Woolsthorpe, Lincolnshire, England—died March 20
                    [March 31], 1727, London) was an English physicist and
                    mathematician who was the culminating figure of the
                    Scientific Revolution of the 17th century. In optics, his
                    discovery of the composition of white light integrated the
                    phenomena of colours into the science of light and laid the
                    foundation for modern physical optics. In mechanics, his
                    three laws of motion, the basic principles of modern
                    physics, resulted in the formulation of the law of universal
                    gravitation. In mathematics, he was the original discoverer
                    of the infinitesimal calculus. Newton’s Philosophiae
                    Naturalis Principia Mathematica (Mathematical Principles of
                    Natural Philosophy, 1687) was one of the most important
                    single works in the history of modern science.


                    Formative influences


                    Born in the hamlet of Woolsthorpe, Newton was the only son
                    of a local yeoman, also Isaac Newton, who had died three
                    months before, and of Hannah Ayscough. That same year, at
                    Arcetri near Florence, Galileo Galilei had died; Newton
                    would eventually pick up his idea of a mathematical science
                    of motion and bring his work to full fruition. A tiny and
                    weak baby, Newton was not expected to survive his first day
                    of life, much less 84 years. Deprived of a father before
                    birth, he soon lost his mother as well, for within two years
                    she married a second time; her husband, the well-to-do
                    minister Barnabas Smith, left young Isaac with his
                    grandmother and moved to a neighbouring village to raise a
                    son and two daughters. For nine years, until the death of
                    Barnabas Smith in 1653, Isaac was effectively separated from
                    his mother, and his pronounced psychotic tendencies have
                    been ascribed to this traumatic event. That he hated his
                    stepfather we may be sure. When he examined the state of his
                    soul in 1662 and compiled a catalog of sins in shorthand, he
                    remembered “Threatning my father and mother Smith to burne
                    them and the house over them.” The acute sense of insecurity
                    that rendered him obsessively anxious when his work was
                    published and irrationally violent when he defended it
                    accompanied Newton throughout his life and can plausibly be
                    traced to his early years.


                    After his mother was widowed a second time, she determined
                    that her first-born son should manage her now considerable
                    property. It quickly became apparent, however, that this
                    would be a disaster, both for the estate and for Newton. He
                    could not bring himself to concentrate on rural affairs—set
                    to watch the cattle, he would curl up under a tree with a
                    book. Fortunately, the mistake was recognized, and Newton
                    was sent back to the grammar school in Grantham, where he
                    had already studied, to prepare for the university. As with
                    many of the leading scientists of the age, he left behind in
                    Grantham anecdotes about his mechanical ability and his
                    skill in building models of machines, such as clocks and
                    windmills. At the school he apparently gained a firm command
                    of Latin but probably received no more than a smattering of
                    arithmetic. By June 1661 he was ready to matriculate at
                    Trinity College, Cambridge, somewhat older than the other
                    undergraduates because of his interrupted education.


                    Influence of the Scientific Revolution


                    When Newton arrived in Cambridge in 1661, the movement now
                    known as the Scientific Revolution was well advanced, and
                    many of the works basic to modern science had appeared.
                    Astronomers from Nicolaus Copernicus to Johannes Kepler had
                    elaborated the heliocentric system of the universe. Galileo
                    had proposed the foundations of a new mechanics built on the
                    principle of inertia. Led by René Descartes, philosophers
                    had begun to formulate a new conception of nature as an
                    intricate, impersonal, and inert machine. Yet as far as the
                    universities of Europe, including Cambridge, were concerned,
                    all this might well have never happened. They continued to
                    be the strongholds of outmoded Aristotelianism, which rested
                    on a geocentric view of the universe and dealt with nature
                    in qualitative rather than quantitative terms.


                    Physics and Natural Law


                    Like thousands of other undergraduates, Newton began his
                    higher education by immersing himself in Aristotle’s work.
                    Even though the new philosophy was not in the curriculum, it
                    was in the air. Some time during his undergraduate career,
                    Newton discovered the works of the French natural
                    philosopher Descartes and the other mechanical philosophers,
                    who, in contrast to Aristotle, viewed physical reality as
                    composed entirely of particles of matter in motion and who
                    held that all the phenomena of nature result from their
                    mechanical interaction. A new set of notes, which he
                    entitled “Quaestiones Quaedam Philosophicae” (“Certain
                    Philosophical Questions”), begun sometime in 1664, usurped
                    the unused pages of a notebook intended for traditional
                    scholastic exercises; under the title he entered the slogan
                    “Amicus Plato amicus Aristoteles magis amica veritas”
                    (“Plato is my friend, Aristotle is my friend, but my best
                    friend is truth”). Newton’s scientific career had begun.


                    The “Quaestiones” reveal that Newton had discovered the new
                    conception of nature that provided the framework of the
                    Scientific Revolution. He had thoroughly mastered the works
                    of Descartes and had also discovered that the French
                    philosopher Pierre Gassendi had revived atomism, an
                    alternative mechanical system to explain nature. The
                    “Quaestiones” also reveal that Newton already was inclined
                    to find the latter a more attractive philosophy than
                    Cartesian natural philosophy, which rejected the existence
                    of ultimate indivisible particles. The works of the
                    17th-century chemist Robert Boyle provided the foundation
                    for Newton’s considerable work in chemistry. Significantly,
                    he had read Henry More, the Cambridge Platonist, and was
                    thereby introduced to another intellectual world, the
                    magical Hermetic tradition, which sought to explain natural
                    phenomena in terms of alchemical and magical concepts. The
                    two traditions of natural philosophy, the mechanical and the
                    Hermetic, antithetical though they appear, continued to
                    influence his thought and in their tension supplied the
                    fundamental theme of his scientific career.


                    Are you a student? Get a special academic rate on Britannica
                    Premium. Learn More


                    Although he did not record it in the “Quaestiones,” Newton
                    had also begun his mathematical studies. He again started
                    with Descartes, from whose La Géometrie he branched out into
                    the other literature of modern analysis with its application
                    of algebraic techniques to problems of geometry. He then
                    reached back for the support of classical geometry. Within
                    little more than a year, he had mastered the literature;
                    and, pursuing his own line of analysis, he began to move
                    into new territory. He discovered the binomial theorem, and
                    he developed the calculus, a more powerful form of analysis
                    that employs infinitesimal considerations in finding the
                    slopes of curves and areas under curves.


                    By 1669 Newton was ready to write a tract summarizing his
                    progress, De Analysi per Aequationes Numeri Terminorum
                    Infinitas (“On Analysis by Infinite Series”), which
                    circulated in manuscript through a limited circle and made
                    his name known. During the next two years he revised it as
                    De methodis serierum et fluxionum (“On the Methods of Series
                    and Fluxions”). The word fluxions, Newton’s private rubric,
                    indicates that the calculus had been born. Despite the fact
                    that only a handful of savants were even aware of Newton’s
                    existence, he had arrived at the point where he had become
                    the leading mathematician in Europe.


                    Work during the plague years


                    Who created the color wheel?


                    For millennia, many believed Aristotle's theory that all
                    colors were a mixture of black and white. How did we learn
                    otherwise?(more)See all videos for this article


                    When Newton received the bachelor’s degree in April 1665,
                    the most remarkable undergraduate career in the history of
                    university education had passed unrecognized. On his own,
                    without formal guidance, he had sought out the new
                    philosophy and the new mathematics and made them his own,
                    but he had confined the progress of his studies to his
                    notebooks. Then, in 1665, the plague closed the university,
                    and for most of the following two years he was forced to
                    stay at his home, contemplating at leisure what he had
                    learned. During the plague years Newton laid the foundations
                    of the calculus and extended an earlier insight into an
                    essay, “Of Colours,” which contains most of the ideas
                    elaborated in his Opticks. It was during this time that he
                    examined the elements of circular motion and, applying his
                    analysis to the Moon and the planets, derived the inverse
                    square relation that the radially directed force acting on a
                    planet decreases with the square of its distance from the
                    Sun—which was later crucial to the law of universal
                    gravitation. The world heard nothing of these discoveries.
                  timestamp: 2024-08-15T20:57:35
                  title: Isaac Newton | Biography, Facts, Discoveries, Laws, & Inventions |
                    Britannica
                  url: https://www.britannica.com/biography/Isaac-Newton
                - id: web-search_1
                  snippet: >-
                    Sir Isaac Newton FRS (25 December 1642 – 20 March 1726/27)
                    was an English polymath active as a mathematician,
                    physicist, astronomer, alchemist, theologian, and author who
                    was described in his time as a natural philosopher. He was a
                    key figure in the Scientific Revolution and the
                    Enlightenment that followed. His pioneering book Philosophiæ
                    Naturalis Principia Mathematica (Mathematical Principles of
                    Natural Philosophy), first published in 1687, consolidated
                    many previous results and established classical mechanics.
                    Newton also made seminal contributions to optics, and shares
                    credit with German mathematician Gottfried Wilhelm Leibniz
                    for formulating infinitesimal calculus, though he developed
                    calculus years before Leibniz.


                    In the Principia, Newton formulated the laws of motion and
                    universal gravitation that formed the dominant scientific
                    viewpoint for centuries until it was superseded by the
                    theory of relativity. He used his mathematical description
                    of gravity to derive Kepler's laws of planetary motion,
                    account for tides, the trajectories of comets, the
                    precession of the equinoxes and other phenomena, eradicating
                    doubt about the Solar System's heliocentricity. He
                    demonstrated that the motion of objects on Earth and
                    celestial bodies could be accounted for by the same
                    principles. Newton's inference that the Earth is an oblate
                    spheroid was later confirmed by the geodetic measurements of
                    Maupertuis, La Condamine, and others, convincing most
                    European scientists of the superiority of Newtonian
                    mechanics over earlier systems.


                    He built the first practical reflecting telescope and
                    developed a sophisticated theory of colour based on the
                    observation that a prism separates white light into the
                    colours of the visible spectrum. His work on light was
                    collected in his highly influential book Opticks, published
                    in 1704. He formulated an empirical law of cooling, which
                    was the first heat transfer formulation, made the first
                    theoretical calculation of the speed of sound, and
                    introduced the notion of a Newtonian fluid. Furthermore, he
                    made early investigations into electricity, with an idea
                    from his book Opticks arguably the beginning of the field
                    theory of the electric force. In addition to his work on
                    calculus, as a mathematician, he contributed to the study of
                    power series, generalised the binomial theorem to
                    non-integer exponents, developed a method for approximating
                    the roots of a function, and classified most of the cubic
                    plane curves.


                    Newton was a fellow of Trinity College and the second
                    Lucasian Professor of Mathematics at the University of
                    Cambridge. He was a devout but unorthodox Christian who
                    privately rejected the doctrine of the Trinity. He refused
                    to take holy orders in the Church of England, unlike most
                    members of the Cambridge faculty of the day. Beyond his work
                    on the mathematical sciences, Newton dedicated much of his
                    time to the study of alchemy and biblical chronology, but
                    most of his work in those areas remained unpublished until
                    long after his death. Politically and personally tied to the
                    Whig party, Newton served two brief terms as Member of
                    Parliament for the University of Cambridge, in 1689–1690 and
                    1701–1702. He was knighted by Queen Anne in 1705 and spent
                    the last three decades of his life in London, serving as
                    Warden (1696–1699) and Master (1699–1727) of the Royal Mint,
                    as well as president of the Royal Society (1703–1727).


                    Isaac Newton was born (according to the Julian calendar in
                    use in England at the time) on Christmas Day, 25 December
                    1642 (NS 4 January 1643) at Woolsthorpe Manor in
                    Woolsthorpe-by-Colsterworth, a hamlet in the county of
                    Lincolnshire. His father, also named Isaac Newton, had died
                    three months before. Born prematurely, Newton was a small
                    child; his mother Hannah Ayscough reportedly said that he
                    could have fit inside a quart mug. When Newton was three,
                    his mother remarried and went to live with her new husband,
                    the Reverend Barnabas Smith, leaving her son in the care of
                    his maternal grandmother, Margery Ayscough (née Blythe).
                    Newton disliked his stepfather and maintained some enmity
                    towards his mother for marrying him, as revealed by this
                    entry in a list of sins committed up to the age of 19:
                    "Threatening my father and mother Smith to burn them and the
                    house over them." Newton's mother had three children (Mary,
                    Benjamin, and Hannah) from her second marriage.


                    From the age of about twelve until he was seventeen, Newton
                    was educated at The King's School in Grantham, which taught
                    Latin and Ancient Greek and probably imparted a significant
                    foundation of mathematics. He was removed from school by his
                    mother and returned to Woolsthorpe-by-Colsterworth by
                    October 1659. His mother, widowed for the second time,
                    attempted to make him a farmer, an occupation he hated.
                    Henry Stokes, master at The King's School, persuaded his
                    mother to send him back to school. Motivated partly by a
                    desire for revenge against a schoolyard bully, he became the
                    top-ranked student, distinguishing himself mainly by
                    building sundials and models of windmills.


                    University of Cambridge


                    In June 1661, Newton was admitted to Trinity College at the
                    University of Cambridge. His uncle the Reverend William
                    Ayscough, who had studied at Cambridge, recommended him to
                    the university. At Cambridge, Newton started as a subsizar,
                    paying his way by performing valet duties until he was
                    awarded a scholarship in 1664, which covered his university
                    costs for four more years until the completion of his MA. At
                    the time, Cambridge's teachings were based on those of
                    Aristotle, whom Newton read along with then more modern
                    philosophers, including Descartes and astronomers such as
                    Galileo Galilei and Thomas Street. He set down in his
                    notebook a series of "Quaestiones" about mechanical
                    philosophy as he found it. In 1665, he discovered the
                    generalised binomial theorem and began to develop a
                    mathematical theory that later became calculus. Soon after
                    Newton obtained his BA degree at Cambridge in August 1665,
                    the university temporarily closed as a precaution against
                    the Great Plague.


                    Although he had been undistinguished as a Cambridge student,
                    Newton's private studies at his home in Woolsthorpe over the
                    next two years saw the development of his theories on
                    calculus, optics, and the law of gravitation.


                    In April 1667, Newton returned to the University of
                    Cambridge, and in October he was elected as a fellow of
                    Trinity. Fellows were required to take holy orders and be
                    ordained as Anglican priests, although this was not enforced
                    in the Restoration years, and an assertion of conformity to
                    the Church of England was sufficient. He made the commitment
                    that "I will either set Theology as the object of my studies
                    and will take holy orders when the time prescribed by these
                    statutes [7 years] arrives, or I will resign from the
                    college." Up until this point he had not thought much about
                    religion and had twice signed his agreement to the
                    Thirty-nine Articles, the basis of Church of England
                    doctrine. By 1675 the issue could not be avoided, and by
                    then his unconventional views stood in the way.


                    His academic work impressed the Lucasian professor Isaac
                    Barrow, who was anxious to develop his own religious and
                    administrative potential (he became master of Trinity
                    College two years later); in 1669, Newton succeeded him,
                    only one year after receiving his MA. The terms of the
                    Lucasian professorship required that the holder not be
                    active in the church – presumably to leave more time for
                    science. Newton argued that this should exempt him from the
                    ordination requirement, and King Charles II, whose
                    permission was needed, accepted this argument; thus, a
                    conflict between Newton's religious views and Anglican
                    orthodoxy was averted.


                    The Lucasian Professor of Mathematics at Cambridge position
                    included the responsibility of instructing geography. In
                    1672, and again in 1681, Newton published a revised,
                    corrected, and amended edition of the Geographia Generalis,
                    a geography textbook first published in 1650 by the
                    then-deceased Bernhardus Varenius. In the Geographia
                    Generalis, Varenius attempted to create a theoretical
                    foundation linking scientific principles to classical
                    concepts in geography, and considered geography to be a mix
                    between science and pure mathematics applied to quantifying
                    features of the Earth. While it is unclear if Newton ever
                    lectured in geography, the 1733 Dugdale and Shaw English
                    translation of the book stated Newton published the book to
                    be read by students while he lectured on the subject. The
                    Geographia Generalis is viewed by some as the dividing line
                    between ancient and modern traditions in the history of
                    geography, and Newton's involvement in the subsequent
                    editions is thought to be a large part of the reason for
                    this enduring legacy.


                    Newton was elected a Fellow of the Royal Society (FRS) in
                    1672.


                    Newton's work has been said "to distinctly advance every
                    branch of mathematics then studied". His work on the
                    subject, usually referred to as fluxions or calculus, seen
                    in a manuscript of October 1666, is now published among
                    Newton's mathematical papers. His work De analysi per
                    aequationes numero terminorum infinitas, sent by Isaac
                    Barrow to John Collins in June 1669, was identified by
                    Barrow in a letter sent to Collins that August as the work
                    "of an extraordinary genius and proficiency in these
                    things". Newton later became involved in a dispute with
                    Leibniz over priority in the development of calculus. Most
                    modern historians believe that Newton and Leibniz developed
                    calculus independently, although with very different
                    mathematical notations. However, it is established that
                    Newton came to develop calculus much earlier than Leibniz.
                    Leibniz's notation and "differential Method", nowadays
                    recognised as much more convenient notations, were adopted
                    by continental European mathematicians, and after 1820 or
                    so, also by British mathematicians.


                    His work extensively uses calculus in geometric form based
                    on limiting values of the ratios of vanishingly small
                    quantities: in the Principia itself, Newton gave
                    demonstration of this under the name of "the method of first
                    and last ratios" and explained why he put his expositions in
                    this form, remarking also that "hereby the same thing is
                    performed as by the method of indivisibles." Because of
                    this, the Principia has been called "a book dense with the
                    theory and application of the infinitesimal calculus" in
                    modern times and in Newton's time "nearly all of it is of
                    this calculus." His use of methods involving "one or more
                    orders of the infinitesimally small" is present in his De
                    motu corporum in gyrum of 1684 and in his papers on motion
                    "during the two decades preceding 1684".


                    Newton had been reluctant to publish his calculus because he
                    feared controversy and criticism. He was close to the Swiss
                    mathematician Nicolas Fatio de Duillier. In 1691, Duillier
                    started to write a new version of Newton's Principia, and
                    corresponded with Leibniz. In 1693, the relationship between
                    Duillier and Newton deteriorated and the book was never
                    completed. Starting in 1699, other members of the Royal
                    Society accused Leibniz of plagiarism. The dispute then
                    broke out in full force in 1711 when the Royal Society
                    proclaimed in a study that it was Newton who was the true
                    discoverer and labelled Leibniz a fraud; it was later found
                    that Newton wrote the study's concluding remarks on Leibniz.
                    Thus began the bitter controversy which marred the lives of
                    both Newton and Leibniz until the latter's death in 1716.


                    Newton is generally credited with the generalised binomial
                    theorem, valid for any exponent. He discovered Newton's
                    identities, Newton's method, classified cubic plane curves
                    (polynomials of degree three in two variables), made
                    substantial contributions to the theory of finite
                    differences, and was the first to use fractional indices and
                    to employ coordinate geometry to derive solutions to
                    Diophantine equations. He approximated partial sums of the
                    harmonic series by logarithms (a precursor to Euler's
                    summation formula) and was the first to use power series
                    with confidence and to revert power series. Newton's work on
                    infinite series was inspired by Simon Stevin's decimals.


                    In 1666, Newton observed that the spectrum of colours
                    exiting a prism in the position of minimum deviation is
                    oblong, even when the light ray entering the prism is
                    circular, which is to say, the prism refracts different
                    colours by different angles. This led him to conclude that
                    colour is a property intrinsic to light – a point which had,
                    until then, been a matter of debate.


                    From 1670 to 1672, Newton lectured on optics. During this
                    period he investigated the refraction of light,
                    demonstrating that the multicoloured image produced by a
                    prism, which he named a spectrum, could be recomposed into
                    white light by a lens and a second prism. Modern scholarship
                    has revealed that Newton's analysis and resynthesis of white
                    light owes a debt to corpuscular alchemy.


                    He showed that coloured light does not change its properties
                    by separating out a coloured beam and shining it on various
                    objects, and that regardless of whether reflected,
                    scattered, or transmitted, the light remains the same
                    colour. Thus, he observed that colour is the result of
                    objects interacting with already-coloured light rather than
                    objects generating the colour themselves. This is known as
                    Newton's theory of colour.


                    From this work, he concluded that the lens of any refracting
                    telescope would suffer from the dispersion of light into
                    colours (chromatic aberration). As a proof of the concept,
                    he constructed a telescope using reflective mirrors instead
                    of lenses as the objective to bypass that problem. Building
                    the design, the first known functional reflecting telescope,
                    today known as a Newtonian telescope, involved solving the
                    problem of a suitable mirror material and shaping technique.
                    Newton ground his own mirrors out of a custom composition of
                    highly reflective speculum metal, using Newton's rings to
                    judge the quality of the optics for his telescopes. In late
                    1668, he was able to produce this first reflecting
                    telescope. It was about eight inches long and it gave a
                    clearer and larger image. In 1671, the Royal Society asked
                    for a demonstration of his reflecting telescope. Their
                    interest encouraged him to publish his notes, Of Colours,
                    which he later expanded into the work Opticks. When Robert
                    Hooke criticised some of Newton's ideas, Newton was so
                    offended that he withdrew from public debate. Newton and
                    Hooke had brief exchanges in 1679–80, when Hooke, appointed
                    to manage the Royal Society's correspondence, opened up a
                    correspondence intended to elicit contributions from Newton
                    to Royal Society transactions, which had the effect of
                    stimulating Newton to work out a proof that the elliptical
                    form of planetary orbits would result from a centripetal
                    force inversely proportional to the square of the radius
                    vector. But the two men remained generally on poor terms
                    until Hooke's death.


                    Newton argued that light is composed of particles or
                    corpuscles, which were refracted by accelerating into a
                    denser medium. He verged on soundlike waves to explain the
                    repeated pattern of reflection and transmission by thin
                    films (Opticks Bk. II, Props. 12), but still retained his
                    theory of 'fits' that disposed corpuscles to be reflected or
                    transmitted (Props.13). However, later physicists favoured a
                    purely wavelike explanation of light to account for the
                    interference patterns and the general phenomenon of
                    diffraction. Today's quantum mechanics, photons, and the
                    idea of wave–particle duality bear only a minor resemblance
                    to Newton's understanding of light.


                    In his Hypothesis of Light of 1675, Newton posited the
                    existence of the ether to transmit forces between particles.
                    The contact with the Cambridge Platonist philosopher Henry
                    More revived his interest in alchemy. He replaced the ether
                    with occult forces based on Hermetic ideas of attraction and
                    repulsion between particles. John Maynard Keynes, who
                    acquired many of Newton's writings on alchemy, stated that
                    "Newton was not the first of the age of reason: He was the
                    last of the magicians." Newton's contributions to science
                    cannot be isolated from his interest in alchemy. This was at
                    a time when there was no clear distinction between alchemy
                    and science.


                    In 1704, Newton published Opticks, in which he expounded his
                    corpuscular theory of light. He considered light to be made
                    up of extremely subtle corpuscles, that ordinary matter was
                    made of grosser corpuscles and speculated that through a
                    kind of alchemical transmutation "Are not gross Bodies and
                    Light convertible into one another, ... and may not Bodies
                    receive much of their Activity from the Particles of Light
                    which enter their Composition?" Newton also constructed a
                    primitive form of a frictional electrostatic generator,
                    using a glass globe.


                    In his book Opticks, Newton was the first to show a diagram
                    using a prism as a beam expander, and also the use of
                    multiple-prism arrays. Some 278 years after Newton's
                    discussion, multiple-prism beam expanders became central to
                    the development of narrow-linewidth tunable lasers. Also,
                    the use of these prismatic beam expanders led to the
                    multiple-prism dispersion theory.


                    Subsequent to Newton, much has been amended. Young and
                    Fresnel discarded Newton's particle theory in favour of
                    Huygens' wave theory to show that colour is the visible
                    manifestation of light's wavelength. Science also slowly
                    came to realise the difference between perception of colour
                    and mathematisable optics. The German poet and scientist,
                    Goethe, could not shake the Newtonian foundation but "one
                    hole Goethe did find in Newton's armour, ... Newton had
                    committed himself to the doctrine that refraction without
                    colour was impossible. He, therefore, thought that the
                    object-glasses of telescopes must forever remain imperfect,
                    achromatism and refraction being incompatible. This
                    inference was proved by Dollond to be wrong."


                    Newton had been developing his theory of gravitation as far
                    back as 1665. In 1679, Newton returned to his work on
                    celestial mechanics by considering gravitation and its
                    effect on the orbits of planets with reference to Kepler's
                    laws of planetary motion. This followed stimulation by a
                    brief exchange of letters in 1679–80 with Hooke, who had
                    been appointed Secretary of the Royal Society, and who
                    opened a correspondence intended to elicit contributions
                    from Newton to Royal Society transactions. Newton's
                    reawakening interest in astronomical matters received
                    further stimulus by the appearance of a comet in the winter
                    of 1680–1681, on which he corresponded with John Flamsteed.
                    After the exchanges with Hooke, Newton worked out a proof
                    that the elliptical form of planetary orbits would result
                    from a centripetal force inversely proportional to the
                    square of the radius vector. Newton communicated his results
                    to Edmond Halley and to the Royal Society in De motu
                    corporum in gyrum, a tract written on about nine sheets
                    which was copied into the Royal Society's Register Book in
                    December 1684. This tract contained the nucleus that Newton
                    developed and expanded to form the Principia.


                    The Principia was published on 5 July 1687 with
                    encouragement and financial help from Halley. In this work,
                    Newton stated the three universal laws of motion. Together,
                    these laws describe the relationship between any object, the
                    forces acting upon it and the resulting motion, laying the
                    foundation for classical mechanics. They contributed to many
                    advances during the Industrial Revolution which soon
                    followed and were not improved upon for more than 200 years.
                    Many of these advances continue to be the underpinnings of
                    non-relativistic technologies in the modern world. He used
                    the Latin word gravitas (weight) for the effect that would
                    become known as gravity, and defined the law of universal
                    gravitation.


                    In the same work, Newton presented a calculus-like method of
                    geometrical analysis using 'first and last ratios', gave the
                    first analytical determination (based on Boyle's law) of the
                    speed of sound in air, inferred the oblateness of Earth's
                    spheroidal figure, accounted for the precession of the
                    equinoxes as a result of the Moon's gravitational attraction
                    on the Earth's oblateness, initiated the gravitational study
                    of the irregularities in the motion of the Moon, provided a
                    theory for the determination of the orbits of comets, and
                    much more. Newton's biographer David Brewster reported that
                    the complexity of applying his theory of gravity to the
                    motion of the moon was so great it affected Newton's health:
                    "[H]e was deprived of his appetite and sleep" during his
                    work on the problem in 1692–93, and told the astronomer John
                    Machin that "his head never ached but when he was studying
                    the subject". According to Brewster, Edmund Halley also told
                    John Conduitt that when pressed to complete his analysis
                    Newton "always replied that it made his head ache, and kept
                    him awake so often, that he would think of it no more".
                    [Emphasis in original]


                    Newton made clear his heliocentric view of the Solar
                    System—developed in a somewhat modern way because already in
                    the mid-1680s he recognised the "deviation of the Sun" from
                    the centre of gravity of the Solar System. For Newton, it
                    was not precisely the centre of the Sun or any other body
                    that could be considered at rest, but rather "the common
                    centre of gravity of the Earth, the Sun and all the Planets
                    is to be esteem'd the Centre of the World", and this centre
                    of gravity "either is at rest or moves uniformly forward in
                    a right line". (Newton adopted the "at rest" alternative in
                    view of common consent that the centre, wherever it was, was
                    at rest.)


                    Newton was criticised for introducing "occult agencies" into
                    science because of his postulate of an invisible force able
                    to act over vast distances. Later, in the second edition of
                    the Principia (1713), Newton firmly rejected such criticisms
                    in a concluding General Scholium, writing that it was enough
                    that the phenomena implied a gravitational attraction, as
                    they did; but they did not so far indicate its cause, and it
                    was both unnecessary and improper to frame hypotheses of
                    things that were not implied by the phenomena. (Here Newton
                    used what became his famous expression "Hypotheses non
                    fingo".)


                    With the Principia, Newton became internationally
                    recognised. He acquired a circle of admirers, including the
                    Swiss-born mathematician Nicolas Fatio de Duillier.


                    In 1710, Newton found 72 of the 78 "species" of cubic curves
                    and categorised them into four types. In 1717, and probably
                    with Newton's help, James Stirling proved that every cubic
                    was one of these four types. Newton also claimed that the
                    four types could be obtained by plane projection from one of
                    them, and this was proved in 1731, four years after his
                    death.


                    In the 1690s, Newton wrote a number of religious tracts
                    dealing with the literal and symbolic interpretation of the
                    Bible. A manuscript Newton sent to John Locke in which he
                    disputed the fidelity of 1 John 5:7—the Johannine Comma—and
                    its fidelity to the original manuscripts of the New
                    Testament, remained unpublished until 1785.


                    Newton was also a member of the Parliament of England for
                    Cambridge University in 1689 and 1701, but according to some
                    accounts his only comments were to complain about a cold
                    draught in the chamber and request that the window be
                    closed. He was, however, noted by Cambridge diarist Abraham
                    de la Pryme to have rebuked students who were frightening
                    locals by claiming that a house was haunted.


                    Newton moved to London to take up the post of warden of the
                    Royal Mint during the reign of King William III in 1696, a
                    position that he had obtained through the patronage of
                    Charles Montagu, 1st Earl of Halifax, then Chancellor of the
                    Exchequer. He took charge of England's great recoining, trod
                    on the toes of Lord Lucas, Governor of the Tower, and
                    secured the job of deputy comptroller of the temporary
                    Chester branch for Edmond Halley. Newton became perhaps the
                    best-known Master of the Mint upon the death of Thomas Neale
                    in 1699, a position Newton held for the last 30 years of his
                    life. These appointments were intended as sinecures, but
                    Newton took them seriously. He retired from his Cambridge
                    duties in 1701, and exercised his authority to reform the
                    currency and punish clippers and counterfeiters.


                    As Warden, and afterwards as Master, of the Royal Mint,
                    Newton estimated that 20 percent of the coins taken in
                    during the Great Recoinage of 1696 were counterfeit.
                    Counterfeiting was high treason, punishable by the felon
                    being hanged, drawn and quartered. Despite this, convicting
                    even the most flagrant criminals could be extremely
                    difficult, but Newton proved equal to the task.


                    Disguised as a habitué of bars and taverns, he gathered much
                    of that evidence himself. For all the barriers placed to
                    prosecution, and separating the branches of government,
                    English law still had ancient and formidable customs of
                    authority. Newton had himself made a justice of the peace in
                    all the home counties. A draft letter regarding the matter
                    is included in Newton's personal first edition of
                    Philosophiæ Naturalis Principia Mathematica, which he must
                    have been amending at the time. Then he conducted more than
                    100 cross-examinations of witnesses, informers, and suspects
                    between June 1698 and Christmas 1699. Newton successfully
                    prosecuted 28 coiners.


                    Newton was made president of the Royal Society in 1703 and
                    an associate of the French Académie des Sciences. In his
                    position at the Royal Society, Newton made an enemy of John
                    Flamsteed, the Astronomer Royal, by prematurely publishing
                    Flamsteed's Historia Coelestis Britannica, which Newton had
                    used in his studies.


                    In April 1705, Queen Anne knighted Newton during a royal
                    visit to Trinity College, Cambridge. The knighthood is
                    likely to have been motivated by political considerations
                    connected with the parliamentary election in May 1705,
                    rather than any recognition of Newton's scientific work or
                    services as Master of the Mint. Newton was the second
                    scientist to be knighted, after Francis Bacon.


                    As a result of a report written by Newton on 21 September
                    1717 to the Lords Commissioners of His Majesty's Treasury,
                    the bimetallic relationship between gold coins and silver
                    coins was changed by royal proclamation on 22 December 1717,
                    forbidding the exchange of gold guineas for more than 21
                    silver shillings. This inadvertently resulted in a silver
                    shortage as silver coins were used to pay for imports, while
                    exports were paid for in gold, effectively moving Britain
                    from the silver standard to its first gold standard. It is a
                    matter of debate as to whether he intended to do this or
                    not. It has been argued that Newton conceived of his work at
                    the Mint as a continuation of his alchemical work.


                    Newton was invested in the South Sea Company and lost some
                    £20,000 (£4.4 million in 2020) when it collapsed in around
                    1720.


                    Toward the end of his life, Newton took up residence at
                    Cranbury Park, near Winchester, with his niece and her
                    husband, until his death. His half-niece, Catherine Barton,
                    served as his hostess in social affairs at his house on
                    Jermyn Street in London; he was her "very loving Uncle",
                    according to his letter to her when she was recovering from
                    smallpox.


                    Newton died in his sleep in London on 20 March 1727 (OS 20
                    March 1726; NS 31 March 1727). He was given a ceremonial
                    funeral, attended by nobles, scientists, and philosophers,
                    and was buried in Westminster Abbey among kings and queens.
                    He was the first scientist to be buried in the abbey.
                    Voltaire may have been present at his funeral. A bachelor,
                    he had divested much of his estate to relatives during his
                    last years, and died intestate. His papers went to John
                    Conduitt and Catherine Barton.


                    Shortly after his death, a plaster death mask was moulded of
                    Newton. It was used by Flemish sculptor John Michael
                    Rysbrack in making a sculpture of Newton. It is now held by
                    the Royal Society, who created a 3D scan of it in 2012.


                    Newton's hair was posthumously examined and found to contain
                    mercury, probably resulting from his alchemical pursuits.
                    Mercury poisoning could explain Newton's eccentricity in
                    late life.


                    Although it was claimed that he was once engaged, Newton
                    never married. The French writer and philosopher Voltaire,
                    who was in London at the time of Newton's funeral, said that
                    he "was never sensible to any passion, was not subject to
                    the common frailties of mankind, nor had any commerce with
                    women—a circumstance which was assured me by the physician
                    and surgeon who attended him in his last moments.” There
                    exists a widespread belief that Newton died a virgin, and
                    writers as diverse as mathematician Charles Hutton,
                    economist John Maynard Keynes, and physicist Carl Sagan have
                    commented on it.


                    Newton had a close friendship with the Swiss mathematician
                    Nicolas Fatio de Duillier, whom he met in London around
                    1689—some of their correspondence has survived. Their
                    relationship came to an abrupt and unexplained end in 1693,
                    and at the same time Newton suffered a nervous breakdown,
                    which included sending wild accusatory letters to his
                    friends Samuel Pepys and John Locke. His note to the latter
                    included the charge that Locke had endeavoured to "embroil"
                    him with "woemen & by other means".


                    Newton was relatively modest about his achievements, writing
                    in a letter to Robert Hooke in February 1676, "If I have
                    seen further it is by standing on the shoulders of giants."
                    Two writers think that the sentence, written at a time when
                    Newton and Hooke were in dispute over optical discoveries,
                    was an oblique attack on Hooke (said to have been short and
                    hunchbacked), rather than—or in addition to—a statement of
                    modesty. On the other hand, the widely known proverb about
                    standing on the shoulders of giants, published among others
                    by seventeenth-century poet George Herbert (a former orator
                    of the University of Cambridge and fellow of Trinity
                    College) in his Jacula Prudentum (1651), had as its main
                    point that "a dwarf on a giant's shoulders sees farther of
                    the two", and so its effect as an analogy would place Newton
                    himself rather than Hooke as the 'dwarf'.


                    In a later memoir, Newton wrote, "I do not know what I may
                    appear to the world, but to myself I seem to have been only
                    like a boy playing on the sea-shore, and diverting myself in
                    now and then finding a smoother pebble or a prettier shell
                    than ordinary, whilst the great ocean of truth lay all
                    undiscovered before me."


                    Although born into an Anglican family, by his thirties
                    Newton held a Christian faith that, had it been made public,
                    would not have been considered orthodox by mainstream
                    Christianity, with one historian labelling him a heretic.


                    By 1672, he had started to record his theological researches
                    in notebooks which he showed to no one and which have only
                    been available for public examination since 1972. Over half
                    of what Newton wrote concerned theology and alchemy, and
                    most has never been printed. His writings demonstrate an
                    extensive knowledge of early Church writings and show that
                    in the conflict between Athanasius and Arius which defined
                    the Creed, he took the side of Arius, the loser, who
                    rejected the conventional view of the Trinity. Newton
                    "recognized Christ as a divine mediator between God and man,
                    who was subordinate to the Father who created him." He was
                    especially interested in prophecy, but for him, "the great
                    apostasy was trinitarianism."


                    Newton tried unsuccessfully to obtain one of the two
                    fellowships that exempted the holder from the ordination
                    requirement. At the last moment in 1675 he received a
                    dispensation from the government that excused him and all
                    future holders of the Lucasian chair.


                    In Newton's eyes, worshipping Christ as God was idolatry, to
                    him the fundamental sin. In 1999, historian Stephen D.
                    Snobelen wrote, "Isaac Newton was a heretic. But ... he
                    never made a public declaration of his private faith—which
                    the orthodox would have deemed extremely radical. He hid his
                    faith so well that scholars are still unraveling his
                    personal beliefs." Snobelen concludes that Newton was at
                    least a Socinian sympathiser (he owned and had thoroughly
                    read at least eight Socinian books), possibly an Arian and
                    almost certainly an anti-trinitarian.


                    Although the laws of motion and universal gravitation became
                    Newton's best-known discoveries, he warned against using
                    them to view the Universe as a mere machine, as if akin to a
                    great clock. He said, "So then gravity may put the planets
                    into motion, but without the Divine Power it could never put
                    them into such a circulating motion, as they have about the
                    sun".


                    Along with his scientific fame, Newton's studies of the
                    Bible and of the early Church Fathers were also noteworthy.
                    Newton wrote works on textual criticism, most notably An
                    Historical Account of Two Notable Corruptions of Scripture
                    and Observations upon the Prophecies of Daniel, and the
                    Apocalypse of St. John. He placed the crucifixion of Jesus
                    Christ at 3 April, AD 33, which agrees with one
                    traditionally accepted date.


                    He believed in a rationally immanent world, but he rejected
                    the hylozoism implicit in Leibniz and Baruch Spinoza. The
                    ordered and dynamically informed Universe could be
                    understood, and must be understood, by an active reason. In
                    his correspondence, Newton claimed that in writing the
                    Principia "I had an eye upon such Principles as might work
                    with considering men for the belief of a Deity". He saw
                    evidence of design in the system of the world: "Such a
                    wonderful uniformity in the planetary system must be allowed
                    the effect of choice". But Newton insisted that divine
                    intervention would eventually be required to reform the
                    system, due to the slow growth of instabilities. For this,
                    Leibniz lampooned him: "God Almighty wants to wind up his
                    watch from time to time: otherwise it would cease to move.
                    He had not, it seems, sufficient foresight to make it a
                    perpetual motion."


                    Newton's position was vigorously defended by his follower
                    Samuel Clarke in a famous correspondence. A century later,
                    Pierre-Simon Laplace's work Celestial Mechanics had a
                    natural explanation for why the planet orbits do not require
                    periodic divine intervention. The contrast between Laplace's
                    mechanistic worldview and Newton's one is the most strident
                    considering the famous answer which the French scientist
                    gave Napoleon, who had criticised him for the absence of the
                    Creator in the Mécanique céleste: "Sire, j'ai pu me passer
                    de cette hypothèse" ("Sir, I didn't need this hypothesis").


                    Scholars long debated whether Newton disputed the doctrine
                    of the Trinity. His first biographer, David Brewster, who
                    compiled his manuscripts, interpreted Newton as questioning
                    the veracity of some passages used to support the Trinity,
                    but never denying the doctrine of the Trinity as such. In
                    the twentieth century, encrypted manuscripts written by
                    Newton and bought by John Maynard Keynes (among others) were
                    deciphered and it became known that Newton did indeed reject
                    Trinitarianism.


                    Newton and Robert Boyle's approach to the mechanical
                    philosophy was promoted by rationalist pamphleteers as a
                    viable alternative to the pantheists and enthusiasts, and
                    was accepted hesitantly by orthodox preachers as well as
                    dissident preachers like the latitudinarians. The clarity
                    and simplicity of science was seen as a way to combat the
                    emotional and metaphysical superlatives of both
                    superstitious enthusiasm and the threat of atheism, and at
                    the same time, the second wave of English deists used
                    Newton's discoveries to demonstrate the possibility of a
                    "Natural Religion".


                    The attacks made against pre-Enlightenment "magical
                    thinking", and the mystical elements of Christianity, were
                    given their foundation with Boyle's mechanical conception of
                    the universe. Newton gave Boyle's ideas their completion
                    through mathematical proofs and, perhaps more importantly,
                    was very successful in popularising them.


                    Newton was not the first of the age of reason. He was the
                    last of the magicians, the last of the Babylonians and
                    Sumerians, the last great mind which looked out on the
                    visible and intellectual world with the same eyes as those
                    who began to build our intellectual inheritance rather less
                    than 10,000 years ago. Isaac Newton, a posthumous child born
                    with no father on Christmas Day, 1642, was the last
                    wonderchild to whom the Magi could do sincere and
                    appropriate homage.


                    –John Maynard Keynes, "Newton, the Man"


                    Of an estimated ten million words of writing in Newton's
                    papers, about one million deal with alchemy. Many of
                    Newton's writings on alchemy are copies of other
                    manuscripts, with his own annotations. Alchemical texts mix
                    artisanal knowledge with philosophical speculation, often
                    hidden behind layers of wordplay, allegory, and imagery to
                    protect craft secrets. Some of the content contained in
                    Newton's papers could have been considered heretical by the
                    church.


                    In 1888, after spending sixteen years cataloguing Newton's
                    papers, Cambridge University kept a small number and
                    returned the rest to the Earl of Portsmouth. In 1936, a
                    descendant offered the papers for sale at Sotheby's. The
                    collection was broken up and sold for a total of about
                    £9,000. John Maynard Keynes was one of about three dozen
                    bidders who obtained part of the collection at auction.
                    Keynes went on to reassemble an estimated half of Newton's
                    collection of papers on alchemy before donating his
                    collection to Cambridge University in 1946.


                    All of Newton's known writings on alchemy are currently
                    being put online in a project undertaken by Indiana
                    University: "The Chymistry of Isaac Newton" and summarised
                    in a book.


                    Newton's fundamental contributions to science include the
                    quantification of gravitational attraction, the discovery
                    that white light is actually a mixture of immutable spectral
                    colors, and the formulation of the calculus. Yet there is
                    another, more mysterious side to Newton that is imperfectly
                    known, a realm of activity that spanned some thirty years of
                    his life, although he kept it largely hidden from his
                    contemporaries and colleagues. We refer to Newton's
                    involvement in the discipline of alchemy, or as it was often
                    called in seventeenth-century England, "chymistry."


                    In June 2020, two unpublished pages of Newton's notes on Jan
                    Baptist van Helmont's book on plague, De Peste, were being
                    auctioned online by Bonhams. Newton's analysis of this book,
                    which he made in Cambridge while protecting himself from
                    London's 1665–1666 infection, is the most substantial
                    written statement he is known to have made about the plague,
                    according to Bonhams. As far as the therapy is concerned,
                    Newton writes that "the best is a toad suspended by the legs
                    in a chimney for three days, which at last vomited up earth
                    with various insects in it, on to a dish of yellow wax, and
                    shortly after died. Combining powdered toad with the
                    excretions and serum made into lozenges and worn about the
                    affected area drove away the contagion and drew out the
                    poison".


                    The mathematician Joseph-Louis Lagrange said that Newton was
                    the greatest genius who ever lived, and once added that
                    Newton was also "the most fortunate, for we cannot find more
                    than once a system of the world to establish." English poet
                    Alexander Pope wrote the famous epitaph:


                    Nature, and Nature's laws lay hid in night. God said, Let
                    Newton be! and all was light.


                    But this was not allowed to be inscribed in Newton's
                    monument at Westminster. The epitaph added is as follows:


                    H. S. E. ISAACUS NEWTON Eques Auratus, / Qui, animi vi prope
                    divinâ, / Planetarum Motus, Figuras, / Cometarum semitas,
                    Oceanique Aestus. Suâ Mathesi facem praeferente / Primus
                    demonstravit: / Radiorum Lucis dissimilitudines, /
                    Colorumque inde nascentium proprietates, / Quas nemo antea
                    vel suspicatus erat, pervestigavit. / Naturae, Antiquitatis,
                    S. Scripturae, / Sedulus, sagax, fidus Interpres / Dei O. M.
                    Majestatem Philosophiâ asseruit, / Evangelij Simplicitatem
                    Moribus expressit. / Sibi gratulentur Mortales, / Tale
                    tantumque exstitisse / HUMANI GENERIS DECUS. / NAT. XXV DEC.
                    A.D. MDCXLII. OBIIT. XX. MAR. MDCCXXVI,


                    which can be translated as follows:


                    Here is buried Isaac Newton, Knight, who by a strength of
                    mind almost divine, and mathematical principles peculiarly
                    his own, explored the course and figures of the planets, the
                    paths of comets, the tides of the sea, the dissimilarities
                    in rays of light, and, what no other scholar has previously
                    imagined, the properties of the colours thus produced.
                    Diligent, sagacious and faithful, in his expositions of
                    nature, antiquity and the holy Scriptures, he vindicated by
                    his philosophy the majesty of God mighty and good, and
                    expressed the simplicity of the Gospel in his manners.
                    Mortals rejoice that there has existed such and so great an
                    ornament of the human race! He was born on 25th December
                    1642, and died on 20th March 1726.


                    In a 2005 survey of members of Britain's Royal Society
                    (formerly headed by Newton) asking who had the greater
                    effect on the history of science, Newton or Albert Einstein,
                    the members deemed Newton to have made the greater overall
                    contribution. In 1999, an opinion poll of 100 of the day's
                    leading physicists voted Einstein the "greatest physicist
                    ever," with Newton the runner-up, while a parallel survey of
                    rank-and-file physicists by the site PhysicsWeb gave the top
                    spot to Newton. New Scientist called Newton "the supreme
                    genius and most enigmatic character in the history of
                    science". Newton has been called the "most influential
                    figure in the history of Western science". Einstein kept a
                    picture of Newton on his study wall alongside ones of
                    Michael Faraday and James Clerk Maxwell.


                    Physicist Lev Landau ranked physicists on a logarithmic
                    scale of productivity ranging from 0 to 5. The highest
                    ranking, 0, was assigned to Newton. Albert Einstein was
                    ranked 0.5. A rank of 1 was awarded to the "founding
                    fathers" of quantum mechanics, Niels Bohr, Werner
                    Heisenberg, Paul Dirac and Erwin Schrödinger. Landau, a
                    Nobel prize winner and discoverer of superfluidity, ranked
                    himself as 2.


                    The SI derived unit of force is named the newton in his
                    honour.


                    Woolsthorpe Manor is a Grade I listed building by Historic
                    England through being his birthplace and "where he
                    discovered gravity and developed his theories regarding the
                    refraction of light".


                    In 1816, a tooth said to have belonged to Newton was sold
                    for £730 in London to an aristocrat who had it set in a
                    ring. Guinness World Records 2002 classified it as the most
                    valuable tooth in the world, which would value approximately
                    £25,000 (US$35,700) in late 2001. Who bought it and who
                    currently has it has not been disclosed.


                    Newton himself often told the story that he was inspired to
                    formulate his theory of gravitation by watching the fall of
                    an apple from a tree. The story is believed to have passed
                    into popular knowledge after being related by Catherine
                    Barton, Newton's niece, to Voltaire. Voltaire then wrote in
                    his Essay on Epic Poetry (1727), "Sir Isaac Newton walking
                    in his gardens, had the first thought of his system of
                    gravitation, upon seeing an apple falling from a tree."


                    Although it has been said that the apple story is a myth and
                    that he did not arrive at his theory of gravity at any
                    single moment, acquaintances of Newton (such as William
                    Stukeley, whose manuscript account of 1752 has been made
                    available by the Royal Society) do in fact confirm the
                    incident, though not the apocryphal version that the apple
                    actually hit Newton's head. Stukeley recorded in his Memoirs
                    of Sir Isaac Newton's Life a conversation with Newton in
                    Kensington on 15 April 1726:


                    we went into the garden, & drank thea under the shade of
                    some appletrees, only he, & myself. amidst other discourse,
                    he told me, he was just in the same situation, as when
                    formerly, the notion of gravitation came into his mind. "why
                    should that apple always descend perpendicularly to the
                    ground," thought he to him self: occasion'd by the fall of
                    an apple, as he sat in a comtemplative mood: "why should it
                    not go sideways, or upwards? but constantly to the earths
                    centre? assuredly, the reason is, that the earth draws it.
                    there must be a drawing power in matter. & the sum of the
                    drawing power in the matter of the earth must be in the
                    earths center, not in any side of the earth. therefore dos
                    this apple fall perpendicularly, or toward the center. if
                    matter thus draws matter; it must be in proportion of its
                    quantity. therefore the apple draws the earth, as well as
                    the earth draws the apple."


[...]
