{
  "openapi": "3.0.3",
  "info": {
    "title": "D-ID API",
    "version": "4.2.1",
    "description": "D-ID API for creating talking avatar videos, AI agents, streaming conversations, and animations."
  },
  "servers": [
    {
      "url": "https://api.d-id.com"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/talks": {
      "post": {
        "operationId": "CreateTalk",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the talk"
                    },
                    "object": {
                      "type": "string",
                      "description": "An identifier of this talk"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "The user id of the user that created the talk"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Talk creation time as iso-8601 string"
                    },
                    "status": {
                      "description": "The status of the talk",
                      "enum": [
                        "created",
                        "done",
                        "error",
                        "started",
                        "rejected"
                      ],
                      "type": "string",
                      "x-readme-ref-name": "TalkStatus"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created_by",
                    "created_at",
                    "status"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "CreateTalkResponseDto"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "tlk_AbCs-xcz",
                      "object": "talk",
                      "created_at": "2020-09-03T13:56:54.995",
                      "created_by": "123",
                      "status": "created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "BadRequestError",
                      "description": "invalid actor url"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "InsufficientCreditsError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "InsufficientCreditsError",
                      "description": "not enough credits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "PermissionError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "PermissionError",
                      "description": "user has no permission for stitch"
                    }
                  }
                }
              }
            }
          },
          "451": {
            "description": "ImageModerationError | CelebrityRecognizedError | TextModerationError | AudioModerationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "ImageModerationError",
                      "description": "Automatic content moderation - contact support if you would like to submit for manual review"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Create a talk",
        "tags": [
          "Talks (Standard Avatars)"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "description": "Use your own ElevenLabs API key for TTS (IVC voices only), consuming your ElevenLabs quota. Example: {\"elevenlabs\": \"ABCDEFGH123456\"}",
            "in": "header",
            "name": "x-api-key-external",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "source_url": {
                    "type": "string",
                    "description": "The URL of the source image to be animated by the driver video, or a selection from the list of provided\nstudio actors.",
                    "example": "https://path.to.directory/image.jpg",
                    "default": "https://d-id-public-bucket.s3.us-west-2.amazonaws.com/alice.jpg",
                    "pattern": "(https|s3):.*\\.(?:jpg|jpeg|png|JPG|JPEG|PNG)"
                  },
                  "script": {
                    "anyOf": [
                      {
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ],
                            "nullable": false,
                            "description": "The type of the script."
                          },
                          "subtitles": {
                            "type": "boolean",
                            "description": "Should subtitles be created.",
                            "default": false
                          },
                          "provider": {
                            "description": "text-to-speech provider from list of supported providers. default is microsoft tts",
                            "anyOf": [
                              {
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "microsoft"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.Microsoft"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "en-US-JennyNeural"
                                  },
                                  "voice_config": {
                                    "description": "Voice customization options",
                                    "properties": {
                                      "style": {
                                        "type": "string",
                                        "description": "The style of the voice.\nAvailable styles change between voices."
                                      },
                                      "rate": {
                                        "type": "string",
                                        "description": "The speed of the voice.\nThe value is relative to 1, 0.5 being half speed, 2 being twice as fast, etc.\nAnother option is a constant value from x-slow/slow/medium/fast/x-fast.",
                                        "example": "0.5"
                                      },
                                      "pitch": {
                                        "type": "string",
                                        "description": "The pitch of the voice.\nValue could be an absolute value in Hz (including units), a relative value in Hz or st(semitones)\nor a constant value from x-low/low/medium/high/x-high.",
                                        "example": "+2st"
                                      }
                                    },
                                    "type": "object",
                                    "additionalProperties": false,
                                    "x-readme-ref-name": "VoiceConfigMicrosoft"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "Voice customization options. To save the language of the selected agent voice",
                                    "example": "English (United States)"
                                  }
                                },
                                "required": [
                                  "type",
                                  "voice_id"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "Microsoft",
                                "x-readme-ref-name": "Microsoft_tts_provider"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "elevenlabs"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.Elevenlabs"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "21m00Tcm4TlvDq8ikWAM",
                                    "default": "21m00Tcm4TlvDq8ikWAM"
                                  },
                                  "voice_config": {
                                    "description": "Voice customization options. Read more here: https://docs.elevenlabs.io/speech-synthesis/voice-settings",
                                    "properties": {
                                      "stability": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "How stable the voice is and the randomness of each new generation.\nIf ElevenLabs V3 model is selected, must be one of these values: 0.0, 0.5, 1.0 (0.0 = Creative, 0.5 = Natural, 1.0 = Robust).",
                                        "example": "0",
                                        "minimum": 0,
                                        "maximum": 1
                                      },
                                      "similarity_boost": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "The similarity slider dictates how closely the AI should adhere to the original voice when attempting to replicate it.",
                                        "example": "0",
                                        "minimum": 0,
                                        "maximum": 1
                                      },
                                      "rate": {
                                        "type": "string",
                                        "description": "The speed of the voice.\nThe value is relative to 1. Valid range is 0.7 to 1.2.",
                                        "example": "0.7",
                                        "pattern": "^(|0\\.[7-9][0-9]*|1(\\.[0-1][0-9]*|\\.2|\\.20*)?)$"
                                      },
                                      "style": {
                                        "type": "string",
                                        "description": "Determines the style exaggeration of the voice.\nThis setting attempts to amplify the style of the original speaker.\nIt does consume additional computational resources and might increase latency if set to anything other than 0.\nValid range is 0 to 1.",
                                        "example": "0.5",
                                        "pattern": "^(|0(\\.[0-9]+)?|1(\\.0+)?)$"
                                      },
                                      "use_speaker_boost": {
                                        "type": "boolean",
                                        "description": "boosts the similarity to the original speaker.\nUsing this setting requires a slightly higher computational load, which in turn increases latency.",
                                        "example": true
                                      },
                                      "apply_language_text_normalization": {
                                        "type": "boolean",
                                        "description": "Controls language text normalization. This helps with proper pronunciation of text in some supported languages.\nWARNING: This parameter can heavily increase the latency of the request. Currently only supported for Japanese.",
                                        "example": true
                                      }
                                    },
                                    "type": "object",
                                    "additionalProperties": false,
                                    "x-readme-ref-name": "VoiceConfigElevenlabs"
                                  },
                                  "model_id": {
                                    "type": "string",
                                    "description": "The model id from the list of available models. https://elevenlabs.io/docs/speech-synthesis/models.",
                                    "example": "eleven_multilingual_v2",
                                    "default": "eleven_multilingual_v2"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "Voice customization options. To save the language of the selected voice",
                                    "example": "English (United States)"
                                  }
                                },
                                "required": [
                                  "type"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "ElevenLabs",
                                "x-readme-ref-name": "Elevenlabs_tts_provider"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "amazon"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.Amazon"
                                  },
                                  "voice_id": {
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "Joanna",
                                    "type": "string",
                                    "enum": [
                                      "Amy",
                                      "Aria",
                                      "Ayanda",
                                      "Bianca",
                                      "Brian",
                                      "Camila",
                                      "Emma",
                                      "Gabrielle",
                                      "Ivy",
                                      "Joanna",
                                      "Joey",
                                      "Justin",
                                      "Kendra",
                                      "Kevin",
                                      "Kimberly",
                                      "L\u00e9a",
                                      "Lucia",
                                      "Lupe",
                                      "Matthew",
                                      "Olivia",
                                      "Salli",
                                      "Seoyeon",
                                      "Takumi",
                                      "Vicki"
                                    ],
                                    "nullable": false,
                                    "x-readme-ref-name": "VoiceIdsAmazon"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "Voice customization options. To save the language of the selected agent voice",
                                    "example": "English (United States)"
                                  }
                                },
                                "required": [
                                  "type",
                                  "voice_id"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "Amazon",
                                "x-readme-ref-name": "Amazon_tts_provider"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "google"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.Google"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "he-IL-Wavenet-A",
                                    "default": "he-IL-Wavenet-A"
                                  }
                                },
                                "required": [
                                  "type"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "Google",
                                "x-readme-ref-name": "Google_tts_provider"
                              },
                              {
                                "properties": {
                                  "voice_id": {
                                    "type": "string",
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "en-US-JennyNeural"
                                  },
                                  "voice_config": {
                                    "description": "Voice customization options",
                                    "properties": {
                                      "style": {
                                        "type": "string",
                                        "description": "The style of the voice.\nAvailable styles change between voices."
                                      },
                                      "rate": {
                                        "type": "string",
                                        "description": "The speed of the voice.\nThe value is relative to 1, 0.5 being half speed, 2 being twice as fast, etc.\nAnother option is a constant value from x-slow/slow/medium/fast/x-fast.",
                                        "example": "0.5"
                                      },
                                      "pitch": {
                                        "type": "string",
                                        "description": "The pitch of the voice.\nValue could be an absolute value in Hz (including units), a relative value in Hz or st(semitones)\nor a constant value from x-low/low/medium/high/x-high.",
                                        "example": "+2st"
                                      }
                                    },
                                    "type": "object",
                                    "additionalProperties": false,
                                    "x-readme-ref-name": "VoiceConfigMicrosoft"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "Voice customization options. To save the language of the selected agent voice",
                                    "example": "English (United States)"
                                  },
                                  "type": {
                                    "enum": [
                                      "azure-openai"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.AzureOpenAi"
                                  }
                                },
                                "required": [
                                  "voice_id",
                                  "type"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "OpenAI",
                                "x-readme-ref-name": "AzureOpenAi_tts_provider"
                              }
                            ],
                            "title": "Text to Speech Providers",
                            "x-readme-ref-name": "TextToSpeechProviders"
                          },
                          "input": {
                            "type": "string",
                            "description": "The input text that will be synthesized to an audio file.\nNote that each provider has its own limitations on the text length.\nMaximum 40K characters (10K excluding SSML tags).",
                            "example": "Making videos is easy with D-ID",
                            "default": "Making videos is easy with D-ID",
                            "maxLength": 40000,
                            "minLength": 3
                          },
                          "ssml": {
                            "type": "boolean",
                            "description": "Is the text provided in ssml form.",
                            "default": false
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "type": "object",
                        "additionalProperties": false,
                        "x-readme-ref-name": "TextScript3"
                      },
                      {
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "audio"
                            ],
                            "nullable": false,
                            "description": "The type of the script."
                          },
                          "subtitles": {
                            "type": "boolean",
                            "description": "Should subtitles be created.",
                            "default": false
                          },
                          "audio_url": {
                            "description": "The URL of the audio file which will be used by the actor.\nFile size is limited to 15MB.\nAudio length is limited 5 minutes for clips and 10 minutes for talks.",
                            "type": "string",
                            "example": "https://path.to/audio.mp3",
                            "pattern": "^(https|s3):\\/\\/[\\S]+\\.(?:m4a|M4A|flac|FLAC|mp3|MP3|mp4|MP4|wav|WAV)([?#][\\w.\\/=&#%-]+)?$",
                            "x-readme-ref-name": "AudioUrl"
                          }
                        },
                        "required": [
                          "type",
                          "audio_url"
                        ],
                        "type": "object",
                        "additionalProperties": false,
                        "x-readme-ref-name": "AudioScript3"
                      }
                    ],
                    "x-readme-ref-name": "Script"
                  },
                  "config": {
                    "description": "Advanced configuration options",
                    "properties": {
                      "logo": {
                        "anyOf": [
                          {
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "https url to an ARGB jpg/png image, a default logo is used otherwise",
                                "pattern": "((https|s3):\\/\\/.+)"
                              },
                              "position": {
                                "items": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "type": "array",
                                "description": "position of the logo in pixels from the top left corner (w,h) negative values are subtracted from last pixel",
                                "example": [
                                  0,
                                  500
                                ],
                                "minItems": 2,
                                "maxItems": 2
                              }
                            },
                            "required": [
                              "url",
                              "position"
                            ],
                            "type": "object",
                            "additionalProperties": false,
                            "x-readme-ref-name": "Logo"
                          }
                        ]
                      },
                      "stitch": {
                        "type": "boolean",
                        "description": "Stitch back the animated result to the original image"
                      },
                      "result_format": {
                        "description": "File format of the animated result",
                        "type": "string",
                        "enum": [
                          "mp4",
                          "mov"
                        ],
                        "x-readme-ref-name": "ResultFormat"
                      },
                      "fluent": {
                        "type": "boolean",
                        "description": "Interpolate between the last & first frames of the driver video",
                        "default": false
                      },
                      "pad_audio": {
                        "type": "number",
                        "format": "double",
                        "description": "Pad the audio with silence at the end (given in seconds)\nWill increase the video duration & the credits it consumes",
                        "default": 0,
                        "minimum": 0,
                        "maximum": 60
                      },
                      "driver_expressions": {
                        "description": "timed expressions for animation, the current expression is not cleared until a new expression is defined.\nPossible expressions include `happy`, `neutral` and more.",
                        "properties": {
                          "expressions": {
                            "items": {
                              "properties": {
                                "start_frame": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "The frame number for the expression start point.",
                                  "minimum": 0
                                },
                                "expression": {
                                  "description": "The expression to use",
                                  "enum": [
                                    "neutral",
                                    "happy",
                                    "serious",
                                    "surprise"
                                  ],
                                  "type": "string",
                                  "x-readme-ref-name": "Expression"
                                },
                                "intensity": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "Controls the intensity you want for this expression (between 0 no expression, 1 maximum)",
                                  "minimum": 0,
                                  "maximum": 1
                                }
                              },
                              "required": [
                                "start_frame",
                                "expression",
                                "intensity"
                              ],
                              "type": "object",
                              "additionalProperties": false,
                              "x-readme-ref-name": "TimedExpression"
                            },
                            "type": "array",
                            "description": "List of TimedExpression to use"
                          },
                          "transition_frames": {
                            "type": "number",
                            "format": "double",
                            "description": "Number of frames to use for the transition between expressions",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "expressions"
                        ],
                        "type": "object",
                        "additionalProperties": false,
                        "x-readme-ref-name": "ExpressionConfig"
                      }
                    },
                    "type": "object",
                    "additionalProperties": false,
                    "title": "Configuration",
                    "x-readme-ref-name": "TalksConfig"
                  },
                  "user_data": {
                    "description": "Non-sensitive custom data that will be added to the talk response and webhook",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000,
                    "pattern": "^(?!\\s*$).+$",
                    "x-readme-ref-name": "UserData"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the talk video"
                  },
                  "webhook": {
                    "description": "A webhook URL for sending the payload including animate details\nIn a case of empty value, the webhook will not be triggered",
                    "example": "https://host.domain.tld/to/webhook",
                    "type": "string",
                    "pattern": "^(?:https):\\/\\/[\\S]+$",
                    "x-readme-ref-name": "SecuredUrl"
                  },
                  "result_url": {
                    "description": "The URL of the talk video, if not provided use default destination.",
                    "example": "https://path.to.directory/",
                    "type": "string",
                    "pattern": "(https|s3):\\/\\/.+",
                    "x-readme-ref-name": "RemoteUrl"
                  }
                },
                "required": [
                  "script"
                ],
                "type": "object",
                "additionalProperties": false,
                "x-readme-ref-name": "CreateTalkRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "GetTalks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "talks": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the object"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Unique identifier of the user that submitted the talk"
                          },
                          "source_url": {
                            "type": "string",
                            "description": "The URL of the source image to be animated by the driver video. Image type of .jpg | .png"
                          },
                          "driver_url": {
                            "type": "string",
                            "description": "The URL of the driver video to drive the talk, if not provided a driver video will be selected for you from the predefined DriversBank"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Talk creation time as iso-8601 string"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "The user id of the user that created the talk"
                          },
                          "audio_url": {
                            "description": "The URL of the audio file which will be used by the actor",
                            "example": "https://path.to/audio.mp3",
                            "type": "string",
                            "pattern": "^(?:https):\\/\\/[\\S]+$",
                            "x-readme-ref-name": "SecuredUrl"
                          },
                          "started_at": {
                            "type": "string",
                            "description": "Talk start time as iso-8601 string"
                          },
                          "modified_at": {
                            "type": "string",
                            "description": "last modified time as iso-8601 string"
                          },
                          "status": {
                            "description": "The status of the talk",
                            "enum": [
                              "created",
                              "done",
                              "error",
                              "started",
                              "rejected"
                            ],
                            "type": "string",
                            "x-readme-ref-name": "TalkStatus"
                          },
                          "result_url": {
                            "type": "string",
                            "description": "s3 uri to the resulting video"
                          },
                          "metadata": {
                            "description": "metadata that has been collected through the process",
                            "properties": {},
                            "type": "object",
                            "x-readme-ref-name": "Record_string.any_"
                          },
                          "webhook": {
                            "type": "string",
                            "description": "A webhook URL for sending the payload including animate details. In a case of empty value, the webhook will not be triggered"
                          },
                          "config": {
                            "description": "The configuration that used to process the talk",
                            "properties": {
                              "logo": {
                                "anyOf": [
                                  {
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "description": "https url to an ARGB jpg/png image, a default logo is used otherwise",
                                        "pattern": "((https|s3):\\/\\/.+)"
                                      },
                                      "position": {
                                        "items": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "type": "array",
                                        "description": "position of the logo in pixels from the top left corner (w,h) negative values are subtracted from last pixel",
                                        "example": [
                                          0,
                                          500
                                        ],
                                        "minItems": 2,
                                        "maxItems": 2
                                      }
                                    },
                                    "required": [
                                      "url",
                                      "position"
                                    ],
                                    "type": "object",
                                    "additionalProperties": false,
                                    "x-readme-ref-name": "Logo"
                                  }
                                ]
                              },
                              "stitch": {
                                "type": "boolean",
                                "description": "Stitch back the animated result to the original image"
                              },
                              "result_format": {
                                "description": "File format of the animated result",
                                "type": "string",
                                "enum": [
                                  "mp4",
                                  "mov"
                                ],
                                "x-readme-ref-name": "ResultFormat"
                              },
                              "fluent": {
                                "type": "boolean",
                                "description": "Interpolate between the last & first frames of the driver video",
                                "default": false
                              },
                              "pad_audio": {
                                "type": "number",
                                "format": "double",
                                "description": "Pad the audio with silence at the end (given in seconds)\nWill increase the video duration & the credits it consumes",
                                "default": 0,
                                "minimum": 0,
                                "maximum": 60
                              },
                              "driver_expressions": {
                                "description": "timed expressions for animation, the current expression is not cleared until a new expression is defined.\nPossible expressions include `happy`, `neutral` and more.",
                                "properties": {
                                  "expressions": {
                                    "items": {
                                      "properties": {
                                        "start_frame": {
                                          "type": "number",
                                          "format": "double",
                                          "description": "The frame number for the expression start point.",
                                          "minimum": 0
                                        },
                                        "expression": {
                                          "description": "The expression to use",
                                          "enum": [
                                            "neutral",
                                            "happy",
                                            "serious",
                                            "surprise"
                                          ],
                                          "type": "string",
                                          "x-readme-ref-name": "Expression"
                                        },
                                        "intensity": {
                                          "type": "number",
                                          "format": "double",
                                          "description": "Controls the intensity you want for this expression (between 0 no expression, 1 maximum)",
                                          "minimum": 0,
                                          "maximum": 1
                                        }
                                      },
                                      "required": [
                                        "start_frame",
                                        "expression",
                                        "intensity"
                                      ],
                                      "type": "object",
                                      "additionalProperties": false,
                                      "x-readme-ref-name": "TimedExpression"
                                    },
                                    "type": "array",
                                    "description": "List of TimedExpression to use"
                                  },
                                  "transition_frames": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Number of frames to use for the transition between expressions",
                                    "minimum": 0
                                  }
                                },
                                "required": [
                                  "expressions"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "x-readme-ref-name": "ExpressionConfig"
                              }
                            },
                            "type": "object",
                            "additionalProperties": false,
                            "title": "Configuration",
                            "x-readme-ref-name": "TalksConfig"
                          }
                        },
                        "required": [
                          "id",
                          "user_id",
                          "source_url",
                          "created_at",
                          "modified_at",
                          "status"
                        ],
                        "type": "object",
                        "additionalProperties": false,
                        "x-readme-ref-name": "GetTalkDto"
                      },
                      "type": "array"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "talks"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "GetTalksDto"
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get talks",
        "tags": [
          "Talks (Standard Avatars)"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "description": "pagination - the amount of talks to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "pagination - the pagination token from the previous response, default = 100",
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/talks/{id}": {
      "get": {
        "operationId": "GetTalk",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the object"
                    },
                    "user_id": {
                      "type": "string",
                      "description": "Unique identifier of the user that submitted the talk"
                    },
                    "source_url": {
                      "type": "string",
                      "description": "The URL of the source image to be animated by the driver video. Image type of .jpg | .png"
                    },
                    "driver_url": {
                      "type": "string",
                      "description": "The URL of the driver video to drive the talk, if not provided a driver video will be selected for you from the predefined DriversBank"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Talk creation time as iso-8601 string"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "The user id of the user that created the talk"
                    },
                    "audio_url": {
                      "description": "The URL of the audio file which will be used by the actor",
                      "example": "https://path.to/audio.mp3",
                      "type": "string",
                      "pattern": "^(?:https):\\/\\/[\\S]+$",
                      "x-readme-ref-name": "SecuredUrl"
                    },
                    "started_at": {
                      "type": "string",
                      "description": "Talk start time as iso-8601 string"
                    },
                    "modified_at": {
                      "type": "string",
                      "description": "last modified time as iso-8601 string"
                    },
                    "status": {
                      "description": "The status of the talk",
                      "enum": [
                        "created",
                        "done",
                        "error",
                        "started",
                        "rejected"
                      ],
                      "type": "string",
                      "x-readme-ref-name": "TalkStatus"
                    },
                    "result_url": {
                      "type": "string",
                      "description": "s3 uri to the resulting video"
                    },
                    "metadata": {
                      "description": "metadata that has been collected through the process",
                      "properties": {},
                      "type": "object",
                      "x-readme-ref-name": "Record_string.any_"
                    },
                    "webhook": {
                      "type": "string",
                      "description": "A webhook URL for sending the payload including animate details. In a case of empty value, the webhook will not be triggered"
                    },
                    "config": {
                      "description": "The configuration that used to process the talk",
                      "properties": {
                        "logo": {
                          "anyOf": [
                            {
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "https url to an ARGB jpg/png image, a default logo is used otherwise",
                                  "pattern": "((https|s3):\\/\\/.+)"
                                },
                                "position": {
                                  "items": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "type": "array",
                                  "description": "position of the logo in pixels from the top left corner (w,h) negative values are subtracted from last pixel",
                                  "example": [
                                    0,
                                    500
                                  ],
                                  "minItems": 2,
                                  "maxItems": 2
                                }
                              },
                              "required": [
                                "url",
                                "position"
                              ],
                              "type": "object",
                              "additionalProperties": false,
                              "x-readme-ref-name": "Logo"
                            }
                          ]
                        },
                        "stitch": {
                          "type": "boolean",
                          "description": "Stitch back the animated result to the original image"
                        },
                        "result_format": {
                          "description": "File format of the animated result",
                          "type": "string",
                          "enum": [
                            "mp4",
                            "mov"
                          ],
                          "x-readme-ref-name": "ResultFormat"
                        },
                        "fluent": {
                          "type": "boolean",
                          "description": "Interpolate between the last & first frames of the driver video",
                          "default": false
                        },
                        "pad_audio": {
                          "type": "number",
                          "format": "double",
                          "description": "Pad the audio with silence at the end (given in seconds)\nWill increase the video duration & the credits it consumes",
                          "default": 0,
                          "minimum": 0,
                          "maximum": 60
                        },
                        "driver_expressions": {
                          "description": "timed expressions for animation, the current expression is not cleared until a new expression is defined.\nPossible expressions include `happy`, `neutral` and more.",
                          "properties": {
                            "expressions": {
                              "items": {
                                "properties": {
                                  "start_frame": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The frame number for the expression start point.",
                                    "minimum": 0
                                  },
                                  "expression": {
                                    "description": "The expression to use",
                                    "enum": [
                                      "neutral",
                                      "happy",
                                      "serious",
                                      "surprise"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Expression"
                                  },
                                  "intensity": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Controls the intensity you want for this expression (between 0 no expression, 1 maximum)",
                                    "minimum": 0,
                                    "maximum": 1
                                  }
                                },
                                "required": [
                                  "start_frame",
                                  "expression",
                                  "intensity"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "x-readme-ref-name": "TimedExpression"
                              },
                              "type": "array",
                              "description": "List of TimedExpression to use"
                            },
                            "transition_frames": {
                              "type": "number",
                              "format": "double",
                              "description": "Number of frames to use for the transition between expressions",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "expressions"
                          ],
                          "type": "object",
                          "additionalProperties": false,
                          "x-readme-ref-name": "ExpressionConfig"
                        }
                      },
                      "type": "object",
                      "additionalProperties": false,
                      "title": "Configuration",
                      "x-readme-ref-name": "TalksConfig"
                    }
                  },
                  "required": [
                    "id",
                    "user_id",
                    "source_url",
                    "created_at",
                    "modified_at",
                    "status"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "GetTalkDto"
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFoundError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "NotFoundError",
                      "description": "not found"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get a specific talk",
        "tags": [
          "Talks (Standard Avatars)"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "operationId": "DeleteTalk",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the object"
                    },
                    "user_id": {
                      "type": "string",
                      "description": "Unique identifier of the user that submitted the talk"
                    },
                    "source_url": {
                      "type": "string",
                      "description": "The URL of the source image to be animated by the driver video. Image type of .jpg | .png"
                    },
                    "driver_url": {
                      "type": "string",
                      "description": "The URL of the driver video to drive the talk, if not provided a driver video will be selected for you from the predefined DriversBank"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Talk creation time as iso-8601 string"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "The user id of the user that created the talk"
                    },
                    "audio_url": {
                      "description": "The URL of the audio file which will be used by the actor",
                      "example": "https://path.to/audio.mp3",
                      "type": "string",
                      "pattern": "^(?:https):\\/\\/[\\S]+$",
                      "x-readme-ref-name": "SecuredUrl"
                    },
                    "started_at": {
                      "type": "string",
                      "description": "Talk start time as iso-8601 string"
                    },
                    "modified_at": {
                      "type": "string",
                      "description": "last modified time as iso-8601 string"
                    },
                    "status": {
                      "description": "The status of the talk",
                      "enum": [
                        "created",
                        "done",
                        "error",
                        "started",
                        "rejected"
                      ],
                      "type": "string",
                      "x-readme-ref-name": "TalkStatus"
                    },
                    "result_url": {
                      "type": "string",
                      "description": "s3 uri to the resulting video"
                    },
                    "metadata": {
                      "description": "metadata that has been collected through the process",
                      "properties": {},
                      "type": "object",
                      "x-readme-ref-name": "Record_string.any_"
                    },
                    "webhook": {
                      "type": "string",
                      "description": "A webhook URL for sending the payload including animate details. In a case of empty value, the webhook will not be triggered"
                    },
                    "config": {
                      "description": "The configuration that used to process the talk",
                      "properties": {
                        "logo": {
                          "anyOf": [
                            {
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "https url to an ARGB jpg/png image, a default logo is used otherwise",
                                  "pattern": "((https|s3):\\/\\/.+)"
                                },
                                "position": {
                                  "items": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "type": "array",
                                  "description": "position of the logo in pixels from the top left corner (w,h) negative values are subtracted from last pixel",
                                  "example": [
                                    0,
                                    500
                                  ],
                                  "minItems": 2,
                                  "maxItems": 2
                                }
                              },
                              "required": [
                                "url",
                                "position"
                              ],
                              "type": "object",
                              "additionalProperties": false,
                              "x-readme-ref-name": "Logo"
                            }
                          ]
                        },
                        "stitch": {
                          "type": "boolean",
                          "description": "Stitch back the animated result to the original image"
                        },
                        "result_format": {
                          "description": "File format of the animated result",
                          "type": "string",
                          "enum": [
                            "mp4",
                            "mov"
                          ],
                          "x-readme-ref-name": "ResultFormat"
                        },
                        "fluent": {
                          "type": "boolean",
                          "description": "Interpolate between the last & first frames of the driver video",
                          "default": false
                        },
                        "pad_audio": {
                          "type": "number",
                          "format": "double",
                          "description": "Pad the audio with silence at the end (given in seconds)\nWill increase the video duration & the credits it consumes",
                          "default": 0,
                          "minimum": 0,
                          "maximum": 60
                        },
                        "driver_expressions": {
                          "description": "timed expressions for animation, the current expression is not cleared until a new expression is defined.\nPossible expressions include `happy`, `neutral` and more.",
                          "properties": {
                            "expressions": {
                              "items": {
                                "properties": {
                                  "start_frame": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The frame number for the expression start point.",
                                    "minimum": 0
                                  },
                                  "expression": {
                                    "description": "The expression to use",
                                    "enum": [
                                      "neutral",
                                      "happy",
                                      "serious",
                                      "surprise"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Expression"
                                  },
                                  "intensity": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Controls the intensity you want for this expression (between 0 no expression, 1 maximum)",
                                    "minimum": 0,
                                    "maximum": 1
                                  }
                                },
                                "required": [
                                  "start_frame",
                                  "expression",
                                  "intensity"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "x-readme-ref-name": "TimedExpression"
                              },
                              "type": "array",
                              "description": "List of TimedExpression to use"
                            },
                            "transition_frames": {
                              "type": "number",
                              "format": "double",
                              "description": "Number of frames to use for the transition between expressions",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "expressions"
                          ],
                          "type": "object",
                          "additionalProperties": false,
                          "x-readme-ref-name": "ExpressionConfig"
                        }
                      },
                      "type": "object",
                      "additionalProperties": false,
                      "title": "Configuration",
                      "x-readme-ref-name": "TalksConfig"
                    }
                  },
                  "required": [
                    "id",
                    "user_id",
                    "source_url",
                    "created_at",
                    "modified_at",
                    "status"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "GetTalkDto"
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFoundError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "NotFoundError",
                      "description": "not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "NotReadyError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {},
                    "internal": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "x-readme-ref-name": "JsonError"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "NotReadyError",
                      "description": "talk is in process, try again later"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Delete a specific talk",
        "tags": [
          "Talks (Standard Avatars)"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/clips/presenters": {
      "get": {
        "operationId": "GetPresenters",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "presenters": {
                      "items": {
                        "properties": {
                          "presenter_id": {
                            "type": "string",
                            "example": "jack-Pt27VkP3hW"
                          },
                          "name": {
                            "type": "string",
                            "example": "Amy"
                          },
                          "driver_id": {
                            "type": "string",
                            "example": "Vcq0R4a8F0"
                          },
                          "gender": {
                            "type": "string",
                            "description": "The gender of the presenter.\nmale / female / other"
                          },
                          "owner_id": {
                            "type": "string",
                            "description": "The owner id of the driver"
                          },
                          "preview_url": {
                            "type": "string",
                            "description": "A short gif, trimmed from the original driver in low resolution"
                          },
                          "talking_preview_url": {
                            "type": "string",
                            "description": "A short clip which is an example of a video that could be generated"
                          },
                          "modified_at": {
                            "type": "string",
                            "description": "Presenter modified at"
                          },
                          "video_url": {
                            "type": "string",
                            "description": "A short video, trimmed from the original driver in high resolution"
                          },
                          "thumbnail_url": {
                            "type": "string"
                          },
                          "image_url": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "voice": {
                            "anyOf": [
                              {
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "microsoft"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.Microsoft"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "en-US-JennyNeural"
                                  },
                                  "voice_config": {
                                    "description": "Voice customization options",
                                    "properties": {
                                      "style": {
                                        "type": "string",
                                        "description": "The style of the voice.\nAvailable styles change between voices."
                                      },
                                      "rate": {
                                        "type": "string",
                                        "description": "The speed of the voice.\nThe value is relative to 1, 0.5 being half speed, 2 being twice as fast, etc.\nAnother option is a constant value from x-slow/slow/medium/fast/x-fast.",
                                        "example": "0.5"
                                      },
                                      "pitch": {
                                        "type": "string",
                                        "description": "The pitch of the voice.\nValue could be an absolute value in Hz (including units), a relative value in Hz or st(semitones)\nor a constant value from x-low/low/medium/high/x-high.",
                                        "example": "+2st"
                                      }
                                    },
                                    "type": "object",
                                    "additionalProperties": false,
                                    "x-readme-ref-name": "VoiceConfigMicrosoft"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "Voice customization options. To save the language of the selected agent voice",
                                    "example": "English (United States)"
                                  }
                                },
                                "required": [
                                  "type",
                                  "voice_id"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "Microsoft",
                                "x-readme-ref-name": "Microsoft_tts_provider"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "elevenlabs"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.Elevenlabs"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "21m00Tcm4TlvDq8ikWAM",
                                    "default": "21m00Tcm4TlvDq8ikWAM"
                                  },
                                  "voice_config": {
                                    "description": "Voice customization options. Read more here: https://docs.elevenlabs.io/speech-synthesis/voice-settings",
                                    "properties": {
                                      "stability": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "How stable the voice is and the randomness of each new generation.\nIf ElevenLabs V3 model is selected, must be one of these values: 0.0, 0.5, 1.0 (0.0 = Creative, 0.5 = Natural, 1.0 = Robust).",
                                        "example": "0",
                                        "minimum": 0,
                                        "maximum": 1
                                      },
                                      "similarity_boost": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "The similarity slider dictates how closely the AI should adhere to the original voice when attempting to replicate it.",
                                        "example": "0",
                                        "minimum": 0,
                                        "maximum": 1
                                      },
                                      "rate": {
                                        "type": "string",
                                        "description": "The speed of the voice.\nThe value is relative to 1. Valid range is 0.7 to 1.2.",
                                        "example": "0.7",
                                        "pattern": "^(|0\\.[7-9][0-9]*|1(\\.[0-1][0-9]*|\\.2|\\.20*)?)$"
                                      },
                                      "style": {
                                        "type": "string",
                                        "description": "Determines the style exaggeration of the voice.\nThis setting attempts to amplify the style of the original speaker.\nIt does consume additional computational resources and might increase latency if set to anything other than 0.\nValid range is 0 to 1.",
                                        "example": "0.5",
                                        "pattern": "^(|0(\\.[0-9]+)?|1(\\.0+)?)$"
                                      },
                                      "use_speaker_boost": {
                                        "type": "boolean",
                                        "description": "boosts the similarity to the original speaker.\nUsing this setting requires a slightly higher computational load, which in turn increases latency.",
                                        "example": true
                                      },
                                      "apply_language_text_normalization": {
                                        "type": "boolean",
                                        "description": "Controls language text normalization. This helps with proper pronunciation of text in some supported languages.\nWARNING: This parameter can heavily increase the latency of the request. Currently only supported for Japanese.",
                                        "example": true
                                      }
                                    },
                                    "type": "object",
                                    "additionalProperties": false,
                                    "x-readme-ref-name": "VoiceConfigElevenlabs"
                                  },
                                  "model_id": {
                                    "type": "string",
                                    "description": "The model id from the list of available models. https://elevenlabs.io/docs/speech-synthesis/models.",
                                    "example": "eleven_multilingual_v2",
                                    "default": "eleven_multilingual_v2"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "Voice customization options. To save the language of the selected voice",
                                    "example": "English (United States)"
                                  }
                                },
                                "required": [
                                  "type"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "ElevenLabs",
                                "x-readme-ref-name": "Elevenlabs_tts_provider"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "amazon"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.Amazon"
                                  },
                                  "voice_id": {
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "Joanna",
                                    "type": "string",
                                    "enum": [
                                      "Amy",
                                      "Aria",
                                      "Ayanda",
                                      "Bianca",
                                      "Brian",
                                      "Camila",
                                      "Emma",
                                      "Gabrielle",
                                      "Ivy",
                                      "Joanna",
                                      "Joey",
                                      "Justin",
                                      "Kendra",
                                      "Kevin",
                                      "Kimberly",
                                      "L\u00e9a",
                                      "Lucia",
                                      "Lupe",
                                      "Matthew",
                                      "Olivia",
                                      "Salli",
                                      "Seoyeon",
                                      "Takumi",
                                      "Vicki"
                                    ],
                                    "nullable": false,
                                    "x-readme-ref-name": "VoiceIdsAmazon"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "Voice customization options. To save the language of the selected agent voice",
                                    "example": "English (United States)"
                                  }
                                },
                                "required": [
                                  "type",
                                  "voice_id"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "Amazon",
                                "x-readme-ref-name": "Amazon_tts_provider"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "google"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.Google"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "he-IL-Wavenet-A",
                                    "default": "he-IL-Wavenet-A"
                                  }
                                },
                                "required": [
                                  "type"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "Google",
                                "x-readme-ref-name": "Google_tts_provider"
                              },
                              {
                                "properties": {
                                  "voice_id": {
                                    "type": "string",
                                    "description": "Voice ID selected from the list of available voices.</br>Retrieve available options from the GET /voices endpoint.",
                                    "example": "en-US-JennyNeural"
                                  },
                                  "voice_config": {
                                    "description": "Voice customization options",
                                    "properties": {
                                      "style": {
                                        "type": "string",
                                        "description": "The style of the voice.\nAvailable styles change between voices."
                                      },
                                      "rate": {
                                        "type": "string",
                                        "description": "The speed of the voice.\nThe value is relative to 1, 0.5 being half speed, 2 being twice as fast, etc.\nAnother option is a constant value from x-slow/slow/medium/fast/x-fast.",
                                        "example": "0.5"
                                      },
                                      "pitch": {
                                        "type": "string",
                                        "description": "The pitch of the voice.\nValue could be an absolute value in Hz (including units), a relative value in Hz or st(semitones)\nor a constant value from x-low/low/medium/high/x-high.",
                                        "example": "+2st"
                                      }
                                    },
                                    "type": "object",
                                    "additionalProperties": false,
                                    "x-readme-ref-name": "VoiceConfigMicrosoft"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "Voice customization options. To save the language of the selected agent voice",
                                    "example": "English (United States)"
                                  },
                                  "type": {
                                    "enum": [
                                      "azure-openai"
                                    ],
                                    "type": "string",
                                    "x-readme-ref-name": "Providers.AzureOpenAi"
                                  }
                                },
                                "required": [
                                  "voice_id",
                                  "type"
                                ],
                                "type": "object",
                                "additionalProperties": false,
                                "title": "OpenAI",
                                "x-readme-ref-name": "AzureOpenAi_tts_provider"
                              }
                            ],
                            "title": "Text to Speech Providers",
                            "x-readme-ref-name": "TextToSpeechProviders"
                          },
                          "is_streamable": {
                            "type": "boolean",
                            "description": "Whether or not the presenter is streamable"
                          },
                          "is_greenscreen": {
                            "type": "boolean",
                            "description": "Indicates if the presenter supports transparent background"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "done",
                              "started",
                              "error",
                              "rejected"
                            ],
                            "description": "The status of the presenter"
                          },
                          "face_rect": {
                            "description": "The face rect of the presenter",
                            "title": "Face",
                            "x-readme-ref-name": "FaceRect",
                            "properties": {
                              "top": {
                                "type": "number",
                                "format": "double",
                                "maximum": 8000,
                                "x-readme-ref-name": "Dimension"
                              },
                              "left": {
                                "type": "number",
                                "format": "double",
                                "maximum": 8000,
                                "x-readme-ref-name": "Dimension"
                              },
                              "bottom": {
                                "type": "number",
                                "format": "double",
                                "maximum": 8000,
                                "x-readme-ref-name": "Dimension"
[...]
