openapi: 3.0.1
info:
  title: GroqCloud API
  description: Specification of the Groq cloud API
  termsOfService: https://groq.com/terms-of-use/
  contact:
    name: Groq Support
    email: support@groq.com
  version: '2.1'
servers:
  - url: https://api.groq.com
paths:
  /openai/v1/audio/speech:
    post:
      operationId: createSpeech
      tags:
        - Audio
      summary: Generates audio from the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpeechRequest'
      responses:
        '200':
          description: OK
          headers:
            Transfer-Encoding:
              schema:
                type: string
              description: chunked
          content:
            audio/wav:
              schema:
                type: string
                format: binary
      x-groq-metadata:
        returns: Returns an audio file in `wav` format.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/audio/speech \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json" \
                  -d '{
                    "model": "playai-tts",
                    "input": "I love building and shipping new features for our users!",
                    "voice": "Fritz-PlayAI",
                    "response_format": "wav"
                  }'
              py: |
                import os
                from groq import Groq

                client = Groq(api_key=os.environ.get("GROQ_API_KEY"))

                speech_file_path = "speech.wav"
                model = "playai-tts"
                voice = "Fritz-PlayAI"
                text = "I love building and shipping new features for our users!"
                response_format = "wav"

                response = client.audio.speech.create(
                    model=model,
                    voice=voice,
                    input=text,
                    response_format=response_format
                )

                response.write_to_file(speech_file_path)
              js: |
                import fs from "fs";
                import path from "path";
                import Groq from 'groq-sdk';

                const groq = new Groq({
                  apiKey: process.env.GROQ_API_KEY
                });

                const speechFilePath = "speech.wav";
                const model = "playai-tts";
                const voice = "Fritz-PlayAI";
                const text = "I love building and shipping new features for our users!";
                const responseFormat = "wav";

                async function main() {
                  const response = await groq.audio.speech.create({
                    model: model,
                    voice: voice,
                    input: text,
                    response_format: responseFormat
                  });

                  const buffer = Buffer.from(await response.arrayBuffer());
                  await fs.promises.writeFile(speechFilePath, buffer);
                }

                main();
  /openai/v1/audio/transcriptions:
    post:
      operationId: createTranscription
      tags:
        - Audio
      summary: Transcribes audio into the input language.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTranscriptionResponseJson'
      x-groq-metadata:
        returns: Returns an audio transcription object.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/audio/transcriptions \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: multipart/form-data" \
                  -F file="@./sample_audio.m4a" \
                  -F model="whisper-large-v3"
              py: |
                import os
                from groq import Groq

                client = Groq()
                filename = os.path.dirname(__file__) + "/sample_audio.m4a"

                with open(filename, "rb") as file:
                    transcription = client.audio.transcriptions.create(
                      file=(filename, file.read()),
                      model="whisper-large-v3",
                      prompt="Specify context or spelling",  # Optional
                      response_format="json",  # Optional
                      language="en",  # Optional
                      temperature=0.0  # Optional
                    )
                    print(transcription.text)
              js: |
                import fs from "fs";
                import Groq from "groq-sdk";

                const groq = new Groq();
                async function main() {
                  const transcription = await groq.audio.transcriptions.create({
                    file: fs.createReadStream("sample_audio.m4a"),
                    model: "whisper-large-v3",
                    prompt: "Specify context or spelling", // Optional
                    response_format: "json", // Optional
                    language: "en", // Optional
                    temperature: 0.0, // Optional
                  });
                  console.log(transcription.text);
                }
                main();
            response: |
              {
                "text": "Your transcribed text appears here...",
                "x_groq": {
                  "id": "req_unique_id"
                }
              }
  /openai/v1/audio/translations:
    post:
      operationId: createTranslation
      tags:
        - Audio
      summary: Translates audio into English.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranslationRequest'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTranslationResponseJson'
      x-groq-metadata:
        returns: Returns an audio translation object.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/audio/translations \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: multipart/form-data" \
                  -F file="@./sample_audio.m4a" \
                  -F model="whisper-large-v3"
              py: |
                # Default
                import os
                from groq import Groq

                client = Groq()
                filename = os.path.dirname(__file__) + "/sample_audio.m4a"

                with open(filename, "rb") as file:
                    translation = client.audio.translations.create(
                      file=(filename, file.read()),
                      model="whisper-large-v3",
                      prompt="Specify context or spelling",  # Optional
                      response_format="json",  # Optional
                      temperature=0.0  # Optional
                    )
                    print(translation.text)
              js: |
                // Default
                import fs from "fs";
                import Groq from "groq-sdk";

                const groq = new Groq();
                async function main() {
                  const translation = await groq.audio.translations.create({
                    file: fs.createReadStream("sample_audio.m4a"),
                    model: "whisper-large-v3",
                    prompt: "Specify context or spelling", // Optional
                    response_format: "json", // Optional
                    temperature: 0.0, // Optional
                  });
                  console.log(translation.text);
                }
                main();
            response: |
              {
                "text": "Your translated text appears here...",
                "x_groq": {
                  "id": "req_unique_id"
                }
              }
  /openai/v1/batches:
    post:
      summary: Creates and executes a batch from an uploaded file of requests. [Learn more](/docs/batch).
      operationId: createBatch
      tags:
        - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - input_file_id
                - endpoint
                - completion_window
              properties:
                input_file_id:
                  type: string
                  description: >
                    The ID of an uploaded file that contains requests for the new batch.


                    See [upload file](/docs/api-reference#files-upload) for how to upload a file.


                    Your input file must be formatted as a [JSONL file](/docs/batch), and must be uploaded
                    with the purpose `batch`. The file can be up to 100 MB in size.
                endpoint:
                  type: string
                  enum:
                    - /v1/chat/completions
                  description: >-
                    The endpoint to be used for all requests in the batch. Currently `/v1/chat/completions` is
                    supported.
                completion_window:
                  type: string
                  description: >-
                    The time frame within which the batch should be processed. Durations from `24h` to `7d`
                    are supported.
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                  description: Optional custom metadata for the batch.
                  nullable: true
      responses:
        '200':
          description: Batch created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
      x-groq-metadata:
        returns: A created batch object.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/batches \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json" \
                  -d '{
                    "input_file_id": "file_01jh6x76wtemjr74t1fh0faj5t",
                    "endpoint": "/v1/chat/completions",
                    "completion_window": "24h"
                  }'
              py: |
                import os
                from groq import Groq

                client = Groq(
                    api_key=os.environ.get("GROQ_API_KEY"),  # This is the default and can be omitted
                )
                batch = client.batches.create(
                    completion_window="24h",
                    endpoint="/v1/chat/completions",
                    input_file_id="file_01jh6x76wtemjr74t1fh0faj5t",
                )
                print(batch.id)
              js: |
                import Groq from 'groq-sdk';

                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'], // This is the default and can be omitted
                });

                async function main() {
                  const batch = await client.batches.create({
                    completion_window: "24h",
                    endpoint: "/v1/chat/completions",
                    input_file_id: "file_01jh6x76wtemjr74t1fh0faj5t",
                  });
                  console.log(batch.id);
                }

                main();
            response: |
              {
                "id": "batch_01jh6xa7reempvjyh6n3yst2zw",
                "object": "batch",
                "endpoint": "/v1/chat/completions",
                "errors": null,
                "input_file_id": "file_01jh6x76wtemjr74t1fh0faj5t",
                "completion_window": "24h",
                "status": "validating",
                "output_file_id": null,
                "error_file_id": null,
                "finalizing_at": null,
                "failed_at": null,
                "expired_at": null,
                "cancelled_at": null,
                "request_counts": {
                  "total": 0,
                  "completed": 0,
                  "failed": 0
                },
                "metadata": null,
                "created_at": 1736472600,
                "expires_at": 1736559000,
                "cancelling_at": null,
                "completed_at": null,
                "in_progress_at": null
              }
    get:
      operationId: listBatches
      tags:
        - Batch
      summary: List your organization's batches.
      responses:
        '200':
          description: Batch listed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBatchesResponse'
      x-groq-metadata:
        returns: A list of batches
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/batches \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json"
              py: |
                import os
                from groq import Groq

                client = Groq(
                    api_key=os.environ.get("GROQ_API_KEY"),  # This is the default and can be omitted
                )
                batch_list = client.batches.list()
                print(batch_list.data)
              js: |
                import Groq from 'groq-sdk';

                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'], // This is the default and can be omitted
                });

                async function main() {
                  const batchList = await client.batches.list();
                  console.log(batchList.data);
                }

                main();
            response: |
              {
                "object": "list",
                "data": [
                  {
                    "id": "batch_01jh6xa7reempvjyh6n3yst2zw",
                    "object": "batch",
                    "endpoint": "/v1/chat/completions",
                    "errors": null,
                    "input_file_id": "file_01jh6x76wtemjr74t1fh0faj5t",
                    "completion_window": "24h",
                    "status": "validating",
                    "output_file_id": null,
                    "error_file_id": null,
                    "finalizing_at": null,
                    "failed_at": null,
                    "expired_at": null,
                    "cancelled_at": null,
                    "request_counts": {
                      "total": 0,
                      "completed": 0,
                      "failed": 0
                    },
                    "metadata": null,
                    "created_at": 1736472600,
                    "expires_at": 1736559000,
                    "cancelling_at": null,
                    "completed_at": null,
                    "in_progress_at": null
                  }
                ]
              }
  /openai/v1/batches/{batch_id}:
    get:
      operationId: retrieveBatch
      tags:
        - Batch
      summary: Retrieves a batch.
      parameters:
        - in: path
          name: batch_id
          required: true
          schema:
            type: string
          description: The ID of the batch to retrieve.
      responses:
        '200':
          description: Batch retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
      x-groq-metadata:
        returns: A batch object.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/batches/batch_01jh6xa7reempvjyh6n3yst2zw \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json"
              py: |
                import os
                from groq import Groq

                client = Groq(
                    api_key=os.environ.get("GROQ_API_KEY"),  # This is the default and can be omitted
                )
                batch = client.batches.retrieve(
                    "batch_01jh6xa7reempvjyh6n3yst2zw",
                )
                print(batch.id)
              js: |
                import Groq from 'groq-sdk';

                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'], // This is the default and can be omitted
                });

                async function main() {
                  const batch = await client.batches.retrieve("batch_01jh6xa7reempvjyh6n3yst2zw");
                  console.log(batch.id);
                }

                main();
            response: |
              {
                "id": "batch_01jh6xa7reempvjyh6n3yst2zw",
                "object": "batch",
                "endpoint": "/v1/chat/completions",
                "errors": null,
                "input_file_id": "file_01jh6x76wtemjr74t1fh0faj5t",
                "completion_window": "24h",
                "status": "validating",
                "output_file_id": null,
                "error_file_id": null,
                "finalizing_at": null,
                "failed_at": null,
                "expired_at": null,
                "cancelled_at": null,
                "request_counts": {
                  "total": 0,
                  "completed": 0,
                  "failed": 0
                },
                "metadata": null,
                "created_at": 1736472600,
                "expires_at": 1736559000,
                "cancelling_at": null,
                "completed_at": null,
                "in_progress_at": null
              }
  /openai/v1/batches/{batch_id}/cancel:
    post:
      operationId: cancelBatch
      tags:
        - Batch
      summary: Cancels a batch.
      parameters:
        - in: path
          name: batch_id
          required: true
          schema:
            type: string
          description: The ID of the batch to cancel.
      responses:
        '200':
          description: Batch cancelled successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
      x-groq-metadata:
        returns: A batch object.
        examples:
          - title: Default
            request:
              curl: |
                curl -X POST https://api.groq.com/openai/v1/batches/batch_01jh6xa7reempvjyh6n3yst2zw/cancel \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json"
              py: |
                import os
                from groq import Groq

                client = Groq(
                    api_key=os.environ.get("GROQ_API_KEY"),  # This is the default and can be omitted
                )
                batch = client.batches.cancel(
                    "batch_01jh6xa7reempvjyh6n3yst2zw",
                )
                print(batch.id)
              js: |
                import Groq from 'groq-sdk';

                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'], // This is the default and can be omitted
                });

                async function main() {
                  const batch = await client.batches.cancel("batch_01jh6xa7reempvjyh6n3yst2zw");
                  console.log(batch.id);
                }

                main();
            response: |
              {
                "id": "batch_01jh6xa7reempvjyh6n3yst2zw",
                "object": "batch",
                "endpoint": "/v1/chat/completions",
                "errors": null,
                "input_file_id": "file_01jh6x76wtemjr74t1fh0faj5t",
                "completion_window": "24h",
                "status": "cancelling",
                "output_file_id": null,
                "error_file_id": null,
                "finalizing_at": null,
                "failed_at": null,
                "expired_at": null,
                "cancelled_at": null,
                "request_counts": {
                  "total": 0,
                  "completed": 0,
                  "failed": 0
                },
                "metadata": null,
                "created_at": 1736472600,
                "expires_at": 1736559000,
                "cancelling_at": null,
                "completed_at": null,
                "in_progress_at": null
              }
  /openai/v1/chat/completions:
    post:
      operationId: createChatCompletion
      tags:
        - Chat
      summary: Creates a model response for the given chat conversation.
      requestBody:
        required: true
        description: The chat prompt and parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
      x-groq-metadata:
        returns: >-
          Returns a [chat completion](/docs/api-reference#chat-create) object, or a streamed sequence of [chat
          completion chunk](/docs/api-reference#chat-create) objects if the request is streamed.
        examples:
          - title: Default
            request:
              py: |
                import os

                from groq import Groq

                client = Groq(
                    # This is the default and can be omitted
                    api_key=os.environ.get("GROQ_API_KEY"),
                )

                chat_completion = client.chat.completions.create(
                    messages=[
                        {
                            "role": "system",
                            "content": "You are a helpful assistant."
                        },
                        {
                            "role": "user",
                            "content": "Explain the importance of fast language models",
                        }
                    ],
                    model="llama-3.3-70b-versatile",
                )

                print(chat_completion.choices[0].message.content)
              js: |
                import Groq from "groq-sdk";

                const groq = new Groq({ apiKey: process.env.GROQ_API_KEY });

                async function main() {
                  const completion = await groq.chat.completions
                    .create({
                      messages: [
                        {
                          role: "user",
                          content: "Explain the importance of fast language models",
                        },
                      ],
                      model: "llama-3.3-70b-versatile",
                    })
                  console.log(completion.choices[0].message.content);
                }

                main();
              curl: |
                curl https://api.groq.com/openai/v1/chat/completions -s \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $GROQ_API_KEY" \
                -d '{
                  "model": "llama-3.3-70b-versatile",
                  "messages": [{
                      "role": "user",
                      "content": "Explain the importance of fast language models"
                  }]
                }'
            response: |
              {
                "id": "chatcmpl-f51b2cd2-bef7-417e-964e-a08f0b513c22",
                "object": "chat.completion",
                "created": 1730241104,
                "model": "openai/gpt-oss-20b",
                "choices": [
                  {
                    "index": 0,
                    "message": {
                      "role": "assistant",
                      "content": "Fast language models have gained significant attention in recent years due to their ability to process and generate human-like text quickly and efficiently. The importance of fast language models can be understood from their potential applications and benefits:\n\n1. **Real-time Chatbots and Conversational Interfaces**: Fast language models enable the development of chatbots and conversational interfaces that can respond promptly to user queries, making them more engaging and useful.\n2. **Sentiment Analysis and Opinion Mining**: Fast language models can quickly analyze text data to identify sentiments, opinions, and emotions, allowing for improved customer service, market research, and opinion mining.\n3. **Language Translation and Localization**: Fast language models can quickly translate text between languages, facilitating global communication and enabling businesses to reach a broader audience.\n4. **Text Summarization and Generation**: Fast language models can summarize long documents or even generate new text on a given topic, improving information retrieval and processing efficiency.\n5. **Named Entity Recognition and Information Extraction**: Fast language models can rapidly recognize and extract specific entities, such as names, locations, and organizations, from unstructured text data.\n6. **Recommendation Systems**: Fast language models can analyze large amounts of text data to personalize product recommendations, improve customer experience, and increase sales.\n7. **Content Generation for Social Media**: Fast language models can quickly generate engaging content for social media platforms, helping businesses maintain a consistent online presence and increasing their online visibility.\n8. **Sentiment Analysis for Stock Market Analysis**: Fast language models can quickly analyze social media posts, news articles, and other text data to identify sentiment trends, enabling financial analysts to make more informed investment decisions.\n9. **Language Learning and Education**: Fast language models can provide instant feedback and adaptive language learning, making language education more effective and engaging.\n10. **Domain-Specific Knowledge Extraction**: Fast language models can quickly extract relevant information from vast amounts of text data, enabling domain experts to focus on high-level decision-making rather than manual information gathering.\n\nThe benefits of fast language models include:\n\n* **Increased Efficiency**: Fast language models can process large amounts of text data quickly, reducing the time and effort required for tasks such as sentiment analysis, entity recognition, and text summarization.\n* **Improved Accuracy**: Fast language models can analyze and learn from large datasets, leading to more accurate results and more informed decision-making.\n* **Enhanced User Experience**: Fast language models can enable real-time interactions, personalized recommendations, and timely responses, improving the overall user experience.\n* **Cost Savings**: Fast language models can automate many tasks, reducing the need for manual labor and minimizing costs associated with data processing and analysis.\n\nIn summary, fast language models have the potential to transform various industries and applications by providing fast, accurate, and efficient language processing capabilities."
                    },
                    "logprobs": null,
                    "finish_reason": "stop"
                  }
                ],
                "usage": {
                  "queue_time": 0.037493756,
                  "prompt_tokens": 18,
                  "prompt_time": 0.000680594,
                  "completion_tokens": 556,
                  "completion_time": 0.463333333,
                  "total_tokens": 574,
                  "total_time": 0.464013927
                },
                "system_fingerprint": "fp_179b0f92c9",
                "x_groq": { "id": "req_01jbd6g2qdfw2adyrt2az8hz4w" }
              }
  /openai/v1/embeddings:
    post:
      operationId: createEmbedding
      tags:
        - Embeddings
      summary: Creates an embedding vector representing the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbeddingResponse'
  /openai/v1/files:
    get:
      operationId: listFiles
      tags:
        - Files
      summary: Returns a list of files.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
      x-groq-metadata:
        returns: A list of [File](/docs/api-reference#files-upload) objects.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/files \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json"
              py: |
                import os
                from groq import Groq

                client = Groq(
                    api_key=os.environ.get("GROQ_API_KEY"),  # This is the default and can be omitted
                )
                file_list = client.files.list()
                print(file_list.data)
              js: |
                import Groq from 'groq-sdk';

                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'], // This is the default and can be omitted
                });

                async function main() {
                  const fileList = await client.files.list();
                  console.log(fileList.data);
                }

                main();
            response: |
              {
                "object": "list",
                "data": [
                  {
                    "id": "file_01jh6x76wtemjr74t1fh0faj5t",
                    "object": "file",
                    "bytes": 966,
                    "created_at": 1736472501,
                    "filename": "batch_file.jsonl",
                    "purpose": "batch"
                  }
                ]
              }
    post:
      operationId: uploadFile
      tags:
        - Files
      summary: >
        Upload a file that can be used across various endpoints.


        The Batch API only supports `.jsonl` files up to 100 MB in size. The input also has a specific
        required [format](/docs/batch).


        Please contact us if you need to increase these storage limits.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateFileRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
      x-groq-metadata:
        returns: The uploaded File object.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/files \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -F purpose="batch" \
                  -F "file=@batch_file.jsonl"
              py: |
                import os
                import requests # pip install requests first!

                def upload_file_to_groq(api_key, file_path):
                    url = "https://api.groq.com/openai/v1/files"

                    headers = {
                        "Authorization": f"Bearer {api_key}"
                    }

                    # Prepare the file and form data
                    files = {
                        "file": ("batch_file.jsonl", open(file_path, "rb"))
                    }

                    data = {
                        "purpose": "batch"
                    }

                    # Make the POST request
                    response = requests.post(url, headers=headers, files=files, data=data)

                    return response.json()

                # Usage example
                api_key = os.environ.get("GROQ_API_KEY")
                file_path = "batch_file.jsonl"  # Path to your JSONL file

                try:
                    result = upload_file_to_groq(api_key, file_path)
                    print(result)
                except Exception as e:
                    print(f"Error: {e}")
              js: >
                import Groq from 'groq-sdk';


                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'], // This is the default and can be omitted
                });


                const fileContent = '{"custom_id": "request-1", "method": "POST", "url":
                "/v1/chat/completions", "body": {"model": "llama-3.1-8b-instant", "messages": [{"role":
                "user", "content": "Explain the importance of fast language models"}]}}\n';


                async function main() {
                  const blob = new Blob([fileContent]);
                  const file = new File([blob], 'batch.jsonl');

                  const createdFile = await client.files.create({ file: file, purpose: 'batch' });
                  console.log(createdFile.id);
                }


                main();
            response: |
              {
                "id": "file_01jh6x76wtemjr74t1fh0faj5t",
                "object": "file",
                "bytes": 966,
                "created_at": 1736472501,
                "filename": "batch_file.jsonl",
                "purpose": "batch"
              }
  /openai/v1/files/{file_id}:
    delete:
      operationId: deleteFile
      tags:
        - Files
      summary: Delete a file.
      parameters:
        - in: path
          name: file_id
          required: true
          schema:
            type: string
          description: The ID of the file to use for this request.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileResponse'
      x-groq-metadata:
        returns: A deleted file response object.
        examples:
          - title: Default
            request:
              curl: |
                curl -X DELETE https://api.groq.com/openai/v1/files/file_01jh6x76wtemjr74t1fh0faj5t \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json"
              py: |
                import os
                from groq import Groq

                client = Groq(
                    api_key=os.environ.get("GROQ_API_KEY"),  # This is the default and can be omitted
                )
                file_delete = client.files.delete(
                    "file_01jh6x76wtemjr74t1fh0faj5t",
                )
                print(file_delete)
              js: |
                import Groq from 'groq-sdk';

                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'], // This is the default and can be omitted
                });

                async function main() {
                  const fileDelete = await client.files.delete("file_01jh6x76wtemjr74t1fh0faj5t");
                  console.log(fileDelete);
                }

                main();
            response: |
              {
                "id": "file_01jh6x76wtemjr74t1fh0faj5t",
                "object": "file",
                "deleted": true
              }
    get:
      operationId: retrieveFile
      tags:
        - Files
      summary: Returns information about a file.
      parameters:
        - name: file_id
          in: path
          description: The file to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
      x-groq-metadata:
        returns: A file object.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/files/file_01jh6x76wtemjr74t1fh0faj5t \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json"
              py: |
                import os
                from groq import Groq

                client = Groq(
                    api_key=os.environ.get("GROQ_API_KEY"),  # This is the default and can be omitted
                )
                file = client.files.info(
                    "file_01jh6x76wtemjr74t1fh0faj5t",
                )
                print(file)
              js: |
                import Groq from 'groq-sdk';

                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'], // This is the default and can be omitted
                });

                async function main() {
                    const file = await client.files.info('file_01jh6x76wtemjr74t1fh0faj5t');
                    console.log(file);
                }

                main();
            response: |
              {
                "id": "file_01jh6x76wtemjr74t1fh0faj5t",
                "object": "file",
                "bytes": 966,
                "created_at": 1736472501,
                "filename": "batch_file.jsonl",
                "purpose": "batch"
              }
  /openai/v1/files/{file_id}/content:
    get:
      operationId: downloadFile
      tags:
        - Files
      summary: Returns the contents of the specified file.
      parameters:
        - in: path
          name: file_id
          required: true
          schema:
            type: string
          description: The ID of the file to use for this request.
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-groq-metadata:
        returns: The file content
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/files/file_01jh6x76wtemjr74t1fh0faj5t/content \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json"
              py: |
                import os
                from groq import Groq

                client = Groq(
                    api_key=os.environ.get("GROQ_API_KEY"),  # This is the default and can be omitted
                )
                response = client.files.content(
                    "file_01jh6x76wtemjr74t1fh0faj5t",
                )
                print(response)
              js: |
                import Groq from 'groq-sdk';

                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'], // This is the default and can be omitted
                });

                async function main() {
                    const response = await client.files.content('file_01jh6x76wtemjr74t1fh0faj5t');
                    console.log(response);
                }

                main();
  /v1/fine_tunings:
    get:
      operationId: listFineTunings
      summary: >-
        Lists all previously created fine tunings. This endpoint is in closed beta. [Contact
        us](https://groq.com/contact) for more information.
      tags:
        - Fine Tuning
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFineTuningsResponse'
      x-groq-metadata:
        returns: The list of fine tunes
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/v1/fine_tunings -s \
                    -H "Content-Type: application/json" \
                    -H "Authorization: Bearer $GROQ_API_KEY"
              js: |
                import Groq from "groq-sdk";

                const groq = new Groq({ apiKey: process.env.GROQ_API_KEY });

                async function main() {
                    const fineTunings = await groq.fine_tunings.list();
                    console.log(fineTunings);
                }

                main();
              py: |
                import os

                from groq import Groq

                client = Groq(
                    # This is the default and can be omitted
                    api_key=os.environ.get("GROQ_API_KEY"),
                )

                fine_tunings = client.fine_tunings.list()

                print(fine_tunings)
            response: |
              {
                  "object": "list",
                  "data": [
                      {
                          "id": "string",
                          "name": "string",
                          "base_model": "string",
                          "type": "string",
                          "input_file_id": "string",
                          "created_at": 0,
                          "fine_tuned_model": "string"
                      }
                  ]
              }
    post:
      operationId: createFineTuning
      summary: >-
        Creates a new fine tuning for the already uploaded files This endpoint is in closed beta. [Contact
        us](https://groq.com/contact) for more information.
      tags:
        - Fine Tuning
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFineTuningRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadFineTuningResponse'
      x-groq-metadata:
        returns: The newly created fine tune
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/v1/fine_tunings -s \
                    -H "Content-Type: application/json" \
                    -H "Authorization: Bearer $GROQ_API_KEY" \
                    -d '{
                        "input_file_id": "<file-id>",
                        "name": "test-1",
                        "type": "lora",
                        "base_model": "llama-3.1-8b-instant"
                    }'
              js: |
                import Groq from "groq-sdk";

                const groq = new Groq({ apiKey: process.env.GROQ_API_KEY });

                async function main() {
                    const fineTunings = await groq.fine_tunings.create({
                        input_file_id: "<file-id>",
                        name: "test-1",
                        type: "lora",
                        base_model: "llama-3.1-8b-instant"
                    });
                    console.log(fineTunings);
                }

                main();
              py: |
                import os

                from groq import Groq

                client = Groq(
                    # This is the default and can be omitted
                    api_key=os.environ.get("GROQ_API_KEY"),
                )

                fine_tunings = client.fine_tunings.create(
                    input_file_id="<file-id>",
                    name="test-1",
                    type="lora",
                    base_model="llama-3.1-8b-instant"
                )

                print(fine_tunings)
            response: |
              {
                  "id": "string",
                  "object": "object",
                  "data": {
                      "id": "string",
                      "name": "string",
                      "base_model": "string",
                      "type": "string",
                      "input_file_id": "string",
                      "created_at": 0,
                      "fine_tuned_model": "string"
                  }
              }
  /v1/fine_tunings/{id}:
    delete:
      operationId: deleteFineTuning
      summary: >-
        Deletes an existing fine tuning by id This endpoint is in closed beta. [Contact
        us](https://groq.com/contact) for more information.
      tags:
        - Fine Tuning
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFineTuningResponse'
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      x-groq-metadata:
        returns: A confirmation of the deleted fine tune
        examples:
          - title: Default
            request:
              curl: |
                curl -X DELETE https://api.groq.com/v1/fine_tunings/:id -s \
                    -H "Content-Type: application/json" \
                    -H "Authorization: Bearer $GROQ_API_KEY"
              js: |
                import Groq from "groq-sdk";

                const groq = new Groq({ apiKey: process.env.GROQ_API_KEY });

                async function main() {
                    await groq.fine_tunings.delete({id: "<id>"});
                }

                main();
              py: |
                import os

                from groq import Groq

                client = Groq(
                    # This is the default and can be omitted
                    api_key=os.environ.get("GROQ_API_KEY"),
                )

                client.fine_tunings.delete(id="<id>")
            response: |
              {
                  "id": "string",
                  "object": "fine_tuning",
                  "deleted": true
              }
    get:
      operationId: getFineTuning
      summary: >-
        Retrieves an existing fine tuning by id This endpoint is in closed beta. [Contact
        us](https://groq.com/contact) for more information.
      tags:
        - Fine Tuning
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadFineTuningResponse'
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      x-groq-metadata:
        returns: A fine tune metadata object
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/v1/fine_tunings/:id -s \
                    -H "Content-Type: application/json" \
                    -H "Authorization: Bearer $GROQ_API_KEY"
              js: |
                import Groq from "groq-sdk";

                const groq = new Groq({ apiKey: process.env.GROQ_API_KEY });

                async function main() {
                    const fineTuning = await groq.fine_tunings.get({id: "<id>"});
                    console.log(fineTuning);
                }

                main();
              py: |
                import os

                from groq import Groq

                client = Groq(
                    # This is the default and can be omitted
                    api_key=os.environ.get("GROQ_API_KEY"),
                )

                fine_tuning = client.fine_tunings.get(id="<id>")

                print(fine_tuning)
            response: |
              {
                  "id": "string",
                  "object": "object",
                  "data": {
                      "id": "string",
                      "name": "string",
                      "base_model": "string",
                      "type": "string",
                      "input_file_id": "string",
                      "created_at": 0,
                      "fine_tuned_model": "string"
                  }
              }
  /openai/v1/models:
    get:
      operationId: listModels
      tags:
        - Models
      summary: List all available [models](https://console.groq.com/docs/models).
      description: get all available models
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
      x-groq-metadata:
        returns: A list of model objects.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/models \
                -H "Authorization: Bearer $GROQ_API_KEY"
              js: |
                import Groq from "groq-sdk";

                const groq = new Groq({ apiKey: process.env.GROQ_API_KEY });

                async function main() {
                  const models = await groq.models.list();
                  console.log(models);
                }

                main();
              py: |
                import os
                from groq import Groq

                client = Groq(
                    # This is the default and can be omitted
                    api_key=os.environ.get("GROQ_API_KEY"),
                )

                models = client.models.list()

                print(models)
            response: |
              {
                "object": "list",
                "data": [
                  {
                    "id": "gemma2-9b-it",
                    "object": "model",
                    "created": 1693721698,
                    "owned_by": "Google",
                    "active": true,
                    "context_window": 8192,
                    "public_apps": null
                  },
                  {
                    "id": "llama3-8b-8192",
                    "object": "model",
                    "created": 1693721698,
                    "owned_by": "Meta",
                    "active": true,
                    "context_window": 8192,
                    "public_apps": null
                  },
                  {
                    "id": "llama3-70b-8192",
                    "object": "model",
                    "created": 1693721698,
                    "owned_by": "Meta",
                    "active": true,
                    "context_window": 8192,
                    "public_apps": null
                  },
                  {
                    "id": "whisper-large-v3-turbo",
                    "object": "model",
                    "created": 1728413088,
                    "owned_by": "OpenAI",
                    "active": true,
                    "context_window": 448,
                    "public_apps": null
                  },
                  {
                    "id": "whisper-large-v3",
                    "object": "model",
                    "created": 1693721698,
                    "owned_by": "OpenAI",
                    "active": true,
                    "context_window": 448,
                    "public_apps": null
                  },
                  {
                    "id": "llama-guard-3-8b",
                    "object": "model",
                    "created": 1693721698,
                    "owned_by": "Meta",
                    "active": true,
                    "context_window": 8192,
                    "public_apps": null
                  },
                  {
                    "id": "distil-whisper-large-v3-en",
                    "object": "model",
                    "created": 1693721698,
                    "owned_by": "Hugging Face",
                    "active": true,
                    "context_window": 448,
                    "public_apps": null
                  },
                  {
                    "id": "llama-3.1-8b-instant",
                    "object": "model",
                    "created": 1693721698,
                    "owned_by": "Meta",
                    "active": true,
                    "context_window": 131072,
                    "public_apps": null
                  }
                ]
              }
  /openai/v1/models/{model}:
    get:
      operationId: retrieveModel
      tags:
        - Models
      summary: Get detailed information about a [model](https://console.groq.com/docs/models).
      description: Get a specific model
      parameters:
        - name: model
          in: path
          description: The model to get
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
      x-groq-metadata:
        returns: A model object.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/models/llama-3.3-70b-versatile \
                -H "Authorization: Bearer $GROQ_API_KEY"
              js: |
                import Groq from "groq-sdk";

                const groq = new Groq({ apiKey: process.env.GROQ_API_KEY });

                async function main() {
                  const model = await groq.models.retrieve("llama-3.3-70b-versatile");
                  console.log(model);
                }

                main();
              py: |
                import os
                from groq import Groq

                client = Groq(
                    # This is the default and can be omitted
                    api_key=os.environ.get("GROQ_API_KEY"),
                )

                model = client.models.retrieve("llama-3.3-70b-versatile")

                print(model)
            response: |
              {
                "id": "llama3-8b-8192",
                "object": "model",
                "created": 1693721698,
                "owned_by": "Meta",
                "active": true,
                "context_window": 8192,
                "public_apps": null,
                "max_completion_tokens": 8192
              }
    delete:
      operationId: deleteModel
      tags:
        - Models
      summary: Delete model
      description: Delete a model
      parameters:
        - in: path
          name: model
          description: The model to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModelResponse'
  /openai/v1/reranking:
    post:
      operationId: createReranking
      tags:
        - Reranking
      summary: Reranks documents based on their relevance to a query.
      description: |
        Given a query and a list of documents, returns the documents ranked by their relevance to the query.
        The documents are scored and sorted in descending order of relevance.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankingResponse'
      x-groq-metadata:
        returns: |
          A list of documents sorted by relevance score in descending order. 
          Scores range from 0.0 to 1.0, where higher scores indicate greater relevance to the query.
        examples:
          - title: Basic Reranking
            request:
              curl: |
                curl https://api.groq.com/openai/v1/reranking \
                  -H "Authorization: Bearer $GROQ_API_KEY" \
                  -H "Content-Type: application/json" \
                  -d '{
                    "model": "qwen3-reranker-4b",
                    "query": "artificial intelligence",
                    "docs": [
                      "Machine learning is a subset of AI",
                      "The weather is nice today",
                      "Deep learning uses neural networks"
                    ]
                  }'
              py: |
                import os
                from groq import Groq

                client = Groq(api_key=os.environ.get("GROQ_API_KEY"))

                reranking = client.reranking.create(
                    model="qwen3-reranker-4b",
                    query="artificial intelligence",
                    docs=[
                        "Machine learning is a subset of AI",
                        "The weather is nice today", 
                        "Deep learning uses neural networks"
                    ]
                )
                print(reranking.results)
              js: |
                import Groq from 'groq-sdk';

                const client = new Groq({
                  apiKey: process.env['GROQ_API_KEY'],
                });

                async function main() {
                  const reranking = await client.reranking.create({
                    model: 'qwen3-reranker-4b',
                    query: 'artificial intelligence',
                    docs: [
                      'Machine learning is a subset of AI',
                      'The weather is nice today',
                      'Deep learning uses neural networks'
                    ]
                  });
                  console.log(reranking.results);
                }
                main();
            response: |
              {
                "results": [
                  {
                    "doc": "Machine learning is a subset of AI",
                    "score": 0.92
                  },
                  {
                    "doc": "Deep learning uses neural networks", 
                    "score": 0.87
                  },
                  {
                    "doc": "The weather is nice today",
                    "score": 0.23
                  }
                ]
              }
          - title: Reranking with Custom Instruction
            request:
              json: |
                {
                  "model": "qwen3-reranker-4b",
                  "query": "climate change effects",
                  "docs": [
                    "Global warming causes sea level rise",
                    "Electric cars reduce emissions",
                    "Renewable energy is growing fast"
                  ],
                  "instruction": "Find documents specifically about environmental impacts"
                }
            response: |
              {
                "results": [
                  {
                    "doc": "Global warming causes sea level rise",
                    "score": 0.95
                  },
                  {
                    "doc": "Electric cars reduce emissions",
                    "score": 0.78
                  },
                  {
                    "doc": "Renewable energy is growing fast",
                    "score": 0.65
                  }
                ]
              }
  /openai/v1/responses:
    post:
      operationId: createResponse
      tags:
        - Responses
      summary: Creates a model response for the given input.
      requestBody:
        required: true
        description: The input prompt and parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponseRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponseResponse'
      x-groq-metadata:
        returns: >-
          Returns a [response](/docs/api-reference#responses-create) object, or a streamed sequence of
          [response events](/docs/api-reference#responses-streaming) if the request is streamed.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.groq.com/openai/v1/responses -s \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $GROQ_API_KEY" \
                -d '{
                  "model": "openai/gpt-oss-120b",
                  "input": "Tell me a three sentence bedtime story about a unicorn."
                }'
            response: |
              {
                "id": "resp_01k1x6w9ane6d8rfxm05cb45yk",
                "object": "response",
                "status": "completed",
                "created_at": 1754400695,
                "output": [
                  {
                    "type": "message",
                    "id": "msg_01k1x6w9ane6eb0650crhawwyy",
                    "status": "completed",
                    "role": "assistant",
                    "content": [
                      {
                        "type": "output_text",
                        "text": "When the stars blinked awake, Luna the unicorn curled her mane and whispered wishes to the sleeping pine trees. She galloped through a field of moonlit daisies, gathering dew like tiny silver pearls. With a gentle sigh, she tucked her hooves beneath a silver cloud so the world slept softly, dreaming of her gentle hooves until the morning.",
                        "annotations": []
                      }
                    ]
                  }
                ],
                "previous_response_id": null,
                "model": "llama-3.3-70b-versatile",
                "reasoning": {
                  "effort": null,
                  "summary": null
                },
                "max_output_tokens": null,
                "instructions": null,
                "text": {
                  "format": {
                    "type": "text"
                  }
                },
                "tools": [],
                "tool_choice": "auto",
                "truncation": "disabled",
                "metadata": {},
                "temperature": 1,
                "top_p": 1,
                "user": null,
                "service_tier": "default",
                "error": null,
                "incomplete_details": null,
                "usage": {
                  "input_tokens": 82,
                  "input_tokens_details": {
                    "cached_tokens": 0
                  },
                  "output_tokens": 266,
                  "output_tokens_details": {
                    "reasoning_tokens": 0
                  },
                  "total_tokens": 348
                },
                "parallel_tool_calls": true,
                "store": false
              }
components:
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
      bearerFormat: apiKey
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          nullable: false
        type:
          type: string
          nullable: false
        param:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        failed_generation:
          type: string
          nullable: true
        schema_path:
          type: string
          nullable: true
        schema_path_segments:
          type: array
          description: Segments of the schema path relevant to validation errors.
          items:
            type: string
        schema_kind:
          type: string
          nullable: true
        schema_code:
          type: string
          nullable: true
        debug:
          $ref: '#/components/schemas/DebugData'
      required:
        - type
        - message
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
        - error
    CreateSpeechRequest:
      type: object
      additionalProperties: false
      properties:
        model:
          description: |
            One of the [available TTS models](/docs/text-to-speech).
          anyOf:
            - type: string
            - type: string
              enum:
                - playai-tts
                - playai-tts-arabic
          example: playai-tts
        input:
          example: The quick brown fox jumped over the lazy dog
          type: string
          description: The text to generate audio for.
        voice:
          description: >-
            The voice to use when generating the audio. List of voices can be found
            [here](/docs/text-to-speech).
          type: string
          example: Fritz-PlayAI
        response_format:
          description: The format of the generated audio. Supported formats are `flac, mp3, mulaw, ogg, wav`.
          default: mp3
          type: string
          enum:
            - flac
            - mp3
            - mulaw
            - ogg
            - wav
        sample_rate:
          type: integer
          description: The sample rate for generated audio
          default: 48000
          example: 48000
          enum:
            - 8000
            - 16000
            - 22050
            - 24000
            - 32000
            - 44100
            - 48000
        speed:
          description: The speed of the generated audio.
          example: 1
          type: number
          default: 1
          minimum: 0.5
          maximum: 5
      required:
        - model
        - input
        - voice
    CreateTranscriptionRequest:
      type: object
      additionalProperties: false
      properties:
        file:
          description: >
            The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4,
            mpeg, mpga, m4a, ogg, wav, or webm.

            Either a file or a URL must be provided. Note that the file field is not supported in Batch API
            requests.
          type: string
          format: binary
        url:
          description: >
            The audio URL to translate/transcribe (supports Base64URL).

            Either a file or a URL must be provided. For Batch API requests, the URL field is required since
            the file field is not supported.
          type: string
        model:
          description: |
            ID of the model to use. `whisper-large-v3` and `whisper-large-v3-turbo` are currently available.
          example: whisper-large-v3-turbo
          anyOf:
            - type: string
            - type: string
              enum:
                - whisper-large-v3
                - whisper-large-v3-turbo
        language:
          description: >
            The language of the input audio. Supplying the input language in
            [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format will improve accuracy
            and latency.
          anyOf:
            - type: string
            - type: string
              enum:
                - en
                - zh
                - de
                - es
                - ru
                - ko
                - fr
                - ja
                - pt
                - tr
                - pl
                - ca
                - nl
                - ar
                - sv
                - it
                - id
                - hi
                - fi
                - vi
                - he
                - uk
                - el
                - ms
                - cs
                - ro
                - da
                - hu
                - ta
                - 'no'
                - th
                - ur
                - hr
                - bg
                - lt
                - la
                - mi
                - ml
                - cy
                - sk
                - te
                - fa
                - lv
                - bn
                - sr
                - az
                - sl
                - kn
                - et
                - mk
                - br
                - eu
                - is
                - hy
                - ne
                - mn
                - bs
                - kk
                - sq
                - sw
                - gl
                - mr
                - pa
                - si
                - km
                - sn
                - yo
                - so
                - af
                - oc
                - ka
                - be
                - tg
                - sd
                - gu
                - am
                - yi
                - lo
                - uz
                - fo
                - ht
                - ps
                - tk
                - nn
                - mt
                - sa
                - lb
                - my
                - bo
                - tl
                - mg
                - as
                - tt
                - haw
                - ln
                - ha
                - ba
                - jv
                - su
                - yue
        prompt:
          description: >
            An optional text to guide the model's style or continue a previous audio segment. The
            [prompt](/docs/speech-text) should match the audio language.
          type: string
        response_format:
          description: |
            The format of the transcript output, in one of these options: `json`, `text`, or `verbose_json`.
          type: string
          enum:
            - json
            - text
            - verbose_json
          default: json
        temperature:
          description: >
            The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more
            random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the
            model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically
            increase the temperature until certain thresholds are hit.
          type: number
          default: 0
        timestamp_granularities:
          description: >
            The timestamp granularities to populate for this transcription. `response_format` must be set
            `verbose_json` to use timestamp granularities. Either or both of these options are supported:
            `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating
            word timestamps incurs additional latency.
          type: array
          items:
            type: string
            enum:
              - word
              - segment
          default:
            - segment
      oneOf:
        - required:
            - file
        - required:
            - url
      required:
        - model
    CreateTranscriptionResponseJson:
      type: object
      description: Represents a transcription response returned by model, based on the provided input.
      properties:
        text:
          type: string
          description: The transcribed text.
      required:
        - text
    TranscriptionSegment:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the segment.
        seek:
          type: integer
          description: Seek offset of the segment.
        start:
          type: number
          format: float
          description: Start time of the segment in seconds.
        end:
          type: number
          format: float
          description: End time of the segment in seconds.
        text:
          type: string
          description: Text content of the segment.
        tokens:
          type: array
          items:
            type: integer
          description: Array of token IDs for the text content.
        temperature:
          type: number
          format: float
          description: Temperature parameter used for generating the segment.
        avg_logprob:
          type: number
          format: float
          description: Average logprob of the segment. If the value is lower than -1, consider the logprobs failed.
        compression_ratio:
          type: number
          format: float
          description: >-
            Compression ratio of the segment. If the value is greater than 2.4, consider the compression
            failed.
        no_speech_prob:
          type: number
          format: float
          description: >-
            Probability of no speech in the segment. If the value is higher than 1.0 and the `avg_logprob` is
            below -1, consider this segment silent.
        audio_text:
          type: string
          description: Transcribed text for the entire chunk
        token_scores:
          type: array
          items:
            type: number
            format: float
          description: Token-level scores.
        chunk_start:
          type: integer
          description: Start chunk timestamp.
        chunk_end:
          type: integer
          description: End chunk timestamp.
      required:
        - id
        - seek
        - start
        - end
        - text
        - tokens
    TranscriptionWord:
      type: object
      properties:
        word:
          type: string
          description: The text content of the word.
        start:
          type: number
          format: float
          description: Start time of the word in seconds.
        end:
          type: number
          format: float
          description: End time of the word in seconds.
      required:
        - word
        - start
        - end
    CreateTranscriptionResponseVerboseJson:
      type: object
      description: Represents a verbose json transcription response returned by model, based on the provided input.
      properties:
        language:
          type: string
          description: The language of the input audio.
        duration:
          type: string
          description: The duration of the input audio.
        text:
          type: string
          description: The transcribed text.
        words:
          type: array
          description: Extracted words and their corresponding timestamps.
          items:
            $ref: '#/components/schemas/TranscriptionWord'
        segments:
          type: array
          description: Segments of the transcribed text and their corresponding details.
          items:
            $ref: '#/components/schemas/TranscriptionSegment'
      required:
        - language
        - duration
        - text
    CreateTranslationRequest:
      type: object
      additionalProperties: false
      properties:
        file:
          description: >
            The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg,
            mpga, m4a, ogg, wav, or webm.
          type: string
          format: binary
        url:
          description: |
            The audio URL to translate/transcribe (supports Base64URL). Either file or url must be provided.
            When using the Batch API only url is supported.
          type: string
        model:
          description: |
            ID of the model to use. `whisper-large-v3` and `whisper-large-v3-turbo` are currently available.
          example: whisper-large-v3-turbo
          anyOf:
            - type: string
            - type: string
              enum:
                - whisper-large-v3
                - whisper-large-v3-turbo
        prompt:
          description: >
            An optional text to guide the model's style or continue a previous audio segment. The
            [prompt](/docs/guides/speech-to-text/prompting) should be in English.
          type: string
        response_format:
          description: |
            The format of the transcript output, in one of these options: `json`, `text`, or `verbose_json`.
          type: string
          enum:
            - json
            - text
            - verbose_json
          default: json
        temperature:
          description: >
            The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more
            random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the
            model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically
            increase the temperature until certain thresholds are hit.
          type: number
          default: 0
      oneOf:
        - required:
            - file
        - required:
            - url
      required:
        - model
    CreateTranslationResponseJson:
      type: object
      properties:
        text:
          type: string
      required:
        - text
    CreateTranslationResponseVerboseJson:
      type: object
      properties:
        language:
          type: string
          description: The language of the output translation (always `english`).
        duration:
          type: string
          description: The duration of the input audio.
        text:
          type: string
          description: The translated text.
        segments:
          type: array
          description: Segments of the translated text and their corresponding details.
          items:
            $ref: '#/components/schemas/TranscriptionSegment'
      required:
        - language
        - duration
        - text
    Batch:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - batch
          description: The object type, which is always `batch`.
          x-stainless-const: true
        endpoint:
          type: string
          description: The API endpoint used by the batch.
        errors:
          type: object
          properties:
            object:
              type: string
              description: The object type, which is always `list`.
            data:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: An error code identifying the error type.
                  message:
                    type: string
                    description: A human-readable message providing more details about the error.
                  param:
                    type: string
                    description: The name of the parameter that caused the error, if applicable.
                    nullable: true
                  line:
                    type: integer
                    description: The line number of the input file where the error occurred, if applicable.
                    nullable: true
        input_file_id:
          type: string
          description: The ID of the input file for the batch.
        completion_window:
          type: string
          description: The time frame within which the batch should be processed.
        status:
          type: string
          description: The current status of the batch.
          enum:
            - validating
            - failed
            - in_progress
            - finalizing
            - completed
            - expired
            - cancelling
            - cancelled
        output_file_id:
          type: string
          description: The ID of the file containing the outputs of successfully executed requests.
        error_file_id:
          type: string
          description: The ID of the file containing the outputs of requests with errors.
        created_at:
          type: integer
          description: The Unix timestamp (in seconds) for when the batch was created.
        in_progress_at:
          type: integer
          description: The Unix timestamp (in seconds) for when the batch started processing.
        expires_at:
          type: integer
          description: The Unix timestamp (in seconds) for when the batch will expire.
        finalizing_at:
          type: integer
          description: The Unix timestamp (in seconds) for when the batch started finalizing.
        completed_at:
          type: integer
          description: The Unix timestamp (in seconds) for when the batch was completed.
        failed_at:
          type: integer
          description: The Unix timestamp (in seconds) for when the batch failed.
        expired_at:
          type: integer
          description: The Unix timestamp (in seconds) for when the batch expired.
        cancelling_at:
          type: integer
          description: The Unix timestamp (in seconds) for when the batch started cancelling.
        cancelled_at:
          type: integer
          description: The Unix timestamp (in seconds) for when the batch was cancelled.
        request_counts:
          type: object
          properties:
            total:
              type: integer
              description: Total number of requests in the batch.
            completed:
              type: integer
              description: Number of requests that have been completed successfully.
            failed:
              type: integer
              description: Number of requests that have failed.
          required:
            - total
            - completed
            - failed
          description: The request counts for different statuses within the batch.
        metadata:
          description: >
            Set of key-value pairs that can be attached to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
          nullable: true
      required:
        - id
        - object
        - endpoint
        - input_file_id
        - completion_window
        - status
        - created_at
    BatchRequestInput:
      type: object
      description: The per-line object of the batch input file
      properties:
        custom_id:
          type: string
          description: >-
            A developer-provided per-request id that will be used to match outputs to inputs. Must be unique
            for each request in a batch.
        method:
          type: string
          enum:
            - POST
          description: The HTTP method to be used for the request. Currently only `POST` is supported.
          x-stainless-const: true
        url:
          type: string
          description: >-
            The OpenAI API relative URL to be used for the request. Currently `/v1/chat/completions` is
            supported.
    BatchRequestOutput:
      type: object
      description: The per-line object of the batch output and error files
      properties:
        id:
          type: string
        custom_id:
          type: string
          description: A developer-provided per-request id that will be used to match outputs to inputs.
        response:
          type: object
          nullable: true
          properties:
            status_code:
              type: integer
              description: The HTTP status code of the response
            request_id:
              type: string
              description: >-
                An unique identifier for the OpenAI API request. Please include this request ID when
                contacting support.
            body:
              type: object
              description: The JSON body of the response
        error:
          type: object
          nullable: true
          description: >-
            For requests that failed with a non-HTTP error, this will contain more information on the cause of
            the failure.
          properties:
            code:
              type: string
              description: A machine-readable error code.
            message:
              type: string
              description: A human-readable error message.
    ListBatchesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Batch'
        object:
          type: string
          enum:
            - list
          x-stainless-const: true
      required:
        - object
        - data
    ChatCompletionRequestMessageContentPart:
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
        - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartImage'
        - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartDocument'
    ChatCompletionRequestMessageContentPartImage:
      type: object
      title: Image content part
      properties:
        type:
          type: string
          enum:
            - image_url
          description: The type of the content part.
        image_url:
          type: object
          properties:
            url:
              type: string
              description: Either a URL of the image or the base64 encoded image data.
              format: uri
            detail:
              type: string
              description: Specifies the detail level of the image.
              enum:
                - auto
                - low
                - high
              default: auto
          required:
            - url
      required:
        - type
        - image_url
    ChatCompletionRequestMessageContentPartText:
      type: object
      title: Text content part
      properties:
        type:
          type: string
          enum:
            - text
          description: The type of the content part.
        text:
          type: string
          description: The text content.
      required:
        - type
        - text
    ChatCompletionRequestMessageContentPartDocument:
      type: object
      title: Document content part
      properties:
        type:
          type: string
          enum:
            - document
          description: The type of the content part.
        document:
          type: object
          properties:
            data:
              type: object
              description: The JSON document data.
              additionalProperties: true
            id:
              type: string
              nullable: true
              description: Optional unique identifier for the document.
          required:
            - data
      required:
        - type
        - document
    ChatCompletionDocument:
      type: object
      title: Document
      description: A document that can be referenced by the model while generating responses.
      additionalProperties: false
      properties:
        id:
          type: string
          nullable: true
          description: Optional unique identifier that can be used for citations in responses.
        source:
          $ref: '#/components/schemas/ChatCompletionDocumentSource'
      required:
        - source
    ChatCompletionDocumentSource:
      title: Document source
      description: The source of the document. Only text and JSON sources are currently supported.
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionDocumentSourceText'
        - $ref: '#/components/schemas/ChatCompletionDocumentSourceJSON'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/ChatCompletionDocumentSourceText'
          json: '#/components/schemas/ChatCompletionDocumentSourceJSON'
    ChatCompletionDocumentSourceText:
      type: object
      title: Text document source
      description: A document whose contents are provided inline as text.
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
            - text
          description: Identifies this document source as inline text.
        text:
          type: string
          description: The document contents.
      required:
        - type
        - text
    ChatCompletionDocumentSourceJSON:
      type: object
      title: JSON document source
      description: A document whose contents are provided inline as JSON data.
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
            - json
          description: Identifies this document source as JSON data.
        data:
          type: object
          description: The JSON payload associated with the document.
          additionalProperties: true
      required:
        - type
        - data
    ChatCompletionRequestMessage:
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionRequestSystemMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestUserMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestAssistantMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestToolMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestFunctionMessage'
      discriminator:
        propertyName: role
        mapping:
          system: '#/components/schemas/ChatCompletionRequestSystemMessage'
          developer: '#/components/schemas/ChatCompletionRequestSystemMessage'
          user: '#/components/schemas/ChatCompletionRequestUserMessage'
          assistant: '#/components/schemas/ChatCompletionRequestAssistantMessage'
          tool: '#/components/schemas/ChatCompletionRequestToolMessage'
          function: '#/components/schemas/ChatCompletionRequestFunctionMessage'
    ChatCompletionRequestSystemMessage:
      type: object
      title: System message
      additionalProperties: false
      properties:
        content:
          title: System message content
          description: The contents of the system message.
          oneOf:
            - type: string
              title: Text content
              description: The text contents of the message.
            - type: array
              title: Array of content parts
              description: An array of content parts with a defined type, only `text` is supported for this message type.
              items:
                $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
              minItems: 1
        role:
          type: string
          enum:
            - system
            - developer
          description: The role of the messages author, in this case `system`.
        name:
          type: string
          description: >-
            An optional name for the participant. Provides the model information to differentiate between
            participants of the same role.
      required:
        - content
        - role
    ChatCompletionRequestUserMessage:
      type: object
      title: User message
      additionalProperties: false
      properties:
        content:
          title: User message content
          description: |
            The contents of the user message.
          oneOf:
            - type: string
              description: The text contents of the message.
              title: Text content
            - type: array
              description: >-
                An array of content parts with a defined type, each can be of type `text` or `image_url` when
                passing in images. You can pass multiple images by adding multiple `image_url` content parts.
                Image input is only supported when using the `gpt-4-visual-preview` model.
              title: Array of content parts
              items:
                $ref: '#/components/schemas/ChatCompletionRequestMessageContentPart'
              minItems: 1
        role:
          type: string
          enum:
            - user
          description: The role of the messages author, in this case `user`.
        name:
          type: string
          description: >-
            An optional name for the participant. Provides the model information to differentiate between
            participants of the same role.
      required:
        - content
        - role
    ChatCompletionRequestAssistantMessage:
      type: object
      title: Assistant message
      additionalProperties: false
      properties:
        content:
          title: Assistant message content
          nullable: true
          description: >
            The contents of the assistant message. Required unless `tool_calls` or `function_call` is
            specified.
          oneOf:
            - type: string
              title: Text content
              description: The text contents of the message.
            - type: array
              description: An array of content parts with a defined type, only `text` is supported for this message type.
              title: Array of content parts
              items:
                $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
        reasoning:
          description: >
            The reasoning output by the assistant if reasoning_format was set to 'parsed'.

            This field is supported on [models that support
            reasoning](https://console.groq.com/docs/reasoning).
          nullable: true
          type: string
        role:
          type: string
          enum:
            - assistant
          description: The role of the messages author, in this case `assistant`.
        name:
          type: string
          description: >-
            An optional name for the participant. Provides the model information to differentiate between
            participants of the same role.
        tool_calls:
          $ref: '#/components/schemas/ChatCompletionMessageToolCalls'
        function_call:
          type: object
          deprecated: true
          description: >-
            Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be
            called, as generated by the model.
          properties:
            arguments:
              type: string
              description: >-
                The arguments to call the function with, as generated by the model in JSON format. Note that
                the model does not always generate valid JSON, and may hallucinate parameters not defined by
                your function schema. Validate the arguments in your code before calling your function.
            name:
              type: string
              description: The name of the function to call.
      required:
        - role
    ChatCompletionRequestToolMessage:
      type: object
      title: Tool message
      additionalProperties: false
      properties:
        role:
          type: string
          enum:
            - tool
          description: The role of the messages author, in this case `tool`.
        content:
          description: The contents of the tool message.
          title: Tool message content
          oneOf:
            - type: string
              description: The text contents of the message.
              title: Text content
            - type: array
              description: >-
                An array of content parts with a defined type, each can be of type `text` or `image_url` when
                passing in images. You can pass multiple images by adding multiple `image_url` content parts.
                Image input is only supported when using the `gpt-4-visual-preview` model.
              title: Array of content parts
              items:
                $ref: '#/components/schemas/ChatCompletionRequestMessageContentPart'
              minItems: 1
        tool_call_id:
          type: string
          description: Tool call that this message is responding to.
      required:
        - role
        - content
        - tool_call_id
    ChatCompletionRequestFunctionMessage:
      type: object
      title: Function message
      additionalProperties: false
      deprecated: true
      properties:
        role:
          type: string
          enum:
            - function
          description: The role of the messages author, in this case `function`.
        content:
          nullable: true
          title: Function message content
          type: string
          description: The contents of the function message.
        name:
          type: string
          description: The name of the function to call.
      required:
        - role
        - content
        - name
    FunctionParameters:
      type: object
      description: >-
        Function parameters defined as a JSON Schema object. Refer to
        https://json-schema.org/understanding-json-schema/ for schema documentation.
      additionalProperties: true
    ChatCompletionFunctions:
      type: object
      deprecated: true
      properties:
        description:
          type: string
          description: >-
            A description of what the function does, used by the model to choose when and how to call the
            function.
        name:
          type: string
          description: >-
            The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes,
            with a maximum length of 64.
        parameters:
          $ref: '#/components/schemas/FunctionParameters'
      required:
        - name
    ChatCompletionFunctionCallOption:
      type: object
      description: |
        Specifying a particular function via `{"name": "my_function"}` forces the model to call that function.
      properties:
        name:
          type: string
          description: The name of the function to call.
      required:
        - name
    ChatCompletionTool:
      type: object
      properties:
        type:
          anyOf:
            - type: string
              enum:
                - function
                - browser_search
                - code_interpreter
              description: The type of the tool. `function`, `browser_search`, and `code_interpreter` are supported.
            - type: string
        function:
          $ref: '#/components/schemas/FunctionObject'
      required:
        - type
    FunctionObject:
      type: object
      properties:
        description:
          type: string
          description: >-
            A description of what the function does, used by the model to choose when and how to call the
            function.
        name:
          type: string
          description: >-
            The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes,
            with a maximum length of 64.
        parameters:
          $ref: '#/components/schemas/FunctionParameters'
        strict:
          type: boolean
          default: false
          description: >
            Whether to enable strict schema adherence when generating the output. If set to true, the model
            will always follow the exact schema defined in the `schema` field. Only a subset of JSON Schema is
            supported when `strict` is `true`.
      required:
        - name
    ChatCompletionToolChoiceOption:
      nullable: true
      description: >
        Controls which (if any) tool is called by the model.

        `none` means the model will not call any tool and instead generates a message.

        `auto` means the model can pick between generating a message or calling one or more tools.

        `required` means the model must call one or more tools.

        Specifying a particular tool via `{"type": "function", "function": {"name": "my_function"}}` forces
        the model to call that tool.


        `none` is the default when no tools are present. `auto` is the default if tools are present.
      oneOf:
        - type: string
[...]
