openapi: 3.0.1
info:
  title: 🔮 Instill AI API
  description: Interact with Instill AI through its public API
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: hello@instill.tech
  license:
    name: Elastic License 2.0 (ELv2)
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
  version: v0.44.1-beta
servers:
  - url: https://api.instill.tech
  - url: http://api.instill.tech
paths:
  '/v1alpha/namespaces/{namespaceId}/apps':
    get:
      tags:
        - 🍎 App
      summary: List all apps info
      description: Returns a paginated list of apps.
      operationId: AppPublicService_ListApps
      parameters:
        - name: namespaceId
          in: path
          description: User ID for which to list the apps
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    post:
      tags:
        - 🍎 App
      summary: Create an app
      description: Creates an app.
      operationId: AppPublicService_CreateApp
      parameters:
        - name: namespaceId
          in: path
          description: The app's owner(namespaces).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAppResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/apps/{appId}':
    put:
      tags:
        - 🍎 App
      summary: Update a app info
      description: Updates the information of an app.
      operationId: AppPublicService_UpdateApp
      parameters:
        - name: namespaceId
          in: path
          description: Namespace id.
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: App id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAppResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    delete:
      tags:
        - 🍎 App
      summary: Delete a app
      description: Deletes an app.
      operationId: AppPublicService_DeleteApp
      parameters:
        - name: namespaceId
          in: path
          description: The owner's id. i.e. namespace.
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: The app id.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAppResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/apps/{appId}/conversations':
    get:
      tags:
        - 🍎 App
      summary: List conversations
      description: Returns a paginated list of conversations.
      operationId: AppPublicService_ListConversations
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: app id
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: page size
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: page token
          schema:
            type: string
        - name: conversationUid
          in: query
          description: "conversation_uid this is optional, if provided, only the conversation with the given conversation_uid will be returned\nfirst check conversation_uid, then check conversation_id, then check if_all"
          schema:
            type: string
        - name: conversationId
          in: query
          description: 'conversation_id this is optional, if provided, only the conversation with the given conversation_id will be returned'
          schema:
            type: string
        - name: ifAll
          in: query
          description: 'If true, all conversations will be returned. This has higher priority over conversation_id, page_size, and page_token.'
          schema:
            type: boolean
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    post:
      tags:
        - 🍎 App
      summary: Create a conversation
      description: Creates a conversation.
      operationId: AppPublicService_CreateConversation
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: app id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateConversationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/apps/{appId}/conversations/{conversationId}':
    put:
      tags:
        - 🍎 App
      summary: Update a conversation
      description: Updates a conversation.
      operationId: AppPublicService_UpdateConversation
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: app id
          required: true
          schema:
            type: string
        - name: conversationId
          in: path
          description: conversation id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversationBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateConversationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    delete:
      tags:
        - 🍎 App
      summary: Delete a conversation
      description: Deletes a conversation.
      operationId: AppPublicService_DeleteConversation
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: app id
          required: true
          schema:
            type: string
        - name: conversationId
          in: path
          description: conversation id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteConversationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/apps/{appId}/conversations/{conversationId}/messages':
    get:
      tags:
        - 🍎 App
      summary: List messages
      description: Returns a paginated list of messages.
      operationId: AppPublicService_ListMessages
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: app id
          required: true
          schema:
            type: string
        - name: conversationId
          in: path
          description: conversation id
          required: true
          schema:
            type: string
        - name: latestK
          in: query
          description: latest k messages
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: page size
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: page token
          schema:
            type: string
        - name: includeSystemMessages
          in: query
          description: include system messages
          schema:
            type: boolean
        - name: ifAll
          in: query
          description: 'If true, all messages will be returned. This has higher priority over latest_k, page_size, and page_token.'
          schema:
            type: boolean
        - name: messageUid
          in: query
          description: 'message_uid this is optional, if provided, only the message with the given message_uid will be returned'
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    post:
      tags:
        - 🍎 App
      summary: Create a message
      description: Creates a message.
      operationId: AppPublicService_CreateMessage
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: app id
          required: true
          schema:
            type: string
        - name: conversationId
          in: path
          description: conversation id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMessageResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/apps/{appId}/conversations/{conversationId}/messages/{messageUid}':
    put:
      tags:
        - 🍎 App
      summary: Update a message
      description: Updates a message.
      operationId: AppPublicService_UpdateMessage
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: app id
          required: true
          schema:
            type: string
        - name: conversationId
          in: path
          description: conversation id
          required: true
          schema:
            type: string
        - name: messageUid
          in: path
          description: message uid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessageBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMessageResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    delete:
      tags:
        - 🍎 App
      summary: Delete a message
      description: Deletes a message.
      operationId: AppPublicService_DeleteMessage
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: app id
          required: true
          schema:
            type: string
        - name: conversationId
          in: path
          description: conversation id
          required: true
          schema:
            type: string
        - name: messageUid
          in: path
          description: message uid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMessageResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/apps/{appId}/ai_assistant_playground/conversation':
    get:
      tags:
        - 🍎 App
      summary: Get Playground Conversation
      description: Returns the latest conversation of auth user(e.g. login user and api key user).
      operationId: AppPublicService_GetPlaygroundConversation
      parameters:
        - name: namespaceId
          in: path
          description: The namespace id.
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: The app id.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlaygroundConversationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/apps/{appId}/ai_assistant_playground/restart':
    post:
      tags:
        - 🍎 App
      summary: Restart Playground Conversation
      description: "Creates a new conversation and uses the auth user UID as creator UID and\nauto-generates a new conversation ID on the behalf of auth user."
      operationId: AppPublicService_RestartPlaygroundConversation
      parameters:
        - name: namespaceId
          in: path
          description: The namespace id.
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: The app id.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestartPlaygroundConversationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/apps/{appId}/chat':
    post:
      tags:
        - 🍎 App
      summary: Chat
      description: "Chat sends a message asynchronously and streams back the response.\nThis method is intended for real-time conversation with a chatbot\nand the response needs to be processed incrementally."
      operationId: AppPublicService_Chat
      parameters:
        - name: namespaceId
          in: path
          description: Namespace ID
          required: true
          schema:
            type: string
        - name: appId
          in: path
          description: App ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/catalogs':
    get:
      tags:
        - 💾 Artifact
      summary: Get all catalogs info
      description: Returns a paginated list of catalogs.
      operationId: ListCatalogs
      parameters:
        - name: namespaceId
          in: path
          description: User ID for which to list the catalogs
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCatalogsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    post:
      tags:
        - 💾 Artifact
      summary: Create a catalog
      description: Creates a catalog.
      operationId: CreateCatalog
      parameters:
        - name: namespaceId
          in: path
          description: The catalog's owner(namespaces).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCatalogBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCatalogResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}':
    get:
      tags:
        - 💾 Artifact
      summary: Get file catalog
      description: Get the catalog file.
      operationId: GetFileCatalog
      parameters:
        - name: namespaceId
          in: path
          description: id of the namespace
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: id of the catalog
          required: true
          schema:
            type: string
        - name: fileId
          in: query
          description: id of the file(i.e. file name)
          schema:
            type: string
        - name: fileUid
          in: query
          description: Uid of the file
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFileCatalogResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    put:
      tags:
        - 💾 Artifact
      summary: Update a catalog info
      description: Updates the information of a catalog.
      operationId: UpdateCatalog
      parameters:
        - name: namespaceId
          in: path
          description: The catalog owner(namespace).
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: The catalog id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCatalogBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCatalogResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    delete:
      tags:
        - 💾 Artifact
      summary: Delete a catalog
      description: Deletes a catalog.
      operationId: DeleteCatalog
      parameters:
        - name: namespaceId
          in: path
          description: The owner's id. i.e. namespace.
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: The catalog id.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCatalogResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files':
    get:
      tags:
        - 💾 Artifact
      summary: List catalog files
      description: Returns a paginated list of catalog files.
      operationId: ListCatalogFiles
      parameters:
        - name: namespaceId
          in: path
          description: The owner/namespace uid id.
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: The catalog id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: The page size (default:10; max 100).
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The next page token(default from first file's token).
          schema:
            type: string
        - name: filter.fileUids
          in: query
          description: The file uids.
          style: form
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCatalogFilesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    post:
      tags:
        - 💾 Artifact
      summary: Create a file
      description: Creates a file.
      operationId: UploadCatalogFile
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace uid
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id
          required: true
          schema:
            type: string
      requestBody:
        description: file
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/File'
        required: true
        x-bodyName: file
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadCatalogFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1alpha/catalogs/files:
    delete:
      tags:
        - 💾 Artifact
      summary: Delete a file
      description: Deletes a file.
      operationId: DeleteCatalogFile
      parameters:
        - name: fileUid
          in: query
          description: The file uid.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCatalogFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1alpha/catalogs/files/processAsync:
    post:
      tags:
        - 💾 Artifact
      summary: Process catalog files
      description: Processes catalog files.
      operationId: ProcessCatalogFiles
      parameters:
        - name: Instill-Requester-Uid
          in: header
          description: 'Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessCatalogFilesRequest'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessCatalogFilesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/chunks':
    get:
      tags:
        - 💾 Artifact
      summary: List catalog chunks
      description: Returns a paginated list of catalog chunks.
      operationId: ListChunks
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace id (not uid)
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id (not uid)
          required: true
          schema:
            type: string
        - name: fileUid
          in: query
          description: unique identifier of the file
          schema:
            type: string
        - name: chunkUids
          in: query
          description: repeated chunk uid(not implemented yet)
          style: form
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChunksResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files/{fileUid}/source':
    get:
      tags:
        - 💾 Artifact
      summary: Get catalog single-source-of-truth file
      description: Gets the single-source-of-truth file of a catalog.
      operationId: GetSourceFile
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace id
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id
          required: true
          schema:
            type: string
        - name: fileUid
          in: path
          description: unique identifier of the original uploaded file
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSourceFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/chunks/{chunkUid}':
    post:
      tags:
        - 💾 Artifact
      summary: Update catalog chunk
      description: Updates a catalog chunk.
      operationId: UpdateChunk
      parameters:
        - name: chunkUid
          in: path
          description: chunk uid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChunkBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateChunkResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/chunks/retrieve':
    post:
      tags:
        - 💾 Artifact
      summary: Retrieve similar chunks
      description: Returns the similar chunks.
      operationId: SimilarityChunksSearch
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace id
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id
          required: true
          schema:
            type: string
        - name: Instill-Requester-Uid
          in: header
          description: 'Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimilarityChunksSearchBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarityChunksSearchResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/ask':
    post:
      tags:
        - 💾 Artifact
      summary: Ask a question
      description: Asks a question.
      operationId: QuestionAnswering
      parameters:
        - name: namespaceId
          in: path
          description: id of the namespace
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: id of the catalog
          required: true
          schema:
            type: string
        - name: Instill-Requester-Uid
          in: header
          description: 'Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionAnsweringBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionAnsweringResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/namespaces/{namespaceId}/catalogs/{catalogId}/runs':
    get:
      tags:
        - 💾 Artifact
      summary: List Catalog Runs
      description: Returns a paginated list of catalog runs.
      operationId: ListCatalogRuns
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the owner of the catalog.
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: The ID of the catalog for which the runs will be listed.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page number to retrieve.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: "The maximum number of items per page to return. The default and cap values\nare 10 and 100, respectively."
          schema:
            type: integer
            format: int32
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
        - name: orderBy
          in: query
          description: "Order by field, with options for ordering by `id`, `create_time` or `update_time`.\nFormat: `order_by=id` or `order_by=create_time desc`, default is `asc`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCatalogRunsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/object-upload-url':
    get:
      tags:
        - 💾 Artifact
      summary: Get Object Upload URL
      description: Returns the upload URL of an object.
      operationId: GetObjectUploadURL
      parameters:
        - name: namespaceId
          in: path
          description: id of the namespace
          required: true
          schema:
            type: string
        - name: objectName
          in: query
          description: "name of the object with length limit to 1024 characters.\nthis is the unique identifier of the object in the namespace"
          required: true
          schema:
            type: string
        - name: urlExpireDays
          in: query
          description: "expiration time in days for the URL.\nmaximum is 7 days. if set to 0, URL will not expire."
          schema:
            type: integer
            format: int32
        - name: lastModifiedTime
          in: query
          description: "last modified time this value is provided by the client when the object url is created\nit must be in RFC3339 formatted date-time string"
          schema:
            type: string
            format: date-time
        - name: objectExpireDays
          in: query
          description: "object live time in days\nminimum is 1 day. if set to 0, the object will not be deleted automatically"
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetObjectUploadURLResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/object-download-url':
    get:
      tags:
        - 💾 Artifact
      summary: Get Object Download URL
      description: Returns the download URL of an object.
      operationId: GetObjectDownloadURL
      parameters:
        - name: namespaceId
          in: path
          description: id of the namespace
          required: true
          schema:
            type: string
        - name: objectUid
          in: query
          description: uid of the object
          required: true
          schema:
            type: string
        - name: urlExpireDays
          in: query
          description: "expiration time in days for the URL.\nmaximum is 7 days. if set to 0, URL will not expire."
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetObjectDownloadURLResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/user:
    get:
      tags:
        - 🪆 Namespace
      summary: Get the authenticated user
      description: Returns the details of the authenticated user.
      operationId: GetAuthenticatedUser
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthenticatedUserResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    patch:
      tags:
        - 🪆 Namespace
      summary: Update the authenticated user
      description: "Updates the information of the authenticated user.\n\nIn REST requests, only the supplied user fields will be taken into account\nwhen updating the resource."
      operationId: PatchAuthenticatedUser
      requestBody:
        description: The user fields that will replace the existing ones.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatedUser'
        required: true
        x-bodyName: user
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAuthenticatedUserResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/users:
    get:
      tags:
        - 🪆 Namespace
      summary: List users
      description: Returns a paginated list of users.
      operationId: ListUsers
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of users to return. If this parameter is unspecified,\nat most 10 pipelines will be returned. The cap value for this parameter is\n100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/users/{userId}':
    get:
      tags:
        - 🪆 Namespace
      summary: Get a user
      description: Returns the details of a user by their ID.
      operationId: GetUser
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/organizations:
    get:
      tags:
        - 🪆 Namespace
      summary: List organizations
      description: Returns a paginated list of organizations.
      operationId: ListOrganizations
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of organizations to return. If this parameter is\nunspecified, at most 10 pipelines will be returned. The cap value for this\nparameter is 100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    post:
      tags:
        - 🪆 Namespace
      summary: Create an organization
      description: Creates an organization.
      operationId: CreateOrganization
      requestBody:
        description: The properties of the organization to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
        x-bodyName: organization
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/organizations/{organizationId}':
    get:
      tags:
        - 🪆 Namespace
      summary: Get an organization
      description: Returns the organization details by its ID.
      operationId: GetOrganization
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    delete:
      tags:
        - 🪆 Namespace
      summary: Delete an organization
      description: Accesses and deletes an organization by ID.
      operationId: DeleteOrganization
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrganizationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    patch:
      tags:
        - 🪆 Namespace
      summary: Update an organization
      description: "Accesses and updates an organization by ID.\n\nIn REST requests, only the supplied organization fields will be taken into\naccount when updating the resource."
      operationId: UpdateOrganization
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
      requestBody:
        description: The organization fields that will replace the existing ones.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
        x-bodyName: organization
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/users/{userId}/memberships':
    get:
      tags:
        - 🪆 Namespace
      summary: List user memberships
      description: Returns the memberships of a user.
      operationId: ListUserMemberships
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserMembershipsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/users/{userId}/memberships/{organizationId}':
    get:
      tags:
        - 🪆 Namespace
      summary: Get a user membership
      description: "Returns the details of the relationship between a user and an\norganization. The authenticated must match the membership parent."
      operationId: GetUserMembership
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserMembershipResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    put:
      tags:
        - 🪆 Namespace
      summary: Update a user membership
      description: Accesses and updates a user membership by parent and membership IDs.
      operationId: UpdateUserMembership
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: "The update mask specifies the subset of fields that should be modified.\n\nFor more information about this field, see\nhttps://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask."
          required: true
          schema:
            type: string
      requestBody:
        description: The membership fields to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserMembership'
        required: true
        x-bodyName: membership
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserMembershipResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    delete:
      tags:
        - 🪆 Namespace
      summary: Delete a user membership
      description: Accesses and deletes a user membership by parent and membership IDs.
      operationId: DeleteUserMembership
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserMembershipResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/organizations/{organizationId}/memberships':
    get:
      tags:
        - 🪆 Namespace
      summary: List organization memberships
      description: Returns a paginated list of the user memberships in an organization.
      operationId: ListOrganizationMemberships
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationMembershipsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/organizations/{organizationId}/memberships/{userId}':
    get:
      tags:
        - 🪆 Namespace
      summary: Get a an organization membership
      description: Returns the details of a user membership within an organization.
      operationId: GetOrganizationMembership
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationMembershipResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    put:
      tags:
        - 🪆 Namespace
      summary: Uppdate an organization membership
      description: Updates a user membership within an organization.
      operationId: UpdateOrganizationMembership
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: "The update mask specifies the subset of fields that should be modified.\n\nFor more information about this field, see\nhttps://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask."
          required: true
          schema:
            type: string
      requestBody:
        description: The membership fields to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationMembership'
        required: true
        x-bodyName: membership
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationMembershipResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    delete:
      tags:
        - 🪆 Namespace
      summary: Delete an organization membership
      description: Deletes a user membership within an organization.
      operationId: DeleteOrganizationMembership
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrganizationMembershipResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/user/subscription:
    get:
      tags:
        - 🤝 Subscription
      summary: Get the subscription of the authenticated user
      description: Returns the subscription details of the authenticated user.
      operationId: GetAuthenticatedUserSubscription
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthenticatedUserSubscriptionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/organizations/{organizationId}/subscription':
    get:
      tags:
        - 🤝 Subscription
      summary: Get the subscription of an organization
      description: Returns the subscription details of an organization.
      operationId: GetOrganizationSubscription
      parameters:
        - name: organizationId
          in: path
          description: Oragnization ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationSubscriptionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/tokens:
    get:
      tags:
        - 🪆 Namespace
      summary: List API tokens
      description: Returns a paginated list of the API tokens of the authenticated user.
      operationId: ListTokens
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of tokens to return. If this parameter is unspecified,\nat most 10 pipelines will be returned. The cap value for this parameter is\n100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTokensResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    post:
      tags:
        - 🪆 Namespace
      summary: Create an API token
      description: Creates an API token for the authenticated user.
      operationId: CreateToken
      requestBody:
        description: The properties of the token to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiToken'
        required: true
        x-bodyName: token
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTokenResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/tokens/{tokenId}':
    get:
      tags:
        - 🪆 Namespace
      summary: Get an API token
      description: Returns the details of an API token.
      operationId: GetToken
      parameters:
        - name: tokenId
          in: path
          description: Token ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    delete:
      tags:
        - 🪆 Namespace
      summary: Delete an API token
      description: Deletes an API token.
      operationId: DeleteToken
      parameters:
        - name: tokenId
          in: path
          description: Token ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTokenResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/validate_token:
    post:
      tags:
        - 🪆 Namespace
      summary: Validate an API token
      description: Validates an API token.
      operationId: ValidateToken
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateTokenResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1beta/namespaces/{namespaceId}/credit':
    get:
      tags:
        - 🤝 Subscription
      summary: Get the remaining Instill Credit
      description: "This endpoint returns the remaining [Instill Credit](https://www.instill.tech/docs/vdp/credit) of a given user or\norganization. The requested credit owner must be either the authenticated\nuser or an organization they belong to.\n\nOn Instill Core, this endpoint will return a 404 Not Found status."
      operationId: GetRemainingCredit
      parameters:
        - name: namespaceId
          in: path
          description: Namespace ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRemainingCreditResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/check-namespace:
    post:
      tags:
        - 🪆 Namespace
      summary: Check if a namespace is in use
      description: "Returns the availability of a namespace or, alternatively, the type of\nresource that is using it."
      operationId: CheckNamespace
      requestBody:
        description: "CheckNamespaceRequest represents a request to verify if a namespace is\navailable."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNamespaceRequest'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNamespaceResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/metrics/vdp/pipeline/triggers:
    get:
      tags:
        - 📊 Metrics
      summary: List pipeline triggers
      description: Returns a paginated list of pipeline executions.
      operationId: ListPipelineTriggerRecords
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of triggers to return. If this parameter is unspecified,\nat most 100 pipelines will be returned. The cap value for this parameter is\n1000 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPipelineTriggerRecordsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/metrics/vdp/pipeline/charts:
    get:
      tags:
        - 📊 Metrics
      summary: List pipeline trigger time charts
      description: "Returns a timeline of pipline trigger counts for the pipelines of a given\nowner.\nNOTE: This method will soon return the trigger counts of a given requester."
      operationId: ListPipelineTriggerChartRecords
      parameters:
        - name: aggregationWindow
          in: query
          description: Aggregation window in nanoseconds.
          schema:
            type: integer
            format: int32
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPipelineTriggerChartRecordsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/model-runs:query-charts:
    get:
      tags:
        - 📊 Metrics
      summary: List model trigger time charts
      description: "Returns a timeline of model trigger counts for a given requester. The\nresponse will contain one set of records (datapoints), representing the\namount of triggers in a time bucket."
      operationId: ListModelTriggerChartRecords
      parameters:
        - name: requesterId
          in: query
          description: The ID of the namespace that requested the model triggers.
          required: true
          schema:
            type: string
        - name: aggregationWindow
          in: query
          description: "Aggregation window. The value is a positive duration string, i.e. a\nsequence of decimal numbers, each with optional fraction and a unit\nsuffix, such as \"300ms\", \"1.5h\" or \"2h45m\".\nThe minimum (and default) window is 1h."
          schema:
            type: string
        - name: start
          in: query
          description: "Beginning of the time range from which the records will be fetched.\nThe default value is the beginning of the current day, in UTC."
          schema:
            type: string
            format: date-time
        - name: stop
          in: query
          description: "End of the time range from which the records will be fetched.\nThe default value is the current timestamp."
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelTriggerChartRecordsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1beta/metrics/credit/charts:
    get:
      tags:
        - 📊 Metrics
      summary: List Instill Credit consumption time charts
      description: "Returns a timeline of Instill Credit consumption for a given owner. The\nresponse will contain one set of records (datapoints) per consumption\nsource (e.g. \"pipeline\", \"model\"). Each datapoint represents the amount\nconsumed in a time bucket."
      operationId: ListCreditConsumptionChartRecords
      parameters:
        - name: namespaceId
          in: query
          description: The ID of the namespace that owns the credit.
          required: true
          schema:
            type: string
        - name: aggregationWindow
          in: query
          description: "Aggregation window. The value is a positive duration string, i.e. a\nsequence of decimal numbers, each with optional fraction and a unit\nsuffix, such as \"300ms\", \"1.5h\" or \"2h45m\".\nThe minimum (and default) window is 1h."
          schema:
            type: string
        - name: start
          in: query
          description: "Beginning of the time range from which the records will be fetched.\nThe default value is the beginning of the current day, in UTC."
          schema:
            type: string
            format: date-time
        - name: stop
          in: query
          description: "End of the time range from which the records will be fetched.\nThe default value is the current timestamp."
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCreditConsumptionChartRecordsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1alpha/model-definitions:
    get:
      tags:
        - ⚗️ Model
      summary: List model definitions
      description: Returns a paginated list of model definitions.
      operationId: ModelPublicService_ListModelDefinitions
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of model definitions to return. If this parameter\nis unspecified, at most 10 definitions will be returned. The cap value for\nthis parameter is 100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelDefinitionsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1alpha/available-regions:
    get:
      tags:
        - ⚗️ Model
      summary: List available regions
      description: Returns a paginated list of available regions.
      operationId: ModelPublicService_ListAvailableRegions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailableRegionsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/model-definitions/{modelDefinitionId}':
    get:
      tags:
        - ⚗️ Model
      summary: Get a model definition
      description: Returns the details of a model definition.
      operationId: ModelPublicService_GetModelDefinition
      parameters:
        - name: modelDefinitionId
          in: path
          description: "The resource name of the model definition, which allows its access by ID.\n- Format: `model-definitions/{id}`."
          required: true
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetModelDefinitionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  /v1alpha/models:
    get:
      tags:
        - ⚗️ Model
      summary: List models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListModels
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of models to return. If this parameter is unspecified,\nat most 10 models will be returned. The cap value for this parameter is\n100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired model view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
        - name: showDeleted
          in: query
          description: Include soft-deleted models in the result.
          schema:
            type: boolean
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
        - name: visibility
          in: query
          description: "Limit results to pipelines with the specified visibility.\n\n - VISIBILITY_PRIVATE: Only the owner can see the model.\n - VISIBILITY_PUBLIC: Other users can see the model."
          schema:
            enum:
              - VISIBILITY_PRIVATE
              - VISIBILITY_PUBLIC
            type: string
        - name: orderBy
          in: query
          description: "Order by field, with options for ordering by `id`, `create_time` or `update_time`.\nFormat: `order_by=id` or `order_by=create_time desc`, default is `asc`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/models':
    get:
      tags:
        - ⚗️ Model
      summary: List namespace models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListNamespaceModels
      parameters:
        - name: namespaceId
          in: path
          description: Namespace ID
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: "The maximum number of models to return. If this parameter is unspecified,\nat most 10 models will be returned. The cap value for this parameter is\n100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired model view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
        - name: showDeleted
          in: query
          description: Include soft-deleted models in the result.
          schema:
            type: boolean
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
        - name: visibility
          in: query
          description: "Limit results to pipelines with the specified visibility.\n\n - VISIBILITY_PRIVATE: Only the owner can see the model.\n - VISIBILITY_PUBLIC: Other users can see the model."
          schema:
            enum:
              - VISIBILITY_PRIVATE
              - VISIBILITY_PUBLIC
            type: string
        - name: orderBy
          in: query
          description: "Order by field, with options for ordering by `id`, `create_time` or `update_time`.\nFormat: `order_by=id` or `order_by=create_time desc`, default is `asc`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNamespaceModelsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    post:
      tags:
        - ⚗️ Model
      summary: Create a new model
      description: "Creates a new model under the parenthood of a namespace. This is an\nasynchronous endpoint, i.e., the server will not wait for the model to be\ncreated in order to respond. Instead, it will return a response with the\nnecessary information to access the result and status of the creation\noperation."
      operationId: ModelPublicService_CreateNamespaceModel
      parameters:
        - name: namespaceId
          in: path
          description: Namespace ID
          required: true
          schema:
            type: string
      requestBody:
        description: The properties of the model to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
        required: true
        x-bodyName: model
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNamespaceModelResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/models/{modelId}':
    get:
      tags:
        - ⚗️ Model
      summary: Get a model
      description: 'Returns the detail of a model, accessing it by the model ID and its parent namespace.'
      operationId: ModelPublicService_GetNamespaceModel
      parameters:
        - name: namespaceId
          in: path
          description: Namespace ID
          required: true
          schema:
            type: string
        - name: modelId
          in: path
          description: Model ID
          required: true
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired model view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNamespaceModelResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    delete:
      tags:
        - ⚗️ Model
      summary: Delete a model
      description: "Deletes a model, accesing it by its resource name, which is defined by the\nparent namespace and the ID of the model."
      operationId: ModelPublicService_DeleteNamespaceModel
      parameters:
        - name: namespaceId
          in: path
          description: Namespace ID
          required: true
          schema:
            type: string
        - name: modelId
          in: path
          description: Model ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNamespaceModelResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
    patch:
      tags:
        - ⚗️ Model
      summary: Update a model
      description: "Updates a model, accessing it by its resource name, which is defined by\nthe parent namespace and the ID of the model.\n\nIn REST requests, only the supplied model fields will be taken into\naccount when updating the resource."
      operationId: ModelPublicService_UpdateNamespaceModel
      parameters:
        - name: namespaceId
          in: path
          description: Namespace ID
          required: true
          schema:
            type: string
        - name: modelId
          in: path
          description: Model ID
          required: true
          schema:
            type: string
      requestBody:
        description: The model to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
        required: true
        x-bodyName: model
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateNamespaceModelResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
  '/v1alpha/namespaces/{namespaceId}/models/{modelId}/rename':
    post:
      tags:
        - ⚗️ Model
      summary: Rename a model
      description: "Renames a model, accesing it by its resource name, which is defined by the\nparent namespace and the ID of the model."
      operationId: ModelPublicService_RenameNamespaceModel
      parameters:
        - name: namespaceId
          in: path
          description: Namespace ID
          required: true
          schema:
            type: string
        - name: modelId
          in: path
          description: Model ID
[...]
