openapi: 3.0.1
info:
  title: LangSmith
  version: 0.1.0
servers:
  - url: https://api.smith.langchain.com
paths:
  '/api/v1/sessions/{session_id}':
    get:
      tags:
        - tracer-sessions
      summary: Read Tracer Session
      description: Get a specific session.
      operationId: read_tracer_session_api_v1_sessions__session_id__get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: include_stats
          in: query
          schema:
            title: Include Stats
            type: boolean
            default: false
        - name: accept
          in: header
          schema:
            title: Accept
            anyOf:
              - type: string
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerSession'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - tracer-sessions
      summary: Update Tracer Session
      description: Create a new session.
      operationId: update_tracer_session_api_v1_sessions__session_id__patch
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TracerSessionUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerSessionWithoutVirtualFields'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - tracer-sessions
      summary: Delete Tracer Session
      description: Delete a specific session.
      operationId: delete_tracer_session_api_v1_sessions__session_id__delete
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/sessions:
    get:
      tags:
        - tracer-sessions
      summary: Read Tracer Sessions
      description: Get all sessions.
      operationId: read_tracer_sessions_api_v1_sessions_get
      parameters:
        - name: reference_free
          in: query
          schema:
            title: Reference Free
            anyOf:
              - type: boolean
              - type: 'null'
        - name: reference_dataset
          in: query
          schema:
            title: Reference Dataset
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: id
          in: query
          schema:
            title: Id
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: name
          in: query
          schema:
            title: Name
            anyOf:
              - type: string
              - type: 'null'
        - name: name_contains
          in: query
          schema:
            title: Name Contains
            anyOf:
              - type: string
              - type: 'null'
        - name: dataset_version
          in: query
          schema:
            title: Dataset Version
            anyOf:
              - type: string
              - type: 'null'
        - name: sort_by
          in: query
          schema:
            title: Sort By
            allOf:
              - $ref: '#/components/schemas/SessionSortableColumns'
            default: start_time
        - name: sort_by_desc
          in: query
          schema:
            title: Sort By Desc
            type: boolean
            default: true
        - name: metadata
          in: query
          schema:
            title: Metadata
            anyOf:
              - type: string
              - type: 'null'
        - name: sort_by_feedback_key
          in: query
          schema:
            title: Sort By Feedback Key
            anyOf:
              - type: string
              - type: 'null'
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            default: 100
        - name: tag_value_id
          in: query
          schema:
            title: Tag Value Id
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: facets
          in: query
          schema:
            title: Facets
            type: boolean
            default: false
        - name: accept
          in: header
          schema:
            title: Accept
            anyOf:
              - type: string
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Read Tracer Sessions Api V1 Sessions Get
                type: array
                items:
                  $ref: '#/components/schemas/TracerSession'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - tracer-sessions
      summary: Create Tracer Session
      description: Create a new session.
      operationId: create_tracer_session_api_v1_sessions_post
      parameters:
        - name: upsert
          in: query
          schema:
            title: Upsert
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TracerSessionCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerSessionWithoutVirtualFields'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - tracer-sessions
      summary: Delete Tracer Sessions
      description: Delete a specific session.
      operationId: delete_tracer_sessions_api_v1_sessions_delete
      parameters:
        - name: session_ids
          in: query
          required: true
          schema:
            title: Session Ids
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/metadata':
    get:
      tags:
        - tracer-sessions
      summary: Read Tracer Sessions Runs Metadata
      description: 'Given a session, a number K, and (optionally) a list of metadata keys, return the top K values for each key.'
      operationId: read_tracer_sessions_runs_metadata_api_v1_sessions__session_id__metadata_get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: metadata_keys
          in: query
          schema:
            title: Metadata Keys
            anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
        - name: start_time
          in: query
          schema:
            title: Start Time
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
        - name: k
          in: query
          schema:
            title: K
            minimum: 1
            type: integer
            default: 10
        - name: root_runs_only
          in: query
          schema:
            title: Root Runs Only
            type: boolean
            default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootModel_Dict_str__list_str___'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/views':
    get:
      tags:
        - tracer-sessions
      summary: Read Filter Views
      description: Get all filter views for a session.
      operationId: read_filter_views_api_v1_sessions__session_id__views_get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Read Filter Views Api V1 Sessions  Session Id  Views Get
                type: array
                items:
                  $ref: '#/components/schemas/FilterView'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - tracer-sessions
      summary: Create Filter View
      description: Create a new filter view.
      operationId: create_filter_view_api_v1_sessions__session_id__views_post
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterViewCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterView'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/views/{view_id}':
    get:
      tags:
        - tracer-sessions
      summary: Read Filter View
      description: Get a specific filter view.
      operationId: read_filter_view_api_v1_sessions__session_id__views__view_id__get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: view_id
          in: path
          required: true
          schema:
            title: View Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterView'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - tracer-sessions
      summary: Update Filter View
      description: Update a filter view.
      operationId: update_filter_view_api_v1_sessions__session_id__views__view_id__patch
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: view_id
          in: path
          required: true
          schema:
            title: View Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterViewUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterView'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - tracer-sessions
      summary: Delete Filter View
      description: Delete a specific filter view.
      operationId: delete_filter_view_api_v1_sessions__session_id__views__view_id__delete
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: view_id
          in: path
          required: true
          schema:
            title: View Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs:
    get:
      tags:
        - orgs
      summary: List Organizations
      description: Get all orgs visible to this auth
      operationId: list_organizations_api_v1_orgs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Organizations Api V1 Orgs Get
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationPGSchemaSlim'
      security:
        - BearerAuth: [ ]
  /api/v1/orgs/current/setup:
    post:
      tags:
        - orgs
      summary: Create Customers And Get Stripe Setup Intent
      operationId: create_customers_and_get_stripe_setup_intent_api_v1_orgs_current_setup_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeSetupIntentResponse'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current:
    get:
      tags:
        - orgs
      summary: Get Organization Info
      operationId: get_organization_info_api_v1_orgs_current_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/info:
    get:
      tags:
        - orgs
      summary: Get Current Organization Info
      operationId: get_current_organization_info_api_v1_orgs_current_info_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInfo'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/billing:
    get:
      tags:
        - orgs
      summary: Get Organization Billing Info
      operationId: get_organization_billing_info_api_v1_orgs_current_billing_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingInfo'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/dashboard:
    get:
      tags:
        - orgs
      summary: Get Dashboard
      operationId: get_dashboard_api_v1_orgs_current_dashboard_get
      parameters:
        - name: type
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/OrganizationDashboardType'
        - name: color_scheme
          in: query
          required: true
          schema:
            title: Color Scheme
            anyOf:
              - $ref: '#/components/schemas/OrganizationDashboardColorScheme'
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDashboardSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/payment-method:
    post:
      tags:
        - orgs
      summary: On Payment Method Created
      operationId: on_payment_method_created_api_v1_orgs_current_payment_method_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripePaymentInformation'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/business-info:
    get:
      tags:
        - orgs
      summary: Get Company Info
      operationId: get_company_info_api_v1_orgs_current_business_info_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeBusinessInfo-Output'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Set Company Info
      operationId: set_company_info_api_v1_orgs_current_business_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeBusinessInfo-Input'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/plan:
    post:
      tags:
        - orgs
      summary: Change Payment Plan
      operationId: change_payment_plan_api_v1_orgs_current_plan_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePaymentPlanSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/roles:
    get:
      tags:
        - orgs
      summary: List Organization Roles
      operationId: list_organization_roles_api_v1_orgs_current_roles_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Organization Roles Api V1 Orgs Current Roles Get
                type: array
                items:
                  $ref: '#/components/schemas/Role'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Create Organization Roles
      operationId: create_organization_roles_api_v1_orgs_current_roles_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/orgs/current/roles/{role_id}':
    delete:
      tags:
        - orgs
      summary: Delete Organization Roles
      operationId: delete_organization_roles_api_v1_orgs_current_roles__role_id__delete
      parameters:
        - name: role_id
          in: path
          required: true
          schema:
            title: Role Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - orgs
      summary: Update Organization Roles
      operationId: update_organization_roles_api_v1_orgs_current_roles__role_id__patch
      parameters:
        - name: role_id
          in: path
          required: true
          schema:
            title: Role Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/permissions:
    get:
      tags:
        - orgs
      summary: List Permissions
      operationId: list_permissions_api_v1_orgs_permissions_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Permissions Api V1 Orgs Permissions Get
                type: array
                items:
                  $ref: '#/components/schemas/PermissionResponse'
      security:
        - BearerAuth: [ ]
  /api/v1/orgs/pending:
    get:
      tags:
        - orgs
      summary: List Pending Organization Invites
      description: Get all pending orgs visible to this auth
      operationId: list_pending_organization_invites_api_v1_orgs_pending_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Pending Organization Invites Api V1 Orgs Pending Get
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationPGSchemaSlim'
      security:
        - BearerAuth: [ ]
  /api/v1/orgs/current/members:
    get:
      tags:
        - orgs
      summary: Get Current Org Members
      operationId: get_current_org_members_api_v1_orgs_current_members_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembers'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Add Member To Current Org
      operationId: add_member_to_current_org_api_v1_orgs_current_members_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PendingIdentityCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingIdentity'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/members/batch:
    post:
      tags:
        - orgs
      summary: Add Members To Current Org Batch
      description: Batch invite up to 500 users to the current org.
      operationId: add_members_to_current_org_batch_api_v1_orgs_current_members_batch_post
      requestBody:
        content:
          application/json:
            schema:
              title: Payloads
              type: array
              items:
                $ref: '#/components/schemas/PendingIdentityCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Members To Current Org Batch Api V1 Orgs Current Members Batch Post
                type: array
                items:
                  $ref: '#/components/schemas/PendingIdentity'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/members/basic/batch:
    post:
      tags:
        - orgs
      summary: Add Basic Auth Members To Current Org
      description: Batch add up to 500 users to the org and specified workspaces in basic auth mode.
      operationId: add_basic_auth_members_to_current_org_api_v1_orgs_current_members_basic_batch_post
      requestBody:
        content:
          application/json:
            schema:
              title: Payloads
              type: array
              items:
                $ref: '#/components/schemas/BasicAuthMemberCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Basic Auth Members To Current Org Api V1 Orgs Current Members Basic Batch Post
                type: array
                items:
                  $ref: '#/components/schemas/UserWithPassword'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/orgs/current/members/{identity_id}/pending':
    delete:
      tags:
        - orgs
      summary: Delete Current Org Pending Member
      description: When an admin deletes a pending member invite.
      operationId: delete_current_org_pending_member_api_v1_orgs_current_members__identity_id__pending_delete
      parameters:
        - name: identity_id
          in: path
          required: true
          schema:
            title: Identity Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/orgs/pending/{organization_id}':
    delete:
      tags:
        - orgs
      summary: Delete Pending Organization Invite
      operationId: delete_pending_organization_invite_api_v1_orgs_pending__organization_id__delete
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            title: Organization Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: [ ]
  '/api/v1/orgs/pending/{organization_id}/claim':
    post:
      tags:
        - orgs
      summary: Claim Pending Organization Invite
      operationId: claim_pending_organization_invite_api_v1_orgs_pending__organization_id__claim_post
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            title: Organization Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: [ ]
  '/api/v1/orgs/current/members/{identity_id}':
    delete:
      tags:
        - orgs
      summary: Remove Member From Current Org
      description: Remove a user from the current organization.
      operationId: remove_member_from_current_org_api_v1_orgs_current_members__identity_id__delete
      parameters:
        - name: identity_id
          in: path
          required: true
          schema:
            title: Identity Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - orgs
      summary: Update Current Org Member
      description: This is used for updating a user's role (all auth modes) or full_name/password (basic auth)
      operationId: update_current_org_member_api_v1_orgs_current_members__identity_id__patch
      parameters:
        - name: identity_id
          in: path
          required: true
          schema:
            title: Identity Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgIdentityPatch'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/members/basic:
    patch:
      tags:
        - orgs
      summary: Update Current User
      description: Update a user's full_name/password (basic auth only)
      operationId: update_current_user_api_v1_orgs_members_basic_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicAuthUserPatch'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/ttl-settings:
    get:
      tags:
        - orgs
      summary: List Ttl Settings
      description: List out the configured TTL settings for a given org (org-level and tenant-level).
      operationId: list_ttl_settings_api_v1_orgs_ttl_settings_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Ttl Settings Api V1 Orgs Ttl Settings Get
                type: array
                items:
                  $ref: '#/components/schemas/TTLSettings'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    put:
      tags:
        - orgs
      summary: Upsert Ttl Settings
      operationId: upsert_ttl_settings_api_v1_orgs_ttl_settings_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertOrgOrWorkspaceTTLSettingsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TTLSettings'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/login:
    post:
      tags:
        - auth
      summary: Login
      operationId: login_api_v1_login_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuthResponse'
  /api/v1/api-key:
    get:
      tags:
        - api-key
      summary: Get Api Keys
      description: Get the current tenant's API keys
      operationId: get_api_keys_api_v1_api_key_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Api Keys Api V1 Api Key Get
                type: array
                items:
                  $ref: '#/components/schemas/APIKeyGetResponse'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - api-key
      summary: Generate Api Key
      description: Generate an api key for the user
      operationId: generate_api_key_api_v1_api_key_post
      requestBody:
        content:
          application/json:
            schema:
              title: Payload
              allOf:
                - $ref: '#/components/schemas/APIKeyCreateRequest'
              default:
                description: Default API key
                read_only: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/api-key/{api_key_id}':
    delete:
      tags:
        - api-key
      summary: Delete Api Key
      description: Delete an api key for the user
      operationId: delete_api_key_api_v1_api_key__api_key_id__delete
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            title: Api Key Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyGetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/api-key/current:
    get:
      tags:
        - api-key
      summary: Get Personal Access Tokens
      description: Get the current users PATs for this tenant
      operationId: get_personal_access_tokens_api_v1_api_key_current_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Personal Access Tokens Api V1 Api Key Current Get
                type: array
                items:
                  $ref: '#/components/schemas/APIKeyGetResponse'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - api-key
      summary: Generate Personal Access Token
      description: Generate a Personal Access Token the user
      operationId: generate_personal_access_token_api_v1_api_key_current_post
      requestBody:
        content:
          application/json:
            schema:
              title: Payload
              allOf:
                - $ref: '#/components/schemas/APIKeyCreateRequest'
              default:
                description: Default API key
                read_only: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/api-key/current/{pat_id}':
    delete:
      tags:
        - api-key
      summary: Delete Personal Access Token
      description: Delete a Personal Access Token for the user
      operationId: delete_personal_access_token_api_v1_api_key_current__pat_id__delete
      parameters:
        - name: pat_id
          in: path
          required: true
          schema:
            title: Pat Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyGetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/examples/{example_id}':
    get:
      tags:
        - examples
      summary: Read Example
      description: Get a specific example.
      operationId: read_example_api_v1_examples__example_id__get
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            title: Example Id
            type: string
            format: uuid
        - name: as_of
          in: query
          description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
          schema:
            title: As Of
            anyOf:
              - type: string
                format: date-time
              - type: string
            description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
            default: latest
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Example'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - examples
      summary: Update Example
      description: Update a specific example.
      operationId: update_example_api_v1_examples__example_id__patch
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            title: Example Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExampleUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - examples
      summary: Delete Example
      description: Delete a specific example.
      operationId: delete_example_api_v1_examples__example_id__delete
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            title: Example Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/examples:
    get:
      tags:
        - examples
      summary: Read Examples
      description: Get all examples by query params
      operationId: read_examples_api_v1_examples_get
      parameters:
        - name: id
          in: query
          schema:
            title: Id
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: as_of
          in: query
          description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
          schema:
            title: As Of
            anyOf:
              - type: string
                format: date-time
              - type: string
            description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
            default: latest
        - name: metadata
          in: query
          schema:
            title: Metadata
            anyOf:
              - type: string
              - type: 'null'
        - name: full_text_contains
          in: query
          schema:
            title: Full Text Contains
            anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
        - name: splits
          in: query
          schema:
            title: Splits
            anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
        - name: dataset
          in: query
          schema:
            title: Dataset
            anyOf:
              - type: string
                format: uuid
              - type: 'null'
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            default: 100
        - name: order
          in: query
          schema:
            title: Order
            allOf:
              - $ref: '#/components/schemas/ExampleListOrder'
            default: recent
        - name: random_seed
          in: query
          schema:
            title: Random Seed
            anyOf:
              - type: number
              - type: 'null'
        - name: select
          in: query
          schema:
            title: Select
            type: array
            items:
              $ref: '#/components/schemas/ExampleSelect'
            default:
              - id
              - created_at
              - modified_at
              - name
              - dataset_id
              - source_run_id
              - metadata
              - inputs
              - outputs
        - name: filter
          in: query
          schema:
            title: Filter
            anyOf:
              - type: string
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Read Examples Api V1 Examples Get
                type: array
                items:
                  $ref: '#/components/schemas/Example'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - examples
      summary: Create Example
      description: Create a new example.
      operationId: create_example_api_v1_examples_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExampleCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Example'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - examples
      summary: Delete Examples
      description: Delete a specific set of examples.
      operationId: delete_examples_api_v1_examples_delete
      parameters:
        - name: example_ids
          in: query
          required: true
          schema:
            title: Example Ids
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/examples/bulk:
    post:
      tags:
        - examples
      summary: Create Examples
      description: Create a new example.
      operationId: create_examples_api_v1_examples_bulk_post
      requestBody:
        content:
          application/json:
            schema:
              title: Examples
              type: array
              items:
                $ref: '#/components/schemas/ExampleBulkCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Create Examples Api V1 Examples Bulk Post
                type: array
                items:
                  $ref: '#/components/schemas/Example'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - examples
      summary: Update Examples
      description: Update examples in bulk.
      operationId: update_examples_api_v1_examples_bulk_patch
      requestBody:
        content:
          application/json:
            schema:
              title: Example Updates
              type: array
              items:
                $ref: '#/components/schemas/ExampleUpdateWithID'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/examples/upload/{dataset_id}':
    post:
      tags:
        - examples
      summary: Upload Examples
      description: Create a new example.
      operationId: upload_examples_api_v1_examples_upload__dataset_id__post
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_examples_api_v1_examples_upload__dataset_id__post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Upload Examples Api V1 Examples Upload  Dataset Id  Post
                type: array
                items:
                  $ref: '#/components/schemas/Example'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}':
    get:
      tags:
        - datasets
      summary: Read Dataset
      description: Get a specific dataset.
      operationId: read_dataset_api_v1_datasets__dataset_id__get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - datasets
      summary: Delete Dataset
      description: Delete a specific dataset.
      operationId: delete_dataset_api_v1_datasets__dataset_id__delete
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - datasets
      summary: Update Dataset
      description: Update a specific dataset.
      operationId: update_dataset_api_v1_datasets__dataset_id__patch
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetUpdate'
        required: true
      responses:
        '200':
          description: Dataset updated successfully
          headers:
            X-Updated-Examples-Count:
              description: Number of examples updated
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetSchemaForUpdate'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/datasets:
    get:
      tags:
        - datasets
      summary: Read Datasets
      description: Get all datasets by query params and owner.
      operationId: read_datasets_api_v1_datasets_get
      parameters:
        - name: id
          in: query
          schema:
            title: Id
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: data_type
          in: query
          schema:
            title: Data Type
            anyOf:
              - type: array
                items:
                  $ref: '#/components/schemas/DataType'
              - $ref: '#/components/schemas/DataType'
              - type: 'null'
        - name: name
          in: query
          schema:
            title: Name
            anyOf:
              - type: string
              - type: 'null'
        - name: name_contains
          in: query
          schema:
            title: Name Contains
            anyOf:
              - type: string
              - type: 'null'
        - name: metadata
          in: query
          schema:
            title: Metadata
            anyOf:
              - type: string
              - type: 'null'
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            default: 100
        - name: sort_by
          in: query
          schema:
            title: Sort By
            allOf:
              - $ref: '#/components/schemas/SortByDatasetColumn'
            default: last_session_start_time
        - name: sort_by_desc
          in: query
          schema:
            title: Sort By Desc
            type: boolean
            default: true
        - name: tag_value_id
          in: query
          schema:
            title: Tag Value Id
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Read Datasets Api V1 Datasets Get
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - datasets
      summary: Create Dataset
      description: Create a new dataset.
      operationId: create_dataset_api_v1_datasets_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/datasets/upload:
    post:
      tags:
        - datasets
      summary: Upload Csv Dataset
      description: Create a new dataset from a CSV file.
      operationId: upload_csv_dataset_api_v1_datasets_upload_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_csv_dataset_api_v1_datasets_upload_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/datasets/upload-experiment:
    post:
      tags:
        - datasets
      summary: Upload Experiment
      description: Upload an experiment that has already been run.
      operationId: upload_experiment_api_v1_datasets_upload_experiment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentResultsUpload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResultsUploadResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/versions':
    get:
      tags:
        - datasets
      summary: Get Dataset Versions
      description: Get dataset versions.
      operationId: get_dataset_versions_api_v1_datasets__dataset_id__versions_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
        - name: search
          in: query
          schema:
            title: Search
            anyOf:
              - type: string
              - type: 'null'
        - name: example
          in: query
          schema:
            title: Example
            anyOf:
              - type: string
                format: uuid
              - type: 'null'
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Dataset Versions Api V1 Datasets  Dataset Id  Versions Get
                type: array
                items:
                  $ref: '#/components/schemas/DatasetVersion'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/versions/diff':
    get:
      tags:
        - datasets
      summary: Diff Dataset Versions
      description: Get diff between two dataset versions.
      operationId: diff_dataset_versions_api_v1_datasets__dataset_id__versions_diff_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
        - name: from_version
          in: query
          required: true
          schema:
            title: From Version
            anyOf:
              - type: string
                format: date-time
              - type: string
        - name: to_version
          in: query
          required: true
          schema:
            title: To Version
            anyOf:
              - type: string
                format: date-time
              - type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDiffInfo'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/version':
    get:
      tags:
        - datasets
      summary: Get Dataset Version
      description: Get dataset version by as_of or exact tag.
      operationId: get_dataset_version_api_v1_datasets__dataset_id__version_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
        - name: as_of
          in: query
          schema:
            title: As Of
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
        - name: tag
          in: query
          schema:
            title: Tag
            anyOf:
              - type: string
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetVersion'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/tags':
    put:
      tags:
        - datasets
      summary: Update Dataset Version
      description: Set a tag on a dataset version.
      operationId: update_dataset_version_api_v1_datasets__dataset_id__tags_put
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDatasetVersionsSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetVersion'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/openai':
    get:
      tags:
        - datasets
      summary: Download Dataset Openai
      description: Download a dataset as OpenAI Evals Jsonl format.
      operationId: download_dataset_openai_api_v1_datasets__dataset_id__openai_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
        - name: as_of
          in: query
          description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
          schema:
            title: As Of
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
            description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/openai_ft':
    get:
      tags:
        - datasets
      summary: Download Dataset Openai Ft
      description: Download a dataset as OpenAI Jsonl format.
      operationId: download_dataset_openai_ft_api_v1_datasets__dataset_id__openai_ft_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
        - name: as_of
          in: query
          description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
          schema:
            title: As Of
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
            description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/csv':
    get:
      tags:
        - datasets
      summary: Download Dataset Csv
      description: Download a dataset as CSV format.
      operationId: download_dataset_csv_api_v1_datasets__dataset_id__csv_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
        - name: as_of
          in: query
          description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
          schema:
            title: As Of
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
            description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/runs':
    post:
      tags:
        - datasets
      summary: Read Examples With Runs
      description: 'Fetch examples for a dataset, and fetch the runs for each example if they are associated with the given session_ids.'
      operationId: read_examples_with_runs_api_v1_datasets__dataset_id__runs_post
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryExampleSchemaWithRuns'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Read Examples With Runs Api V1 Datasets  Dataset Id  Runs Post
                anyOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/ExampleWithRuns'
                  - type: array
                    items:
                      $ref: '#/components/schemas/ExampleWithRunsCH'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/runs/delta':
    post:
      tags:
        - datasets
      summary: Read Delta
      description: 'Fetch the number of regressions/improvements for each example in a dataset, between sessions[0] and sessions[1].'
      operationId: read_delta_api_v1_datasets__dataset_id__runs_delta_post
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryFeedbackDelta'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionFeedbackDelta'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/share':
    get:
      tags:
        - datasets
      summary: Read Dataset Share State
      description: Get the state of sharing a dataset
      operationId: read_dataset_share_state_api_v1_datasets__dataset_id__share_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Read Dataset Share State Api V1 Datasets  Dataset Id  Share Get
                anyOf:
                  - $ref: '#/components/schemas/DatasetShareSchema'
                  - type: 'null'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    put:
      tags:
        - datasets
      summary: Share Dataset
      description: Share a dataset.
      operationId: share_dataset_api_v1_datasets__dataset_id__share_put
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
        - name: share_projects
          in: query
          schema:
            title: Share Projects
            type: boolean
            default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetShareSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - datasets
      summary: Unshare Dataset
      description: Unshare a dataset.
      operationId: unshare_dataset_api_v1_datasets__dataset_id__share_delete
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/comparative':
    get:
      tags:
        - datasets
      summary: Read Comparative Experiments
      description: Get all comparative experiments for a given dataset.
      operationId: read_comparative_experiments_api_v1_datasets__dataset_id__comparative_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
        - name: name
          in: query
          schema:
            title: Name
            anyOf:
              - type: string
              - type: 'null'
        - name: name_contains
          in: query
          schema:
            title: Name Contains
            anyOf:
              - type: string
              - type: 'null'
        - name: id
          in: query
          schema:
            title: Id
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            default: 100
        - name: sort_by
          in: query
          schema:
            title: Sort By
            allOf:
              - $ref: '#/components/schemas/SortByComparativeExperimentColumn'
            default: created_at
        - name: sort_by_desc
          in: query
          schema:
            title: Sort By Desc
            type: boolean
            default: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Read Comparative Experiments Api V1 Datasets  Dataset Id  Comparative Get
                type: array
                items:
                  $ref: '#/components/schemas/ComparativeExperiment'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/datasets/comparative:
    post:
      tags:
        - datasets
      summary: Create Comparative Experiment
      description: Create a comparative experiment.
      operationId: create_comparative_experiment_api_v1_datasets_comparative_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComparativeExperimentCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComparativeExperimentBase'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/comparative/{comparative_experiment_id}':
    delete:
      tags:
        - datasets
      summary: Delete Comparative Experiment
      description: Delete a specific comparative experiment.
      operationId: delete_comparative_experiment_api_v1_datasets_comparative__comparative_experiment_id__delete
      parameters:
        - name: comparative_experiment_id
          in: path
          required: true
          schema:
            title: Comparative Experiment Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/datasets/clone:
    post:
      tags:
        - datasets
      summary: Clone Dataset
      description: Clone a dataset.
      operationId: clone_dataset_api_v1_datasets_clone_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_clone_dataset_api_v1_datasets_clone_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Clone Dataset Api V1 Datasets Clone Post
                type: array
                items:
                  $ref: '#/components/schemas/Example'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/splits':
    get:
      tags:
        - datasets
      summary: Get Dataset Splits
      operationId: get_dataset_splits_api_v1_datasets__dataset_id__splits_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
        - name: as_of
          in: query
          description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
          schema:
            title: As Of
            anyOf:
              - type: string
                format: date-time
              - type: string
            description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
            default: latest
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Dataset Splits Api V1 Datasets  Dataset Id  Splits Get
                type: array
                items:
                  type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    put:
      tags:
        - datasets
      summary: Update Dataset Splits
      operationId: update_dataset_splits_api_v1_datasets__dataset_id__splits_put
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_update_dataset_splits_api_v1_datasets__dataset_id__splits_put'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Update Dataset Splits Api V1 Datasets  Dataset Id  Splits Put
                type: array
                items:
                  type: string
                  format: uuid
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/index':
    post:
      tags:
        - datasets
      summary: Index
      description: Index a dataset.
      operationId: index_api_v1_datasets__dataset_id__index_post
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetIndexRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - datasets
      summary: Remove Index
      description: Remove an index for a dataset.
      operationId: remove_index_api_v1_datasets__dataset_id__index_delete
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    get:
      tags:
        - datasets
      summary: Get Index Info
      description: Get index info.
      operationId: get_index_info_api_v1_datasets__dataset_id__index_get
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetIndexInfo'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/search':
    post:
      tags:
        - datasets
      summary: Search
      description: Search a dataset.
      operationId: search_api_v1_datasets__dataset_id__search_post
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchDatasetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/datasets/{dataset_id}/generate':
    post:
      tags:
        - datasets
      summary: Generate
      description: Generate synthetic examples for a dataset.
      operationId: generate_api_v1_datasets__dataset_id__generate_post
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            title: Dataset Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSyntheticExamplesBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/runs/rules:
    get:
      tags:
        - run
      summary: List Rules
      description: List all run rules.
      operationId: list_rules_api_v1_runs_rules_get
      parameters:
        - name: dataset_id
          in: query
          schema:
            title: Dataset Id
            anyOf:
              - type: string
                format: uuid
              - type: 'null'
        - name: session_id
          in: query
          schema:
            title: Session Id
            anyOf:
              - type: string
                format: uuid
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Rules Api V1 Runs Rules Get
                type: array
                items:
                  $ref: '#/components/schemas/RunRulesSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - run
      summary: Create Rule
      description: Create a new run rule.
      operationId: create_rule_api_v1_runs_rules_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRulesCreateSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunRulesSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/runs/rules/{rule_id}':
    patch:
      tags:
        - run
      summary: Update Rule
      description: Update a run rule.
      operationId: update_rule_api_v1_runs_rules__rule_id__patch
      parameters:
        - name: rule_id
          in: path
          required: true
          schema:
            title: Rule Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRulesCreateSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunRulesSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - run
      summary: Delete Rule
      description: Delete a run rule.
      operationId: delete_rule_api_v1_runs_rules__rule_id__delete
      parameters:
        - name: rule_id
          in: path
          required: true
          schema:
            title: Rule Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/runs/rules/{rule_id}/logs':
    get:
      tags:
        - run
      summary: List Rule Logs
      description: List logs for a particular rule
      operationId: list_rule_logs_api_v1_runs_rules__rule_id__logs_get
      parameters:
        - name: rule_id
          in: path
          required: true
          schema:
            title: Rule Id
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 1440
            minimum: 100
            type: integer
            default: 720
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: start_time
          in: query
          schema:
            title: Start Time
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
        - name: end_time
          in: query
          schema:
            title: End Time
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Rule Logs Api V1 Runs Rules  Rule Id  Logs Get
                type: array
                items:
                  $ref: '#/components/schemas/RuleLogSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/runs/rules/{rule_id}/trigger':
    post:
      tags:
        - run
      summary: Trigger Rule
      description: Trigger a run rule manually.
      operationId: trigger_rule_api_v1_runs_rules__rule_id__trigger_post
      parameters:
        - name: rule_id
          in: path
          required: true
          schema:
            title: Rule Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunRulesSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/runs/{run_id}':
    get:
      tags:
        - run
      summary: Read Run
      description: Get a specific run.
      operationId: read_run_api_v1_runs__run_id__get
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            title: Run Id
            type: string
            format: uuid
        - name: exclude_s3_stored_attributes
          in: query
          schema:
            title: Exclude S3 Stored Attributes
            type: boolean
            default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - run
      summary: Update Run
      description: Update a run.
      operationId: update_run_api_v1_runs__run_id__patch
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            title: Run Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRunRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/runs/{run_id}/share':
    get:
      tags:
        - run
      summary: Read Run Share State
      description: Get the state of sharing of a run.
      operationId: read_run_share_state_api_v1_runs__run_id__share_get
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            title: Run Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
[...]
