{
  "openapi": "3.1.0",
  "info": {
    "title": "Letta API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.letta.com",
      "description": "Letta Cloud"
    },
    {
      "url": "http://localhost:8283",
      "description": "Self-hosted"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/archives/": {
      "post": {
        "tags": [
          "archives"
        ],
        "summary": "Create Archive",
        "description": "Create a new archive.",
        "operationId": "create_archive",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Archive"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "archives"
        ],
        "summary": "List Archives",
        "description": "Get a list of all archives for the current organization with optional filters and pagination.",
        "operationId": "list_archives",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Archive ID cursor for pagination. Returns archives that come before this archive ID in the specified sort order",
              "title": "Before"
            },
            "description": "Archive ID cursor for pagination. Returns archives that come before this archive ID in the specified sort order"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Archive ID cursor for pagination. Returns archives that come after this archive ID in the specified sort order",
              "title": "After"
            },
            "description": "Archive ID cursor for pagination. Returns archives that come after this archive ID in the specified sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of archives to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum number of archives to return"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "description": "Sort order for archives by creation time. 'asc' for oldest first, 'desc' for newest first",
              "default": "desc",
              "title": "Order"
            },
            "description": "Sort order for archives by creation time. 'asc' for oldest first, 'desc' for newest first"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "const": "created_at",
              "type": "string",
              "description": "Field to sort by",
              "default": "created_at",
              "title": "Order By"
            },
            "description": "Field to sort by"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by archive name (exact match)",
              "title": "Name"
            },
            "description": "Filter by archive name (exact match)"
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only archives attached to this agent ID",
              "title": "Agent Id"
            },
            "description": "Only archives attached to this agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Archive"
                  },
                  "title": "Response List Archives"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/archives/{archive_id}": {
      "get": {
        "tags": [
          "archives"
        ],
        "summary": "Retrieve Archive",
        "description": "Get a single archive by its ID.",
        "operationId": "retrieve_archive",
        "parameters": [
          {
            "name": "archive_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 44,
              "maxLength": 44,
              "pattern": "^archive-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the archive in the format 'archive-<uuid4>'",
              "examples": [
                "archive-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Archive Id"
            },
            "description": "The ID of the archive in the format 'archive-<uuid4>'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Archive"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "archives"
        ],
        "summary": "Modify Archive",
        "description": "Update an existing archive's name and/or description.",
        "operationId": "modify_archive",
        "parameters": [
          {
            "name": "archive_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 44,
              "maxLength": 44,
              "pattern": "^archive-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the archive in the format 'archive-<uuid4>'",
              "examples": [
                "archive-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Archive Id"
            },
            "description": "The ID of the archive in the format 'archive-<uuid4>'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Archive"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "archives"
        ],
        "summary": "Delete Archive",
        "description": "Delete an archive by its ID.",
        "operationId": "delete_archive",
        "parameters": [
          {
            "name": "archive_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 44,
              "maxLength": 44,
              "pattern": "^archive-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the archive in the format 'archive-<uuid4>'",
              "examples": [
                "archive-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Archive Id"
            },
            "description": "The ID of the archive in the format 'archive-<uuid4>'"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/archives/{archive_id}/agents": {
      "get": {
        "tags": [
          "archives"
        ],
        "summary": "List Agents For Archive",
        "description": "Get a list of agents that have access to an archive with pagination support.",
        "operationId": "list_agents_for_archive",
        "parameters": [
          {
            "name": "archive_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 44,
              "maxLength": 44,
              "pattern": "^archive-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the archive in the format 'archive-<uuid4>'",
              "examples": [
                "archive-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Archive Id"
            },
            "description": "The ID of the archive in the format 'archive-<uuid4>'"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Agent ID cursor for pagination. Returns agents that come before this agent ID in the specified sort order",
              "title": "Before"
            },
            "description": "Agent ID cursor for pagination. Returns agents that come before this agent ID in the specified sort order"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Agent ID cursor for pagination. Returns agents that come after this agent ID in the specified sort order",
              "title": "After"
            },
            "description": "Agent ID cursor for pagination. Returns agents that come after this agent ID in the specified sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of agents to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum number of agents to return"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "description": "Sort order for agents by creation time. 'asc' for oldest first, 'desc' for newest first",
              "default": "desc",
              "title": "Order"
            },
            "description": "Sort order for agents by creation time. 'asc' for oldest first, 'desc' for newest first"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "agent.blocks",
                  "agent.identities",
                  "agent.managed_group",
                  "agent.pending_approval",
                  "agent.secrets",
                  "agent.sources",
                  "agent.tags",
                  "agent.tools"
                ],
                "type": "string"
              },
              "description": "Specify which relational fields to include in the response. No relationships are included by default.",
              "default": [],
              "title": "Include"
            },
            "description": "Specify which relational fields to include in the response. No relationships are included by default."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentState"
                  },
                  "title": "Response List Agents For Archive"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/archives/{archive_id}/passages": {
      "post": {
        "tags": [
          "archives"
        ],
        "summary": "Create Passage In Archive",
        "description": "Create a new passage in an archive.\n\nThis adds a passage to the archive and creates embeddings for vector storage.",
        "operationId": "create_passage_in_archive",
        "parameters": [
          {
            "name": "archive_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 44,
              "maxLength": 44,
              "pattern": "^archive-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the archive in the format 'archive-<uuid4>'",
              "examples": [
                "archive-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Archive Id"
            },
            "description": "The ID of the archive in the format 'archive-<uuid4>'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassageCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Passage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/archives/{archive_id}/passages/batch": {
      "post": {
        "tags": [
          "archives"
        ],
        "summary": "Create Passages In Archive",
        "description": "Create multiple passages in an archive.\n\nThis adds passages to the archive and creates embeddings for vector storage.",
        "operationId": "create_passages_in_archive",
        "parameters": [
          {
            "name": "archive_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 44,
              "maxLength": 44,
              "pattern": "^archive-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the archive in the format 'archive-<uuid4>'",
              "examples": [
                "archive-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Archive Id"
            },
            "description": "The ID of the archive in the format 'archive-<uuid4>'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassageBatchCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Passage"
                  },
                  "title": "Response Create Passages In Archive"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/archives/{archive_id}/passages/{passage_id}": {
      "delete": {
        "tags": [
          "archives"
        ],
        "summary": "Delete Passage From Archive",
        "description": "Delete a passage from an archive.\n\nThis permanently removes the passage from both the database and vector storage (if applicable).",
        "operationId": "delete_passage_from_archive",
        "parameters": [
          {
            "name": "archive_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 44,
              "maxLength": 44,
              "pattern": "^archive-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the archive in the format 'archive-<uuid4>'",
              "examples": [
                "archive-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Archive Id"
            },
            "description": "The ID of the archive in the format 'archive-<uuid4>'"
          },
          {
            "name": "passage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 44,
              "maxLength": 44,
              "pattern": "^passage-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the passage in the format 'passage-<uuid4>'",
              "examples": [
                "passage-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Passage Id"
            },
            "description": "The ID of the passage in the format 'passage-<uuid4>'"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/{tool_id}": {
      "delete": {
        "tags": [
          "tools"
        ],
        "summary": "Delete Tool",
        "description": "Delete a tool by name",
        "operationId": "delete_tool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 41,
              "maxLength": 41,
              "pattern": "^tool-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the tool in the format 'tool-<uuid4>'",
              "examples": [
                "tool-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Tool Id"
            },
            "description": "The ID of the tool in the format 'tool-<uuid4>'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "Retrieve Tool",
        "description": "Get a tool by ID",
        "operationId": "retrieve_tool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 41,
              "maxLength": 41,
              "pattern": "^tool-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the tool in the format 'tool-<uuid4>'",
              "examples": [
                "tool-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Tool Id"
            },
            "description": "The ID of the tool in the format 'tool-<uuid4>'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tool"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "tools"
        ],
        "summary": "Modify Tool",
        "description": "Update an existing tool",
        "operationId": "modify_tool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 41,
              "maxLength": 41,
              "pattern": "^tool-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the tool in the format 'tool-<uuid4>'",
              "examples": [
                "tool-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Tool Id"
            },
            "description": "The ID of the tool in the format 'tool-<uuid4>'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tool"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/count": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "Count Tools",
        "description": "Get a count of all tools available to agents belonging to the org of the user.",
        "operationId": "count_tools",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "names",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by specific tool names",
              "title": "Names"
            },
            "description": "Filter by specific tool names"
          },
          {
            "name": "tool_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by specific tool IDs - accepts repeated params or comma-separated values",
              "title": "Tool Ids"
            },
            "description": "Filter by specific tool IDs - accepts repeated params or comma-separated values"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search tool names (case-insensitive partial match)",
              "title": "Search"
            },
            "description": "Search tool names (case-insensitive partial match)"
          },
          {
            "name": "tool_types",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by tool type(s) - accepts repeated params or comma-separated values",
              "title": "Tool Types"
            },
            "description": "Filter by tool type(s) - accepts repeated params or comma-separated values"
          },
          {
            "name": "exclude_tool_types",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tool type(s) to exclude - accepts repeated params or comma-separated values",
              "title": "Exclude Tool Types"
            },
            "description": "Tool type(s) to exclude - accepts repeated params or comma-separated values"
          },
          {
            "name": "return_only_letta_tools",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Count only tools with tool_type starting with 'letta_'",
              "default": false,
              "title": "Return Only Letta Tools"
            },
            "description": "Count only tools with tool_type starting with 'letta_'"
          },
          {
            "name": "exclude_letta_tools",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude built-in Letta tools from the count",
              "default": false,
              "title": "Exclude Letta Tools"
            },
            "description": "Exclude built-in Letta tools from the count"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "title": "Response Count Tools"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "List Tools",
        "description": "Get a list of all tools available to agents.",
        "operationId": "list_tools",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tool ID cursor for pagination. Returns tools that come before this tool ID in the specified sort order",
              "title": "Before"
            },
            "description": "Tool ID cursor for pagination. Returns tools that come before this tool ID in the specified sort order"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tool ID cursor for pagination. Returns tools that come after this tool ID in the specified sort order",
              "title": "After"
            },
            "description": "Tool ID cursor for pagination. Returns tools that come after this tool ID in the specified sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of tools to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum number of tools to return"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "description": "Sort order for tools by creation time. 'asc' for oldest first, 'desc' for newest first",
              "default": "desc",
              "title": "Order"
            },
            "description": "Sort order for tools by creation time. 'asc' for oldest first, 'desc' for newest first"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "const": "created_at",
              "type": "string",
              "description": "Field to sort by",
              "default": "created_at",
              "title": "Order By"
            },
            "description": "Field to sort by"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by single tool name",
              "title": "Name"
            },
            "description": "Filter by single tool name"
          },
          {
            "name": "names",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by specific tool names",
              "title": "Names"
            },
            "description": "Filter by specific tool names"
          },
          {
            "name": "tool_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by specific tool IDs - accepts repeated params or comma-separated values",
              "title": "Tool Ids"
            },
            "description": "Filter by specific tool IDs - accepts repeated params or comma-separated values"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search tool names (case-insensitive partial match)",
              "title": "Search"
            },
            "description": "Search tool names (case-insensitive partial match)"
          },
          {
            "name": "tool_types",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by tool type(s) - accepts repeated params or comma-separated values",
              "title": "Tool Types"
            },
            "description": "Filter by tool type(s) - accepts repeated params or comma-separated values"
          },
          {
            "name": "exclude_tool_types",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tool type(s) to exclude - accepts repeated params or comma-separated values",
              "title": "Exclude Tool Types"
            },
            "description": "Tool type(s) to exclude - accepts repeated params or comma-separated values"
          },
          {
            "name": "return_only_letta_tools",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return only tools with tool_type starting with 'letta_'",
              "default": false,
              "title": "Return Only Letta Tools"
            },
            "description": "Return only tools with tool_type starting with 'letta_'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tool"
                  },
                  "title": "Response List Tools"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Create Tool",
        "description": "Create a new tool",
        "operationId": "create_tool",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tool"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tools"
        ],
        "summary": "Upsert Tool",
        "description": "Create or update a tool",
        "operationId": "upsert_tool",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tool"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/search": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Search Tools",
        "description": "Search tools using semantic search.\n\nRequires tool embedding to be enabled (embed_tools=True). Uses vector search,\nfull-text search, or hybrid mode to find tools matching the query.\n\nReturns tools ranked by relevance with their search scores.",
        "operationId": "search_tools",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ToolSearchResult"
                  },
                  "title": "Response Search Tools"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/add-base-tools": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Upsert Base Tools",
        "description": "Upsert base tools",
        "operationId": "add_base_tools",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tool"
                  },
                  "title": "Response Add Base Tools"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/run": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Run Tool From Source",
        "description": "Attempt to build a tool from source, then run it on the provided arguments",
        "operationId": "run_tool_from_source",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolRunFromSource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolReturnMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/mcp/servers": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "List Mcp Servers",
        "description": "Get a list of all configured MCP servers",
        "operationId": "list_mcp_servers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/SSEServerConfig"
                      },
                      {
                        "$ref": "#/components/schemas/StdioServerConfig"
                      },
                      {
                        "$ref": "#/components/schemas/StreamableHTTPServerConfig"
                      }
                    ]
                  },
                  "title": "Response List Mcp Servers"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tools"
        ],
        "summary": "Add Mcp Server To Config",
        "description": "Add a new MCP server to the Letta MCP server config",
        "operationId": "add_mcp_server",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/StdioServerConfig"
                  },
                  {
                    "$ref": "#/components/schemas/SSEServerConfig"
                  },
                  {
                    "$ref": "#/components/schemas/StreamableHTTPServerConfig"
                  }
                ],
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/StdioServerConfig"
                      },
                      {
                        "$ref": "#/components/schemas/SSEServerConfig"
                      },
                      {
                        "$ref": "#/components/schemas/StreamableHTTPServerConfig"
                      }
                    ]
                  },
                  "title": "Response Add Mcp Server"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/mcp/servers/{mcp_server_name}/tools": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "List Mcp Tools By Server",
        "description": "Get a list of all tools for a specific MCP server",
        "operationId": "list_mcp_tools_by_server",
        "parameters": [
          {
            "name": "mcp_server_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mcp Server Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MCPTool"
                  },
                  "title": "Response List Mcp Tools By Server"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/mcp/servers/{mcp_server_name}/resync": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Resync Mcp Server Tools",
        "description": "Resync tools for an MCP server by:\n1. Fetching current tools from the MCP server\n2. Deleting tools that no longer exist on the server\n3. Updating schemas for existing tools\n4. Adding new tools from the server\n\nReturns a summary of changes made.",
        "operationId": "resync_mcp_server_tools",
        "parameters": [
          {
            "name": "mcp_server_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mcp Server Name"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Agent Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/mcp/servers/{mcp_server_name}/{mcp_tool_name}": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Add Mcp Tool",
        "description": "Register a new MCP tool as a Letta server by MCP server + tool name",
        "operationId": "add_mcp_tool",
        "parameters": [
          {
            "name": "mcp_server_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mcp Server Name"
            }
          },
          {
            "name": "mcp_tool_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mcp Tool Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tool"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/mcp/servers/{mcp_server_name}": {
      "patch": {
        "tags": [
          "tools"
        ],
        "summary": "Update Mcp Server",
        "description": "Update an existing MCP server configuration",
        "operationId": "update_mcp_server",
        "parameters": [
          {
            "name": "mcp_server_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mcp Server Name"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/letta__schemas__mcp__UpdateStdioMCPServer"
                  },
                  {
                    "$ref": "#/components/schemas/letta__schemas__mcp__UpdateSSEMCPServer"
                  },
                  {
                    "$ref": "#/components/schemas/letta__schemas__mcp__UpdateStreamableHTTPMCPServer"
                  }
                ],
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StdioServerConfig"
                    },
                    {
                      "$ref": "#/components/schemas/SSEServerConfig"
                    },
                    {
                      "$ref": "#/components/schemas/StreamableHTTPServerConfig"
                    }
                  ],
                  "title": "Response Update Mcp Server"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tools"
        ],
        "summary": "Delete Mcp Server From Config",
        "description": "Delete a MCP server configuration",
        "operationId": "delete_mcp_server",
        "parameters": [
          {
            "name": "mcp_server_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mcp Server Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/StdioServerConfig"
                      },
                      {
                        "$ref": "#/components/schemas/SSEServerConfig"
                      },
                      {
                        "$ref": "#/components/schemas/StreamableHTTPServerConfig"
                      }
                    ]
                  },
                  "title": "Response Delete Mcp Server"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/mcp/servers/test": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Test Mcp Server",
        "description": "Test connection to an MCP server without adding it.\nReturns the list of available tools if successful.",
        "operationId": "test_mcp_server",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/StdioServerConfig"
                  },
                  {
                    "$ref": "#/components/schemas/SSEServerConfig"
                  },
                  {
                    "$ref": "#/components/schemas/StreamableHTTPServerConfig"
                  }
                ],
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/mcp/servers/connect": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Connect Mcp Server",
        "description": "Connect to an MCP server with support for OAuth via SSE.\nReturns a stream of events handling authorization state and exchange if OAuth is required.",
        "operationId": "connect_mcp_server",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/StdioServerConfig"
                  },
                  {
                    "$ref": "#/components/schemas/SSEServerConfig"
                  },
                  {
                    "$ref": "#/components/schemas/StreamableHTTPServerConfig"
                  }
                ],
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/mcp/servers/{mcp_server_name}/tools/{tool_name}/execute": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Execute Mcp Tool",
        "description": "Execute a specific MCP tool from a configured server.\nReturns the tool execution result.",
        "operationId": "execute_mcp_tool",
        "parameters": [
          {
            "name": "mcp_server_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mcp Server Name"
            }
          },
          {
            "name": "tool_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool Name"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/letta__server__rest_api__routers__v1__tools__ToolExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/mcp/oauth/callback": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "Mcp Oauth Callback",
        "description": "Handle OAuth callback for MCP server authentication.\nSession is identified via the state parameter instead of URL path.",
        "operationId": "mcp_oauth_callback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth authorization code",
              "title": "Code"
            },
            "description": "OAuth authorization code"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth state parameter",
              "title": "State"
            },
            "description": "OAuth state parameter"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth error",
              "title": "Error"
            },
            "description": "OAuth error"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth error description",
              "title": "Error Description"
            },
            "description": "OAuth error description"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/count": {
      "get": {
        "tags": [
          "sources"
        ],
        "summary": "Count Sources",
        "description": "Count all data sources created by a user.",
        "operationId": "count_sources",
        "deprecated": true,
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "title": "Response Count Sources"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/{source_id}": {
      "get": {
        "tags": [
          "sources"
        ],
        "summary": "Retrieve Source",
        "description": "Get all sources",
        "operationId": "retrieve_source",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Source Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "sources"
        ],
        "summary": "Modify Source",
        "description": "Update the name or documentation of an existing data source.",
        "operationId": "modify_source",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Source Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "sources"
        ],
        "summary": "Delete Source",
        "description": "Delete a data source.",
        "operationId": "delete_source",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Source Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/name/{source_name}": {
      "get": {
        "tags": [
          "sources"
        ],
        "summary": "Get Source Id By Name",
        "description": "Get a source by name",
        "operationId": "get_source_id_by_name",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Source Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Get Source Id By Name"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/metadata": {
      "get": {
        "tags": [
          "sources"
        ],
        "summary": "Get Sources Metadata",
        "description": "Get aggregated metadata for all sources in an organization.\n\nReturns structured metadata including:\n- Total number of sources\n- Total number of files across all sources\n- Total size of all files\n- Per-source breakdown with file details (file_name, file_size per file) if include_detailed_per_source_metadata is True",
        "operationId": "get_sources_metadata",
        "deprecated": true,
        "parameters": [
          {
            "name": "include_detailed_per_source_metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Detailed Per Source Metadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSourcesStats"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/": {
      "get": {
        "tags": [
          "sources"
        ],
        "summary": "List Sources",
        "description": "List all data sources created by a user.",
        "operationId": "list_sources",
        "deprecated": true,
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Source"
                  },
                  "title": "Response List Sources"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "sources"
        ],
        "summary": "Create Source",
        "description": "Create a new data source.",
        "operationId": "create_source",
        "deprecated": true,
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/{source_id}/upload": {
      "post": {
        "tags": [
          "sources"
        ],
        "summary": "Upload File To Source",
        "description": "Upload a file to a data source.",
        "operationId": "upload_file_to_source",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Source Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          },
          {
            "name": "duplicate_handling",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DuplicateFileHandling",
              "description": "How to handle duplicate filenames",
              "default": "suffix"
            },
            "description": "How to handle duplicate filenames"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional custom name to override the uploaded file's name",
              "title": "Name"
            },
            "description": "Optional custom name to override the uploaded file's name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_file_to_source"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadata"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/{source_id}/agents": {
      "get": {
        "tags": [
          "sources"
        ],
        "summary": "Get Agents For Source",
        "description": "Get all agent IDs that have the specified source attached.",
        "operationId": "get_agents_for_source",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Source Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Response Get Agents For Source"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/{source_id}/passages": {
      "get": {
        "tags": [
          "sources"
        ],
        "summary": "List Source Passages",
        "description": "List all passages associated with a data source.",
        "operationId": "list_source_passages",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Source Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Message after which to retrieve the returned messages.",
              "title": "After"
            },
            "description": "Message after which to retrieve the returned messages."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Message before which to retrieve the returned messages.",
              "title": "Before"
            },
            "description": "Message before which to retrieve the returned messages."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Maximum number of messages to retrieve.",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of messages to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Passage"
                  },
                  "title": "Response List Source Passages"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/{source_id}/files": {
      "get": {
        "tags": [
          "sources"
        ],
        "summary": "List Source Files",
        "description": "List paginated files associated with a data source.",
        "operationId": "list_source_files",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Source Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of files to return",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Number of files to return"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor to fetch the next set of results",
              "title": "After"
            },
            "description": "Pagination cursor to fetch the next set of results"
          },
          {
            "name": "include_content",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include full file content",
              "default": false,
              "title": "Include Content"
            },
            "description": "Whether to include full file content"
          },
          {
            "name": "check_status_updates",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to check and update file processing status (from the vector db service). If False, will not fetch and update the status, which may lead to performance gains.",
              "default": true,
              "title": "Check Status Updates"
            },
            "description": "Whether to check and update file processing status (from the vector db service). If False, will not fetch and update the status, which may lead to performance gains."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileMetadata"
                  },
                  "title": "Response List Source Files"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/{source_id}/files/{file_id}": {
      "get": {
        "tags": [
          "sources"
        ],
        "summary": "Get File Metadata",
        "description": "Retrieve metadata for a specific file by its ID.",
        "operationId": "get_file_metadata",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Source Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 41,
              "maxLength": 41,
              "pattern": "^file-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the file in the format 'file-<uuid4>'",
              "examples": [
                "file-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "File Id"
            },
            "description": "The ID of the file in the format 'file-<uuid4>'"
          },
          {
            "name": "include_content",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include full file content",
              "default": false,
              "title": "Include Content"
            },
            "description": "Whether to include full file content"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadata"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/{source_id}/{file_id}": {
      "delete": {
        "tags": [
          "sources"
        ],
        "summary": "Delete File From Source",
        "description": "Delete a data source.",
        "operationId": "delete_file_from_source",
        "deprecated": true,
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Source Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 41,
              "maxLength": 41,
              "pattern": "^file-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the file in the format 'file-<uuid4>'",
              "examples": [
                "file-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "File Id"
            },
            "description": "The ID of the file in the format 'file-<uuid4>'"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders/count": {
      "get": {
        "tags": [
          "folders"
        ],
        "summary": "Count Folders",
        "description": "Count all data folders created by a user.",
        "operationId": "count_folders",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "title": "Response Count Folders"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders/{folder_id}": {
      "get": {
        "tags": [
          "folders"
        ],
        "summary": "Retrieve Folder",
        "description": "Get a folder by ID",
        "operationId": "retrieve_folder",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Folder Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "folders"
        ],
        "summary": "Modify Folder",
        "description": "Update the name or documentation of an existing data folder.",
        "operationId": "modify_folder",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Folder Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "folders"
        ],
        "summary": "Delete Folder",
        "description": "Delete a data folder.",
        "operationId": "delete_folder",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 43,
              "pattern": "^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "The ID of the source in the format 'source-<uuid4>'",
              "examples": [
                "source-123e4567-e89b-42d3-8456-426614174000"
              ],
              "title": "Folder Id"
            },
            "description": "The ID of the source in the format 'source-<uuid4>'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders/name/{folder_name}": {
      "get": {
        "tags": [
          "folders"
        ],
        "summary": "Get Folder By Name",
        "description": "**Deprecated**: Please use the list endpoint `GET /v1/folders?name=` instead.\n\n\nGet a folder by name.",
        "operationId": "get_folder_by_name",
        "deprecated": true,
        "parameters": [
          {
            "name": "folder_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Folder Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Get Folder By Name"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders/metadata": {
      "get": {
        "tags": [
          "folders"
        ],
        "summary": "Retrieve Metadata",
        "description": "Get aggregated metadata for all folders in an organization.\n\nReturns structured metadata including:\n- Total number of folders\n- Total number of files across all folders\n- Total size of all files\n- Per-source breakdown with file details (file_name, file_size per file) if include_detailed_per_source_metadata is True",
        "operationId": "retrieve_metadata",
        "parameters": [
          {
            "name": "include_detailed_per_source_metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Detailed Per Source Metadata"
            }
          }
        ],
        "responses": {
          "200": {
[...]
