{
  "openapi": "3.1.0",
  "info": { "title": "mxbai-omni", "version": "0.1.0" },
  "servers": [
    { "url": "https://api.mixedbread.com", "description": "mixedbread ai production server" },
    { "url": "https://api.dev.mixedbread.com", "description": "mixedbread ai development server" },
    { "url": "http://127.0.0.1:8000", "description": "mixedbread local server" },
    { "url": "http://localhost:8000", "description": "mixedbread local server" }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Info",
        "description": "Returns service information, including name and version.\n\nReturns:\n    InfoResponse: A response containing the service name and version.",
        "operationId": "info",
        "responses": {
          "200": {
            "description": "Info response",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InfoResponse" } } }
          },
          "500": {
            "description": "Info failed",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/files": {
      "post": {
        "tags": ["files"],
        "summary": "Upload file",
        "description": "Upload a new file.\n\nArgs:\n    file: The file to upload.\n\nReturns:\n    FileResponse: The response containing the details of the uploaded file.",
        "operationId": "create_file",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": { "schema": { "$ref": "#/components/schemas/Body_create_file" } }
          }
        },
        "responses": {
          "201": {
            "description": "The uploaded file details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FileObject" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "get": {
        "tags": ["files"],
        "summary": "List files",
        "description": "List all files for the authenticated user.\n\nArgs:\n    pagination: The pagination options\n\nReturns:\n    A list of files belonging to the user.",
        "operationId": "list_files",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of items to return per page (1-100)",
              "examples": [10, 20, 50],
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum number of items to return per page (1-100)"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "After"
            },
            "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "Before"
            },
            "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include total count in response (expensive operation)",
              "examples": [false, true],
              "default": false,
              "title": "Include Total"
            },
            "description": "Whether to include total count in response (expensive operation)"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string", "minLength": 1, "maxLength": 100 }, { "type": "null" }],
              "description": "Search query for fuzzy matching over name and description fields",
              "title": "Q"
            },
            "description": "Search query for fuzzy matching over name and description fields"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of files for the user",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/FileListResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/files/uploads": {
      "get": {
        "tags": ["files"],
        "summary": "List in-progress multipart uploads",
        "description": "List all in-progress multipart uploads for the authenticated organization.",
        "operationId": "list_multipart_uploads",
        "responses": {
          "200": {
            "description": "All in-progress multipart uploads for the organization",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/MultipartUploadListResponse" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      },
      "post": {
        "tags": ["files"],
        "summary": "Create multipart upload",
        "description": "Initiate a multipart upload and receive presigned URLs for uploading parts directly to storage.",
        "operationId": "create_multipart_upload",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CreateMultipartUploadRequest" } }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The multipart upload details with presigned URLs",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateMultipartUploadResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/files/uploads/{upload_id}/complete": {
      "post": {
        "tags": ["files"],
        "summary": "Complete multipart upload",
        "description": "Complete a multipart upload after all parts have been uploaded.\nCreates the file object and returns it.",
        "operationId": "complete_multipart_upload",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the multipart upload",
              "title": "Upload Id"
            },
            "description": "The ID of the multipart upload"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CompleteMultipartUploadRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The completed file details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FileObject" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/files/uploads/{upload_id}/abort": {
      "post": {
        "tags": ["files"],
        "summary": "Abort multipart upload",
        "description": "Abort a multipart upload and clean up any uploaded parts.",
        "operationId": "abort_multipart_upload",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the multipart upload to abort",
              "title": "Upload Id"
            },
            "description": "The ID of the multipart upload to abort"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the aborted upload",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FileDeleted" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/files/uploads/{upload_id}": {
      "get": {
        "tags": ["files"],
        "summary": "Get multipart upload details",
        "description": "Get a multipart upload's details with fresh presigned URLs for any parts not yet uploaded.",
        "operationId": "get_multipart_upload",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the multipart upload",
              "title": "Upload Id"
            },
            "description": "The ID of the multipart upload"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload details with presigned URLs for incomplete parts",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MultipartUploadDetailResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/files/{file_id}": {
      "get": {
        "tags": ["files"],
        "summary": "Get file details",
        "description": "Retrieve details of a specific file by its ID.\n\nArgs:\n    file_id: The ID of the file to retrieve.\n\nReturns:\n    FileResponse: The response containing the file details.",
        "operationId": "retrieve_file",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the file to retrieve",
              "title": "File Id"
            },
            "description": "The ID of the file to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the requested file",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FileObject" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "post": {
        "tags": ["files"],
        "summary": "Update file",
        "description": "Update the details of a specific file.\n\nArgs:\n    file_id: The ID of the file to update.\n    file: The new details for the file.\n\nReturns:\n    FileObject: The updated file details.",
        "operationId": "update_file",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the file to update",
              "title": "File Id"
            },
            "description": "The ID of the file to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": { "schema": { "$ref": "#/components/schemas/Body_update_file" } }
          }
        },
        "responses": {
          "200": {
            "description": "The updated file details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FileObject" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["files"],
        "summary": "Delete file",
        "description": "Delete a specific file by its ID.\n\nArgs:\n    file_id: The ID of the file to delete.\n\nReturns:\n    FileDeleted: The response containing the details of the deleted file.",
        "operationId": "delete_file",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the file to delete",
              "title": "File Id"
            },
            "description": "The ID of the file to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the deleted file",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FileDeleted" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/files/{file_id}/content": {
      "get": {
        "tags": ["files"],
        "summary": "Download file",
        "description": "Download a specific file by its ID.\n\nArgs:\n    file_id: The ID of the file to download.\n\nReturns:\n    FileStreamResponse: The response containing the file to be downloaded.",
        "operationId": "download_file",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the file to download",
              "title": "File Id"
            },
            "description": "The ID of the file to download"
          }
        ],
        "responses": {
          "200": {
            "description": "The file to be downloaded",
            "content": { "application/octet-stream": { "schema": { "type": "string" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": ["completions"],
        "summary": "Create a chat completion",
        "description": "Create a chat completion using the provided parameters.\n\nGenerates a completion response based on the chat messages and model parameters provided.\nThe response can be either a full completion or streamed chunks depending on the request parameters.\n\nArgs:\n    params: Parameters for creating the chat completion including messages, model selection,\n           and generation settings\n    user: The authenticated user making the request\n\nReturns:\n    Either a ChatCompletion containing the full response, or ChatCompletionChunk for streaming\n\nRaises:\n    HTTPException: If there is an error creating the completion (500)",
        "operationId": "create_chat_completion",
        "responses": {
          "200": {
            "description": "The generated chat completion response",
            "content": { "application/json": { "schema": {} } }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/api-keys": {
      "post": {
        "tags": ["api_keys"],
        "summary": "Create API key",
        "description": "Create a new API key.\n\nArgs:\n    params: The parameters for creating the API key.\n\nReturns:\n    ApiKeyCreated: The response containing the details of the created API key.",
        "operationId": "create_api_key",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyCreateParams" } }
          }
        },
        "responses": {
          "201": {
            "description": "The created API key details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyCreated" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "get": {
        "tags": ["api_keys"],
        "summary": "List API keys",
        "description": "List all API keys for the authenticated user.\n\nArgs:\n    pagination: The pagination options\n\nReturns:\n    A list of API keys belonging to the user.",
        "operationId": "list_api_keys",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "description": "Maximum number of items to return per page",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of items to return per page"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Offset of the first item to return",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset of the first item to return"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of API keys for the user",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyListResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/api-keys/{api_key_id}": {
      "get": {
        "tags": ["api_keys"],
        "summary": "Get API key details",
        "description": "Retrieve details of a specific API key by its ID.\n\nArgs:\n    api_key_id: The ID of the API key to retrieve.\n\nReturns:\n    ApiKey: The response containing the API key details.",
        "operationId": "retrieve_api_key",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the API key to retrieve",
              "title": "Api Key Id"
            },
            "description": "The ID of the API key to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the requested API key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKey" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "patch": {
        "tags": ["api_keys"],
        "summary": "Update API key",
        "description": "Update a specific API key by its ID.\n\nArgs:\n    api_key_id: The ID of the API key to update.\n    params: The parameters to update.\n\nReturns:\n    ApiKey: The updated API key details.",
        "operationId": "update_api_key",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the API key to update",
              "title": "Api Key Id"
            },
            "description": "The ID of the API key to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyUpdateParams" } }
          }
        },
        "responses": {
          "200": {
            "description": "The updated API key details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKey" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["api_keys"],
        "summary": "Delete API key",
        "description": "Delete a specific API key by its ID.\n\nArgs:\n    api_key_id: The ID of the API key to delete.\n\nReturns:\n    ApiKeyDeleted: The response containing the details of the deleted API key.",
        "operationId": "delete_api_key",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the API key to delete",
              "title": "Api Key Id"
            },
            "description": "The ID of the API key to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the deleted API key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyDeleted" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/api-keys/{api_key_id}/revoke": {
      "post": {
        "tags": ["api_keys"],
        "summary": "Revoke API key",
        "description": "Revoke a specific API key by its ID.\n\nArgs:\n    api_key_id: The ID of the API key to revoke.\n\nReturns:\n    ApiKey: The response containing the details of the revoked API key.",
        "operationId": "revoke_api_key",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the API key to revoke",
              "title": "Api Key Id"
            },
            "description": "The ID of the API key to revoke"
          }
        ],
        "responses": {
          "200": {
            "description": "The revoked API key details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKey" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/api-keys/{api_key_id}/reroll": {
      "post": {
        "tags": ["api_keys"],
        "summary": "Reroll API key",
        "description": "Reroll the secret for a specific API key by its ID.\n\nThis generates a new secret key, invalidating the old one.\n\nArgs:\n    api_key_id: The ID of the API key to reroll.\n\nReturns:\n    ApiKeyCreated: The response containing the API key details with the new secret key.",
        "operationId": "reroll_api_key",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the API key to reroll",
              "title": "Api Key Id"
            },
            "description": "The ID of the API key to reroll"
          }
        ],
        "responses": {
          "200": {
            "description": "The API key details with the new secret key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyCreated" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/schemas/mxjson": {
      "get": {
        "tags": ["schemas"],
        "summary": "Get mxbai json schema",
        "description": "Get the mxbai json schema.\n\nReturns:\n    The mxbai json schema.",
        "operationId": "get_mxbai_json_schema",
        "responses": {
          "200": {
            "description": "The mxbai json schema",
            "content": { "application/json": { "schema": {} } }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/billing/summary": {
      "get": {
        "tags": ["billing"],
        "summary": "Get billing summary",
        "operationId": "get_billing_summary",
        "responses": {
          "200": {
            "description": "Billing summary for the current period",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/BillingPeriodSummary" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/billing/stores": {
      "get": {
        "tags": ["billing"],
        "summary": "List store cost information",
        "operationId": "list_store_cost_info",
        "responses": {
          "200": {
            "description": "The list of store cost information",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StoreCostListResponse" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/billing/stores/{store_id}/costs/histogram": {
      "get": {
        "tags": ["billing"],
        "summary": "Get store cost histogram",
        "operationId": "get_store_cost_histogram",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the store",
              "title": "Store Id"
            },
            "description": "The ID of the store"
          }
        ],
        "responses": {
          "200": {
            "description": "Histogram of store costs over time",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/CostHistogramResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/billing/parsing/costs/histogram": {
      "get": {
        "tags": ["billing"],
        "summary": "Get parsing cost histogram",
        "operationId": "get_parsing_cost_histogram",
        "responses": {
          "200": {
            "description": "Histogram of parsing costs over time",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/CostHistogramResponse" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/admin/stores/{organization_id}/{store_identifier}/reingest": {
      "post": {
        "tags": ["admin"],
        "summary": "Reingest all stores",
        "description": "Reingest all stores across all organizations (admin only).\n\nThis endpoint creates StoreFileReingestionJob for each store.\n\nReturns:\n    dict: Confirmation message with count of jobs created.",
        "operationId": "reingest_all_stores",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "Organization Id" }
          },
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Store Identifier" }
          },
          {
            "name": "statuses",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "array", "items": { "$ref": "#/components/schemas/VectorStoreFileStatus" } },
                { "type": "null" }
              ],
              "description": "Statuses of files to reingest",
              "title": "Statuses"
            },
            "description": "Statuses of files to reingest"
          },
          {
            "name": "billable",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether the reingestion is billable to the user",
              "default": false,
              "title": "Billable"
            },
            "description": "Whether the reingestion is billable to the user"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation that reingestion jobs have been created",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/{store_identifier}/events": {
      "get": {
        "tags": ["stores"],
        "summary": "List events for a store",
        "description": "List events for a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    options: The pagination options.\n\nReturns:\n    StoreEventListResponse: The list of events for the store.",
        "operationId": "list_store_events",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of items to return per page (1-100)",
              "examples": [10, 20, 50],
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum number of items to return per page (1-100)"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "After"
            },
            "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "Before"
            },
            "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include total count in response (expensive operation)",
              "examples": [false, true],
              "default": false,
              "title": "Include Total"
            },
            "description": "Whether to include total count in response (expensive operation)"
          },
          {
            "name": "filter_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }],
              "description": "Time to filter events before",
              "title": "Filter Before"
            },
            "description": "Time to filter events before"
          },
          {
            "name": "filter_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }],
              "description": "Time to filter events after",
              "title": "Filter After"
            },
            "description": "Time to filter events after"
          },
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "schema": {
              "enum": ["ingestion", "search"],
              "type": "string",
              "description": "The type of event to list",
              "examples": ["ingestion", "search"],
              "title": "Event Type"
            },
            "description": "The type of event to list"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of events for the store",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StoreEventListResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/{store_identifier}/events/histogram": {
      "post": {
        "tags": ["stores"],
        "summary": "Get store event histogram",
        "description": "Get histogram of store events over time.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    histogram_params: Parameters for histogram generation.\n\nReturns:\n    StoreEventHistogramResponse: The event histogram.",
        "operationId": "get_store_event_histogram",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/StoreEventHistogramParams" } }
          }
        },
        "responses": {
          "200": {
            "description": "Histogram of store events over time",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StoreEventHistogramResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/{store_identifier}/files": {
      "post": {
        "tags": ["stores"],
        "summary": "Upload file to store",
        "description": "Upload a file to a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    file_add_params: The file to add to the store.\n\nReturns:\n    VectorStoreFile: The uploaded file details.",
        "operationId": "create_store_file",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeprecatedStoreFileUpsertParams",
                "description": "The file to add to the store"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The uploaded store file details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StoreFile" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "get": {
        "tags": ["stores"],
        "summary": "[DEPRECATED] List store files",
        "description": "DEPRECATED: Use POST /stores/{store_identifier}/files/list instead",
        "operationId": "list_store_files",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of items to return per page (1-100)",
              "examples": [10, 20, 50],
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum number of items to return per page (1-100)"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "After"
            },
            "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "Before"
            },
            "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include total count in response (expensive operation)",
              "examples": [false, true],
              "default": false,
              "title": "Include Total"
            },
            "description": "Whether to include total count in response (expensive operation)"
          },
          {
            "name": "statuses",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "array", "items": { "$ref": "#/components/schemas/StoreFileStatus" } },
                { "type": "null" }
              ],
              "description": "Status to filter by",
              "title": "Statuses"
            },
            "description": "Status to filter by"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of store files",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StoreFileListResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/{store_identifier}/files/upload": {
      "post": {
        "tags": ["stores"],
        "summary": "Upload file via form to store",
        "description": "Upload a file via form to a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    config: The config for the file.\n    metadata: The metadata for the file.\n    file: The file to upload.\n\nReturns:\n    VectorStoreFile: The uploaded file details.",
        "operationId": "upload_store_file",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": { "schema": { "$ref": "#/components/schemas/Body_upload_store_file" } }
          }
        },
        "responses": {
          "201": {
            "description": "The uploaded store file details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StoreFile" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/{store_identifier}/files/list": {
      "post": {
        "tags": ["stores"],
        "summary": "List store files with metadata filter",
        "description": "List files indexed in a vector store with pagination and metadata filter.\n\nArgs:\n    vector_store_identifier: The ID or name of the vector store\n    pagination: Pagination parameters and metadata filter\n\nReturns:\n    VectorStoreFileListResponse: Paginated list of vector store files",
        "operationId": "list_store_files_with_metadata_filter",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCursorPagination",
                "description": "For pagination"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of files in the store",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StoreFileListResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/{store_identifier}/files/{file_identifier}": {
      "get": {
        "tags": ["stores"],
        "summary": "Get store file",
        "description": "Get a file from a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    file_id: The ID or name of the file.\n    options: Get file options.\n\nReturns:\n    VectorStoreFile: The file details.",
        "operationId": "retrieve_store_file",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          },
          {
            "name": "file_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the file",
              "title": "File Identifier"
            },
            "description": "The ID or name of the file"
          },
          {
            "name": "return_chunks",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "boolean" }, { "type": "array", "items": { "type": "integer" } }],
              "description": "Whether to return the chunks for the file. If a list of integers is provided, only the chunks at the specified indices will be returned.",
              "default": false,
              "title": "Return Chunks"
            },
            "description": "Whether to return the chunks for the file. If a list of integers is provided, only the chunks at the specified indices will be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "The store file details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StoreFile" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "patch": {
        "tags": ["stores"],
        "summary": "Update store file metadata",
        "description": "Update metadata on a file within a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    file_identifier: The ID or name of the file to update.\n    update_params: Metadata update payload.\n\nReturns:\n    StoreFile: The updated file details.",
        "operationId": "update_store_file",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          },
          {
            "name": "file_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the file to update",
              "title": "File Identifier"
            },
            "description": "The ID or name of the file to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreFileMetadataUpdateParams",
                "description": "Fields to update for the store file"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated store file details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StoreFile" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["stores"],
        "summary": "Delete store file",
        "description": "Delete a file from a store.\n\nArgs:\n    store_identifier: The ID or name of the store.\n    file_id: The ID or name of the file to delete.\n\nReturns:\n    VectorStoreFileDeleted: The deleted file details.",
        "operationId": "delete_store_file",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          },
          {
            "name": "file_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the file to delete",
              "title": "File Identifier"
            },
            "description": "The ID or name of the file to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted store file details",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StoreFileDeleted" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/files/search": {
      "post": {
        "tags": ["stores"],
        "summary": "Search store files",
        "description": "Search for files within a store based on semantic similarity.\n\nArgs:\n    store_identifier: The ID or name of the store to search within\n    search_params: Search configuration including query text, pagination, and filters\n\nReturns:\n    StoreFileSearchResponse: List of matching files with relevance scores",
        "operationId": "search_store_files",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreFileSearchParams",
                "description": "Search parameters including query text and pagination options"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of files matching search criteria with relevance scores",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StoreFileSearchResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/stores/{store_identifier}/rules": {
      "post": {
        "tags": ["stores"],
        "summary": "Create search rule",
        "description": "Create a new search rule for a store.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_create: Search rule creation parameters\n\nReturns:\n    SearchRuleResponse: The created search rule details",
        "operationId": "create_search_rule",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleCreateParams",
                "description": "The search rule to create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created search rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/{store_identifier}/rules/{rule_id}": {
      "get": {
        "tags": ["stores"],
        "summary": "Get a search rule",
        "description": "Get a search rule by ID.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_id: The ID of the search rule to retrieve\n\nReturns:\n    SearchRuleResponse: The search rule details",
        "operationId": "retrieve_search_rule",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the search rule",
              "title": "Rule Id"
            },
            "description": "The ID of the search rule"
          }
        ],
        "responses": {
          "200": {
            "description": "The search rule details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "put": {
        "tags": ["stores"],
        "summary": "Update a search rule",
        "description": "Update a search rule by ID.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_id: The ID of the search rule to update\n    rule_update: SearchRuleUpdateParams object containing the fields to update\n\nReturns:\n    SearchRuleResponse: The updated search rule details",
        "operationId": "update_search_rule",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the search rule to update",
              "title": "Rule Id"
            },
            "description": "The ID of the search rule to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleUpdateParams",
                "description": "The fields to update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated search rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["stores"],
        "summary": "Delete a search rule",
        "description": "Delete a search rule by ID.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_id: The ID of the search rule to delete\n\nReturns:\n    SearchRuleDeleted: The deleted search rule details",
        "operationId": "delete_search_rule",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the search rule to delete",
              "title": "Rule Id"
            },
            "description": "The ID of the search rule to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted search rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleDeleted"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/{store_identifier}/rules/{rule_id}/specific": {
      "delete": {
        "tags": ["stores"],
        "summary": "Delete a specific rule from rules array",
        "description": "Delete a specific rule from within a search rule's rules array.\n\nArgs:\n    store_identifier: The ID or name of the store\n    rule_id: The ID of the search rule containing the rule to delete\n    rule_delete: The specific rule to delete from the rules array\n\nReturns:\n    SearchRuleSpecificDeleted: Details about the deletion operation",
        "operationId": "delete_specific_search_rule",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the search rule",
              "title": "Rule Id"
            },
            "description": "The ID of the search rule"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleSpecificDeleteParams",
                "description": "The specific rule to delete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated search rule after deleting specific rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__stores__rules__models__SearchRuleSpecificDeleted"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores": {
      "post": {
        "tags": ["stores"],
        "summary": "Create a store",
        "description": "Create a new vector store.\n\nArgs:\n    vector_store_create: VectorStoreCreate object containing the name, description, and metadata.\n\nReturns:\n    VectorStore: The response containing the created vector store details.",
        "operationId": "create_store",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCreateParams",
                "description": "The store details for creation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The details of the created store",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Store" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "get": {
        "tags": ["stores"],
        "summary": "List stores",
        "description": "List all stores with optional search.\n\nArgs:\n    pagination: The pagination options.\n    q: Optional search query to filter vector stores.\n\nReturns:\n    StoreListResponse: The list of stores.",
        "operationId": "list_stores",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of items to return per page (1-100)",
              "examples": [10, 20, 50],
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum number of items to return per page (1-100)"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "After"
            },
            "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "Before"
            },
            "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include total count in response (expensive operation)",
              "examples": [false, true],
              "default": false,
              "title": "Include Total"
            },
            "description": "Whether to include total count in response (expensive operation)"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string", "minLength": 1, "maxLength": 100 }, { "type": "null" }],
              "description": "Search query for fuzzy matching over name and description fields",
              "title": "Q"
            },
            "description": "Search query for fuzzy matching over name and description fields"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of stores",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StoreListResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/{store_identifier}": {
      "get": {
        "tags": ["stores"],
        "summary": "Get a store",
        "description": "Get a store by ID or name.\n\nArgs:\n    store_identifier: The ID or name of the store to retrieve.\n\nReturns:\n    Store: The response containing the store details.",
        "operationId": "retrieve_store",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the store",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Store" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "put": {
        "tags": ["stores"],
        "summary": "Update a store",
        "description": "Update a store by ID or name.\n\nArgs:\n    store_identifier: The ID or name of the store to update.\n    store_update: StoreCreate object containing the name, description, and metadata.\n\nReturns:\n    Store: The response containing the updated store details.",
        "operationId": "update_store",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreUpdateParams",
                "description": "The fields to update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The details of the updated store",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Store" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["stores"],
        "summary": "Delete a store",
        "description": "Delete a store by ID or name.\n\nArgs:\n    store_identifier: The ID or name of the store to delete.\n\nReturns:\n    Store: The response containing the deleted store details.",
        "operationId": "delete_store",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the store to delete",
              "title": "Store Identifier"
            },
            "description": "The ID or name of the store to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the deleted store",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StoreDeleted" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/stores/search": {
      "post": {
        "tags": ["stores"],
        "summary": "Perform semantic search across store chunks",
        "description": "Perform semantic search across store chunks.\n\nThis endpoint searches through store chunks using semantic similarity matching.\nIt supports complex search queries with filters and returns relevance-scored results.\n\nFor the special 'mixedbread/web' store, this endpoint performs web search using\na mixture of different providers instead of semantic search. Web search results are always\nreranked for consistent scoring.\n\nArgs:\n    search_params: Search configuration including:\n        - query text or embeddings\n        - store_identifiers: List of store identifiers to search\n        - file_ids: Optional list of file IDs to filter chunks by (or tuple of list and condition operator)\n        - metadata filters\n        - pagination parameters\n        - sorting preferences\n    _state: API state dependency\n    _ctx: Service context dependency\n\nReturns:\n    StoreSearchResponse containing:\n        - List of matched chunks with relevance scores\n        - Pagination details including total result count\n\nRaises:\n    HTTPException (400): If search parameters are invalid\n    HTTPException (404): If no vector stores are found to search",
        "operationId": "search_store_chunks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreChunkSearchParams",
                "description": "Search parameters including query text, filters and pagination options"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of semantically similar chunks with relevance scores and pagination details",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StoreSearchResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/stores/question-answering": {
      "post": {
        "tags": ["stores"],
        "summary": "Question answering",
        "operationId": "create_question_answering",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreQAParams",
                "description": "The question answering query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The answer to the question",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StoreQAResults" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/stores/metadata-facets": {
      "post": {
        "tags": ["stores"],
        "summary": "Get metadata facets",
        "operationId": "get_metadata_facets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataFacetsParams",
                "description": "The parameters for getting metadata facets"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The metadata facets",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MetadataFacets" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/vector_stores/{vector_store_identifier}/files": {
      "post": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] Upload file to vector store",
        "description": "DEPRECATED: Use POST /stores/{store_identifier}/files instead",
        "operationId": "create_vector_store_file",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "vector_store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the vector store",
              "title": "Vector Store Identifier"
            },
            "description": "The ID or name of the vector store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeprecatedStoreFileUpsertParams",
                "description": "The file to add to the vector store"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The uploaded vector store file details",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/VectorStoreFile" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "get": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] List vector store files",
        "description": "DEPRECATED: Use POST /stores/{store_identifier}/files/list instead",
        "operationId": "list_vector_store_files",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "vector_store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the vector store",
              "title": "Vector Store Identifier"
            },
            "description": "The ID or name of the vector store"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of items to return per page (1-100)",
              "examples": [10, 20, 50],
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum number of items to return per page (1-100)"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "After"
            },
            "description": "Cursor for forward pagination - get items after this position. Use last_cursor from previous response."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response.",
              "examples": ["eyJjcmVhdGVkX2F0IjoiMjAyNC0xMi0zMVQyMzo1OTo1OS4wMDBaIiwiaWQiOiJhYmMxMjMifQ=="],
              "title": "Before"
            },
            "description": "Cursor for backward pagination - get items before this position. Use first_cursor from previous response."
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include total count in response (expensive operation)",
              "examples": [false, true],
              "default": false,
              "title": "Include Total"
            },
            "description": "Whether to include total count in response (expensive operation)"
          },
          {
            "name": "statuses",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "array", "items": { "$ref": "#/components/schemas/StoreFileStatus" } },
                { "type": "null" }
              ],
              "description": "Status to filter by",
              "title": "Statuses"
            },
            "description": "Status to filter by"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of vector store files",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/VectorStoreFileListResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/vector_stores/{vector_store_identifier}/files/list": {
      "post": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] List vector store files with metadata filter",
        "description": "DEPRECATED: Use POST /stores/{store_identifier}/files/list instead",
        "operationId": "list_vector_store_files_with_metadata_filter",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "vector_store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the vector store",
              "title": "Vector Store Identifier"
            },
            "description": "The ID or name of the vector store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataCursorPagination",
                "description": "For pagination"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of files in the vector store",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/VectorStoreFileListResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/vector_stores/{vector_store_identifier}/files/{file_id}": {
      "get": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] Get vector store file",
        "description": "DEPRECATED: Use GET /stores/{store_identifier}/files/{file_id} instead",
        "operationId": "retrieve_vector_store_file",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "vector_store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the vector store",
              "title": "Vector Store Identifier"
            },
            "description": "The ID or name of the vector store"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the file",
              "title": "File Id"
            },
            "description": "The ID or name of the file"
          },
          {
            "name": "return_chunks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to return the chunks for the file",
              "default": false,
              "title": "Return Chunks"
            },
            "description": "Whether to return the chunks for the file"
          }
        ],
        "responses": {
          "200": {
            "description": "The vector store file details",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/VectorStoreFile" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] Delete vector store file",
        "description": "DEPRECATED: Use DELETE /stores/{store_identifier}/files/{file_id} instead",
        "operationId": "delete_vector_store_file",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "vector_store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the vector store",
              "title": "Vector Store Identifier"
            },
            "description": "The ID or name of the vector store"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the file to delete",
              "title": "File Id"
            },
            "description": "The ID or name of the file to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted vector store file details",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/VectorStoreFileDeleted" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/vector_stores/files/search": {
      "post": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] Search vector store files",
        "description": "DEPRECATED: Use POST /stores/{store_identifier}/files/search instead",
        "operationId": "search_vector_store_files",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VectorStoreFileSearchParams",
                "description": "Search parameters including query text and pagination options"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of files matching search criteria with relevance scores",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VectorStoreFileSearchResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/vector_stores/{vector_store_identifier}/rules": {
      "post": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] Create search rule",
        "description": "DEPRECATED: Use POST /stores/{store_identifier}/rules instead",
        "operationId": "deprecated_create_search_rule",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "vector_store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the vector store",
              "title": "Vector Store Identifier"
            },
            "description": "The ID or name of the vector store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__deprecated_vector_stores__models__SearchRuleCreateParams",
                "description": "The search rule to create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created search rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__deprecated_vector_stores__models__SearchRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/vector_stores/{vector_store_identifier}/rules/{rule_id}": {
      "get": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] Get a search rule",
        "description": "DEPRECATED: Use GET /stores/{store_identifier}/rules/{rule_id} instead",
        "operationId": "deprecated_retrieve_search_rule",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "vector_store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the vector store",
              "title": "Vector Store Identifier"
            },
            "description": "The ID or name of the vector store"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the search rule",
              "title": "Rule Id"
            },
            "description": "The ID of the search rule"
          }
        ],
        "responses": {
          "200": {
            "description": "The search rule details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__deprecated_vector_stores__models__SearchRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "put": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] Update a search rule",
        "description": "DEPRECATED: Use PUT /stores/{store_identifier}/rules/{rule_id} instead",
        "operationId": "deprecated_update_search_rule",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "vector_store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the vector store",
              "title": "Vector Store Identifier"
            },
            "description": "The ID or name of the vector store"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the search rule to update",
              "title": "Rule Id"
            },
            "description": "The ID of the search rule to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__deprecated_vector_stores__models__SearchRuleUpdateParams",
                "description": "The fields to update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated search rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__deprecated_vector_stores__models__SearchRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["deprecated_vector_stores"],
        "summary": "[DEPRECATED] Delete a search rule",
        "description": "DEPRECATED: Use DELETE /stores/{store_identifier}/rules/{rule_id} instead",
        "operationId": "deprecated_delete_search_rule",
        "deprecated": true,
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "name": "vector_store_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "string", "format": "uuid" }],
              "description": "The ID or name of the vector store",
              "title": "Vector Store Identifier"
            },
            "description": "The ID or name of the vector store"
          },
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the search rule to delete",
              "title": "Rule Id"
            },
            "description": "The ID of the search rule to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted search rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mxbai_omni__api__routes__v1__deprecated_vector_stores__models__SearchRuleDeleted"
                }
              }
            }
          },
          "422": {
[...]
