openapi: 3.0.3
info:
  title: Retell SDK
  version: 3.0.0
  contact:
    name: Retell Support
    url: https://www.retellai.com/
    email: support@retellai.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.retellai.com
  description: The production server.
components:
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
      bearerFormat: string
      description: Authentication header containing API key (find it in dashboard). The format is "Bearer YOUR_API_KEY"
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                - error
              message:
                type: string
                example: Invalid request format, please check API reference.
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                - error
              message:
                type: string
                example: API key is missing or invalid.
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                - error
              message:
                type: string
                example: Forbidden
    PaymentRequired:
      description: Payment Required
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                - error
              message:
                type: string
                example: Trial has ended, please add payment method.
    UnprocessableContent:
      description: Unprocessable Content
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                - error
              message:
                type: string
                example: Cannot find requested asset under given api key.
    TooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                - error
              message:
                type: string
                example: Account rate limited, please throttle your requests.
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                - error
              message:
                type: string
                example: An unexpected server error occurred.
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                - error
              message:
                type: string
                example: The requested resource was not found.
  parameters:
    LimitParam:
      in: query
      name: limit
      schema:
        type: integer
        default: 50
        maximum: 1000
      description: Maximum number of items to return.
    SortOrderParam:
      in: query
      name: sort_order
      schema:
        type: string
        enum:
        - ascending
        - descending
        default: descending
      description: Sort order for results.
    PaginationKeyParam:
      in: query
      name: pagination_key
      schema:
        type: string
      description: Pagination key for fetching the next page.
  schemas:
    AlertMetricType:
      type: string
      enum:
      - call_count
      - concurrency_used
      - call_success_rate
      - negative_sentiment_rate
      - custom_function_latency
      - custom_function_failure_count
      - transfer_call_failure_count
      - qa_not_passed_count
      - total_call_cost
      - api_error_count
    PaginatedResponseBase:
      type: object
      properties:
        pagination_key:
          type: string
          description: Pagination key for the next page.
        has_more:
          type: boolean
          description: Whether more results are available.
    AlertFilter:
      type: object
      description: Filter criteria for alert rules
      properties:
        agent:
          type: array
          items:
            $ref: '#/components/schemas/AgentFilter'
          maxItems: 100
          description: Agent filters, connected by OR.
        disconnection_reason:
          allOf:
          - $ref: '#/components/schemas/EnumFilter'
          - description: Disconnection reasons to filter on.
            properties:
              value:
                items:
                  $ref: '#/components/schemas/DisconnectionReason'
        custom_analysis_data:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldFilter'
          description: Filter by custom analysis data fields.
        cohort_id:
          allOf:
          - $ref: '#/components/schemas/StringFilter'
          - description: Cohort ID to filter on (for QA Not Passed Count metrics).
        status_code:
          allOf:
          - $ref: '#/components/schemas/EnumFilter'
          - description: API status codes to filter on (for API Error Count metrics).
            properties:
              value:
                items:
                  enum:
                  - '400'
                  - '401'
                  - '402'
                  - '403'
                  - '404'
                  - '409'
                  - '422'
                  - '429'
                  - '500'
        disconnection_reasons:
          type: array
          items:
            $ref: '#/components/schemas/DisconnectionReason'
          deprecated: true
          description: 'Deprecated: use ''disconnection_reason'' instead.'
        error_code:
          type: array
          items:
            type: string
            enum:
            - '400'
            - '401'
            - '402'
            - '403'
            - '404'
            - '409'
            - '422'
            - '429'
            - '500'
          deprecated: true
          description: 'Deprecated: use ''status_code'' instead. API error codes to filter on (for API Error Count metrics).'
    AlertIncidentResponse:
      type: object
      properties:
        alert_incident_id:
          type: string
          description: Unique identifier for the alert incident.
        org_id:
          type: string
          description: Organization ID.
        alert_rule_id:
          type: string
          description: The alert rule ID that triggered this incident.
        name:
          type: string
          description: Name of the alert rule at the time of incident.
        metric_type:
          allOf:
          - $ref: '#/components/schemas/AlertMetricType'
          description: The metric type being monitored.
        filter:
          $ref: '#/components/schemas/AlertFilter'
        threshold_type:
          type: string
          enum:
          - absolute
          - relative
          description: Whether threshold is absolute or relative to previous period.
        threshold_value:
          type: number
          description: The threshold value that was configured.
        comparator:
          type: string
          enum:
          - gt
          - ge
          - lt
          - le
          description: Comparison operator for the threshold.
        frequency:
          type: string
          enum:
          - 1m
          - 5m
          - 30m
          - 1h
          - 12h
          - 24h
          description: Evaluation frequency.
        window:
          type: string
          enum:
          - 1m
          - 5m
          - 30m
          - 1h
          - 12h
          - 24h
          - 3d
          - 7d
          description: Time window for metric evaluation.
        emails:
          type: array
          items:
            type: string
          description: Email addresses for notifications.
        webhook_urls:
          type: array
          items:
            type: string
          description: Webhook URLs for notifications.
        current_value:
          type: number
          description: The value that triggered the alert.
        previous_value:
          type: number
          description: The previous period value (for relative thresholds).
        triggered_timestamp:
          type: number
          description: Unix timestamp when the incident was triggered.
        resolved_timestamp:
          type: number
          description: Unix timestamp when the incident was resolved.
    AlertRuleRequest:
      type: object
      required:
      - name
      - metric_type
      - threshold_type
      - threshold_value
      - comparator
      - frequency
      - window
      properties:
        name:
          type: string
          description: Name of the alert rule.
        metric_type:
          allOf:
          - $ref: '#/components/schemas/AlertMetricType'
          description: The metric type to monitor.
        filter:
          $ref: '#/components/schemas/AlertFilter'
        threshold_type:
          type: string
          enum:
          - absolute
          - relative
          description: Whether threshold is absolute or relative to previous period.
        threshold_value:
          type: number
          description: The threshold value to compare against.
        comparator:
          type: string
          enum:
          - gt
          - ge
          - lt
          - le
          description: Comparison operator for the threshold.
        frequency:
          type: string
          enum:
          - 1m
          - 5m
          - 30m
          - 1h
          - 12h
          - 24h
          description: How often to evaluate the metric.
        window:
          type: string
          enum:
          - 1m
          - 5m
          - 30m
          - 1h
          - 12h
          - 24h
          - 3d
          - 7d
          description: Time window for metric evaluation.
        emails:
          type: array
          items:
            type: string
          description: Email addresses to notify when alert triggers.
        webhook_urls:
          type: array
          items:
            type: string
          description: Webhook URLs to notify when alert triggers.
    AlertRuleResponse:
      type: object
      properties:
        alert_rule_id:
          type: string
          description: Unique identifier for the alert rule.
        org_id:
          type: string
          description: Organization ID.
        name:
          type: string
          description: Name of the alert rule.
        metric_type:
          allOf:
          - $ref: '#/components/schemas/AlertMetricType'
          description: The metric type being monitored.
        filter:
          $ref: '#/components/schemas/AlertFilter'
        threshold_type:
          type: string
          enum:
          - absolute
          - relative
          description: Whether threshold is absolute or relative to previous period.
        threshold_value:
          type: number
          description: The threshold value to compare against.
        comparator:
          type: string
          enum:
          - gt
          - ge
          - lt
          - le
          description: Comparison operator for the threshold.
        frequency:
          type: string
          enum:
          - 1m
          - 5m
          - 30m
          - 1h
          - 12h
          - 24h
          description: How often the metric is evaluated.
        window:
          type: string
          enum:
          - 1m
          - 5m
          - 30m
          - 1h
          - 12h
          - 24h
          - 3d
          - 7d
          description: Time window for metric evaluation.
        emails:
          type: array
          items:
            type: string
          description: Email addresses for notifications.
        webhook_urls:
          type: array
          items:
            type: string
          description: Webhook URLs for notifications.
        active:
          type: boolean
          description: Whether the alert rule is active.
        user_modified_timestamp:
          type: number
          description: Unix timestamp of last modification.
    AgentNaturalnessAnalysis:
      type: object
      required:
      - details
      - natural_utterance_count
      - total_utterance_count
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/UtteranceNaturalnessIssues'
        natural_utterance_count:
          type: number
        total_utterance_count:
          type: number
    AgentWeight:
      type: object
      required:
      - agent_id
      - weight
      properties:
        agent_id:
          type: string
          minLength: 1
          example: oBeDLoLOeuAbiuaMFXRtDOLriTJ5tSxD
        agent_version:
          type: integer
          example: 1
        weight:
          type: number
          example: 0.5
          minimum: 0
          exclusiveMinimum: true
          maximum: 1
          description: The weight of the agent. When used in a list of agents, the total weights must add up to 1.
    AgentOverrideRequest:
      type: object
      description: Override configuration for agent, retell LLM, or conversation flow settings for a specific call.
      properties:
        agent:
          $ref: '#/components/schemas/AgentRequest'
          description: Override agent configuration settings. Any properties specified here will override the base agent configuration for this call.
        retell_llm:
          $ref: '#/components/schemas/RetellLlmOverride'
          description: Override Retell LLM configuration settings. Only applicable when using Retell LLM as the response engine. Supported attributes - model, s2s_model, model_temperature, model_high_priority,
            tool_call_strict_mode, knowledge_base_ids, kb_config, start_speaker, begin_after_user_silence_ms, begin_message.
        conversation_flow:
          $ref: '#/components/schemas/ConversationFlowOverride'
          description: Override conversation flow configuration settings. Only applicable when using conversation flow as the response engine. Supported attributes - model_choice, model_temperature, tool_call_strict_mode,
            knowledge_base_ids, kb_config, start_speaker, begin_after_user_silence_ms.
    AgentRequest:
      type: object
      properties:
        response_engine:
          $ref: '#/components/schemas/ResponseEngine'
          description: The Response Engine to attach to the agent. It is used to generate responses for the agent. You need to create a Response Engine first before attaching it to an agent.
          example:
            type: retell-llm
            llm_id: llm_234sdertfsdsfsdf
            version: 0
        agent_name:
          type: string
          example: Jarvis
          description: The name of the agent. Only used for your own reference.
          nullable: true
        version_description:
          type: string
          example: Customer support agent for handling product inquiries
          description: Optional description of the agent version. Used for your own reference and documentation.
          nullable: true
        voice_id:
          type: string
          example: retell-Cimo
          description: Unique voice id used for the agent. Find list of available voices and their preview in Dashboard.
        voice_model:
          type: string
          enum:
          - eleven_turbo_v2
          - eleven_flash_v2
          - eleven_turbo_v2_5
          - eleven_flash_v2_5
          - eleven_multilingual_v2
          - eleven_v3
          - sonic-3
          - sonic-3-latest
          - tts-1
          - gpt-4o-mini-tts
          - speech-02-turbo
          - speech-2.8-turbo
          - s1
          - null
          description: Select the voice model used for the selected voice. Each provider has a set of available voice models. Set to null to remove voice model selection, and default ones will apply. Check
            out dashboard for more details of each voice model.
          nullable: true
        fallback_voice_ids:
          type: array
          items:
            type: string
          example:
          - cartesia-Cimo
          - minimax-Cimo
          description: When TTS provider for the selected voice is experiencing outages, we would use fallback voices listed here for the agent. Voice id and the fallback voice ids must be from different
            TTS providers. The system would go through the list in order, if the first one in the list is also having outage, it would use the next one. Set to null to remove voice fallback for the agent.
          nullable: true
        voice_temperature:
          type: number
          example: 1
          description: Controls how stable the voice is. Value ranging from [0,2]. Lower value means more stable, and higher value means more variant speech generation. Check the dashboard to see what provider
            supports this feature. If unset, default value 1 will apply.
        voice_speed:
          type: number
          minimum: 0.5
          maximum: 2
          example: 1
          description: Controls speed of voice. Value ranging from [0.5,2]. Lower value means slower speech, while higher value means faster speech rate. If unset, default value 1 will apply.
        enable_dynamic_voice_speed:
          type: boolean
          example: true
          description: If set to true, will enable dynamic voice speed adjustment based on the user's speech rate and conversation context. If unset, default value false will apply.
        enable_dynamic_responsiveness:
          type: boolean
          example: true
          description: If set to true, the agent will dynamically adjust how quickly it responds based on the user's speech rate and past turn-taking behavior in the call. If unset, default value false
            will apply.
        volume:
          type: number
          example: 1
          description: If set, will control the volume of the agent. Value ranging from [0,2]. Lower value means quieter agent speech, while higher value means louder agent speech. If unset, default value
            1 will apply.
        voice_emotion:
          type: string
          nullable: true
          enum:
          - calm
          - sympathetic
          - happy
          - sad
          - angry
          - fearful
          - surprised
          - null
          example: calm
          description: 'Controls the emotional tone of the agent''s voice. Currently supported for Cartesia and Minimax TTS providers. If unset, no emotion will be used.

            '
        responsiveness:
          type: number
          minimum: 0
          maximum: 1
          example: 1
          description: Controls how responsive is the agent. Value ranging from [0,1]. Lower value means less responsive agent (wait more, respond slower), while higher value means faster exchanges (respond
            when it can). If unset, default value 1 will apply.
        interruption_sensitivity:
          type: number
          minimum: 0
          maximum: 1
          example: 1
          description: Controls how sensitive the agent is to user interruptions. Value ranging from [0,1]. Lower value means it will take longer / more words for user to interrupt agent, while higher value
            means it's easier for user to interrupt agent. If unset, default value 1 will apply. When this is set to 0, agent would never be interrupted.
        enable_backchannel:
          type: boolean
          example: true
          description: Controls whether the agent would backchannel (agent interjects the speaker with phrases like "yeah", "uh-huh" to signify interest and engagement). Backchannel when enabled tends to
            show up more in longer user utterances. If not set, agent will not backchannel.
        backchannel_frequency:
          type: number
          example: 0.9
          description: Only applicable when enable_backchannel is true. Controls how often the agent would backchannel when a backchannel is possible. Value ranging from [0,1]. Lower value means less frequent
            backchannel, while higher value means more frequent backchannel. If unset, default value 0.8 will apply.
        backchannel_words:
          type: array
          items:
            type: string
          example:
          - yeah
          - uh-huh
          description: Only applicable when enable_backchannel is true. A list of words that the agent would use as backchannel. If not set, default backchannel words will apply. Check out [backchannel
            default words](/agent/interaction-configuration#backchannel) for more details. Note that certain voices do not work too well with certain words, so it's recommended to experiment before adding
            any words.
          nullable: true
        reminder_trigger_ms:
          type: number
          example: 10000
          description: If set (in milliseconds), will trigger a reminder to the agent to speak if the user has been silent for the specified duration after some agent speech. Must be a positive number.
            If unset, default value of 10000 ms (10 s) will apply.
        reminder_max_count:
          type: integer
          example: 2
          description: If set, controls how many times agent would remind user when user is unresponsive. Must be a non negative integer. If unset, default value of 1 will apply (remind once). Set to 0
            to disable agent from reminding.
        ambient_sound:
          type: string
          enum:
          - coffee-shop
          - convention-hall
          - summer-outdoor
          - mountain-outdoor
          - static-noise
          - call-center
          - null
          description: 'If set, will add ambient environment sound to the call to make experience more realistic. Currently supports the following options:


            - `coffee-shop`: Coffee shop ambience with people chatting in background. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/coffee-shop.wav)

            - `convention-hall`: Convention hall ambience, with some echo and people chatting in background. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/convention-hall.wav)

            - `summer-outdoor`: Summer outdoor ambience with cicada chirping. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/summer-outdoor.wav)

            - `mountain-outdoor`: Mountain outdoor ambience with birds singing. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/mountain-outdoor.wav)

            - `static-noise`: Constant static noise. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/static-noise.wav)

            - `call-center`: Call center work noise. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/call-center.wav)

            Set to `null` to remove ambient sound from this agent.

            '
          nullable: true
        ambient_sound_volume:
          type: number
          example: 1
          description: If set, will control the volume of the ambient sound. Value ranging from [0,2]. Lower value means quieter ambient sound, while higher value means louder ambient sound. If unset, default
            value 1 will apply.
        language:
          type: string
          example: en-US
          enum:
          - en-US
          - en-IN
          - en-GB
          - en-AU
          - en-NZ
          - de-DE
          - es-ES
          - es-419
          - hi-IN
          - fr-FR
          - fr-CA
          - ja-JP
          - pt-PT
          - pt-BR
          - zh-CN
          - ru-RU
          - it-IT
          - ko-KR
          - nl-NL
          - nl-BE
          - pl-PL
          - tr-TR
          - vi-VN
          - ro-RO
          - bg-BG
          - ca-ES
          - th-TH
          - da-DK
          - fi-FI
          - el-GR
          - hu-HU
          - id-ID
          - no-NO
          - sk-SK
          - sv-SE
          - lt-LT
          - lv-LV
          - cs-CZ
          - ms-MY
          - af-ZA
          - ar-SA
          - az-AZ
          - bs-BA
          - cy-GB
          - fa-IR
          - fil-PH
          - gl-ES
          - he-IL
          - hr-HR
          - hy-AM
          - is-IS
          - kk-KZ
          - kn-IN
          - mk-MK
          - mr-IN
          - ne-NP
          - sl-SI
          - sr-RS
          - sw-KE
          - ta-IN
          - ur-IN
          - yue-CN
          - uk-UA
          - multi
          description: Specifies what language (and dialect) the speech recognition will operate in. For instance, selecting `en-GB` optimizes speech recognition for British English. If unset, will use
            default value `en-US`. Select `multi` for multilingual support.
        webhook_url:
          type: string
          example: https://webhook-url-here
          description: The webhook for agent to listen to call events. See what events it would get at [webhook doc](/features/webhook). If set, will binds webhook events for this agent to the specified
            url, and will ignore the account level webhook for this agent. Set to `null` to remove webhook url from this agent.
          nullable: true
        webhook_events:
          type: array
          items:
            type: string
            enum:
            - call_started
            - call_ended
            - call_analyzed
            - transcript_updated
            - transfer_started
            - transfer_bridged
            - transfer_cancelled
            - transfer_ended
          description: Which webhook events this agent should receive. If not set, defaults to call_started, call_ended, call_analyzed.
          nullable: true
        webhook_timeout_ms:
          type: integer
          example: 10000
          description: The timeout for the webhook in milliseconds. If not set, default value of 10000 will apply.
        boosted_keywords:
          type: array
          items:
            type: string
          example:
          - retell
          - kroger
          description: Provide a customized list of keywords to bias the transcriber model, so that these words are more likely to get transcribed. Commonly used for names, brands, street, etc.
          nullable: true
        data_storage_setting:
          type: string
          enum:
          - everything
          - everything_except_pii
          - basic_attributes_only
          example: everything
          description: 'Granular setting to manage how Retell stores sensitive data (transcripts, recordings, logs, etc.).

            This replaces the deprecated `opt_out_sensitive_data_storage` field.

            - `everything`: Store all data including transcripts, recordings, and logs.

            - `everything_except_pii`: Store data without PII when PII is detected.

            - `basic_attributes_only`: Store only basic attributes; no transcripts/recordings/logs.

            If not set, default value of "everything" will apply.

            '
        data_storage_retention_days:
          type: integer
          minimum: 1
          maximum: 730
          example: 30
          nullable: true
          description: Number of days to retain call/chat data before automatic deletion. Must be between 1 and 730 days. If not set, data is retained forever (no automatic deletion).
        opt_in_signed_url:
          type: boolean
          example: true
          description: Whether this agent opts in for signed URLs for public logs and recordings. When enabled, the generated URLs will include security signatures that restrict access and automatically
            expire after 24 hours.
        signed_url_expiration_ms:
          type: integer
          example: 86400000
          description: The expiration time for the signed url in milliseconds. Only applicable when opt_in_signed_url is true. If not set, default value of 86400000 (24 hours) will apply.
          nullable: true
        pronunciation_dictionary:
          type: array
          items:
            type: object
            required:
            - word
            - alphabet
            - phoneme
            properties:
              word:
                type: string
                example: actually
                description: The string of word / phrase to be annotated with pronunciation.
              alphabet:
                type: string
                enum:
                - ipa
                - cmu
                example: ipa
                description: The phonetic alphabet to be used for pronunciation.
              phoneme:
                type: string
                example: ˈæktʃuəli
                description: Pronunciation of the word in the format of a IPA / CMU pronunciation.
          description: A list of words / phrases and their pronunciation to be used to guide the audio synthesize for consistent pronunciation. Check the dashboard to see what provider supports this feature.
            Set to null to remove pronunciation dictionary from this agent.
          nullable: true
        normalize_for_speech:
          type: boolean
          example: true
          description: If set to true, will normalize the some part of text (number, currency, date, etc) to spoken to its spoken form for more consistent speech synthesis (sometimes the voice synthesize
            system itself might read these wrong with the raw text). For example, it will convert "Call my number 2137112342 on Jul 5th, 2024 for the $24.12 payment" to "Call my number two one three seven
            one one two three four two on july fifth, twenty twenty four for the twenty four dollars twelve cents payment" before starting audio generation.
        end_call_after_silence_ms:
          type: integer
          example: 600000
          description: If users stay silent for a period after agent speech, end the call. The minimum value allowed is 10,000 ms (10 s). By default, this is set to 600000 (10 min).
        max_call_duration_ms:
          type: integer
          example: 3600000
          description: Maximum allowed length for the call, will force end the call if reached. The minimum value allowed is 60,000 ms (1 min), and maximum value allowed is 7,200,000 (2 hours). By default,
            this is set to 3,600,000 (1 hour).
        voicemail_message:
          type: string
          example: Hi, please give us a callback.
          description: The message to be played when the call enters a voicemail. Note that this feature is only available for phone calls. If you want to hangup after hitting voicemail, set this to empty
            string.
        voicemail_detection_timeout_ms:
          type: integer
          example: 30000
          description: Configures when to stop running voicemail detection, as it becomes unlikely to hit voicemail after a couple minutes, and keep running it will only have negative impact. The minimum
            value allowed is 5,000 ms (5 s), and maximum value allowed is 180,000 (3 minutes). By default, this is set to 30,000 (30 s).
        voicemail_option:
          type: object
          properties:
            action:
              $ref: '#/components/schemas/VoicemailAction'
          required:
          - action
          description: If this option is set, the call will try to detect voicemail in the first 3 minutes of the call. Actions defined (hangup, or leave a message) will be applied when the voicemail is
            detected. Set this to null to disable voicemail detection.
          example:
            action:
              type: static_text
              text: Please give us a callback tomorrow at 10am.
          nullable: true
        ivr_option:
          type: object
          properties:
            action:
              $ref: '#/components/schemas/IvrAction'
          required:
          - action
          description: If this option is set, the call will try to detect IVR in the first 3 minutes of the call. Actions defined will be applied when the IVR is detected. Set this to null to disable IVR
            detection.
          example:
            action:
              type: hangup
          nullable: true
        post_call_analysis_data:
          type: array
          items:
            $ref: '#/components/schemas/AnalysisData'
          description: Post call analysis data to extract from the call. This data will augment the pre-defined variables extracted in the call analysis. This will be available after the call ends.
          nullable: true
        post_call_analysis_model:
          $ref: '#/components/schemas/NullableLLMModel'
          example: gpt-4.1-mini
          description: The model to use for post call analysis. Default to gpt-4.1-mini.
        analysis_successful_prompt:
          type: string
          maxLength: 2000
          example: The agent finished the task and the call was complete without being cutoff.
          description: Prompt to determine whether the post call or chat analysis should mark the interaction as successful. Set to null to use the default prompt.
          nullable: true
        analysis_summary_prompt:
          type: string
          maxLength: 2000
          example: Summarize the outcome of the conversation in two sentences.
          description: Prompt to guide how the post call or chat analysis summary should be generated. When unset, the default system prompt is used. Set to null to use the default prompt.
          nullable: true
        analysis_user_sentiment_prompt:
          type: string
          maxLength: 2000
          example: Evaluate the user's sentiment based on their tone and satisfaction level.
          description: Prompt to guide how the post call or chat analysis should evaluate user sentiment. When unset, the default system prompt is used. Set to null to use the default prompt.
          nullable: true
        begin_message_delay_ms:
          type: integer
          example: 1000
          description: If set, will delay the first message by the specified amount of milliseconds, so that it gives user more time to prepare to take the call. Valid range is [0, 5000]. If not set or
            set to 0, agent will speak immediately. Only applicable when agent speaks first.
        ring_duration_ms:
          type: integer
          minimum: 5000
          maximum: 300000
          example: 30000
          description: If set, the phone ringing will last for the specified amount of milliseconds. This applies for both outbound call ringtime, and call transfer ringtime. Default to 30000 (30 s). Valid
            range is [5000, 300000].
        stt_mode:
          type: string
          enum:
          - fast
          - accurate
          - custom
          example: fast
          description: If set, determines whether speech to text should focus on latency or accuracy. Default to fast mode. When set to custom, custom_stt_config must be provided.
        custom_stt_config:
          type: object
          description: Custom STT configuration. Only used when stt_mode is set to custom.
          properties:
            provider:
              type: string
              enum:
              - azure
              - deepgram
              description: The STT provider to use.
            endpointing_ms:
              type: integer
              description: Endpointing timeout in milliseconds. Minimum is 100 for azure, 10 for deepgram.
          required:
          - provider
          - endpointing_ms
          nullable: true
        vocab_specialization:
          type: string
          enum:
          - general
          - medical
          example: general
          description: If set, determines the vocabulary set to use for transcription. This setting only applies for English agents, for non English agent, this setting is a no-op. Default to general.
        allow_user_dtmf:
          type: boolean
          example: true
          description: If set to true, DTMF input will be accepted and processed. If false, any DTMF input will be ignored. Default to true.
        user_dtmf_options:
          type: object
          properties:
            digit_limit:
              type: number
              description: The maximum number of digits allowed in the user's DTMF (Dual-Tone Multi-Frequency) input per turn. Once this limit is reached, the input is considered complete and a response
                will be generated immediately.
              nullable: true
              minimum: 1
              maximum: 50
            termination_key:
              type: string
              nullable: true
              description: A single key that signals the end of DTMF input. Acceptable values include any digit (0-9), the pound/hash symbol (#), or the asterisk (*).
              example: '#'
            timeout_ms:
              type: integer
              description: The time (in milliseconds) to wait for user DTMF input before timing out. The timer resets with each digit received.
              minimum: 1000
              maximum: 15000
          nullable: true
        denoising_mode:
          type: string
          enum:
          - no-denoise
          - noise-cancellation
          - noise-and-background-speech-cancellation
          example: noise-cancellation
          description: If set, determines what denoising mode to use. Use "no-denoise" to bypass all audio denoising. Default to noise-cancellation.
        pii_config:
          $ref: '#/components/schemas/PIIConfig'
          description: Configuration for PII scrubbing from transcripts and recordings.
        guardrail_config:
          $ref: '#/components/schemas/GuardrailConfig'
          description: Configuration for guardrail checks to detect and prevent prohibited topics in agent output and user input.
        is_public:
          type: boolean
          example: false
          description: Whether the agent is public. When set to true, the agent is available for public agent preview link.
          nullable: true
    AgentResponse:
      allOf:
      - type: object
        required:
        - agent_id
        - version
        properties:
          agent_id:
            type: string
            example: oBeDLoLOeuAbiuaMFXRtDOLriTJ5tSxD
            description: Unique id of agent.
          version:
            type: integer
            example: 0
            description: Version of the agent.
          is_published:
            type: boolean
            example: false
            description: Whether the agent is published.
      - $ref: '#/components/schemas/AgentRequest'
        required:
        - response_engine
        - voice_id
      - type: object
        required:
        - last_modification_timestamp
        properties:
          last_modification_timestamp:
            type: integer
            example: 1703413636133
            description: Last modification timestamp (milliseconds since epoch). Either the time of last update or creation if no updates available.
    AgentSwapNode:
      allOf:
      - $ref: '#/components/schemas/NodeBase'
      - type: object
        required:
        - type
        - agent_id
        - post_call_analysis_setting
        - edge
        properties:
          type:
            type: string
            enum:
            - agent_swap
            description: Type of the node
          agent_id:
            type: string
            description: The ID of the agent to swap to
          agent_version:
            type: number
            description: The version of the agent to swap to. If not specified, will use the latest version
          post_call_analysis_setting:
            $ref: '#/components/schemas/PostCallAnalysisSetting'
            description: Post call analysis setting for the agent swap
          webhook_setting:
            $ref: '#/components/schemas/AgentSwapWebhookSetting'
            description: Webhook setting for the agent swap, defaults to only source.
          keep_current_voice:
            type: boolean
            description: If true, keep the current voice when swapping agents. Defaults to false.
          keep_current_language:
            type: boolean
            description: If true, keep the current language when swapping agents. Defaults to false.
          edge:
            $ref: '#/components/schemas/TransferFailedEdge'
            description: Edge to transition to if agent swap fails
          speak_during_execution:
            type: boolean
            description: If true, will speak during execution
          instruction:
            $ref: '#/components/schemas/NodeInstruction'
            description: What to say when swapping agents, only used when speak during execution
    AgentSwapTool:
      type: object
      properties:
        name:
          type: string
          description: Name of the tool. Must be unique within all tools available to LLM at any given time (general tools + state tools + state edges).
        type:
          type: string
          enum:
          - agent_swap
        description:
          type: string
          description: Describes what the tool does, sometimes can also include information about when to call the tool.
        agent_id:
          type: string
          minLength: 1
          description: The id of the agent to swap to.
        agent_version:
          type: number
          description: The version of the agent to swap to. If not specified, will use the latest version.
        speak_during_execution:
          type: boolean
        execution_message_description:
          type: string
          description: The message for the agent to speak when executing agent swap.
        execution_message_type:
          type: string
          enum:
          - prompt
          - static_text
          description: Type of execution message. "prompt" means the agent will use execution_message_description as a prompt to generate the message. "static_text" means the agent will speak the execution_message_description
            directly. Defaults to "prompt".
        post_call_analysis_setting:
          $ref: '#/components/schemas/PostCallAnalysisSetting'
          description: Post call analysis setting for the agent swap.
        webhook_setting:
          $ref: '#/components/schemas/AgentSwapWebhookSetting'
          description: Webhook setting for the agent swap, defaults to only source.
        keep_current_voice:
          type: boolean
          description: If true, keep the current voice when swapping agents. Defaults to false.
        keep_current_language:
          type: boolean
          description: If true, keep the current language when swapping agents. Defaults to false.
      required:
      - type
      - name
      - agent_id
      - post_call_analysis_setting
    AgentSwapWebhookSetting:
      type: string
      enum:
      - both_agents
      - only_destination_agent
      - only_source_agent
    AnalysisData:
      oneOf:
      - $ref: '#/components/schemas/StringAnalysisData'
      - $ref: '#/components/schemas/EnumAnalysisData'
      - $ref: '#/components/schemas/BooleanAnalysisData'
      - $ref: '#/components/schemas/NumberAnalysisData'
    AverageMetric:
      type: object
      required:
      - time_averages
      - overall_average
      properties:
        time_averages:
          type: array
          items:
            type: number
        overall_average:
          type: number
        numerator:
          type: number
        denominator:
          type: number
    BatchCallResponse:
      type: object
      required:
      - batch_call_id
      - name
      - from_number
      - scheduled_timestamp
      - total_task_count
      properties:
        batch_call_id:
          type: string
          example: batch_call_dbcc4412483ebfc348abb
          description: Unique id of the batch call.
        name:
          type: string
          example: First batch call
        from_number:
          type: string
          example: '+14157774444'
        scheduled_timestamp:
          type: number
          example: 1735718400
        total_task_count:
          type: number
          description: Number of tasks within the batch call
        call_time_window:
          $ref: '#/components/schemas/CallTimeWindow'
          description: Canonicalized minutes-based time windows. Present only if specified when the batch call was created or updated. See CallTimeWindow for format details ([startMin, endMin) in local
            minutes; no cross-midnight).
    BatchCallTask:
      type: object
      required:
      - to_number
      properties:
        to_number:
          type: string
          minLength: 1
          example: '+12137774445'
          description: The The number you want to call, in E.164 format. If using a number purchased from Retell, only US numbers are supported as destination.
        ignore_e164_validation:
          type: boolean
          description: If true, the e.164 validation will be ignored for the from_number. This can be useful when you want to dial to internal pseudo numbers. This only applies when you are using custom
            telephony and does not apply when you are using Retell Telephony. If omitted, the default value is false.
          example: false
        override_agent_id:
          type: string
          minLength: 1
          example: oBeDLoLOeuAbiuaMFXRtDOLriTJ5tSxD
          description: For this particular call, override the agent used with this agent id. This does not bind the agent to this number, this is for one time override.
        override_agent_version:
          type: integer
          example: 1
          description: For this particular call, override the agent version used with this version. This does not bind the agent to this number, this is for one time override.
        agent_override:
          $ref: '#/components/schemas/AgentOverrideRequest'
          description: For this particular call, override agent configuration with these settings. This allows you to customize agent behavior for individual calls without modifying the base agent.
        retell_llm_dynamic_variables:
          type: object
          additionalProperties: {}
          example:
            customer_name: John Doe
          description: Add optional dynamic variables in key value pairs of string that injects into your Response Engine prompt and tool description. Only applicable for Response Engine.
        metadata:
          type: object
          description: An arbitrary object for storage purpose only. You can put anything here like your internal customer id associated with the call. Not used for processing. You can later get this field
            from the call object.
        custom_sip_headers:
          type: object
          additionalProperties:
            type: string
          example:
            X-Custom-Header: Custom Value
          description: Add optional custom SIP headers to the call.
    BookAppointmentCalTool:
      type: object
      properties:
        type:
          type: string
          enum:
          - book_appointment_cal
        name:
          type: string
          description: Name of the tool. Must be unique within all tools available to LLM at any given time (general tools + state tools + state transitions). Must be consisted of a-z, A-Z, 0-9, or contain
            underscores and dashes, with a maximum length of 64 (no space allowed).
        description:
          type: string
          description: Describes what the tool does, sometimes can also include information about when to call the tool.
        cal_api_key:
          type: string
          description: Cal.com Api key that have access to the cal.com event you want to book appointment.
        event_type_id:
          oneOf:
          - type: number
          - type: string
          description: Cal.com event type id number for the cal.com event you want to book appointment. Can be a number or a dynamic variable in the format `{{variable_name}}` that will be resolved at runtime.
        timezone:
          type: string
          description: Timezone to be used when booking appointment, must be in [IANA timezone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). Can also be a dynamic variable in
            the format `{{variable_name}}` that will be resolved at runtime. If not specified, will check if user specified timezone in call, and if not, will use the timezone of the Retell servers.
      required:
      - type
      - name
      - cal_api_key
      - event_type_id
    BooleanAnalysisData:
      type: object
      required:
      - type
      - name
      - description
      properties:
        type:
          type: string
          enum:
          - boolean
          description: Type of the variable to extract.
          example: boolean
        name:
          type: string
          description: Name of the variable.
          example: is_converted
          minLength: 1
        description:
          type: string
          description: Description of the variable.
          example: Whether the customer converted.
        required:
          type: boolean
          description: Whether this data is required. If true and the data is not extracted, the call will be marked as unsuccessful.
    BranchNode:
      allOf:
      - $ref: '#/components/schemas/NodeBase'
      - type: object
        required:
        - type
        - else_edge
        properties:
          type:
            type: string
            enum:
            - branch
            description: Type of the node
          edges:
            type: array
            items:
              $ref: '#/components/schemas/NodeEdge'
          else_edge:
            $ref: '#/components/schemas/ElseEdge'
          finetune_transition_examples:
            type: array
            items:
              $ref: '#/components/schemas/NodeFinetuneTransitionExample'
    BreakdownMetric:
      type: object
      required:
      - overall_breakdown
      - time_breakdown
      properties:
        overall_breakdown:
          type: array
          items:
            $ref: '#/components/schemas/Breakdown'
        time_breakdown:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/Breakdown'
    Breakdown:
      type: object
      required:
      - metric_name
      - metric_value
      properties:
        metric_name:
          type: string
        metric_value:
          type: number
    BridgeTransferNode:
      allOf:
      - $ref: '#/components/schemas/NodeBase'
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - bridge_transfer
            description: Type of the node - initiates a warm transfer by bridging the call
          speak_during_execution:
            type: boolean
            description: If true, will speak during execution
          instruction:
            $ref: '#/components/schemas/NodeInstruction'
            description: Describes what to say to user when bridging the transfer. Only applicable when speak_during_execution is true.
    BridgeTransferTool:
      type: object
      properties:
        type:
          type: string
          enum:
          - bridge_transfer
        name:
          type: string
          description: Name of the tool. Must be unique within all tools available to LLM at any given time (general tools + state tools + state transitions). Must be consisted of a-z, A-Z, 0-9, or contain
            underscores and dashes, with a maximum length of 64 (no space allowed).
        description:
          type: string
          description: Describes what the tool does. This tool is only available to transfer agents (agents with isTransferAgent set to true) in agentic warm transfer mode. When invoked, it bridges the
            original caller to the transfer target and ends the transfer agent call.
        speak_during_execution:
          type: boolean
          description: If true, will speak during execution.
        execution_message_description:
          type: string
          description: Describes what to say to user when bridging the transfer. Only applicable when speak_during_execution is true.
        execution_message_type:
          type: string
          enum:
          - prompt
          - static_text
          description: Type of execution message. "prompt" means the agent will use execution_message_description as a prompt to generate the message. "static_text" means the agent will speak the execution_message_description
            directly. Defaults to "prompt".
      required:
      - type
      - name
    CallAnalysis:
      type: object
      properties:
        call_summary:
          type: string
          example: The agent called the user to ask question about his purchase inquiry. The agent asked several questions regarding his preference and asked if user would like to book an appointment. The
            user happily agreed and scheduled an appointment next Monday 10am.
          description: A high level summary of the call.
        in_voicemail:
          type: boolean
          example: false
          description: Whether the call is entered voicemail.
        user_sentiment:
          type: string
          enum:
          - Negative
          - Positive
          - Neutral
          - Unknown
          example: Positive
          description: Sentiment of the user in the call.
        call_successful:
          type: boolean
          example: true
          description: Whether the agent seems to have a successful call with the user, where the agent finishes the task, and the call was complete without being cutoff.
        custom_analysis_data:
          type: object
          description: Custom analysis data that was extracted based on the schema defined in agent post call analysis data. Can be empty if nothing is specified.
    CallLatency:
      type: object
      properties:
        p50:
          type: number
          description: 50 percentile of latency, measured in milliseconds.
          example: 800
        p90:
          type: number
          description: 90 percentile of latency, measured in milliseconds.
          example: 1200
        p95:
          type: number
          description: 95 percentile of latency, measured in milliseconds.
          example: 1500
        p99:
          type: number
          description: 99 percentile of latency, measured in milliseconds.
          example: 2500
        max:
          type: number
          description: Maximum latency in the call, measured in milliseconds.
          example: 2700
        min:
          type: number
          description: Minimum latency in the call, measured in milliseconds.
          example: 500
        num:
          type: number
          description: Number of data points (number of times latency is tracked).
          example: 10
        values:
          type: array
          items:
            type: number
          description: All the latency data points in the call, measured in milliseconds.
    CallQA:
      type: object
      required:
      - call_qa_id
      - call_id
      - cohort_id
      - cohort_version
      - db_version
      - deprecated
      - score
      - passed
      - wer
      - call_start_time_ms
      - created_at
      - updated_at
      - calibrated
      properties:
        call_qa_id:
          type: string
        call_id:
          type: string
        cohort_id:
          type: string
        cohort_version:
          type: number
        db_version:
          type: number
        deprecated:
          type: boolean
        score:
          type: number
        passed:
          type: boolean
        wer:
          $ref: '#/components/schemas/WER'
        interruptions:
          $ref: '#/components/schemas/InterruptionAnalysis'
        user_sentiments:
          $ref: '#/components/schemas/SentimentAnalysis'
        agent_sentiments:
          $ref: '#/components/schemas/SentimentAnalysis'
        agent_naturalness_issues:
          $ref: '#/components/schemas/AgentNaturalnessAnalysis'
        mistranscribed_important_entities:
          $ref: '#/components/schemas/MistranscribedImportantEntitiesAnalysis'
        rag_analysis:
          $ref: '#/components/schemas/RAGAnalysis'
        tool_call_invocation_analysis:
          $ref: '#/components/schemas/ToolCallInvocationAnalysis'
        tool_call_analysis:
          $ref: '#/components/schemas/ToolCallAccuracyAnalysis'
        node_transition_analysis:
          $ref: '#/components/schemas/NodeTransitionAnalysis'
        llm_hallucination_analysis:
          $ref: '#/components/schemas/HallucinationAnalysis'
        transfer_call_analysis:
          type: object
          properties:
            latency:
              type: array
              items:
                type: number
            successful:
              type: array
              items:
                type: boolean
        failure_reason:
          type: string
        failed_metrics:
          type: array
          items:
            $ref: '#/components/schemas/MetricResult'
        passed_metrics:
          type: array
          items:
            $ref: '#/components/schemas/MetricResult'
        recommendations:
          type: array
          items:
            type: string
        notes:
          type: string
        call_start_time_ms:
          type: number
        created_at:
          type: number
        updated_at:
          type: number
        calibrated:
          type: boolean
    CallTimeWindow:
      type: object
      description: Allowed calling windows in a specific timezone. Each window is a half-open interval [startMin, endMin) in minutes since 00:00 local time. Cross-midnight windows are NOT allowed (must
        satisfy startMin < endMin). `endMin = 1440` (24:00) is valid.
      properties:
        windows:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/TimeWindow'
          description: List of TimeWindow (start/end in minutes since local midnight).
        timezone:
          type: string
          description: IANA timezone (e.g. America/Los_Angeles). Defaults to America/Los_Angeles if omitted.
        day:
          type: array
          items:
            $ref: '#/components/schemas/DayOfWeek'
          description: Optional list of days to which the windows apply. If omitted or empty, windows apply to every day.
      required:
      - windows
    CancelTransferNode:
      allOf:
      - $ref: '#/components/schemas/NodeBase'
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - cancel_transfer
            description: Type of the node - cancels the warm transfer and ends the transfer agent call
          speak_during_execution:
            type: boolean
            description: If true, will speak during execution
          instruction:
            $ref: '#/components/schemas/NodeInstruction'
            description: Describes what to say to user when cancelling the transfer. Only applicable when speak_during_execution is true.
    CancelTransferTool:
      type: object
      properties:
        type:
          type: string
          enum:
          - cancel_transfer
        name:
          type: string
          description: Name of the tool. Must be unique within all tools available to LLM at any given time (general tools + state tools + state transitions). Must be consisted of a-z, A-Z, 0-9, or contain
            underscores and dashes, with a maximum length of 64 (no space allowed).
        description:
          type: string
          description: Describes what the tool does. This tool is only available to transfer agents (agents with isTransferAgent set to true) in agentic warm transfer mode. When invoked, it cancels the
            transfer, returns the original caller to the main agent, and ends the transfer agent call.
        speak_during_execution:
          type: boolean
          description: If true, will speak during execution.
        execution_message_description:
          type: string
          description: Describes what to say to user when cancelling the transfer. Only applicable when speak_during_execution is true.
        execution_message_type:
          type: string
          enum:
          - prompt
          - static_text
          description: Type of execution message. "prompt" means the agent will use execution_message_description as a prompt to generate the message. "static_text" means the agent will speak the execution_message_description
            directly. Defaults to "prompt".
      required:
      - type
      - name
    ChCallQA:
      type: object
      required:
      - call_qa_id
      - call_id
      - cohort_id
      - call_start_time_ms
      - db_version
      - deprecated
      - score
      - passed
      - calibrated
      properties:
        call_qa_id:
          type: string
        call_id:
          type: string
        cohort_id:
          type: string
        call_start_time_ms:
          type: number
        db_version:
          type: number
        deprecated:
          type: boolean
        score:
          type: number
        passed:
          type: boolean
        word_count:
          type: number
        number_deletions:
          type: number
        number_insertions:
          type: number
        number_substitutions:
          type: number
        interruption_count:
          type: number
        llm_inference_count:
          type: number
        llm_hallucination_count:
          type: number
        user_positive_sentiment_count:
          type: number
        user_neutral_sentiment_count:
          type: number
        user_negative_sentiment_count:
          type: number
        agent_positive_sentiment_count:
          type: number
        agent_neutral_sentiment_count:
          type: number
        agent_negative_sentiment_count:
          type: number
        agent_natural_utterance_count:
          type: number
        rag_success_count:
          type: number
        rag_total_count:
          type: number
        transfer_call_success_count:
          type: number
        transfer_call_total_count:
          type: number
        transfer_call_avg_latency:
          type: number
        tool_call_average_latency:
          type: number
        tool_call_success_count:
          type: number
        tool_call_total_count:
          type: number
        tool_call_accurate_utterance_count:
          type: number
        tool_call_total_utterance_count:
          type: number
        transition_success_count:
          type: number
        transition_total_count:
          type: number
        agent_total_utterance_count:
          type: number
        user_total_utterance_count:
          type: number
        calibrated:
          type: boolean
    ChatAgentRequest:
      type: object
      properties:
        response_engine:
          $ref: '#/components/schemas/ResponseEngine'
          description: The Response Engine to attach to the agent. It is used to generate responses for the agent. You need to create a Response Engine first before attaching it to an agent.
          example:
            type: retell-llm
            llm_id: llm_234sdertfsdsfsdf
            version: 0
        agent_name:
          type: string
          example: Jarvis
          description: The name of the chat agent. Only used for your own reference.
          nullable: true
        auto_close_message:
          type: string
          example: Thank you for chatting. The conversation has ended.
          description: Message to display when the chat is automatically closed.
          nullable: true
        end_chat_after_silence_ms:
          type: integer
          example: 3600000
          description: If users stay silent for a period after agent speech, end the chat. The minimum value allowed is 120,000 ms (2 minutes). The maximum value allowed is 259,200,000 ms (72 hours). By
            default, this is set to 3,600,000 (1 hour).
          nullable: true
        language:
          type: string
          example: en-US
          enum:
          - en-US
          - en-IN
          - en-GB
          - en-AU
          - en-NZ
          - de-DE
          - es-ES
          - es-419
          - hi-IN
          - fr-FR
          - fr-CA
          - ja-JP
          - pt-PT
          - pt-BR
          - zh-CN
          - ru-RU
          - it-IT
          - ko-KR
          - nl-NL
          - nl-BE
          - pl-PL
          - tr-TR
          - th-TH
          - vi-VN
          - ro-RO
          - bg-BG
          - ca-ES
          - da-DK
          - fi-FI
          - el-GR
          - hu-HU
          - id-ID
          - no-NO
          - sk-SK
          - sv-SE
          - lt-LT
          - lv-LV
          - cs-CZ
          - multi
          description: Specifies what language (and dialect) the chat will operate in. For instance, selecting `en-GB` optimizes for British English. If unset, will use default value `en-US`. Select `multi`
            for multilingual support, currently this supports Spanish and English.
        webhook_url:
          type: string
          example: https://webhook-url-here
          description: The webhook for agent to listen to chat events. See what events it would get at [webhook doc](/features/webhook). If set, will binds webhook events for this agent to the specified
            url, and will ignore the account level webhook for this agent. Set to `null` to remove webhook url from this agent.
          nullable: true
        webhook_events:
          type: array
          items:
            type: string
            enum:
            - chat_started
            - chat_ended
            - chat_analyzed
          description: Which webhook events this agent should receive. If not set, defaults to chat_started, chat_ended, chat_analyzed.
          nullable: true
        webhook_timeout_ms:
          type: integer
          example: 10000
          description: The timeout for the webhook in milliseconds. If not set, default value of 10000 will apply.
        data_storage_setting:
          type: string
          enum:
          - everything
          - everything_except_pii
          - basic_attributes_only
          example: everything
          description: Controls what data is stored for this agent. "everything" stores all data including transcripts and recordings. "everything_except_pii" stores data but excludes PII when possible
            based on PII configuration. "basic_attributes_only" stores only basic metadata. If not set, defaults to "everything".
          nullable: true
        data_storage_retention_days:
          type: integer
          minimum: 1
          maximum: 730
          example: 30
          nullable: true
          description: Number of days to retain call/chat data before automatic deletion. Must be between 1 and 730 days. If not set, data is retained forever (no automatic deletion).
        opt_in_signed_url:
          type: boolean
          example: true
          description: Whether this agent opts in to signed url for public log. If not set, default value of false will apply.
        signed_url_expiration_ms:
          type: integer
          example: 86400000
          description: The expiration time for the signed url in milliseconds. Only applicable when opt_in_signed_url is true. If not set, default value of 86400000 (24 hours) will apply.
          nullable: true
        post_chat_analysis_data:
          type: array
          items:
            $ref: '#/components/schemas/AnalysisData'
          description: Post chat analysis data to extract from the chat. This data will augment the pre-defined variables extracted in the chat analysis. This will be available after the chat ends.
          nullable: true
        post_chat_analysis_model:
          $ref: '#/components/schemas/NullableLLMModel'
          example: gpt-4.1-mini
          description: The model to use for post chat analysis. Default to gpt-4.1-mini.
        analysis_successful_prompt:
          type: string
          example: The agent finished the task and the call was complete without being cutoff.
          description: The prompt to use for post call analysis to evaluate whether the call is successful. Set to null to use the default prompt.
          nullable: true
        analysis_summary_prompt:
          type: string
          example: Summarize the call in a few sentences.
          description: The prompt to use for post call analysis to summarize the call. Set to null to use the default prompt.
          nullable: true
        analysis_user_sentiment_prompt:
          type: string
          maxLength: 2000
          example: Evaluate the user's sentiment based on their tone and satisfaction level.
          description: Prompt to guide how the post chat analysis should evaluate user sentiment. When unset, the default system prompt is used. Set to null to use the default prompt.
          nullable: true
        pii_config:
          $ref: '#/components/schemas/PIIConfig'
          description: Configuration for PII scrubbing from transcripts and recordings.
        guardrail_config:
          $ref: '#/components/schemas/GuardrailConfig'
          description: Configuration for guardrail checks to detect and prevent prohibited topics in agent output and user input.
        is_public:
          type: boolean
          example: false
          description: Whether the agent is public. When set to true, the agent is available for public agent preview link.
          nullable: true
    ChatAgentResponse:
      allOf:
      - type: object
        required:
        - agent_id
        properties:
          agent_id:
            type: string
            example: oBeDLoLOeuAbiuaMFXRtDOLriTJ5tSxD
            description: Unique id of chat agent.
          version:
            type: integer
            example: 0
            description: The version of the chat agent.
          is_published:
            type: boolean
            example: false
            description: Whether the chat agent is published.
      - $ref: '#/components/schemas/ChatAgentRequest'
        required:
        - response_engine
      - type: object
        required:
        - last_modification_timestamp
        properties:
          last_modification_timestamp:
            type: integer
            example: 1703413636133
            description: Last modification timestamp (milliseconds since epoch). Either the time of last update or creation if no updates available.
    ChatAnalysis:
      type: object
      properties:
        chat_summary:
          type: string
          example: The agent messages user to ask question about his purchase inquiry. The agent asked several questions regarding his preference and asked if user would like to book an appointment. The
            user happily agreed and scheduled an appointment next Monday 10am.
          description: A high level summary of the chat.
        user_sentiment:
          type: string
          enum:
          - Negative
          - Positive
          - Neutral
          - Unknown
          example: Positive
          description: Sentiment of the user in the chat.
        chat_successful:
          type: boolean
          example: true
          description: Whether the agent seems to have a successful chat with the user, where the agent finishes the task, and the call was complete without being cutoff.
        custom_analysis_data:
          type: object
          description: Custom analysis data that was extracted based on the schema defined in chat agent post chat analysis data. Can be empty if nothing is specified.
    ChatResponse:
      type: object
      required:
      - chat_id
      - agent_id
      - chat_status
      properties:
        chat_id:
          type: string
          example: Jabr9TXYYJHfvl6Syypi88rdAHYHmcq6
          description: Unique id of the chat.
        agent_id:
          type: string
          example: oBeDLoLOeuAbiuaMFXRtDOLriTJ5tSxD
          description: Corresponding chat agent id of this chat.
        version:
          type: integer
          example: 1
          description: The version of the agent
          nullable: true
        retell_llm_dynamic_variables:
          type: object
          additionalProperties: {}
          example:
            customer_name: John Doe
          description: Add optional dynamic variables in key value pairs of string that injects into your Response Engine prompt and tool description. Only applicable for Response Engine.
        collected_dynamic_variables:
          type: object
          additionalProperties: {}
          example:
            last_node_name: Test node
          description: Dynamic variables collected from the chat. Only available after the chat ends.
        chat_status:
          type: string
          enum:
          - ongoing
          - ended
          - error
          example: ongoing
          description: 'Status of chat.


            - `ongoing`: Chat session is ongoing, chat agent can receive new message and generate response.

            - `ended`: Chat session has ended, and no longer can generate new response.

            - `error`: Chat encountered error.

            '
        chat_type:
          type: string
          enum:
          - api_chat
          - sms_chat
          example: api_chat
          description: Type of the chat
        custom_attributes:
          type: object
          additionalProperties:
            oneOf:
            - type: string
            - type: number
            - type: boolean
          description: Custom attributes for the chat
        start_timestamp:
          type: integer
          example: 1703302407333
          description: Begin timestamp (milliseconds since epoch) of the chat. Available after chat starts.
        end_timestamp:
          type: integer
          example: 1703302428855
          description: End timestamp (milliseconds since epoch) of the chat. Available after chat ends.
          nullable: true
        transcript:
          type: string
          example: 'Agent: hi how are you doing?

            User: Doing pretty well. How are you?

            Agent: That''s great to hear! I''m doing well too, thanks! What''s up?

            User: I don''t have anything in particular.

            Agent: Got it, just checking in!

            User: Alright. See you.

            Agent: have a nice day

            '
          description: Transcription of the chat.
        message_with_tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/MessageOrToolCall'
          description: Transcript of the chat weaved with tool call invocation and results.
        metadata:
          type: object
          description: An arbitrary object for storage purpose only. You can put anything here like your internal customer id associated with the chat. Not used for processing. You can later get this field
            from the chat object.
        chat_cost:
          type: object
          properties:
            product_costs:
              type: array
              description: List of products with their unit prices and costs in cents
              items:
                $ref: '#/components/schemas/ProductCost'
            combined_cost:
              type: number
              description: Combined cost of all individual costs in cents
              example: 70
        chat_analysis:
          description: Post chat analysis that includes information such as sentiment, status, summary, and custom defined data to extract. Available after chat ends. Subscribe to `chat_analyzed` webhook
            event type to receive it once ready.
          $ref: '#/components/schemas/ChatAnalysis'
    CheckAvailabilityCalTool:
      type: object
      properties:
        type:
          type: string
          enum:
          - check_availability_cal
        name:
          type: string
          description: Name of the tool. Must be unique within all tools available to LLM at any given time (general tools + state tools + state transitions). Must be consisted of a-z, A-Z, 0-9, or contain
            underscores and dashes, with a maximum length of 64 (no space allowed).
        description:
          type: string
          description: Describes what the tool does, sometimes can also include information about when to call the tool.
        cal_api_key:
          type: string
          description: Cal.com Api key that have access to the cal.com event you want to check availability for.
        event_type_id:
          oneOf:
          - type: number
          - type: string
          description: Cal.com event type id number for the cal.com event you want to check availability for. Can be a number or a dynamic variable in the format `{{variable_name}}` that will be resolved
            at runtime.
        timezone:
          type: string
          description: Timezone to be used when checking availability, must be in [IANA timezone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). Can also be a dynamic variable in
            the format `{{variable_name}}` that will be resolved at runtime. If not specified, will check if user specified timezone in call, and if not, will use the timezone of the Retell servers.
      required:
      - type
      - name
      - cal_api_key
      - event_type_id
    CohortAgent:
      type: object
      required:
      - cohort_id
      - agent_id
      properties:
        cohort_id:
          type: string
        agent_id:
          type: string
          minLength: 1
        agent_versions:
          type: array
          items:
            type: number
    CohortAggregatedResult:
      type: object
      required:
      - calls_analysed
      - timepoints
      - group_by
      - avg_score
      - call_resolution_rate
      - top_questions
      - top_recommendations
      - latency
      - llm_hallucination_analysis
      - rag_analysis
      - user_sentiment
      - agent_sentiment
      - transfer_success_rate
      - transfer_wait_time
      - wer
      - avg_interruption
      - tool_call_accuracy
      - transition_accuracy
      - natural_tonality_rate
      - custom_tool_call_latency
      - custom_tool_call_success_rate
      properties:
        calls_analysed:
          type: array
          items:
            type: number
        timepoints:
          type: array
          items:
            type: number
        group_by:
          type: string
          enum:
          - hour
          - day
          - week
          - month
        avg_score:
          $ref: '#/components/schemas/AverageMetric'
        call_resolution_rate:
          $ref: '#/components/schemas/AverageMetric'
        top_questions:
          type: array
          items:
            type: object
            required:
            - question_cluster_id
            - text
            - count
            - resolved
            properties:
              question_cluster_id:
                type: string
                description: ID of the question cluster
              text:
                type: string
                description: Text of the question
              resolved:
                type: number
                description: Number of resolved occurrences
              count:
                type: number
                description: Total count of occurrences
        top_recommendations:
          type: array
          items:
            type: object
            required:
            - text
            - count
            properties:
              text:
                type: string
              count:
                type: number
        latency:
          $ref: '#/components/schemas/AverageMetric'
        llm_hallucination_analysis:
          $ref: '#/components/schemas/AverageMetric'
        rag_analysis:
          $ref: '#/components/schemas/AverageMetric'
        user_sentiment:
          $ref: '#/components/schemas/BreakdownMetric'
        agent_sentiment:
          $ref: '#/components/schemas/BreakdownMetric'
        transfer_success_rate:
          $ref: '#/components/schemas/AverageMetric'
        transfer_wait_time:
          $ref: '#/components/schemas/AverageMetric'
        wer:
          $ref: '#/components/schemas/AverageMetric'
        avg_interruption:
          $ref: '#/components/schemas/AverageMetric'
        tool_call_accuracy:
          $ref: '#/components/schemas/AverageMetric'
        transition_accuracy:
          $ref: '#/components/schemas/AverageMetric'
        natural_tonality_rate:
          $ref: '#/components/schemas/AverageMetric'
        custom_tool_call_latency:
          $ref: '#/components/schemas/AverageMetric'
        custom_tool_call_success_rate:
          $ref: '#/components/schemas/AverageMetric'
    CohortFilter:
      type: object
      description: Call filter criteria to create QA.
      properties:
        agent:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/AgentFilter'
          description: Filter by agent(s), which are connected by "OR".
        start_timestamp:
          oneOf:
          - allOf:
            - $ref: '#/components/schemas/NumberFilter'
            - properties:
                op:
                  enum:
                  - ge
          - $ref: '#/components/schemas/RangeFilter'
          description: Start timestamp filter (epoch ms). Required.
        disconnection_reason:
          allOf:
          - $ref: '#/components/schemas/EnumFilter'
          - description: Filter calls by disconnection reason. If not specified, all disconnection reasons are included.
            properties:
              value:
                items:
                  $ref: '#/components/schemas/DisconnectionReason'
        duration_ms:
          oneOf:
          - $ref: '#/components/schemas/NumberFilter'
          - $ref: '#/components/schemas/RangeFilter'
          description: Filter calls by duration in milliseconds.
        custom_analysis_data:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldFilter'
          description: Filter calls by custom analysis data fields.
        agents:
          type: array
          minItems: 1
          maxItems: 200
          items:
            $ref: '#/components/schemas/AgentFilter'
          deprecated: true
          description: 'Deprecated: use ''agent'' instead. Either ''agent'' or ''agents'' must be provided.'
        date_range:
          $ref: '#/components/schemas/DateRange'
          deprecated: true
          description: 'Deprecated: use ''start_timestamp'' instead.'
        call_duration_filter:
          type: object
          required:
          - value
          - op
          properties:
            value:
              type: number
            op:
              type: string
              enum:
              - gt
              - gte
              - lt
              - lte
              - eq
              - ne
          deprecated: true
          description: 'Deprecated: use ''duration_ms'' instead.'
        post_call_analysis:
          type: object
          description: 'Deprecated: use ''custom_analysis_data'' instead. Custom analysis data filter criteria for filtering calls based on custom analysis data.'
          deprecated: true
        disconnection_reasons:
          type: array
          items:
            $ref: '#/components/schemas/DisconnectionReason'
          deprecated: true
          description: 'Deprecated: use ''disconnection_reason'' instead.'
    Cohort:
      type: object
      required:
      - cohort_id
      - name
      - cohort_filter
      - sampling_percentage
      - scoring_criteria
      - successful_criteria
      properties:
        cohort_id:
          type: string
        name:
          type: string
          maxLength: 100
        cohort_filter:
          $ref: '#/components/schemas/CohortFilter'
        sampling_percentage:
          type: number
          minimum: 0.01
          maximum: 100
        sampling_weekly_max:
          type: number
          minimum: 0
        scoring_criteria:
          $ref: '#/components/schemas/ScoringCriteria'
        successful_criteria:
          type: object
          required:
          - value
          - op
          properties:
            type:
              type: string
              enum:
              - number
              description: Type of the filter
            value:
              type: number
              minimum: 0
              maximum: 100
            op:
              type: string
              enum:
              - gt
              - gte
              - ge
    ComponentNode:
      allOf:
      - $ref: '#/components/schemas/NodeBaseCommon'
      - type: object
        required:
        - type
        - component_id
        - component_type
        - else_edge
        properties:
          type:
            type: string
            enum:
            - component
            description: Type of the node
          component_id:
            type: string
            description: The reference ID of the component
          component_type:
            type: string
            enum:
            - local
            - shared
            description: 'Type of component:

              - local: stored in conversation flow''s components array

              - shared: stored in stand-alone conversation-flow-component table

              '
          edges:
            type: array
            items:
              $ref: '#/components/schemas/NodeEdge'
            description: Array of edges for conditional transitions
          else_edge:
            $ref: '#/components/schemas/ElseEdge'
            description: Default edge when no other conditions are met
          finetune_transition_examples:
            type: array
            items:
              $ref: '#/components/schemas/NodeFinetuneTransitionExample'
    ConversationFlowComponentResponse:
      allOf:
      - $ref: '#/components/schemas/CreateConversationFlowComponentRequest'
      - type: object
        required:
        - conversation_flow_component_id
        - user_modified_timestamp
        properties:
          conversation_flow_component_id:
            type: string
            description: Unique identifier for the component
          user_modified_timestamp:
            type: integer
            format: int64
            description: Timestamp of last user modification
          linked_conversation_flow_ids:
            type: array
            items:
              type: string
            description: IDs of conversation flows linked to this shared component
    ConversationFlowComponent:
      type: object
      properties:
        name:
          type: string
          description: Name of the component
          example: Customer Information Collector
        tools:
          type: array
          items:
            $ref: '#/components/schemas/NodeTool'
          description: Tools available within the component
          example:
          - type: custom
            name: get_customer_info
            description: Get customer information from database
            tool_id: tool_001
            url: https://api.example.com/customer
            method: GET
          nullable: true
        mcps:
          type: array
          items:
            $ref: '#/components/schemas/MCP'
          description: A list of MCP server configurations to use for this component
          nullable: true
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/ConversationFlowNode'
          description: Nodes that make up the component
          example:
          - id: collect_info
            type: conversation
            instruction:
              type: prompt
              text: Ask the customer for their name and contact information.
        start_node_id:
          type: string
          description: ID of the starting node
          example: collect_info
          nullable: true
        begin_tag_display_position:
          type: object
          properties:
            x:
              type: number
              example: 100
            y:
              type: number
              example: 200
          description: Display position for the begin tag in the frontend
          nullable: true
    ConversationFlowNode:
      oneOf:
      - $ref: '#/components/schemas/ConversationNode'
      - $ref: '#/components/schemas/EndNode'
      - $ref: '#/components/schemas/FunctionNode'
      - $ref: '#/components/schemas/CodeNode'
      - $ref: '#/components/schemas/TransferCallNode'
      - $ref: '#/components/schemas/PressDigitNode'
      - $ref: '#/components/schemas/BranchNode'
      - $ref: '#/components/schemas/SmsNode'
      - $ref: '#/components/schemas/ExtractDynamicVariablesNode'
      - $ref: '#/components/schemas/AgentSwapNode'
      - $ref: '#/components/schemas/MCPNode'
      - $ref: '#/components/schemas/ComponentNode'
      - $ref: '#/components/schemas/BridgeTransferNode'
      - $ref: '#/components/schemas/CancelTransferNode'
    AgentOverrideConfig:
      type: object
      properties:
        interruption_sensitivity:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
        responsiveness:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
        voice_speed:
          type: number
          minimum: 0.5
          maximum: 2
          nullable: true
    ConversationFlowOverride:
      type: object
      description: Override properties for conversation flow configuration in agent override requests.
      properties:
        model_choice:
          $ref: '#/components/schemas/ModelChoice'
          description: The model choice for the conversation flow.
        model_temperature:
          type: number
          minimum: 0
          maximum: 1
          example: 0.7
          description: Controls the randomness of the model's responses. Lower values make responses more deterministic.
          nullable: true
        tool_call_strict_mode:
          type: boolean
          example: true
          description: Whether to use strict mode for tool calls. Only applicable when using certain supported models.
          nullable: true
        knowledge_base_ids:
          type: array
          items:
            type: string
          example:
          - kb_001
          - kb_002
          description: Knowledge base IDs for RAG (Retrieval-Augmented Generation).
          nullable: true
        kb_config:
          type: object
          $ref: '#/components/schemas/KBConfig'
          description: Knowledge base configuration for RAG retrieval.
        start_speaker:
          type: string
          enum:
          - user
          - agent
          example: agent
          description: Who starts the conversation - user or agent.
        begin_after_user_silence_ms:
          type: integer
          example: 2000
          description: If set, the AI will begin the conversation after waiting for the user for the duration (in milliseconds) specified by this attribute. This only applies if the agent is configured
            to wait for the user to speak first. If not set, the agent will wait indefinitely for the user to speak.
          nullable: true
    ConversationFlowResponse:
      allOf:
      - $ref: '#/components/schemas/ConversationFlow'
      - type: object
        required:
        - conversation_flow_id
        - version
        properties:
          conversation_flow_id:
            type: string
            description: Unique identifier for the conversation flow
          version:
            type: integer
            description: Version number of the conversation flow
    ConversationFlow:
      allOf:
      - $ref: '#/components/schemas/ConversationFlowOverride'
      - type: object
        properties:
          global_prompt:
            type: string
            example: You are a helpful customer service agent.
            description: Global prompt used in every node of the conversation flow.
            nullable: true
          tools:
            type: array
            items:
              $ref: '#/components/schemas/NodeTool'
            description: Tools available in the conversation flow.
            example:
            - type: custom
              name: get_customer_info
              description: Get customer information from database
              tool_id: tool_001
              url: https://api.example.com/customer
              method: GET
            nullable: true
          components:
            type: array
            items:
              $ref: '#/components/schemas/CreateConversationFlowComponentRequest'
            description: Local components embedded within the conversation flow.
            nullable: true
          start_node_id:
            type: string
            example: start
            description: ID of the start node in the conversation flow.
            nullable: true
          default_dynamic_variables:
            type: object
            additionalProperties:
              type: string
            example:
              company_name: Retell Inc
              support_hours: 9 AM - 5 PM
            description: Default dynamic variables that can be referenced throughout the conversation flow.
            nullable: true
          begin_tag_display_position:
            type: object
            properties:
              x:
                type: number
                example: 100
              y:
                type: number
                example: 200
            description: Display position for the begin tag in the frontend.
            nullable: true
          mcps:
            type: array
            items:
              $ref: '#/components/schemas/MCP'
            description: A list of MCP server configurations to use for this conversation flow.
            nullable: true
          is_transfer_llm:
            type: boolean
            example: false
            description: Whether this conversation flow is used for transfer LLM.
            nullable: true
          nodes:
            type: array
            items:
              $ref: '#/components/schemas/ConversationFlowNode'
            description: Array of nodes in the conversation flow.
            example:
            - id: start
              type: conversation
              instruction:
                type: prompt
                text: Greet the customer and ask how you can help them.
              edges:
              - id: edge_1
                transition_condition:
                  type: prompt
                  prompt: Customer wants to book appointment
                destination_node_id: book_appointment
    ConversationNode:
      allOf:
      - $ref: '#/components/schemas/NodeBase'
      - $ref: '#/components/schemas/AgentOverrideConfig'
      - type: object
        required:
        - type
        - instruction
        properties:
          type:
            type: string
            enum:
            - conversation
            description: Type of the node
          instruction:
            $ref: '#/components/schemas/NodeInstruction'
          skip_response_edge:
            $ref: '#/components/schemas/SkipResponseEdge'
          always_edge:
            $ref: '#/components/schemas/AlwaysEdge'
          edges:
            type: array
            items:
              $ref: '#/components/schemas/NodeEdge'
          finetune_conversation_examples:
            type: array
            items:
              $ref: '#/components/schemas/NodeFinetuneConversationExample'
          finetune_transition_examples:
            type: array
            items:
              $ref: '#/components/schemas/NodeFinetuneTransitionExample'
          knowledge_base_ids:
            type: array
            items:
              type: string
            example:
            - kb_001
            - kb_002
            description: Knowledge base IDs for RAG (Retrieval-Augmented Generation).
            nullable: true
          tool_ids:
            type: array
            items:
              type: string
            description: The tool ids of the tools defined in main conversation flow or component that can be used in this conversation node.
            nullable: true
          tools:
            type: array
            items:
              $ref: '#/components/schemas/Tool'
            description: The tools owned by this conversation node. This includes other tool types like transfer_call, agent_swap, etc.
            nullable: true
    CpsConfig:
      type: object
      description: Calls Per Second (CPS) configuration for different telephony providers
      properties:
        twilio:
          type: integer
          nullable: true
          description: CPS limit for Twilio provider (1-5)
          example: 3
        telnyx:
          type: integer
          nullable: true
          description: CPS limit for Telnyx provider (1-16)
          example: 10
        custom:
          type: integer
          nullable: true
          description: CPS limit for custom provider 1 to concurrency / 20
          example: 2
    CreateConversationFlowComponentRequest:
      allOf:
      - $ref: '#/components/schemas/ConversationFlowComponent'
      - type: object
        required:
        - name
        - nodes
    CreateConversationFlowRequest:
      allOf:
      - $ref: '#/components/schemas/ConversationFlow'
      - type: object
        required:
        - start_speaker
        - model_choice
        - nodes
    CreateOrganizationRequest:
      oneOf:
      - $ref: '#/components/schemas/CreateOrganizationRequestNew'
      - $ref: '#/components/schemas/CreateOrganizationRequestOld'
    CreateOrganizationRequestNew:
      type: object
      required:
      - org_name
      properties:
        org_name:
          type: string
          description: Name of the organization
          example: My Organization
          minLength: 1
          maxLength: 100
    CreateOrganizationRequestOld:
      type: object
      required:
      - orgName
      properties:
        orgName:
          type: string
          description: Name of the organization
          example: My Organization
          minLength: 1
          maxLength: 100
    CustomMetricCriteria:
      type: object
      required:
      - name
      - description
      - score_weight
      properties:
        name:
          type: string
[...]
