openapi: 3.0.1
info:
  title: Serper API
  description: |
    Google Search Results API. Serper provides fast, reliable access to Google search results
    including web search, news, images, videos, places, shopping, scholar, patents, and autocomplete.
  version: '1.0.0'
  contact:
    name: Serper
    url: https://serper.dev
servers:
  - url: https://google.serper.dev
    description: Production server
components:
  schemas:
    BaseSearchRequest:
      type: object
      required:
        - q
      properties:
        q:
          type: string
          description: Search query string.
          example: "apple inc"
        gl:
          type: string
          description: Country code for localized results (ISO 3166-1 alpha-2).
          example: "us"
        hl:
          type: string
          description: Language code for the interface language (ISO 639-1).
          example: "en"
        num:
          type: integer
          description: Number of results to return.
          default: 10
          minimum: 1
          maximum: 100
        page:
          type: integer
          description: Page number for pagination.
          default: 1
          minimum: 1
        autocorrect:
          type: boolean
          description: Whether to autocorrect the query spelling.
          default: true
    SearchRequest:
      allOf:
        - $ref: '#/components/schemas/BaseSearchRequest'
        - type: object
          properties:
            type:
              type: string
              description: Type of search to perform.
              enum:
                - search
                - news
                - images
                - videos
                - places
                - maps
                - shopping
                - scholar
                - patents
    NewsSearchRequest:
      allOf:
        - $ref: '#/components/schemas/BaseSearchRequest'
    ImageSearchRequest:
      allOf:
        - $ref: '#/components/schemas/BaseSearchRequest'
    VideoSearchRequest:
      allOf:
        - $ref: '#/components/schemas/BaseSearchRequest'
    PlacesSearchRequest:
      allOf:
        - $ref: '#/components/schemas/BaseSearchRequest'
    ShoppingSearchRequest:
      allOf:
        - $ref: '#/components/schemas/BaseSearchRequest'
    ScholarSearchRequest:
      allOf:
        - $ref: '#/components/schemas/BaseSearchRequest'
        - type: object
          properties:
            cites:
              type: string
              description: Cluster ID for finding articles that cite a specific paper.
              example: "5765689389901880758"
            as_ylo:
              type: string
              description: Start year for filtering results (from year).
              example: "2020"
            as_yhi:
              type: string
              description: End year for filtering results (to year).
              example: "2024"
    PatentSearchRequest:
      allOf:
        - $ref: '#/components/schemas/BaseSearchRequest'
    AutocompleteRequest:
      type: object
      required:
        - q
      properties:
        q:
          type: string
          description: Partial query string for autocomplete suggestions.
          example: "apple"
        gl:
          type: string
          description: Country code for localized suggestions (ISO 3166-1 alpha-2).
          example: "us"
        hl:
          type: string
          description: Language code for the interface language (ISO 639-1).
          example: "en"
    SearchParameters:
      type: object
      description: Echo of the search parameters used for the request.
      properties:
        q:
          type: string
          description: The query string.
        gl:
          type: string
          description: Country code used.
        hl:
          type: string
          description: Language code used.
        num:
          type: integer
          description: Number of results requested.
        page:
          type: integer
          description: Page number.
        autocorrect:
          type: boolean
          description: Whether autocorrect was enabled.
        type:
          type: string
          description: The type of search performed.
    OrganicResult:
      type: object
      description: A single organic search result.
      properties:
        title:
          type: string
          description: Title of the search result.
        link:
          type: string
          description: URL of the search result.
          format: uri
        snippet:
          type: string
          description: Text snippet from the page.
        position:
          type: integer
          description: Position of the result in the search results.
        date:
          type: string
          description: Date associated with the result, if available.
        sitelinks:
          type: array
          description: Sitelinks associated with the result, if available.
          items:
            $ref: '#/components/schemas/Sitelink'
    Sitelink:
      type: object
      description: A sitelink associated with a search result.
      properties:
        title:
          type: string
          description: Title of the sitelink.
        link:
          type: string
          description: URL of the sitelink.
          format: uri
    KnowledgeGraph:
      type: object
      description: Knowledge graph panel data, if available.
      properties:
        title:
          type: string
          description: Title of the knowledge graph entity.
        type:
          type: string
          description: Type/category of the entity.
        description:
          type: string
          description: Short description of the entity.
        descriptionSource:
          type: string
          description: Source of the description.
        descriptionLink:
          type: string
          description: Link to the description source.
          format: uri
        imageUrl:
          type: string
          description: URL of the entity image.
          format: uri
        website:
          type: string
          description: Official website of the entity.
          format: uri
        attributes:
          type: object
          description: Additional attributes as key-value pairs.
          additionalProperties:
            type: string
    AnswerBox:
      type: object
      description: Featured answer box data, if available.
      properties:
        title:
          type: string
          description: Title of the answer box.
        answer:
          type: string
          description: Direct answer text.
        snippet:
          type: string
          description: Snippet text from the answer source.
        snippetHighlighted:
          type: array
          description: Highlighted words in the snippet.
          items:
            type: string
        link:
          type: string
          description: Source URL for the answer.
          format: uri
    PeopleAlsoAskItem:
      type: object
      description: A single People Also Ask question.
      properties:
        question:
          type: string
          description: The question text.
        snippet:
          type: string
          description: Answer snippet for the question.
        title:
          type: string
          description: Title of the source page.
        link:
          type: string
          description: URL of the source page.
          format: uri
    RelatedSearch:
      type: object
      description: A related search suggestion.
      properties:
        query:
          type: string
          description: The related search query.
    NewsResult:
      type: object
      description: A single news search result.
      properties:
        title:
          type: string
          description: Title of the news article.
        link:
          type: string
          description: URL of the news article.
          format: uri
        snippet:
          type: string
          description: Text snippet from the article.
        date:
          type: string
          description: Publication date of the article.
        source:
          type: string
          description: News source name.
        imageUrl:
          type: string
          description: URL of the article thumbnail image.
          format: uri
        position:
          type: integer
          description: Position of the result.
    ImageResult:
      type: object
      description: A single image search result.
      properties:
        title:
          type: string
          description: Title/alt text of the image.
        imageUrl:
          type: string
          description: URL of the full-size image.
          format: uri
        imageWidth:
          type: integer
          description: Width of the image in pixels.
        imageHeight:
          type: integer
          description: Height of the image in pixels.
        thumbnailUrl:
          type: string
          description: URL of the thumbnail image.
          format: uri
        source:
          type: string
          description: Source page title.
        domain:
          type: string
          description: Domain of the source page.
        link:
          type: string
          description: URL of the page containing the image.
          format: uri
        googleUrl:
          type: string
          description: Google image viewer URL.
          format: uri
        position:
          type: integer
          description: Position of the result.
    VideoResult:
      type: object
      description: A single video search result.
      properties:
        title:
          type: string
          description: Title of the video.
        link:
          type: string
          description: URL of the video.
          format: uri
        snippet:
          type: string
          description: Description or snippet for the video.
        date:
          type: string
          description: Upload or publish date.
        imageUrl:
          type: string
          description: URL of the video thumbnail.
          format: uri
        duration:
          type: string
          description: Duration of the video (e.g., "10:30").
        source:
          type: string
          description: Video platform or source.
        channel:
          type: string
          description: Channel name.
        position:
          type: integer
          description: Position of the result.
    PlaceResult:
      type: object
      description: A single places/maps search result.
      properties:
        title:
          type: string
          description: Name of the place.
        address:
          type: string
          description: Address of the place.
        latitude:
          type: number
          format: double
          description: Latitude coordinate.
        longitude:
          type: number
          format: double
          description: Longitude coordinate.
        rating:
          type: number
          format: double
          description: Average rating (out of 5).
        ratingCount:
          type: integer
          description: Number of ratings/reviews.
        cid:
          type: string
          description: Google CID (customer ID) for the place.
        category:
          type: string
          description: Category of the place.
        phoneNumber:
          type: string
          description: Phone number of the place.
        website:
          type: string
          description: Website URL of the place.
          format: uri
        position:
          type: integer
          description: Position of the result.
    ShoppingResult:
      type: object
      description: A single shopping search result.
      properties:
        title:
          type: string
          description: Product title.
        source:
          type: string
          description: Merchant/store name.
        link:
          type: string
          description: URL of the product page.
          format: uri
        price:
          type: string
          description: Price of the product (formatted string, e.g., "$9.99").
        imageUrl:
          type: string
          description: URL of the product image.
          format: uri
        delivery:
          type: string
          description: Delivery information.
        rating:
          type: number
          format: double
          description: Product rating.
        ratingCount:
          type: integer
          description: Number of product ratings.
        offers:
          type: string
          description: Special offers or pricing details.
        productId:
          type: string
          description: Google product ID.
        position:
          type: integer
          description: Position of the result.
    ScholarResult:
      type: object
      description: A single Google Scholar search result.
      properties:
        title:
          type: string
          description: Title of the academic paper.
        link:
          type: string
          description: URL of the paper.
          format: uri
        snippet:
          type: string
          description: Abstract or snippet from the paper.
        year:
          type: string
          description: Publication year.
        publicationInfo:
          type: string
          description: Publication venue and author information.
        citedBy:
          $ref: '#/components/schemas/CitedBy'
        position:
          type: integer
          description: Position of the result.
    CitedBy:
      type: object
      description: Citation information for a scholar result.
      properties:
        total:
          type: integer
          description: Total number of citations.
        link:
          type: string
          description: Link to see all citing articles.
          format: uri
    PatentResult:
      type: object
      description: A single patent search result.
      properties:
        title:
          type: string
          description: Title of the patent.
        link:
          type: string
          description: URL of the patent page.
          format: uri
        snippet:
          type: string
          description: Abstract or snippet from the patent.
        patentId:
          type: string
          description: Patent identifier (e.g., "US10123456B2").
        filingDate:
          type: string
          description: Filing date of the patent.
        grantDate:
          type: string
          description: Grant date of the patent.
        inventor:
          type: string
          description: Inventor name(s).
        assignee:
          type: string
          description: Patent assignee/owner.
        position:
          type: integer
          description: Position of the result.
    AutocompleteSuggestion:
      type: object
      description: A single autocomplete suggestion.
      properties:
        value:
          type: string
          description: The autocomplete suggestion text.
    SearchResponse:
      type: object
      description: Response from a Google web search query.
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        organic:
          type: array
          description: List of organic search results.
          items:
            $ref: '#/components/schemas/OrganicResult'
        knowledgeGraph:
          $ref: '#/components/schemas/KnowledgeGraph'
        answerBox:
          $ref: '#/components/schemas/AnswerBox'
        peopleAlsoAsk:
          type: array
          description: List of People Also Ask questions.
          items:
            $ref: '#/components/schemas/PeopleAlsoAskItem'
        relatedSearches:
          type: array
          description: List of related search suggestions.
          items:
            $ref: '#/components/schemas/RelatedSearch'
        topStories:
          type: array
          description: Top stories related to the search, if available.
          items:
            $ref: '#/components/schemas/NewsResult'
        credits:
          type: integer
          description: Number of API credits consumed by this request.
    NewsSearchResponse:
      type: object
      description: Response from a news search query.
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        news:
          type: array
          description: List of news results.
          items:
            $ref: '#/components/schemas/NewsResult'
        credits:
          type: integer
          description: Number of API credits consumed by this request.
    ImageSearchResponse:
      type: object
      description: Response from an image search query.
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        images:
          type: array
          description: List of image results.
          items:
            $ref: '#/components/schemas/ImageResult'
        credits:
          type: integer
          description: Number of API credits consumed by this request.
    VideoSearchResponse:
      type: object
      description: Response from a video search query.
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        videos:
          type: array
          description: List of video results.
          items:
            $ref: '#/components/schemas/VideoResult'
        credits:
          type: integer
          description: Number of API credits consumed by this request.
    PlacesSearchResponse:
      type: object
      description: Response from a places search query.
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        places:
          type: array
          description: List of place results.
          items:
            $ref: '#/components/schemas/PlaceResult'
        credits:
          type: integer
          description: Number of API credits consumed by this request.
    ShoppingSearchResponse:
      type: object
      description: Response from a shopping search query.
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        shopping:
          type: array
          description: List of shopping results.
          items:
            $ref: '#/components/schemas/ShoppingResult'
        credits:
          type: integer
          description: Number of API credits consumed by this request.
    ScholarSearchResponse:
      type: object
      description: Response from a Google Scholar search query.
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        organic:
          type: array
          description: List of scholar/academic results.
          items:
            $ref: '#/components/schemas/ScholarResult'
        credits:
          type: integer
          description: Number of API credits consumed by this request.
    PatentSearchResponse:
      type: object
      description: Response from a patent search query.
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        organic:
          type: array
          description: List of patent results.
          items:
            $ref: '#/components/schemas/PatentResult'
        credits:
          type: integer
          description: Number of API credits consumed by this request.
    AutocompleteResponse:
      type: object
      description: Response from an autocomplete query.
      properties:
        searchParameters:
          $ref: '#/components/schemas/SearchParameters'
        suggestions:
          type: array
          description: List of autocomplete suggestions.
          items:
            $ref: '#/components/schemas/AutocompleteSuggestion'
        credits:
          type: integer
          description: Number of API credits consumed by this request.
paths:
  /search:
    post:
      operationId: search
      summary: Google Search
      description: |
        Perform a Google web search. Returns organic results, knowledge graph, answer box,
        people also ask, and related searches.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Successful search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
  /news:
    post:
      operationId: newsSearch
      summary: News Search
      description: Search Google News for recent articles and stories.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsSearchRequest'
      responses:
        '200':
          description: Successful news search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsSearchResponse'
  /images:
    post:
      operationId: imageSearch
      summary: Image Search
      description: Search Google Images for image results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSearchRequest'
      responses:
        '200':
          description: Successful image search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSearchResponse'
  /videos:
    post:
      operationId: videoSearch
      summary: Video Search
      description: Search Google for video results from YouTube and other video platforms.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoSearchRequest'
      responses:
        '200':
          description: Successful video search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchResponse'
  /places:
    post:
      operationId: placesSearch
      summary: Places Search
      description: Search Google Maps/Places for local businesses and points of interest.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacesSearchRequest'
      responses:
        '200':
          description: Successful places search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesSearchResponse'
  /shopping:
    post:
      operationId: shoppingSearch
      summary: Shopping Search
      description: Search Google Shopping for product listings and prices.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingSearchRequest'
      responses:
        '200':
          description: Successful shopping search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingSearchResponse'
  /scholar:
    post:
      operationId: scholarSearch
      summary: Scholar Search
      description: |
        Search Google Scholar for academic papers, articles, theses, and citations.
        Supports filtering by year range and finding papers that cite a specific work.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScholarSearchRequest'
      responses:
        '200':
          description: Successful scholar search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScholarSearchResponse'
  /patents:
    post:
      operationId: patentSearch
      summary: Patent Search
      description: Search Google Patents for patent documents and applications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentSearchRequest'
      responses:
        '200':
          description: Successful patent search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentSearchResponse'
  /autocomplete:
    post:
      operationId: autocomplete
      summary: Autocomplete
      description: Get Google autocomplete suggestions for a partial query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutocompleteRequest'
      responses:
        '200':
          description: Successful autocomplete response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteResponse'
