{
  "openapi": "3.0.1",
  "info": {
    "title": "Shotstack",
    "version": "v1",
    "description": "Shotstack is a video, image and audio editing service that allows for the automated generation of videos, images and audio using JSON and a RESTful API.\n\nYou arrange and configure an edit and POST it to the API which will render your media and provide a file location when complete.\n\nFor more details visit [shotstack.io](https://shotstack.io) or checkout our [getting started](https://shotstack.io/docs/guide/) documentation.\n\nThere are three API's, one for editing and generating assets (Edit API), one for managing hosted assets (Serve API) and one for ingesting and transforming source assets (Ingest API).\n\nEach API has it's own base URL and collection of endpoints. Each API uses the same set of API keys.\n\n**[Edit API](#shotstack-edit)** - [https://api.shotstack.io/edit/{version}](#)<br>\nEdit videos, images and audio assets in the cloud using a simple JSON schema and templates.\n\n**[Serve API](#shotstack-serve)** - [https://api.shotstack.io/serve/{version}](#)<br>\nInspect and manage the hosting of assets generated by the Edit and Ingest APIs.\n\n**[Ingest API](#shotstack-ingest)** - [https://api.shotstack.io/ingest/{version}](#)<br>\nIngest (upload, store and transform) source footage, images, audio and fonts to be used by the Edit API.\n\n**[Create API](#shotstack-create)** - [https://api.shotstack.io/create/{version}](#)<br>\nGenerate images, videos, voice overs and text using built in and third party generative AI providers.\n"
  },
  "servers": [
    {
      "url": "https://api.shotstack.io"
    }
  ],
  "tags": [
    {
      "name": "Edit",
      "description": "The Edit API is used to edit videos, images and audio files in the cloud using a simple to understand JSON schema. Compose an edit using tracks, clips and assets and add transitions, filters, overlays and text. Finally send the JSON to the Edit API to be rendered."
    },
    {
      "name": "Serve",
      "description": "Assets generated by the Edit API or uploaded via the Ingest API are sent to the Serve API. The Serve API includes a simple hosting service with a CDN or you can send assets to third party services like AWS S3 or Mux. The Serve API includes endpoints to look up assets, where they are hosted and their status."
    },
    {
      "name": "Ingest",
      "description": "The Ingest API lets you upload and store your source footage and user generated content in close proximity to the Edit API. Instead of hosting your own assets or building your own uploader you can use the Ingest API. The Ingest API provides endpoints to fetch and upload files and check their status and URLs. All ingested files are available directly from an S3 bucket URL or via CDN (Serve API)."
    },
    {
      "name": "Create",
      "description": "The Create API generates assets and media files using Generative AI services like text-to-speech and text-to-avatar. A native text-to-speech service is included as well as integrations with third party providers. Third party services include [HeyGen](https://www.heygen.com/) text-to-avatar, [ElevenLabs](https://elevenlabs.io/) text-to-speech and [D-ID](https://www.d-id.com/) text-to-avatar. Assets can be used with the Edit API or downloaded and used independently."
    }
  ],
  "paths": {
    "/edit/v1/render": {
      "post": {
        "responses": {
          "201": {
            "description": "The queued render details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          }
        },
        "description": "Queue and render the contents of an [Edit](#tocs_edit) as a video, image or audio file.\n\n**Rendering Process:**\n1. **Validation**: The edit JSON is validated\n2. **Download**: All assets are downloaded and cached  \n3. **Preprocessing**: Video assets are automatically processed to fix compatibility issues\n4. **Rendering**: The timeline is rendered using the processed assets\n5. **Output**: The final media file is generated and stored\n\n**Video Preprocessing:**\nVideo assets undergo automatic preprocessing to ensure compatibility. You can force \npreprocessing by setting `\"transcode\": true` on video assets. See [Preprocessing](#preprocessing) \nfor more details.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/edit/{version}</a>\n",
        "summary": "Render Asset",
        "operationId": "postRender",
        "requestBody": {
          "description": "The video, image or audio edit specified using JSON.",
          "content": {
            "application/json": {
              "example": {
                "timeline": {
                  "soundtrack": {
                    "src": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/music.mp3",
                    "effect": "fadeInFadeOut"
                  },
                  "background": "#000000",
                  "tracks": [
                    {
                      "clips": [
                        {
                          "asset": {
                            "type": "title",
                            "text": "Hello World",
                            "style": "minimal"
                          },
                          "start": 0,
                          "length": 4,
                          "transition": {
                            "in": "fade",
                            "out": "fade"
                          },
                          "effect": "slideRight"
                        },
                        {
                          "asset": {
                            "type": "image",
                            "src": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/my-image.jpg"
                          },
                          "start": 3,
                          "length": 4,
                          "effect": "zoomIn",
                          "filter": "greyscale"
                        }
                      ]
                    },
                    {
                      "clips": [
                        {
                          "asset": {
                            "type": "video",
                            "src": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/my-clip-1.mp4",
                            "trim": 10.5,
                            "transcode": true
                          },
                          "start": 7,
                          "length": 4.5
                        },
                        {
                          "asset": {
                            "type": "video",
                            "src": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/my-clip-2.mp4",
                            "volume": 0.5
                          },
                          "start": 11.5,
                          "length": 5,
                          "transition": {
                            "out": "wipeLeft"
                          }
                        }
                      ]
                    }
                  ]
                },
                "output": {
                  "format": "mp4",
                  "resolution": "sd"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Edit"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Edit"
        ]
      }
    },
    "/edit/v1/render/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "The render status details",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "OK",
                  "response": {
                    "status": "rendering",
                    "id": "2abd5c11-0f3d-4c6d-ba20-235fc9b8e8b7",
                    "owner": "5ca6hu7s9k",
                    "url": "https://shotstack-api-v1-output.s3-ap-southeast-2.amazonaws.com/5ca6hu7s9k/2abd5c11-0f3d-4c6d-ba20-235fc9b8e8b7.mp4",
                    "data": {},
                    "created": "2020-10-30T09:42:29.446Z",
                    "updated": "2020-10-30T09:42:39.168Z"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RenderResponse"
                }
              }
            }
          }
        },
        "description": "Get the rendering status, temporary asset url and details of a render by ID.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/edit/{version}</a>\n",
        "operationId": "getRender",
        "summary": "Get Render Status",
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Edit"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type": "string"
          },
          "description": "The id of the timeline render task in UUID format"
        },
        {
          "in": "query",
          "name": "data",
          "schema": {
            "type": "boolean"
          },
          "description": "Include the data parameter in the response. The data parameter includes the original timeline, output and other settings sent to the API.<br><br><b>Note:</b> the default is currently `true`, this is deprecated and the default will soon be `false`. If you rely on the data being returned in the response you should explicitly set the parameter to `true`.",
          "example": false
        },
        {
          "in": "query",
          "name": "merged",
          "schema": {
            "type": "boolean"
          },
          "description": "Used when data is set to true, it will show the [merge fields](#tocs_mergefield) merged in to the data response.",
          "example": false
        }
      ]
    },
    "/edit/v1/templates": {
      "post": {
        "description": "Save an [Edit](#tocs_edit) as a re-usable template. Templates can be retrieved and modified in your application\nbefore being rendered. [Merge fields](#tocs_mergefield) can be also used to merge data in to a template and\n[render](#render-template) it in a single request.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/edit/{version}</a>\n",
        "summary": "Create Template",
        "operationId": "postTemplate",
        "requestBody": {
          "description": "Create a template with a name and [Edit](#tocs_edit).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Template"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The saved template status including the id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Edit"
        ]
      },
      "get": {
        "description": "Retrieve a list of templates stored against a users account and stage.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/edit/{version}</a>\n",
        "summary": "List Templates",
        "operationId": "getTemplates",
        "responses": {
          "200": {
            "description": "The list of templates stored against a users account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Edit"
        ]
      }
    },
    "/edit/v1/templates/{id}": {
      "get": {
        "description": "Retrieve a template by template id.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/edit/{version}</a>\n",
        "summary": "Retrieve Template",
        "operationId": "getTemplate",
        "responses": {
          "200": {
            "description": "The template details including the [Edit](#tocs_edit)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDataResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Edit"
        ]
      },
      "put": {
        "description": "Update an existing template by template id.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/edit/{version}</a>\n",
        "summary": "Update Template",
        "operationId": "putTemplate",
        "requestBody": {
          "description": "Update an individual templates name and [Edit](#tocs_edit). Both template name and template must be provided. If the template parameter is omitted a blank template will be saved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Template"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a templates name and [Edit](#tocs_edit)",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "OK",
                  "response": {
                    "message": "Template Successfully Updated",
                    "id": "f5493c17-d01f-445c-bb49-535fae65f219"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Edit"
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "An empty response signifying the template has been deleted"
          }
        },
        "description": "Delete a template by its template id.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/edit/{version}</a>\n",
        "operationId": "deleteTemplate",
        "summary": "Delete Template",
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Edit"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type": "string"
          },
          "description": "The id of the template in UUID format"
        }
      ]
    },
    "/edit/v1/templates/render": {
      "post": {
        "description": "Render an asset from a template id and optional merge fields. Merge fields can be used to replace placeholder\nvariables within the [Edit](#tocs_edit).\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/edit/{version}</a>\n",
        "summary": "Render Template",
        "operationId": "postTemplateRender",
        "requestBody": {
          "description": "Render a template by template id.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateRender"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The queued status including the render id. Check the status of the render using the id and the  [render status](#get-render-status) endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Edit"
        ]
      }
    },
    "/edit/v1/probe/{url}": {
      "get": {
        "responses": {
          "200": {
            "description": "FFprobe response formatted as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbeResponse"
                }
              }
            }
          }
        },
        "description": "Inspects any media asset (image, video, audio) on the internet using a hosted version\nof [FFprobe](https://ffmpeg.org/ffprobe.html). The probe endpoint returns useful information\nabout an asset such as width, height, duration, rotation, framerate, etc...\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/edit/{version}</a>\n",
        "operationId": "probe",
        "summary": "Inspect Media",
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Edit"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "url",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The URL of the media to inspect, must be **URL encoded**."
        }
      ]
    },
    "/serve/v1/assets/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Get asset by asset id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          }
        },
        "description": "The Serve API is used to interact with, and delete hosted assets including videos, images, audio files, \nthumbnails and poster images. Use this endpoint to fetch an asset by asset id. Note that an asset id is unique\nfor each asset and different from the render id.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/serve/{version}</a>\n",
        "operationId": "getAsset",
        "summary": "Get Asset",
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Serve"
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "An empty response signifying the asset has been deleted"
          }
        },
        "description": "Delete an asset by its asset id. If a render creates multiple assets, such as thumbnail and poster images,\neach asset must be deleted individually by the asset id.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/serve/{version}</a>\n",
        "operationId": "deleteAsset",
        "summary": "Delete Asset",
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Serve"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type": "string"
          },
          "description": "The id of the asset in UUID format"
        }
      ]
    },
    "/serve/v1/assets/render/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Get one or more assets by render id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetRenderResponse"
                }
              }
            }
          }
        },
        "description": "A render may generate more than one file, such as a video, thumbnail and poster image. When the assets are\ncreated the only known id is the render id returned by the original [render request](#render-video), status \nrequest or webhook. This endpoint lets you look up one or more assets by the render id.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/serve/{version}</a>\n",
        "operationId": "getAssetByRenderId",
        "summary": "Get Asset by Render ID",
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Serve"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type": "string"
          },
          "description": "The render id associated with the asset in UUID format"
        }
      ]
    },
    "/serve/v1/assets": {
      "post": {
        "description": "Transfer a file from any publicly available URL to one or more Serve API\n[destinations](#tocs_destinations).\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/serve/{version}</a>\n",
        "summary": "Transfer Asset",
        "operationId": "postServeAsset",
        "requestBody": {
          "description": "Fetch an asset from a URL and send it to one or more destinations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Transfer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The transfer request details and status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Serve"
        ]
      }
    },
    "/ingest/v1/sources": {
      "post": {
        "responses": {
          "201": {
            "description": "The queued source file details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedSourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "A list of validation and other errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestErrorResponse"
                }
              }
            }
          }
        },
        "description": "Queue a source file to be fetched from a URL and stored by Shotstack. Source files can be videos, images, audio\nfiles and fonts. Once ingested, new [output renditions](#tocs_outputs) can be created from the source file.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/ingest/{version}</a>\n",
        "summary": "Fetch Source",
        "operationId": "postSource",
        "requestBody": {
          "description": "Ingest a video, image, audio or font file from the provided URL. Optionally provide a list of output renditions.",
          "content": {
            "application/json": {
              "example": {
                "url": "https://github.com/shotstack/test-media/raw/main/captioning/scott-ko.mp4"
              },
              "schema": {
                "$ref": "#/components/schemas/Source"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Ingest"
        ]
      },
      "get": {
        "description": "Retrieve a list of ingested source files stored against a users account and stage.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/ingest/{version}</a>\n",
        "summary": "List Sources",
        "operationId": "getSources",
        "responses": {
          "200": {
            "description": "The list of ingested source files stored against a users account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Ingest"
        ]
      }
    },
    "/ingest/v1/sources/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Get source file details by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          }
        },
        "description": "Fetch a source file details and status by its id.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/ingest/{version}</a>\n",
        "operationId": "getSource",
        "summary": "Get Source",
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Ingest"
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "An empty response signifying the ingested source file has been deleted."
          }
        },
        "description": "Delete an ingested source file by its id.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/ingest/{version}</a>\n",
        "operationId": "deleteSource",
        "summary": "Delete Source",
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Ingest"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-zA-Z]{8}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{12}$",
            "type": "string"
          },
          "description": "The id of the source file in [KSUID](https://github.com/segmentio/ksuid#what-is-a-ksuid) format."
        }
      ]
    },
    "/ingest/v1/upload": {
      "post": {
        "responses": {
          "200": {
            "description": "The id and signed URL to upload to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          }
        },
        "description": "Request a signed URL to upload a file to. The response returns a signed URL that you use to upload the file to.\nThe signed URL looks similar to:\n\nhttps://shotstack-ingest-api-stage-sources.s3.ap-southeast-2.amazonaws.com/5ca6hu7s9k/zzytey4v-32km-kq1z-aftr-3kcuqi0brad2/source?AWSAccessKeyId=ASIAWJV7UWDMGTZLHTXP&Expires=1677209777&Signature=PKR4dGDDdOuMTAQmDASzLGmLOeo%3D&x-amz-acl=public-read&x-amz-security-token=IQoJb3JpZ2luX2VjEGMaDmFwLX......56osBGByztm7WZdbmXzO09KR\n\nIn a separate API call, use this signed URL to send a PUT request with the binary file. Using  cURL you can use\na command like:\n    \n`curl -X PUT -T video.mp4 {data.attributes.url}`\n    \nWhere **video.mp4** is the file you want to upload and **{data.attributes.url}** is the signed URL returned in\nthe response. The request must be a PUT type.\n\nThe SDK does not currently support the PUT request. You can use the SDK to make the request for the signed URL\nand then use cURL to make the PUT request.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/ingest/{version}</a>\n",
        "summary": "Direct Upload",
        "operationId": "getUploadSignedUrl",
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Ingest"
        ]
      }
    },
    "/create/v1/assets": {
      "post": {
        "description": "Generate an asset using a Shotstack or third party provider. Chose the provider, type of asset and provide prompts,\ninputs and options to generate the asset. Once generated the asset can be used with the [Edit](#tocs_edit) API or\ndownloaded.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/create/{version}</a>\n",
        "summary": "Generate Asset",
        "operationId": "postGenerateAsset",
        "requestBody": {
          "description": "Generate an asset using the specified provider, type and options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneratedAsset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The generated asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneratedAssetResponse"
                }
              }
            }
          },
          "400": {
            "description": "A list of validation and other errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneratedAssetErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Create"
        ]
      }
    },
    "/create/v1/assets/{id}": {
      "get": {
        "description": "Get the generated assets status, url and details by ID.\n\n**Base URL:** <a href=\"#\">https://api.shotstack.io/create/{version}</a>\n",
        "summary": "Get Generated Asset",
        "operationId": "getGeneratedAsset",
        "responses": {
          "200": {
            "description": "The generated asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneratedAssetResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DeveloperKey": []
          }
        ],
        "tags": [
          "Create"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-zA-Z]{8}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{12}$",
            "type": "string"
          },
          "description": "The id of the source file in [KSUID](https://github.com/segmentio/ksuid#what-is-a-ksuid) format."
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Edit": {
        "description": "An edit defines the arrangement of a video on a timeline, an audio edit or an image design and the output format. Video assets are automatically preprocessed to fix common compatibility issues before rendering. You can control preprocessing behavior using the `transcode` flag on video assets.",
        "properties": {
          "timeline": {
            "$ref": "#/components/schemas/Timeline"
          },
          "output": {
            "$ref": "#/components/schemas/Output"
          },
          "merge": {
            "description": "An array of key/value pairs that provides an easy way to create templates with placeholders. The placeholders can be used to find and replace keys with values. For example you can search for the placeholder `{{NAME}}` and replace it with the value `Jane`. ",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MergeField"
            }
          },
          "callback": {
            "type": "string",
            "description": "An optional webhook callback URL used to receive status notifications when a render completes or fails. Notifications are also sent when a rendered video is sent to an output  [destination](https://shotstack.io/docs/guide/serving-assets/destinations/).\nSee [webhooks](https://shotstack.io/docs/guide/architecting-an-application/webhooks/) for more details.",
            "example": "https://my-server.com/callback.php"
          },
          "disk": {
            "description": "**Notice: This option is now deprecated and will be removed. Disk types are handled automatically. Setting a disk type has no effect.**\n\nThe disk type to use for storing footage and assets for each render. See [disk types](https://shotstack.io/docs/guide/architecting-an-application/disk-types/) for more details.\n<ul>\n  <li>`local` - optimized for high speed rendering with up to 512MB storage</li>\n  <li>`mount` - optimized for larger file sizes and longer videos with 5GB for source footage and 512MB for output render</li>\n</ul>\n",
            "type": "string",
            "enum": [
              "local",
              "mount"
            ],
            "deprecated": true
          },
          "instance": {
            "description": "The render instance type to use for processing the edit. <ul>\n  <li>`s1` - standard instance (default)</li>\n  <li>`s2` - standard instance with more resources</li>\n  <li>`a1` - accelerated instance for faster rendering</li>\n</ul>",
            "type": "string",
            "enum": [
              "s1",
              "s2",
              "a1"
            ],
            "default": "s1"
          }
        },
        "additionalProperties": false,
        "required": [
          "timeline",
          "output"
        ],
        "type": "object"
      },
      "Timeline": {
        "description": "A timeline represents the contents of a video edit over time, an audio edit over time, in seconds, or an image layout. A timeline consists of layers called tracks. Tracks are composed of titles, images, audio, html or video segments referred to as clips which are placed along the track at specific starting point and lasting for a specific amount of time.",
        "properties": {
          "soundtrack": {
            "description": "A music or audio soundtrack file in mp3 format.",
            "$ref": "#/components/schemas/Soundtrack"
          },
          "background": {
            "description": "A hexadecimal value for the timeline background colour. Defaults to #000000 (black).",
            "type": "string"
          },
          "fonts": {
            "description": "An array of custom fonts to be downloaded for use by the HTML assets.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Font"
            }
          },
          "tracks": {
            "description": "A timeline consists of an array of tracks, each track containing clips. Tracks are layered on top of each other in the same order they are added to the array with the top most track layered over the top of those below it. Ensure that a track containing titles is the top most track so that it is displayed above videos and images.",
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Track"
            }
          },
          "cache": {
            "description": "Disable the caching of ingested source footage and assets. See  [caching](https://shotstack.io/docs/guide/architecting-an-application/caching/) for more details.",
            "type": "boolean"
          }
        },
        "additionalProperties": false,
        "required": [
          "tracks"
        ],
        "type": "object"
      },
      "Soundtrack": {
        "description": "A music or audio file in mp3 format that plays for the duration of the rendered video or the length of the audio file, which ever is shortest.",
        "properties": {
          "src": {
            "description": "The URL of the mp3 audio file. The URL must be publicly accessible or include credentials.",
            "type": "string",
            "minLength": 1,
            "pattern": "\\S",
            "example": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/music.mp3"
          },
          "effect": {
            "description": "The effect to apply to the audio file <ul>\n  <li>`fadeIn` - fade volume in only</li>\n  <li>`fadeOut` - fade volume out only</li>\n  <li>`fadeInFadeOut` - fade volume in and out</li>\n</ul>",
            "enum": [
              "fadeIn",
              "fadeOut",
              "fadeInFadeOut"
            ],
            "type": "string"
          },
          "volume": {
            "description": "Set the volume for the soundtrack between 0 and 1 where 0 is muted and 1 is full volume (defaults to 1).",
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "src"
        ],
        "type": "object"
      },
      "Font": {
        "description": "Download a custom font to use with the HTML asset type, using the font name in the CSS or font tag. See our [custom fonts](https://shotstack.io/learn/html-custom-fonts/) getting started guide for more details.",
        "properties": {
          "src": {
            "description": "The URL of the font file. The URL must be publicly accessible or include credentials.",
            "type": "string",
            "example": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/open-sans.ttf"
          }
        },
        "additionalProperties": false,
        "required": [
          "src"
        ],
        "type": "object"
      },
      "Track": {
        "description": "A track contains an array of clips. Tracks are layered on top of each other in the order in the array. The top most track will render on top of those below it.",
        "properties": {
          "clips": {
            "description": "An array of Clips comprising of TitleClip, ImageClip or VideoClip.",
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Clip"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "clips"
        ],
        "type": "object"
      },
      "Clip": {
        "description": "A clip is a container for a specific type of asset, i.e. a title, image, video, audio or html. You use a Clip to define when an asset will display on the timeline, how long it will play for and transitions, filters and effects to apply to it.",
        "properties": {
          "asset": {
            "$ref": "#/components/schemas/Asset"
          },
          "start": {
            "description": "The start position of the Clip on the timeline.",
            "oneOf": [
              {
                "type": "number",
                "description": "The start position of the Clip on the timeline, in seconds. For example, to start the Clip at 2 seconds, set the start value to 2.",
                "minimum": 0,
                "example": 2
              },
              {
                "type": "string",
                "description": "The start position using a [smart clip property](/docs/guide/architecting-an-application/smart-clips/). Set to `auto` to automatically play the clip after the previous clip finishes. Use `alias://clip-name` to inherit the start time from the referenced clip.",
                "pattern": "^(auto|alias://[A-Za-z0-9_-]+)$",
                "example": "auto"
              }
            ]
          },
          "length": {
            "description": "The duration the Clip should play for.",
            "oneOf": [
              {
                "type": "number",
                "description": "The duration the Clip should play for, in seconds. For example, to play the Clip for 5 seconds, set the length value to 5.",
                "minimum": 0,
                "example": 5
              },
              {
                "type": "string",
                "description": "The duration the Clip should play for using a [smart clip property](/docs/guide/architecting-an-application/smart-clips/). Set to `auto` to play the Clip for the duration of the asset. Set to `end` to display or play the clip to the end of the timeline. Use `alias://clip-name` to inherit the length from the referenced clip.",
                "pattern": "^(auto|end|alias://[A-Za-z0-9_-]+)$",
                "example": "auto"
              }
            ]
          },
          "fit": {
            "description": "Set how the asset should be scaled to fit the viewport using one of the following options: \n  <ul>\n    <li>`crop` <b>(default)</b> - scale the asset to fill the viewport while maintaining the aspect ratio. The asset will be cropped if it exceeds the bounds of the viewport.</li>\n    <li>`cover` - stretch the asset to fill the viewport without maintaining the aspect ratio.</li>\n    <li>`contain` - fit the entire asset within the viewport while maintaining the original aspect ratio.</li>\n    <li>`none` - preserves the original asset dimensions and does not apply any scaling.</li>\n  </ul>",
            "enum": [
              "cover",
              "contain",
              "crop",
              "none"
            ],
            "type": "string"
          },
          "scale": {
            "description": "Scale the asset to a fraction of the viewport size - i.e. setting the scale to 0.5 will scale asset to half the size of the viewport. This is useful for picture-in-picture video and scaling images such as logos and watermarks. Use a number or an array of [Tween](./#tocs_tween) objects to create a custom animation.",
            "oneOf": [
              {
                "type": "number",
                "description": "Scale the asset to a fraction of the viewport size. For example, 0.5 will scale the asset to half the size of the viewport.",
                "format": "float",
                "example": 0.5
              },
              {
                "type": "array",
                "description": "An array of [Tween](./#tocs_tween) objects used to create a custom animation. Animate the scale of an asset over time.",
                "items": {
                  "$ref": "#/components/schemas/Tween"
                }
              }
            ]
          },
          "width": {
            "description": "Set the width of the clip bounding box in pixels. This constrains the width of the clip, overriding the default behavior where clips fill the viewport width.",
            "type": "number",
            "format": "float",
            "minimum": 1,
            "maximum": 3840,
            "example": 800
          },
          "height": {
            "description": "Set the height of the clip bounding box in pixels. This constrains the height of the clip, overriding the default behavior where clips fill the viewport height.",
            "type": "number",
            "format": "float",
            "minimum": 1,
            "maximum": 2160,
            "example": 600
          },
          "position": {
            "description": "Place the asset in one of nine predefined positions of the viewport. This is most effective for when the asset is scaled and you want to position the element to a specific position. <ul>\n  <li>`top` - top (center)</li>\n  <li>`topRight` - top right</li>\n  <li>`right` - right (center)</li>\n  <li>`bottomRight` - bottom right</li>\n  <li>`bottom` - bottom (center)</li>\n  <li>`bottomLeft` - bottom left</li>\n  <li>`left` - left (center)</li>\n  <li>`topLeft` - top left</li>\n  <li>`center` - center</li>\n</ul>",
            "enum": [
              "top",
              "topRight",
              "right",
              "bottomRight",
              "bottom",
              "bottomLeft",
              "left",
              "topLeft",
              "center"
            ],
            "type": "string"
          },
          "offset": {
            "description": "Offset the location of the asset relative to its position on the viewport. The offset distance is relative to the width of the viewport - for example an x offset of 0.5 will move the asset half the viewport width to the right.",
            "$ref": "#/components/schemas/Offset"
          },
          "transition": {
            "$ref": "#/components/schemas/Transition"
          },
          "effect": {
            "description": "A motion effect to apply to the Clip. <ul>\n  <li>`zoomIn` - slow zoom in</li>\n  <li>`zoomOut` - slow zoom out</li>\n  <li>`slideLeft` - slow slide (pan) left</li>\n  <li>`slideRight` - slow slide (pan) right</li>\n  <li>`slideUp` - slow slide (pan) up</li>\n  <li>`slideDown` - slow slide (pan) down</li>\n</ul> The motion effect speed can also be controlled by appending `Fast` or `Slow` to the effect, e.g. `zoomInFast` or `slideRightSlow`.",
            "enum": [
              "zoomIn",
              "zoomInSlow",
              "zoomInFast",
              "zoomOut",
              "zoomOutSlow",
              "zoomOutFast",
              "slideLeft",
              "slideLeftSlow",
              "slideLeftFast",
              "slideRight",
              "slideRightSlow",
              "slideRightFast",
              "slideUp",
              "slideUpSlow",
              "slideUpFast",
              "slideDown",
              "slideDownSlow",
              "slideDownFast"
            ],
            "type": "string"
          },
          "filter": {
            "description": "A filter effect to apply to the Clip. <ul>\n  <li>`none` - no filter applied</li>\n  <li>`blur` - blur the scene</li>\n  <li>`boost` - boost contrast and saturation</li>\n  <li>`contrast` - increase contrast</li>\n  <li>`darken` - darken the scene</li>\n  <li>`greyscale` - remove colour</li>\n  <li>`lighten` - lighten the scene</li>\n  <li>`muted` - reduce saturation and contrast</li>\n  <li>`negative` - negative colors</li>\n</ul>",
            "enum": [
              "none",
              "blur",
              "boost",
              "contrast",
              "darken",
              "greyscale",
              "lighten",
              "muted",
              "negative"
            ],
            "type": "string",
            "example": "greyscale"
          },
          "opacity": {
            "description": "Offset an asset on the horizontal axis (left or right). Use a number or an array of [Tween](./#tocs_tween) objects to create a custom animation.",
            "oneOf": [
              {
                "type": "number",
                "description": "Sets the opacity of the Clip where 1 is opaque and 0 is transparent.",
                "example": 0.5
              },
              {
                "type": "array",
                "description": "An array of [Tween](./#tocs_tween) objects used to create a custom animation. Animate the opacity of an asset over time.",
                "items": {
                  "$ref": "#/components/schemas/Tween"
                }
              }
            ]
          },
          "transform": {
            "description": "A transformation lets you modify the visual properties of a clip. Available transformations are <b>rotate</b>, <b>skew</b> and <b>flip</b>. Transformations can be combined to create interesting new shapes and effects.",
            "$ref": "#/components/schemas/Transformation"
          },
          "alias": {
            "description": "A unique identifier for this clip that can be used to reference it from other clips using the `alias://` protocol in asset sources. This is useful for features like auto-captioning where a caption asset needs to reference the audio from another clip.",
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]+$",
            "example": "MY_VIDEO_CLIP"
          }
        },
        "additionalProperties": false,
        "required": [
          "asset",
          "start",
          "length"
        ],
        "type": "object"
      },
      "Asset": {
        "type": "object",
        "description": "The type of asset to display for the duration of the Clip, i.e. a video clip or an image. Choose from one of the available asset types below.",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "video": "#/components/schemas/VideoAsset",
            "image": "#/components/schemas/ImageAsset",
            "text": "#/components/schemas/TextAsset",
            "rich-text": "#/components/schemas/RichTextAsset",
            "audio": "#/components/schemas/AudioAsset",
            "luma": "#/components/schemas/LumaAsset",
            "caption": "#/components/schemas/CaptionAsset",
            "rich-caption": "#/components/schemas/RichCaptionAsset",
            "html": "#/components/schemas/HtmlAsset",
            "title": "#/components/schemas/TitleAsset",
            "shape": "#/components/schemas/ShapeAsset",
            "svg": "#/components/schemas/SvgAsset",
            "text-to-image": "#/components/schemas/TextToImageAsset",
            "image-to-video": "#/components/schemas/ImageToVideoAsset",
            "text-to-speech": "#/components/schemas/TextToSpeechAsset"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/VideoAsset"
          },
          {
            "$ref": "#/components/schemas/ImageAsset"
          },
          {
            "$ref": "#/components/schemas/TextAsset"
          },
          {
            "$ref": "#/components/schemas/RichTextAsset"
          },
          {
            "$ref": "#/components/schemas/AudioAsset"
          },
          {
            "$ref": "#/components/schemas/LumaAsset"
          },
          {
            "$ref": "#/components/schemas/CaptionAsset"
          },
          {
            "$ref": "#/components/schemas/RichCaptionAsset"
          },
          {
            "$ref": "#/components/schemas/HtmlAsset"
          },
          {
            "$ref": "#/components/schemas/TitleAsset"
          },
          {
            "$ref": "#/components/schemas/ShapeAsset"
          },
          {
            "$ref": "#/components/schemas/SvgAsset"
          },
          {
            "$ref": "#/components/schemas/TextToImageAsset"
          },
          {
            "$ref": "#/components/schemas/ImageToVideoAsset"
          },
          {
            "$ref": "#/components/schemas/TextToSpeechAsset"
          }
        ],
        "additionalProperties": false
      },
      "VideoAsset": {
        "description": "The VideoAsset is used to create video sequences from video files. The src must be a publicly accessible URL to a video resource such as an mp4 file.",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "video"
            ],
            "default": "video",
            "description": "The type of asset - set to `video` for videos.",
            "type": "string"
          },
          "src": {
            "description": "The video source URL. The URL must be publicly accessible or include credentials.",
            "type": "string",
            "minLength": 1,
            "pattern": "\\S",
            "example": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/video.mp4"
          },
          "transcode": {
            "type": "boolean",
            "description": "Set to `true` to force re-encoding of the video during preprocessing. This can help resolve compatibility issues, fix rotation problems, synchronize audio, or convert formats. The video will be processed to ensure optimal compatibility with the rendering engine.",
            "example": false
          },
          "trim": {
            "description": "The start trim point of the video clip, in seconds (defaults to 0). Videos will start from the in trim point. The video will play until the file ends or the Clip length is reached.",
            "type": "number",
            "example": 2
          },
          "volume": {
            "description": "Set the volume of the video clip. Use a number or an array of [Tween](./#tocs_tween) objects to create custom volume transitions.",
            "oneOf": [
              {
                "type": "number",
                "description": "The volume level for the video clip. Range varies from 0 to 1 where 0 is muted and 1 is full volume (defaults to 1).",
                "format": "float",
                "minimum": 0,
                "maximum": 1,
                "example": 0.5
              },
              {
                "type": "array",
                "description": "An array of [Tween](./#tocs_tween) objects used to create a custom volume effect. Modify the volume of an asset over time.",
                "items": {
                  "$ref": "#/components/schemas/Tween"
                }
              }
            ]
          },
          "volumeEffect": {
            "description": "Preset volume effects to apply to the video asset <ul>\n  <li>`fadeIn` - fade volume in only</li>\n  <li>`fadeOut` - fade volume out only</li>\n  <li>`fadeInFadeOut` - fade volume in and out</li>\n</ul>",
            "enum": [
              "none",
              "fadeIn",
              "fadeOut",
              "fadeInFadeOut"
            ],
            "type": "string"
          },
          "speed": {
            "description": "Adjust the playback speed of the video clip between 0 (paused) and 10 (10x normal speed) where 1 is normal speed (defaults to 1). Adjusting the speed will also adjust the duration of the clip and may require you to  adjust the Clip length. For example, if you set speed to 0.5, the clip will need to be 2x as long to play the entire video (i.e. original length / 0.5). If you set speed to 2, the clip will need to be half as long to play the entire video (i.e. original length / 2).",
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "example": 1
          },
          "crop": {
            "$ref": "#/components/schemas/Crop"
          },
          "chromaKey": {
            "$ref": "#/components/schemas/ChromaKey"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "src"
        ]
      },
      "ImageAsset": {
        "description": "The ImageAsset is used to create video from images to compose an image. The src must be a publicly accessible URL to an image resource such as a jpg or png file.",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "image"
            ],
            "default": "image",
            "description": "The type of asset - set to `image` for images.",
            "type": "string"
          },
          "src": {
            "description": "The image source URL. The URL must be publicly accessible or include credentials.",
            "type": "string",
            "minLength": 1,
            "pattern": "\\S",
            "example": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/image.jpg"
          },
          "crop": {
            "$ref": "#/components/schemas/Crop"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "src"
        ]
      },
      "TextAsset": {
        "description": "The TextAsset is used to add text and titles to a video. The text can be styled with built in and custom\n[Fonts](#tocs_font). You can also add a background bounding box used to control wrapping and overflow. Emoticons are also supported.\n",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "text"
            ],
            "default": "text",
            "description": "The type of asset - set to `text` for text.",
            "type": "string"
          },
          "text": {
            "description": "The text string to display.",
            "type": "string",
            "example": "Hello World"
          },
          "width": {
            "description": "Set the width of the HTML asset bounding box in pixels. Text will wrap to fill the bounding box.",
            "type": "integer",
            "example": 400
          },
          "height": {
            "description": "Set the width of the HTML asset bounding box in pixels. Text and elements will be masked if they exceed the  height of the bounding box.",
            "type": "integer",
            "example": 200
          },
          "font": {
            "description": "Font styling properties.",
            "$ref": "#/components/schemas/TextFont"
          },
          "background": {
            "description": "Background styling properties.",
            "$ref": "#/components/schemas/TextBackground"
          },
          "alignment": {
            "description": "Alignment properties.",
            "$ref": "#/components/schemas/TextAlignment"
          },
          "stroke": {
            "description": "Text stroke (outline) properties.",
            "$ref": "#/components/schemas/TextStroke"
          },
          "animation": {
            "description": "Animation properties for text entrance effects.",
            "$ref": "#/components/schemas/TextAnimation"
          },
          "ellipsis": {
            "description": "The string to display when text overflows its bounding box. Set to an ellipsis character or custom string to indicate truncated text.",
            "type": "string",
            "example": "..."
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "text"
        ]
      },
      "RichTextAsset": {
        "description": "The RichTextAsset provides advanced text rendering with support for custom fonts, gradients, shadows, strokes,\nanimations, and styling options. It offers more flexibility and visual effects than the basic TextAsset.\n",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "rich-text"
            ],
            "default": "rich-text",
            "description": "The type of asset - set to `rich-text` for rich text.",
            "type": "string"
          },
          "text": {
            "description": "The text string to display. Maximum 5000 characters.",
            "type": "string",
            "maxLength": 5000,
            "example": "Hello World"
          },
          "font": {
            "description": "Font styling properties.",
            "$ref": "#/components/schemas/RichTextFont"
          },
          "style": {
            "description": "Text style properties including spacing, line height, and transformations.",
            "$ref": "#/components/schemas/RichTextStyle"
          },
          "stroke": {
            "description": "Text stroke (outline) properties.",
            "$ref": "#/components/schemas/RichTextStroke"
          },
          "shadow": {
            "description": "Text shadow properties.",
            "$ref": "#/components/schemas/RichTextShadow"
          },
          "background": {
            "description": "Background styling properties for the text bounding box.",
            "$ref": "#/components/schemas/RichTextBackground"
          },
          "border": {
            "description": "Border styling properties for the text bounding box.",
            "$ref": "#/components/schemas/RichTextBorder"
          },
          "padding": {
            "description": "Padding inside the text bounding box. Can be a single number (applied to all sides) or an object with individual sides.",
            "oneOf": [
              {
                "type": "number",
                "minimum": 0,
                "description": "Padding in pixels applied to all sides.",
                "example": 10
              },
              {
                "$ref": "#/components/schemas/RichTextPadding"
              }
            ]
          },
          "align": {
            "description": "Text alignment properties (horizontal and vertical).",
            "$ref": "#/components/schemas/RichTextAlignment"
          },
          "animation": {
            "description": "Animation properties for text entrance effects.",
            "$ref": "#/components/schemas/RichTextAnimation"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "text"
        ]
      },
      "AudioAsset": {
        "description": "The AudioAsset is used to add sound effects and audio at specific intervals on the timeline. The src must be a publicly accessible URL to an audio resource such  as an mp3 file.",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "audio"
            ],
            "default": "audio",
            "description": "The type of asset - set to `audio` for audio assets.",
            "type": "string"
          },
          "src": {
            "description": "The audio source URL. The URL must be publicly accessible or include credentials.",
            "type": "string",
            "minLength": 1,
            "pattern": "\\S",
            "example": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/sound.mp3"
          },
          "trim": {
            "description": "The start trim point of the audio clip, in seconds (defaults to 0). Audio will start from the in trim point. The audio will play until the file ends or the Clip length is reached.",
            "type": "number"
          },
          "volume": {
            "description": "Set the volume of the audio clip. Use a number or an array of [Tween](./#tocs_tween) objects to create custom volume transitions.",
            "oneOf": [
              {
                "type": "number",
                "description": "The volume level for the audio clip. Range varies from 0 to 1 where 0 is muted and 1 is full volume (defaults to 1).",
                "format": "float",
                "minimum": 0,
                "maximum": 1,
                "example": 0.5
              },
              {
                "type": "array",
                "description": "An array of [Tween](./#tocs_tween) objects used to create a custom volume effect. Modify the volume of an asset over time.",
                "items": {
                  "$ref": "#/components/schemas/Tween"
                }
              }
            ]
          },
          "speed": {
            "description": "Adjust the playback speed of the audio clip between 0 (paused) and 10 (10x normal speed), where 1 is normal speed (defaults to 1). Adjusting the speed will also adjust the duration of the clip and may require you to  adjust the Clip length. For example, if you set speed to 0.5, the clip will need to be 2x as long to play the entire audio (i.e. original length / 0.5). If you set speed to 2, the clip will need to be half as long to play the entire audio (i.e. original length / 2).",
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "example": 1
          },
          "effect": {
            "description": "The effect to apply to the audio asset <ul>\n  <li>`fadeIn` - fade volume in only</li>\n  <li>`fadeOut` - fade volume out only</li>\n  <li>`fadeInFadeOut` - fade volume in and out</li>\n</ul>",
            "enum": [
              "none",
              "fadeIn",
              "fadeOut",
              "fadeInFadeOut"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "src"
        ]
      },
      "ShapeAsset": {
        "description": "The ShapeAsset is used to add shapes to a video. The shape can be styled with a fill and a stroke.\nYou can manipulate properties such as rotation to create dynamic effects like a diamond shape or stripes.\n",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "shape"
            ],
            "default": "shape",
            "description": "The type of asset - set to `shape` for shape.",
            "type": "string"
          },
          "shape": {
            "description": "The shape to display.",
            "type": "string",
            "enum": [
              "rectangle",
              "circle",
              "line"
            ]
          },
          "width": {
            "description": "Sets the width of the bounding box in pixels. This value should be larger than the shape's width. If omitted, the entire viewport width and height will be used.",
            "type": "integer",
            "example": 800
          },
          "height": {
            "description": "Sets the height of the bounding box in pixels. This value should be larger than the shape's height. If omitted, the entire viewport width and height will be used.",
            "type": "integer",
            "example": 800
          },
          "fill": {
            "description": "Specifies the fill style of the shape.",
            "type": "object",
            "properties": {
              "color": {
                "description": "The color of the fill using hexadecimal color notation.",
                "type": "string",
                "example": "#ffffff"
              },
              "opacity": {
                "description": "The opacity of the fill where 1 is opaque and 0 is transparent.",
                "type": "number",
                "example": 1
              }
            },
            "additionalProperties": false
          },
          "stroke": {
            "description": "Specifies the stroke style of the shape.",
            "type": "object",
            "properties": {
              "color": {
                "description": "The stroke color of the font using hexadecimal color notation.",
                "type": "string",
                "example": "#000000"
              },
              "width": {
                "description": "The width of the stroke in pixels.",
                "type": "number",
                "example": 0.8
              }
            },
            "additionalProperties": false
          },
          "rectangle": {
            "description": "Configuration settings for the rectangle shape. Required when `shape` is set to `rectangle`.",
            "type": "object",
            "properties": {
              "width": {
                "description": "Set the width of the rectangle shape in pixels.",
                "type": "integer",
                "example": 800
              },
              "height": {
                "description": "Set the height of the rectangle shape in pixels.",
                "type": "integer",
                "example": 800
              },
              "cornerRadius": {
                "description": "Set the corner radius of the rectangle shape.",
                "type": "integer",
                "example": 20
              }
            },
            "additionalProperties": false,
            "required": [
              "width",
              "height"
            ]
          },
          "circle": {
            "description": "Configuration settings for the circle shape. Required when `shape` is set to `circle`.",
            "type": "object",
            "properties": {
              "radius": {
                "description": "Set the radius of the circle shape in pixels.",
                "type": "integer",
                "example": 800
              }
            },
            "additionalProperties": false,
            "required": [
              "radius"
            ]
          },
          "line": {
            "description": "Configuration settings for the line shape. Required when `shape` is set to `line`.",
            "type": "object",
            "properties": {
              "length": {
                "description": "Set the length of the line shape in pixels.",
                "type": "integer",
                "example": 100
              },
              "thickness": {
                "description": "Set the thickness of the line in pixels.",
                "type": "integer",
                "example": 4
              }
            },
            "additionalProperties": false,
            "required": [
              "length",
              "thickness"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "shape"
        ]
      },
      "LumaAsset": {
        "description": "The LumaAsset is used to create luma matte masks, transitions and effects between other assets. A luma matte is a grey scale image or animated video where the black areas are transparent and the white areas solid. The luma matte animation should be provided as an mp4 video file. The src must be a publicly accessible URL to the file.",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "luma"
            ],
            "default": "luma",
            "description": "The type of asset - set to `luma` for luma mattes.",
            "type": "string"
          },
          "src": {
            "description": "The luma matte source URL. The URL must be publicly accessible or include credentials.",
            "type": "string",
            "minLength": 1,
            "pattern": "\\S",
            "example": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/mask.mp4"
          },
          "trim": {
            "description": "The start trim point of the luma matte clip, in seconds (defaults to 0). Videos will start from the in trim point. A luma matte video will play until the file ends or the Clip length is reached.",
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "src"
        ]
      },
      "CaptionAsset": {
        "description": "The CaptionAsset is used to add captions (subtitles) to a video. It uses a supplied SRT or VTT file which will\nbe read and burnt to the video.\n\nCaptions can be applied independently from a video or audio file for greater\nflexibility with styling and layout. For example you can scale, position or crop a video without modifying the\ncaptions.\n\nTo sync captions with a video or audio file use a [Video](#tocs_videoasset\") or [Audio](#tocs_audioasset\") with\nmatching start and end time.\n",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "caption"
            ],
            "default": "caption",
            "description": "The type of asset - set to `caption` for captions.",
            "type": "string"
          },
          "src": {
            "description": "The URL to an SRT or VTT subtitles file, or an alias reference to auto-generate captions from an audio or video clip. For file URLs, the URL must be publicly accessible or include credentials. For auto-captioning, use the format `alias://clip-name` where clip-name is the alias of an audio, video, or text-to-speech clip. The system will automatically transcribe the audio and detect the language.",
            "type": "string",
            "minLength": 1,
            "pattern": "\\S",
            "example": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/captions.srt"
          },
          "font": {
            "description": "Font styling properties.",
            "$ref": "#/components/schemas/CaptionFont"
          },
          "background": {
            "description": "Background styling properties.",
            "$ref": "#/components/schemas/CaptionBackground"
          },
          "margin": {
            "description": "Margin properties.",
            "$ref": "#/components/schemas/CaptionMargin"
          },
          "trim": {
            "description": "The start trim point of the captions, in seconds (defaults to 0). Remove the trim length from the start of the captions and allow it to be synced with video or audio. The captions will play until the file ends or the Clip length is reached.",
            "type": "number",
            "example": 2
          },
          "speed": {
            "description": "Adjust the playback speed of the captions between 0 (paused) and 10 (10x normal speed) where 1 is normal speed (defaults to 1). Adjusting the speed will also adjust the duration of the clip and may require you to  adjust the Clip length. For example, if you set speed to 0.5, the clip will need to be 2x as long to play the entire captions (i.e. original length / 0.5). If you set speed to 2, the clip will need to be half as long to play the entire captions (i.e. original length / 2).",
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "example": 1
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "src"
        ]
      },
      "RichCaptionAsset": {
        "description": "The RichCaptionAsset provides word-level caption animations with rich-text styling. It supports\nkaraoke-style highlighting, word-by-word animations, and advanced typography. Use with SRT/VTT\nfiles or auto-transcription via aliases.\n",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "rich-caption"
            ],
            "default": "rich-caption",
            "description": "The type of asset - set to `rich-caption` for rich captions.",
            "type": "string"
          },
          "src": {
            "description": "The URL to an SRT or VTT subtitles file, or an alias reference to auto-generate captions from an audio or video clip. For file URLs, the URL must be publicly accessible or include credentials. For auto-captioning, use the format `alias://clip-name` where clip-name is the alias of an audio, video, or text-to-speech clip.",
            "type": "string",
            "minLength": 1,
            "example": "alias://audio"
          },
          "font": {
            "description": "Font styling properties for inactive words.",
            "$ref": "#/components/schemas/RichCaptionFont"
          },
          "style": {
            "description": "Text style properties including spacing, line height, and transformations.",
            "$ref": "#/components/schemas/RichCaptionStyle"
          },
          "stroke": {
            "description": "Text stroke (outline) properties for inactive words.",
            "$ref": "#/components/schemas/RichTextStroke"
          },
          "shadow": {
            "description": "Text shadow properties.",
            "$ref": "#/components/schemas/RichTextShadow"
          },
          "background": {
            "description": "Background styling properties for the caption bounding box.",
            "$ref": "#/components/schemas/RichTextBackground"
          },
          "border": {
            "description": "Border styling properties for the caption bounding box.",
            "$ref": "#/components/schemas/RichTextBorder"
          },
          "padding": {
            "description": "Padding inside the caption bounding box. Can be a single number (applied to all sides) or an object with individual sides.",
            "oneOf": [
              {
                "type": "number",
                "minimum": 0,
                "description": "Padding in pixels applied to all sides.",
                "example": 10
              },
              {
                "$ref": "#/components/schemas/RichTextPadding"
              }
            ]
          },
          "align": {
            "description": "Text alignment properties (horizontal and vertical).",
            "$ref": "#/components/schemas/RichTextAlignment"
          },
          "active": {
            "description": "Styling properties for the active/highlighted word. These override the base styling when a word is being spoken.",
            "$ref": "#/components/schemas/RichCaptionActive"
          },
          "animation": {
            "description": "Word-level animation properties controlling how words are highlighted or revealed.",
            "$ref": "#/components/schemas/RichCaptionAnimation"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "src"
        ]
      },
      "RichCaptionActiveFont": {
        "description": "Font properties for the active/highlighted word.",
        "type": "object",
        "properties": {
          "color": {
            "description": "The active word color using hexadecimal color notation.",
            "type": "string",
            "pattern": "^#[A-Fa-f0-9]{6}$",
            "default": "#ffff00",
            "example": "#ffff00"
          },
          "background": {
            "description": "The background color behind the active word using hexadecimal color notation.",
            "type": "string",
            "pattern": "^#[A-Fa-f0-9]{6}$",
            "example": "#000000"
          },
          "opacity": {
            "description": "The opacity of the active word where 1 is opaque and 0 is transparent.",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 1,
            "example": 1
          },
          "size": {
            "description": "The font size of the active word in pixels. Overrides the scale property when set.",
            "type": "number",
            "minimum": 1,
            "maximum": 500,
            "example": 120
          },
          "textDecoration": {
            "description": "Text decoration to apply to the active word.",
            "type": "string",
            "enum": [
              "none",
              "underline",
              "line-through"
            ],
            "default": "none",
            "example": "underline"
          }
        },
        "additionalProperties": false
      },
      "RichCaptionActive": {
        "description": "Styling properties for the active/highlighted word.",
        "type": "object",
        "properties": {
          "font": {
            "description": "Font properties for the active word.",
            "$ref": "#/components/schemas/RichCaptionActiveFont"
          },
          "stroke": {
            "description": "Stroke properties for the active word. Set to \"none\" to explicitly remove the base stroke on the active word.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/RichTextStroke"
              },
              {
                "type": "string",
                "enum": [
                  "none"
                ]
              }
            ]
          },
          "shadow": {
            "description": "Shadow properties for the active word. Set to \"none\" to explicitly remove the base shadow on the active word.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/RichTextShadow"
              },
              {
                "type": "string",
                "enum": [
                  "none"
                ]
              }
            ]
          },
          "scale": {
            "description": "Scale multiplier for the active word. 1.0 is normal size, 1.2 is 20% larger.",
            "type": "number",
            "minimum": 0.5,
            "maximum": 2,
            "default": 1,
            "example": 1.2
          }
        },
        "additionalProperties": false
      },
      "RichCaptionAnimation": {
        "description": "Word-level animation properties for caption effects.",
        "type": "object",
        "properties": {
          "style": {
            "description": "The animation style to apply to words: <ul>\n  <li>`karaoke` - Word-by-word color fill as spoken (shows all words, highlights active)</li>\n  <li>`highlight` - Word changes to active color when spoken (shows all words)</li>\n  <li>`pop` - Each word scales up when active</li>\n  <li>`fade` - Gradual opacity transition per word</li>\n  <li>`slide` - Words slide in from a direction</li>\n  <li>`bounce` - Spring animation on word appearance</li>\n  <li>`typewriter` - Words appear one by one and stay visible</li>\n  <li>`none` - No animation, all words visible immediately</li>\n</ul>",
            "type": "string",
            "enum": [
              "karaoke",
              "highlight",
              "pop",
              "fade",
              "slide",
              "bounce",
              "typewriter",
              "none"
            ],
            "default": "highlight",
            "example": "highlight"
          },
          "direction": {
            "description": "Direction for directional animations (slide). Only applicable when style is `slide`.",
            "type": "string",
            "enum": [
              "left",
              "right",
              "up",
              "down"
            ],
            "default": "up",
            "example": "up"
          }
        },
        "additionalProperties": false,
        "required": [
          "style"
        ]
      },
      "TextToImageAsset": {
        "description": "The TextToImageAsset lets you create a dynamic image from a text prompt.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of asset to generate - set to `text-to-image` for text-to-image.",
            "enum": [
              "text-to-image"
            ],
            "default": "text-to-image"
          },
          "prompt": {
            "type": "string",
            "description": "The text prompt to generate an image from.",
            "example": "A serene landscape featuring a crystal-clear mountain lake at sunrise. The water reflects the pink and orange sky like a mirror. In the foreground, a majestic pine tree stands tall, its branches framing the view. Snow-capped peaks rise in the distance, their edges softened by a light morning mist. A pair of deer drink from the lake's edge, creating gentle ripples on the otherwise still surface."
          },
          "width": {
            "type": "integer",
            "description": "The width of the image in pixels.",
            "example": 512
          },
          "height": {
            "type": "integer",
            "description": "The height of the image in pixels.",
            "example": 512
          },
          "crop": {
            "$ref": "#/components/schemas/Crop"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "prompt"
        ]
      },
      "ImageToVideoAsset": {
        "description": "The ImageToVideoAsset lets you create a video from an image and a text prompt.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of asset to generate - set to `image-to-video` for image-to-video.",
            "enum": [
              "image-to-video"
            ],
            "default": "image-to-video"
          },
          "src": {
            "description": "The image source URL. The URL must be publicly accessible or include credentials.",
            "type": "string",
            "minLength": 1,
            "example": "https://s3-ap-northeast-1.amazonaws.com/my-bucket/image.jpg"
          },
          "prompt": {
            "type": "string",
            "description": "The instructions for modifying the image into a video sequence.",
            "example": "Slowly zoom out and orbit left around the object."
          },
          "aspectRatio": {
            "description": "The aspect ratio (shape) of the video output.",
            "enum": [
              "1:1",
              "4:3",
              "16:9",
              "9:16",
              "3:4",
              "21:9",
              "9:21"
            ],
            "type": "string",
            "example": "16:9"
          },
          "speed": {
            "description": "Adjust the playback speed of the video clip between 0 (paused) and 10 (10x normal speed) where 1 is normal speed (defaults to 1). Adjusting the speed will also adjust the duration of the clip and may require you to  adjust the Clip length. For example, if you set speed to 0.5, the clip will need to be 2x as long to play the entire video (i.e. original length / 0.5). If you set speed to 2, the clip will need to be half as long to play the entire video (i.e. original length / 2).",
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "example": 1
          },
          "crop": {
            "$ref": "#/components/schemas/Crop"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "src"
        ]
      },
      "TextToSpeechAsset": {
        "description": "The TextToSpeechAsset lets you generate a voice over from text using a text-to-speech service. The generated audio can be trimmed, faded and have its volume and speed adjusted using the same properties available on the AudioAsset.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of asset - set to `text-to-speech` for text-to-speech.",
            "enum": [
              "text-to-speech"
            ],
            "default": "text-to-speech"
          },
          "text": {
            "type": "string",
            "description": "The text to convert to speech.",
            "example": "This is a text to speech example generated by Shotstack"
          },
          "voice": {
            "type": "string",
            "description": "The voice to use for the text-to-speech conversion.",
            "example": "Matthew"
          },
          "language": {
            "type": "string",
            "description": "The language code for the text-to-speech conversion.",
            "example": "en-US"
          },
          "newscaster": {
            "type": "boolean",
            "description": "Set the voice to newscaster mode.",
            "default": false
          },
          "trim": {
            "description": "The start trim point of the audio clip, in seconds (defaults to 0). Audio will start from the trim point. The audio will play until the file ends or the Clip length is reached.",
            "type": "number"
          },
          "volume": {
            "description": "Set the volume of the audio clip. Use a number or an array of [Tween](./#tocs_tween) objects to create custom volume transitions.",
            "oneOf": [
              {
                "type": "number",
                "description": "The volume level for the audio clip. Range varies from 0 to 1 where 0 is muted and 1 is full volume (defaults to 1).",
                "format": "float",
                "minimum": 0,
                "maximum": 1,
                "example": 0.5
              },
              {
                "type": "array",
                "description": "An array of [Tween](./#tocs_tween) objects used to create a custom volume effect. Modify the volume of an asset over time.",
                "items": {
                  "$ref": "#/components/schemas/Tween"
                }
              }
            ]
          },
          "speed": {
            "description": "Adjust the playback speed of the audio clip between 0 (paused) and 10 (10x normal speed), where 1 is normal speed (defaults to 1). Adjusting the speed will also adjust the duration of the clip and may require you to adjust the Clip length.",
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "example": 1
          },
          "effect": {
            "description": "The effect to apply to the audio asset <ul>\n  <li>`fadeIn` - fade volume in only</li>\n  <li>`fadeOut` - fade volume out only</li>\n  <li>`fadeInFadeOut` - fade volume in and out</li>\n</ul>",
            "enum": [
              "none",
              "fadeIn",
              "fadeOut",
              "fadeInFadeOut"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "text",
          "voice"
        ]
      },
      "HtmlAsset": {
        "deprecated": true,
        "description": "**Notice: The HtmlAsset is deprecated, use the [TextAsset](#tocs_textasset) instead.**\n\nThe HtmlAsset clip type lets you create text based layout and formatting using\nHTML and CSS. You can also set the height and width of a bounding box for the HTML\ncontent to sit within. Text and elements will wrap within the bounding box.\n",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "html"
            ],
            "default": "html",
            "description": "The type of asset - set to `html` for HTML.",
            "type": "string"
          },
          "html": {
            "description": "The HTML text string. See list of [supported HTML tags](https://shotstack.io/docs/guide/architecting-an-application/html-support/#supported-html-tags).",
            "type": "string",
            "example": "<p>Hello <b>World</b></p>"
          },
          "css": {
            "description": "The CSS text string to apply styling to the HTML. See list of  [support CSS properties](https://shotstack.io/docs/guide/architecting-an-application/html-support/#supported-css-properties).",
            "type": "string",
            "example": "p { color: #ffffff; } b { color: #ffff00; }"
          },
          "width": {
            "description": "Set the width of the HTML asset bounding box in pixels. Text will wrap to fill the bounding box.",
            "type": "integer",
            "example": 400
          },
          "height": {
            "description": "Set the width of the HTML asset bounding box in pixels. Text and elements will be masked if they exceed the  height of the bounding box.",
            "type": "integer",
            "example": 200
          },
          "background": {
            "description": "Apply a background color behind the HTML bounding box using. Set the text color using hexadecimal  color notation. Transparency is supported by setting the first two characters of the hex string  (opposite to HTML), i.e. #80ffffff will be white with 50% transparency.",
            "type": "string"
          },
          "position": {
            "description": "Place the HTML in one of nine predefined positions within the HTML area. <ul>\n  <li>`top` - top (center)</li>\n  <li>`topRight` - top right</li>\n  <li>`right` - right (center)</li>\n  <li>`bottomRight` - bottom right</li>\n  <li>`bottom` - bottom (center)</li>\n  <li>`bottomLeft` - bottom left</li>\n  <li>`left` - left (center)</li>\n  <li>`topLeft` - top left</li>\n  <li>`center` - center</li>\n</ul>",
            "enum": [
              "top",
              "topRight",
              "right",
              "bottomRight",
              "bottom",
              "bottomLeft",
              "left",
              "topLeft",
              "center"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "html"
        ]
      },
      "TitleAsset": {
        "deprecated": true,
        "description": "**Notice: The TitleAsset is deprecated, use the [TextAsset](#tocs_textasset) instead.**\n\nThe TitleAsset clip type lets you create video titles from a text string and apply styling and positioning.\n",
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "title"
            ],
            "default": "title",
            "description": "The type of asset - set to `title` for titles.",
            "type": "string"
          },
          "text": {
            "description": "The title text string - i.e. \"My Title\".",
            "type": "string",
            "example": "Hello World"
          },
          "style": {
            "description": "Uses a preset to apply font properties and styling to the title. <ul>\n  <li>`minimal`</li>\n  <li>`blockbuster`</li>\n  <li>`vogue`</li>\n  <li>`sketchy`</li>\n  <li>`skinny`</li>\n  <li>`chunk`</li>\n  <li>`chunkLight`</li>\n  <li>`marker`</li>\n  <li>`future`</li>\n  <li>`subtitle`</li>\n</ul>",
            "enum": [
              "minimal",
              "blockbuster",
              "vogue",
              "sketchy",
              "skinny",
              "chunk",
              "chunkLight",
              "marker",
              "future",
              "subtitle"
            ],
            "type": "string"
          },
          "color": {
            "description": "Set the text color using hexadecimal color notation. Transparency is supported by setting the first two characters of the hex string (opposite to HTML),  i.e. #80ffffff will be white with  50% transparency.",
            "type": "string"
          },
          "size": {
            "description": "Set the relative size of the text using predefined sizes from xx-small to xx-large. <ul>\n  <li>`xx-small`</li>\n  <li>`x-small`</li>\n  <li>`small`</li>\n  <li>`medium`</li>\n  <li>`large`</li>\n  <li>`x-large`</li>\n  <li>`xx-large`</li>\n</ul>",
            "enum": [
              "xx-small",
              "x-small",
              "small",
              "medium",
              "large",
              "x-large",
              "xx-large"
            ],
            "type": "string"
          },
          "background": {
            "description": "Apply a background color behind the text. Set the text color using hexadecimal color notation. Transparency is supported by setting the first two characters of the hex string (opposite to HTML),  i.e. #80ffffff will be white with 50% transparency. Omit to use transparent background.",
            "type": "string",
            "example": "#000000"
          },
          "position": {
            "description": "Place the title in one of nine predefined positions of the viewport. <ul>\n  <li>`top` - top (center)</li>\n  <li>`topRight` - top right</li>\n  <li>`right` - right (center)</li>\n  <li>`bottomRight` - bottom right</li>\n  <li>`bottom` - bottom (center)</li>\n  <li>`bottomLeft` - bottom left</li>\n  <li>`left` - left (center)</li>\n  <li>`topLeft` - top left</li>\n  <li>`center` - center</li>\n</ul>",
            "enum": [
              "top",
              "topRight",
              "right",
              "bottomRight",
              "bottom",
              "bottomLeft",
              "left",
              "topLeft",
              "center"
            ],
            "type": "string"
          },
          "offset": {
            "description": "Offset the location of the title relative to its position on the screen.",
            "$ref": "#/components/schemas/Offset"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "text"
        ]
      },
      "SvgAsset": {
        "description": "The SvgAsset is used to add scalable vector graphics (SVG) shapes to a video.\nIt provides two mutually exclusive ways to define shapes:\n\n**Option 1: Import SVG markup using `src`**\n```json\n{\n  \"type\": \"svg\",\n  \"src\": \"<svg width=\\\"100\\\" height=\\\"100\\\"><circle cx=\\\"50\\\" cy=\\\"50\\\" r=\\\"40\\\" fill=\\\"#FF0000\\\"/></svg>\"\n}\n```\nWhen using `src`, no other properties are allowed. The fill, stroke, and dimensions\nare automatically extracted from the SVG markup.\n\n**Option 2: Define shapes programmatically using `shape`**\n```json\n{\n  \"type\": \"svg\",\n  \"shape\": { \"type\": \"circle\", \"radius\": 50 },\n  \"fill\": { \"type\": \"solid\", \"color\": \"#FF0000\" }\n}\n```\nWhen using `shape`, you can customize fill, stroke, shadow, transform, and other properties.\nThe `src` property is not allowed in this mode.\n\n**Important:** You must provide either `src` OR `shape`, but not both.\nThese two modes are mutually exclusive.\n\n**Available Shapes (Option 2 only):**\n- `rectangle` - Rectangles with optional rounded corners\n- `circle` - Perfect circles\n- `ellipse` - Ellipses/ovals with separate x and y radii\n- `line` - Straight lines with configurable thickness\n- `polygon` - Regular polygons (triangle, pentagon, hexagon, etc.)\n- `star` - Multi-pointed stars\n- `arrow` - Directional arrows\n- `heart` - Heart shapes\n- `cross` - Plus/cross shapes\n- `ring` - Donut/ring shapes\n- `path` - Custom shapes using SVG path data\n\nSee [W3C SVG 2 Specification](https://www.w3.org/TR/SVG2/) for path data syntax.\n",
        "type": "object",
        "properties": {
          "type": {
            "description": "The asset type - set to `svg` for SVG shapes.",
            "type": "string",
            "enum": [
              "svg"
            ],
            "default": "svg",
            "example": "svg"
          },
          "src": {
            "description": "Raw SVG markup string to import. When provided, the shape is extracted\nautomatically from the SVG content.\n\n**Supported elements:** `<path>`, `<rect>`, `<circle>`, `<ellipse>`,\n`<line>`, `<polygon>`, `<polyline>`\n\n**Automatically extracted:**\n- Path data (converted to a single combined path)\n- Fill color (from `fill` attribute or `style`)\n- Stroke color and width (from attributes or `style`)\n- Dimensions (from `width`/`height` or `viewBox`)\n- Opacity (from `opacity` attribute)\n\n**Important:** When using `src`, no other properties (shape, fill, stroke, etc.)\nare allowed. All styling must be defined within the SVG markup itself.\n",
            "type": "string",
            "minLength": 1,
            "maxLength": 500000,
            "example": "<svg width=\"100\" height=\"100\"><circle cx=\"50\" cy=\"50\" r=\"40\" fill=\"#3498db\"/></svg>"
          },
          "shape": {
            "description": "The shape definition using primitives. The `type` property within determines\nthe shape kind and its specific properties.\n\n**Important:** When using `shape`, the `src` property is not allowed.\n",
            "$ref": "#/components/schemas/SvgShape"
          },
          "fill": {
            "description": "Fill properties for the shape interior.\nCan be a solid color or a gradient (linear/radial).\nIf omitted, the shape will have no fill (transparent interior).\n\n**Note:** Only allowed when using `shape`, not with `src`.\n",
            "$ref": "#/components/schemas/SvgFill"
          },
          "stroke": {
            "description": "Stroke (outline) properties for the shape.\nIf omitted, the shape will have no stroke (no outline).\n\n**Note:** Only allowed when using `shape`, not with `src`.\n",
            "$ref": "#/components/schemas/SvgStroke"
          },
          "shadow": {
            "description": "Drop shadow properties for the shape.\nCreates a shadow effect behind the shape.\n\n**Note:** Only allowed when using `shape`, not with `src`.\n",
            "$ref": "#/components/schemas/SvgShadow"
          },
          "transform": {
[...]
