openapi: 3.0.3
info:
  title: Upstage API
  description: |
    Upstage AI API provides access to Solar LLM for chat completions and embeddings,
    Document AI for document parsing, OCR, and layout analysis,
    and Groundedness Check for verifying response grounding.
    All endpoints require Bearer token authentication with an Upstage API key.
  version: '1.0.0'
  contact:
    name: Upstage AI
    url: https://upstage.ai
servers:
  - url: https://api.upstage.ai/v1
    description: Production server
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    ChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          description: |
            The model to use for chat completion.
            Available models: solar-pro, solar-mini, solar-mini-ja
          example: solar-pro
        messages:
          type: array
          description: A list of messages comprising the conversation so far.
          items:
            $ref: '#/components/schemas/ChatMessage'
        temperature:
          type: number
          format: double
          description: Sampling temperature between 0 and 2. Higher values make output more random.
          minimum: 0
          maximum: 2
          default: 1.0
        top_p:
          type: number
          format: double
          description: Nucleus sampling parameter. Only tokens with top_p probability mass are considered.
          minimum: 0
          maximum: 1
          default: 1.0
        max_tokens:
          type: integer
          description: Maximum number of tokens to generate in the response.
          minimum: 1
        stop:
          description: Up to 4 sequences where the API will stop generating further tokens.
          oneOf:
            - type: string
            - type: array
              items:
                type: string
              maxItems: 4
        stream:
          type: boolean
          description: If true, partial message deltas will be sent as server-sent events.
          default: false
        n:
          type: integer
          description: How many chat completion choices to generate for each input message.
          minimum: 1
          maximum: 128
          default: 1
        seed:
          type: integer
          description: If specified, the system will make a best effort to sample deterministically.
        frequency_penalty:
          type: number
          format: double
          description: Penalizes new tokens based on their existing frequency in the text so far.
          minimum: -2.0
          maximum: 2.0
          default: 0
        presence_penalty:
          type: number
          format: double
          description: Penalizes new tokens based on whether they appear in the text so far.
          minimum: -2.0
          maximum: 2.0
          default: 0
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        tools:
          type: array
          description: A list of tools the model may call.
          items:
            $ref: '#/components/schemas/ChatCompletionTool'
        tool_choice:
          description: Controls which (if any) tool is called by the model.
          oneOf:
            - type: string
              enum:
                - none
                - auto
                - required
            - $ref: '#/components/schemas/ChatCompletionNamedToolChoice'

    ChatMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          description: The role of the message author.
          enum:
            - system
            - user
            - assistant
            - tool
        content:
          description: The content of the message.
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/ChatContentPart'
        name:
          type: string
          description: An optional name for the participant.
        tool_calls:
          type: array
          description: The tool calls generated by the model (assistant messages only).
          items:
            $ref: '#/components/schemas/ToolCall'
        tool_call_id:
          type: string
          description: Tool call that this message is responding to (tool messages only).

    ChatContentPart:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: The type of content part.
          enum:
            - text
            - image_url
        text:
          type: string
          description: The text content (for text type).
        image_url:
          type: object
          description: The image URL (for image_url type).
          properties:
            url:
              type: string
              description: Either a URL of the image or base64-encoded image data.
            detail:
              type: string
              description: Image detail level.
              enum:
                - auto
                - low
                - high
              default: auto

    ResponseFormat:
      type: object
      properties:
        type:
          type: string
          description: The format type for the response.
          enum:
            - text
            - json_object

    ChatCompletionTool:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          description: The type of the tool. Currently, only function is supported.
          enum:
            - function
        function:
          $ref: '#/components/schemas/FunctionDefinition'

    FunctionDefinition:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: The name of the function to be called.
        description:
          type: string
          description: A description of what the function does.
        parameters:
          type: object
          description: The parameters the function accepts, described as a JSON Schema object.
          additionalProperties: true

    ChatCompletionNamedToolChoice:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          enum:
            - function
        function:
          type: object
          required:
            - name
          properties:
            name:
              type: string
              description: The name of the function to call.

    ToolCall:
      type: object
      required:
        - id
        - type
        - function
      properties:
        id:
          type: string
          description: The ID of the tool call.
        type:
          type: string
          description: The type of the tool call.
          enum:
            - function
        function:
          type: object
          required:
            - name
            - arguments
          properties:
            name:
              type: string
              description: The name of the function to call.
            arguments:
              type: string
              description: The arguments to call the function with, as a JSON string.

    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the chat completion.
        object:
          type: string
          description: The object type, always "chat.completion".
          enum:
            - chat.completion
        created:
          type: integer
          description: The Unix timestamp of when the chat completion was created.
        model:
          type: string
          description: The model used for the chat completion.
        choices:
          type: array
          description: A list of chat completion choices.
          items:
            $ref: '#/components/schemas/ChatCompletionChoice'
        usage:
          $ref: '#/components/schemas/Usage'
        system_fingerprint:
          type: string
          description: System fingerprint for the model configuration.

    ChatCompletionChoice:
      type: object
      properties:
        index:
          type: integer
          description: The index of the choice in the list.
        message:
          $ref: '#/components/schemas/ChatCompletionMessage'
        finish_reason:
          type: string
          description: The reason the model stopped generating tokens.
          enum:
            - stop
            - length
            - tool_calls
            - content_filter

    ChatCompletionMessage:
      type: object
      properties:
        role:
          type: string
          description: The role of the author of this message.
          enum:
            - assistant
        content:
          type: string
          description: The content of the message.
          nullable: true
        tool_calls:
          type: array
          description: The tool calls generated by the model.
          items:
            $ref: '#/components/schemas/ToolCall'

    ChatCompletionChunkResponse:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the chat completion chunk.
        object:
          type: string
          description: The object type, always "chat.completion.chunk".
          enum:
            - chat.completion.chunk
        created:
          type: integer
          description: The Unix timestamp of when the chunk was created.
        model:
          type: string
          description: The model used for the chat completion.
        choices:
          type: array
          description: A list of chat completion chunk choices.
          items:
            $ref: '#/components/schemas/ChatCompletionChunkChoice'
        usage:
          $ref: '#/components/schemas/Usage'

    ChatCompletionChunkChoice:
      type: object
      properties:
        index:
          type: integer
          description: The index of the choice in the list.
        delta:
          $ref: '#/components/schemas/ChatCompletionDelta'
        finish_reason:
          type: string
          description: The reason the model stopped generating tokens.
          nullable: true
          enum:
            - stop
            - length
            - tool_calls
            - content_filter

    ChatCompletionDelta:
      type: object
      properties:
        role:
          type: string
          description: The role of the author of this message.
          enum:
            - assistant
        content:
          type: string
          description: The content chunk of the message.
          nullable: true
        tool_calls:
          type: array
          description: Tool call chunks.
          items:
            $ref: '#/components/schemas/ToolCallChunk'

    ToolCallChunk:
      type: object
      properties:
        index:
          type: integer
          description: The index of the tool call.
        id:
          type: string
          description: The ID of the tool call.
        type:
          type: string
          enum:
            - function
        function:
          type: object
          properties:
            name:
              type: string
              description: The name of the function.
            arguments:
              type: string
              description: A chunk of the arguments string.

    EmbeddingRequest:
      type: object
      required:
        - model
        - input
      properties:
        model:
          type: string
          description: |
            The model to use for generating embeddings.
            Available models: solar-embedding-1-large, solar-embedding-1-large-passage,
            solar-embedding-1-large-query
          example: solar-embedding-1-large
        input:
          description: Input text to embed. Can be a string or array of strings.
          oneOf:
            - type: string
            - type: array
              items:
                type: string

    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
          description: The object type, always "list".
          enum:
            - list
        data:
          type: array
          description: A list of embedding objects.
          items:
            $ref: '#/components/schemas/EmbeddingData'
        model:
          type: string
          description: The model used for the embedding.
        usage:
          $ref: '#/components/schemas/EmbeddingUsage'

    EmbeddingData:
      type: object
      properties:
        object:
          type: string
          description: The object type, always "embedding".
          enum:
            - embedding
        embedding:
          type: array
          description: The embedding vector.
          items:
            type: number
            format: double
        index:
          type: integer
          description: The index of the embedding in the list.

    EmbeddingUsage:
      type: object
      properties:
        prompt_tokens:
          type: integer
          description: The number of tokens in the input.
        total_tokens:
          type: integer
          description: The total number of tokens used.

    DocumentParseResponse:
      type: object
      properties:
        api:
          type: string
          description: The API name.
        model:
          type: string
          description: The model used for document parsing.
        content:
          $ref: '#/components/schemas/DocumentParseContent'
        usage:
          $ref: '#/components/schemas/DocumentParseUsage'

    DocumentParseContent:
      type: object
      properties:
        html:
          type: string
          description: The parsed document content in HTML format.
        markdown:
          type: string
          description: The parsed document content in Markdown format.
        text:
          type: string
          description: The parsed document content in plain text format.
        elements:
          type: array
          description: Individual elements extracted from the document.
          items:
            $ref: '#/components/schemas/DocumentElement'

    DocumentElement:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the element.
        type:
          type: string
          description: The type of element (e.g., paragraph, table, figure, heading).
          enum:
            - paragraph
            - table
            - figure
            - heading
            - list
            - caption
            - header
            - footer
            - equation
            - chart
        category:
          type: string
          description: The category of the element.
        content:
          type: object
          description: The content of the element.
          properties:
            html:
              type: string
              description: HTML representation of the element.
            markdown:
              type: string
              description: Markdown representation of the element.
            text:
              type: string
              description: Plain text representation of the element.
        coordinates:
          type: array
          description: Bounding box coordinates for the element.
          items:
            type: object
            properties:
              x:
                type: number
                format: double
                description: X coordinate.
              "y":
                type: number
                format: double
                description: Y coordinate.
        page:
          type: integer
          description: The page number where the element is located.

    DocumentParseUsage:
      type: object
      properties:
        pages:
          type: integer
          description: Number of pages processed.

    OcrResponse:
      type: object
      properties:
        api:
          type: string
          description: The API name.
        model:
          type: string
          description: The model used for OCR.
        text:
          type: string
          description: The extracted text from the document.
        pages:
          type: array
          description: Page-level OCR results.
          items:
            $ref: '#/components/schemas/OcrPage'
        usage:
          $ref: '#/components/schemas/OcrUsage'

    OcrPage:
      type: object
      properties:
        id:
          type: integer
          description: The page number.
        text:
          type: string
          description: The extracted text from this page.
        width:
          type: integer
          description: Width of the page in pixels.
        height:
          type: integer
          description: Height of the page in pixels.
        words:
          type: array
          description: Individual word-level OCR results.
          items:
            $ref: '#/components/schemas/OcrWord'

    OcrWord:
      type: object
      properties:
        id:
          type: integer
          description: The word ID.
        text:
          type: string
          description: The recognized text of this word.
        bounding_box:
          type: object
          description: Bounding box coordinates for this word.
          properties:
            x:
              type: number
              format: double
              description: Left X coordinate.
            "y":
              type: number
              format: double
              description: Top Y coordinate.
            width:
              type: number
              format: double
              description: Width of the bounding box.
            height:
              type: number
              format: double
              description: Height of the bounding box.
        confidence:
          type: number
          format: double
          description: Confidence score for this word.

    OcrUsage:
      type: object
      properties:
        pages:
          type: integer
          description: Number of pages processed.

    LayoutAnalysisResponse:
      type: object
      properties:
        api:
          type: string
          description: The API name.
        model:
          type: string
          description: The model used for layout analysis.
        elements:
          type: array
          description: Layout elements detected in the document.
          items:
            $ref: '#/components/schemas/LayoutElement'
        pages:
          type: array
          description: Page-level layout analysis results.
          items:
            $ref: '#/components/schemas/LayoutPage'
        usage:
          $ref: '#/components/schemas/LayoutAnalysisUsage'

    LayoutElement:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the layout element.
        type:
          type: string
          description: The type of layout element.
          enum:
            - paragraph
            - table
            - figure
            - heading
            - list
            - caption
            - header
            - footer
            - equation
            - chart
        category:
          type: string
          description: The category of the element.
        bounding_box:
          type: object
          description: Bounding box coordinates.
          properties:
            x:
              type: number
              format: double
            "y":
              type: number
              format: double
            width:
              type: number
              format: double
            height:
              type: number
              format: double
        page:
          type: integer
          description: The page number where the element is located.
        text:
          type: string
          description: Extracted text content of the element.
        html:
          type: string
          description: HTML representation of the element.

    LayoutPage:
      type: object
      properties:
        id:
          type: integer
          description: The page number.
        width:
          type: integer
          description: Width of the page in pixels.
        height:
          type: integer
          description: Height of the page in pixels.

    LayoutAnalysisUsage:
      type: object
      properties:
        pages:
          type: integer
          description: Number of pages processed.

    GroundednessCheckRequest:
      type: object
      required:
        - context
        - answer
      properties:
        context:
          type: string
          description: The context/source text against which the answer will be verified.
        answer:
          type: string
          description: The answer/response to check for groundedness.
        model:
          type: string
          description: |
            The model to use for groundedness check.
            Default: groundedness-check
          default: groundedness-check

    GroundednessCheckResponse:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the groundedness check.
        model:
          type: string
          description: The model used for the groundedness check.
        grounded:
          type: boolean
          description: Whether the answer is grounded in the provided context.
        score:
          type: number
          format: double
          description: A confidence score between 0 and 1 indicating the degree of groundedness.
        reason:
          type: string
          description: Explanation for the groundedness determination.

    TranslationRequest:
      type: object
      required:
        - model
        - text
        - source_lang
        - target_lang
      properties:
        model:
          type: string
          description: |
            The model to use for translation.
            Default: solar-1-mini-translate-enko
          example: solar-1-mini-translate-enko
        text:
          type: string
          description: The text to translate.
        source_lang:
          type: string
          description: Source language code (e.g., en, ko, ja).
        target_lang:
          type: string
          description: Target language code (e.g., en, ko, ja).

    TranslationResponse:
      type: object
      properties:
        output:
          type: object
          properties:
            text:
              type: string
              description: The translated text.
            source_lang:
              type: string
              description: The detected or specified source language.
            target_lang:
              type: string
              description: The target language.

    Usage:
      type: object
      properties:
        prompt_tokens:
          type: integer
          description: Number of tokens in the prompt.
        completion_tokens:
          type: integer
          description: Number of tokens in the generated completion.
        total_tokens:
          type: integer
          description: Total number of tokens used.

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: A human-readable error message.
            type:
              type: string
              description: The error type.
            code:
              type: string
              description: The error code.

paths:
  /chat/completions:
    post:
      operationId: createChatCompletion
      summary: Create chat completion
      description: |
        Creates a model response for the given chat conversation.
        Supports Solar Pro, Solar Mini, and Solar Mini JA models.
        Compatible with OpenAI chat completions API format.
      tags:
        - Chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /embeddings:
    post:
      operationId: createEmbedding
      summary: Create embedding
      description: |
        Creates an embedding vector representing the input text.
        Supports Solar Embedding models for passage and query embeddings.
      tags:
        - Embeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
      responses:
        '200':
          description: Embedding response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /document-ai/document-parse:
    post:
      operationId: documentParse
      summary: Parse document
      description: |
        Extracts structured content from documents (PDFs, images).
        Returns HTML, Markdown, and plain text representations along with
        individual elements like paragraphs, tables, figures, and headings.
      tags:
        - DocumentAI
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - document
              properties:
                document:
                  type: string
                  format: binary
                  description: The document file to parse (PDF, PNG, JPG, JPEG, BMP, TIFF).
                model:
                  type: string
                  description: |
                    The model to use for document parsing.
                    Default: document-parse
                  default: document-parse
                ocr:
                  type: string
                  description: |
                    OCR mode. Set to auto to enable OCR for scanned documents,
                    or force to always apply OCR.
                  enum:
                    - auto
                    - force
                  default: auto
                coordinates:
                  type: boolean
                  description: Whether to return bounding box coordinates for elements.
                  default: false
                output_formats:
                  type: string
                  description: |
                    Comma-separated list of output formats to include.
                    Options: html, markdown, text
                  default: "html,text"
                page_start:
                  type: integer
                  description: Start page number (1-indexed). Use to process a page range.
                  minimum: 1
                page_end:
                  type: integer
                  description: End page number (1-indexed, inclusive). Use to process a page range.
                  minimum: 1
                model_params:
                  type: string
                  description: JSON string of additional model parameters.
      responses:
        '200':
          description: Document parse response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentParseResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /document-ai/ocr:
    post:
      operationId: documentOcr
      summary: Document OCR
      description: |
        Performs Optical Character Recognition (OCR) on documents.
        Extracts text content with word-level bounding boxes and confidence scores.
        Supports PDF and image files.
      tags:
        - DocumentAI
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - document
              properties:
                document:
                  type: string
                  format: binary
                  description: The document file to perform OCR on (PDF, PNG, JPG, JPEG, BMP, TIFF).
                model:
                  type: string
                  description: |
                    The model to use for OCR.
                    Default: ocr
                  default: ocr
      responses:
        '200':
          description: OCR response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /document-ai/layout-analysis:
    post:
      operationId: layoutAnalysis
      summary: Layout analysis
      description: |
        Analyzes the layout structure of documents.
        Detects and classifies layout elements such as paragraphs, tables, figures,
        headings, lists, captions, headers, footers, equations, and charts.
      tags:
        - DocumentAI
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - document
              properties:
                document:
                  type: string
                  format: binary
                  description: The document file to analyze (PDF, PNG, JPG, JPEG, BMP, TIFF).
                model:
                  type: string
                  description: |
                    The model to use for layout analysis.
                    Default: layout-analysis
                  default: layout-analysis
      responses:
        '200':
          description: Layout analysis response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayoutAnalysisResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /groundedness-check:
    post:
      operationId: groundednessCheck
      summary: Groundedness check
      description: |
        Checks whether a given answer is grounded in the provided context.
        Returns a boolean result, confidence score, and reason.
        Useful for verifying that LLM responses are factually supported by source material.
      tags:
        - GroundednessCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroundednessCheckRequest'
      responses:
        '200':
          description: Groundedness check response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundednessCheckResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /translation:
    post:
      operationId: translate
      summary: Translate text
      description: |
        Translates text between languages using Solar translation models.
        Supports English-Korean (solar-1-mini-translate-enko) and other language pairs.
      tags:
        - Translation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
      responses:
        '200':
          description: Translation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
