openapi: 3.0.1
info:
  title: Vectara REST API v2
  description: "Vectara provides an end-to-end platform for creating GenAI products using \na simple to use API.\n\nYou can [sign up for an account](https://console.vectara.com/signup) and \nthen view several [API Recipes](https://docs.vectara.com/docs/api-recipes) with example queries \nand parameter values.\n\nThe Vectara API Playground lets you experiment with REST endpoints from \nyour browser. Select an endpoint to view its definition, including the \nrequired or optional headers, body, responses, and sample commands. On the \nright side of each endpoint page, like [Get Corpus](/docs/rest-api/get-corpus), you manually \nenter your API Key or OAuth Bearer Token, `customer_id`, and then any \nrequired body parameters like the `corpusID` before sending the API \nrequest.\n\n:::note\n\nVectara supports two primary methods of authentication: API keys and OAuth \n2.0, which are applicable to all endpoints. Query API Keys are used for \nread-only querying operations, while Index API Keys provide read and write \naccess. The OAuth 2.0 operations authenticate with a Bearer Token via the \nOAuth 2.0 client credentials grant. Review the [**OAuth 2.0 section**](https://docs.vectara.com/docs/learn/authentication/oauth-2) about \nhow to generate the token.\n"
  termsOfService: https://vectara.com/legal/terms-of-service/
  contact:
    email: feedback@vectara.com
  version: 2.0.0
  x-logo:
    url: https://docs.vectara.com/img/vectara_wordmark.png
    altText: Vectara
  x-dark-logo:
    url: https://docs.vectara.com/img/vectara_wordmark_light.png
    altText: Vectara
servers:
  - url: https://api.vectara.io
paths:
  /v2/corpora:
    post:
      tags:
        - Corpora
      summary: Create a corpus
      description: "Create a corpus, which is a container to store documents and associated metadata. This is where you \ncreate the unique `corpus_key` that identifies the corpus. The `corpus_key` can be custom-defined \nfollowing your preferred naming convention, allowing you to easily manage the corpus's data and \nreference it in queries. For more information, see \n[Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).\n"
      operationId: createCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorpusRequest'
      responses:
        '201':
          description: The corpus has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
        '400':
          description: Invalid request body in the create corpus request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating a corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - Corpora
      summary: List corpora
      description: "List corpora in the account. The corpus objects that are returned are less\ndetailed than the direct corpus retrieval operation.\n"
      operationId: listCorpora
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: The maximum number of corpora to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: filter
          in: query
          description: A regular expression to filter the corpora by their name or summary.
          schema:
            type: string
        - name: page_key
          in: query
          description: Used to retrieve the next page of corpora after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of corpora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCorporaResponse'
        '403':
          description: Permissions do not allow listing corpora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v2/corpora/{corpus_key}':
    get:
      tags:
        - Corpora
      summary: Retrieve metadata about a corpus
      description: "Get metadata about a corpus. This operation is not a method of searching a corpus. \nSpecify the `corpus_key` to identify the corpus whose metadata you want to \nretrieve. The `corpus_key` is created when the corpus is set up, either through\nthe Vectara Console UI or the Create Corpus API. For more information, \nsee [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).\n"
      operationId: getCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to retrieve.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      responses:
        '200':
          description: A corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
        '403':
          description: Permissions do not allow retrieving the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    delete:
      tags:
        - Corpora
      summary: Delete a corpus and all its data
      description: "Delete a corpus and all the data that it contains. The `corpus_key` uniquely identifies \nthe corpus. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).\n"
      operationId: deleteCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to delete
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully deleted a corpus.
        '403':
          description: Permissions do not allow deleting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    patch:
      tags:
        - Corpora
      summary: Update a corpus
      description: "Enable, disable, or update the name and description of a corpus. This lets you\nmanage data availability without deleting the corpus, which is useful for \nmaintenance and security purposes. The `corpus_key` uniquely identifies the corpus. \nFor more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition). \nUpdate the name and description of a corpus dynamically to help keep your data \naligned with changing business needs.\n"
      operationId: updateCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to update.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCorpusRequest'
      responses:
        '200':
          description: Successfully modified the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
        '403':
          description: Permissions do not allow updating the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  '/v2/corpora/{corpus_key}/reset':
    post:
      tags:
        - Corpora
      summary: Remove all documents and data in a corpus
      description: "Resets a corpus, which removes all documents and data from the specified corpus, \nwhile keeping the corpus itself. The `corpus_key` uniquely identifies the corpus. \nFor more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).\n"
      operationId: resetCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to reset.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully reset a corpus.
        '403':
          description: Permissions do not allow resetting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  '/v2/corpora/{corpus_key}/replace_filter_attributes':
    post:
      tags:
        - Corpora
      summary: Replace the filter attributes of a corpus
      description: "Replace the filter attributes of a corpus. This does not happen immediately, but\ninstead creates a job and will complete when that job completes. Until that\njob completes, using new filter attributes will not work.\n\nYou can monitor the status of the filter change using the returned job ID. The \n`corpus_key` uniquely identifies the corpus. For more information, see \n[Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).\n"
      operationId: replaceFilterAttributes
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: Key of the corpus to have filters replaced.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceFilterAttributesRequest'
      responses:
        '200':
          description: Successfully created a job that will replace the filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceFilterAttributesResponse'
        '403':
          description: Permissions don't allow replacing filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  '/v2/corpora/{corpus_key}/query':
    get:
      tags:
        - Queries
      summary: Simple Single Corpus Query
      description: "Search a single corpus with a straightforward query request, specifying the corpus key and query parameters.\n* Specify the unique `corpus_key` identifying the corpus to query. The `corpus_key` is \n[created in the Vectara Console UI](https://docs.vectara.com/docs/console-ui/creating-a-corpus) or the [Create Corpus API definition](https://docs.vectara.com/docs/api-reference/admin-apis/create-corpus). When creating a new corpus, you have the option to assign a custom `corpus_key` following your preferred naming convention. This key serves as a unique identifier for the corpus, allowing it to be referenced in search requests. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).\n* Enter the search `query` string for the corpus, which is the question you want to ask.\n* Set the maximum number of results (`limit`) to return. **Default**: 10, **minimum**: 1\n* Define the `offset` position from which to start in the result set.\n\nFor more detailed information, see this [Query API guide](https://docs.vectara.com/docs/api-reference/search-apis/search).\n"
      operationId: searchCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to query.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: query
          in: query
          description: 'The search query string for the corpus, which is the question the user is asking.'
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            minimum: 1
            type: integer
            default: 10
        - name: offset
          in: query
          description: Position from which to start in the result set.
          schema:
            minimum: 0
            type: integer
            default: 0
      responses:
        '200':
          description: A response to a query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFullResponse'
        '400':
          description: Query request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow querying the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      tags:
        - Queries
      summary: Advanced Single Corpus Query
      description: "Query a specific corpus and find relevant results, highlight relevant snippets, and use Retrieval Augmented Generation:\n\n* Specify the unique `corpus_key` identifying the corpus to query. The `corpus_key` is [created in the Vectara Console UI](https://docs.vectara.com/docs/console-ui/creating-a-corpus) or the [Create Corpus API definition](https://docs.vectara.com/docs/api-reference/admin-apis/create-corpus). When creating a new corpus, you have the option to assign a custom `corpus_key` following your preferred naming convention. This key serves as a unique identifier for the corpus, allowing it to be referenced in search requests. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).\n* Customize your search by specifying the query text (`query`), pagination details (`offset` and `limit`), and metadata filters (`metadata_filter`) to tailor your search results. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#query-definition)\n* Leverage advanced search capabilities like reranking (`reranker`) and Retrieval Augmented Generation (RAG) (`generation`) for enhanced query performance. Generation is opt in by setting the `generation` property. By excluding the property or by setting it to null, the response\nwill not include generation. [Learn more](https://docs.vectara.com/docs/learn/grounded-generation/configure-query-summarization).\n* Use hybrid search to achieve optimal results by setting different values for `lexical_interpolation` (e.g., `0.025`). [Learn more](https://docs.vectara.com/docs/learn/hybrid-search)\n* Specify Vectara's RAG-focused LLM (Mockingbird) for the `generation_preset_name`. [Learn more](https://docs.vectara.com/docs/learn/mockingbird-llm)\n* Use advanced summarization options that utilize detailed summarization parameters such as `max_response_characters`, `temperature`, and `frequency_penalty` for generating precise and relevant summaries. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#advanced-summarization-options)\n\nFor more detailed information, see [Query API guide](https://docs.vectara.com/docs/api-reference/search-apis/search).\n"
      operationId: queryCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to query.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCorpusRequest'
      responses:
        '200':
          description: A response to a query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFullResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/QueryStreamedResponse'
        '400':
          description: Query request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow querying the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-stream-based-on-body: streamResponse()
  /v2/query:
    post:
      tags:
        - Queries
      summary: Multiple Corpora Query
      description: "Perform a multipurpose query to retrieve relevant information from one or more corpora and generate a response using Retrieval Augmented Generation (RAG).\n\n* Specify the unique `corpus_key` identifying the corpus to query. The `corpus_key` is [created in the Vectara Console UI](https://docs.vectara.com/docs/console-ui/creating-a-corpus) or the [Create Corpus API definition](https://docs.vectara.com/docs/api-reference/admin-apis/create-corpus). When creating a new corpus, you have the option to assign a custom `corpus_key` following your preferred naming convention. This key serves as a unique identifier for the corpus, allowing it to be referenced in search requests. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).\n* Customize your search by specifying the query text (`query`), pagination details (`offset` and `limit`), and metadata filters (`metadata_filter`) to tailor your search results. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#query-definition)\n* Leverage advanced search capabilities like reranking (`reranker`) and opt-in Retrieval Augmented Generation (RAG) (`generation`) for enhanced query performance. Generation is opt in by setting the `generation` property. By excluding the property or by setting it to null, the response\nwill not include generation. [Learn more](https://docs.vectara.com/docs/learn/grounded-generation/configure-query-summarization)\n* Specify Vectara's RAG-focused LLM (Mockingbird) for the `generation_preset_name`. [Learn more](https://docs.vectara.com/docs/learn/mockingbird-llm)\n* Use advanced summarization options that utilize detailed summarization parameters such as `max_response_characters`, `temperature`, and `frequency_penalty` for generating precise and relevant summaries. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#advanced-summarization-customization-options)\n* Customize citation formats in summaries using the `citations` object to include numeric, HTML, or Markdown links. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#citation-format-in-summary)\n\nFor more detailed information, see this [Query API guide](https://docs.vectara.com/docs/api-reference/search-apis/search).\n"
      operationId: query
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: A response to a query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFullResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/QueryStreamedResponse'
        '400':
          description: Query request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow querying one or more corpora in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: One or more of the corpora were not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-stream-based-on-body: streamResponse()
  '/v2/corpora/{corpus_key}/upload_file':
    post:
      tags:
        - Upload
      summary: Upload a file to the corpus
      description: "Upload files such as PDFs and Word Documents. Vectara will attempt to automatically extract text and any metadata.\nThe File Upload endpoint request expects a `multipart/form-data` request containing the following parts:\n* `metadata` - (Optional) Specifies a JSON object representing any additional metadata to be associated with the extracted document. For example, `'metadata={\"key\": \"value\"};type=application/json'`\n* `file` - Specifies the file that you want to upload.\n* `filename` - Specified as part of the file field with the file name that you want to associate with the uploaded file. For a curl example, use the following syntax: `'file=@/path/to/file/file.pdf;filename=desired_filename.pdf'`\n\nFor more detailed information, see this [File Upload API guide.](https://docs.vectara.com/docs/api-reference/indexing-apis/file-upload/file-upload)\n"
      operationId: uploadFile
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus of which to upload the file.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        description: "Upload a file for the Vectara platform to attempt to parse and turn into a document within the corpus.\nThe first part of the multipart request can contain any document metadata to attach to the parsed\ndocument. Only one document may be uploaded at a time.\n"
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
            encoding:
              metadata:
                contentType: application/json
              file:
                contentType: 'application/octet-stream, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.oasis.opendocument.text, application/epub+zip, application/rtf, text/html, text/plain, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, text/markdown'
              filename:
                contentType: text/plain
      responses:
        '201':
          description: The extracted document has been parsed and added to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Upload file request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow uploading a file to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  '/v2/corpora/{corpus_key}/documents':
    post:
      tags:
        - Index
      summary: Add a document to a corpus
      description: "Add a document to a corpus. You can add documents that are either in a typical structured format,\nor in a format that explicitly specifies each document part.  Each part becomes a separate search result.\n"
      operationId: createCorpusDocument
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the queried corpus.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
      responses:
        '201':
          description: Document added to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Document creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow adding a document to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    get:
      tags:
        - Documents
      summary: List the documents in the corpus
      operationId: listCorpusDocuments
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the queried corpus.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: limit
          in: query
          description: The maximum number of documents to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: metadata_filter
          in: query
          description: "Filter documents by metadata. Uses the same expression as a query metadata filter, but only\nallows filtering on document metadata.\n"
          schema:
            type: string
        - name: page_key
          in: query
          description: Used to retrieve the next page of documents after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocumentsResponse'
        '403':
          description: Permissions do not allow listing documents in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  '/v2/corpora/{corpus_key}/documents/{document_id}':
    delete:
      tags:
        - Documents
      summary: Delete a document
      operationId: deleteCorpusDocument
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus with the document to delete.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: document_id
          in: path
          description: "The Document ID of the document to delete.\nThe `document_id` must be percent encoded.\n"
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successfully deleted the document.
        '403':
          description: Permissions do not allow deleting a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    get:
      tags:
        - Documents
      summary: Retrieve a document
      operationId: getCorpusDocument
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus containing the document to retrieve.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: document_id
          in: path
          description: "The Document ID of the document to retrieve.\nThe `document_id` must be percent encoded.\n"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow retrieving a document from the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /v2/chats:
    post:
      tags:
        - Chats
      summary: Start a chat
      description: Create a chat while specifying the default retrieval parameters used by the prompt.
      operationId: createChat
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: A response to a chat request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatFullResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatStreamedResponse'
        '400':
          description: Chat creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating a chat in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-stream-based-on-body: streamResponse()
    get:
      tags:
        - Chats
      summary: List chats
      description: Retrieve a list of previous chats in the Vectara account.
      operationId: listChats
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: The maximum number of results to return in the list.
          schema:
            maximum: 10000
            minimum: 1
            type: integer
            format: int32
            default: 1000
        - name: page_key
          in: query
          description: Used to retrieve the next page of chats after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of chats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatsResponse'
        '403':
          description: Permissions do not allow listing chats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /v2/llms:
    get:
      tags:
        - Large Language Models
      summary: List LLMs
      description: "List LLMs that can be used with query and chat endpoints. The LLM is not directly specified in a query,\nbut instead a `generation_preset_name` is used. The `generation_preset_name` property in generation parameters\ncan be found as the `name` property on the Generations Presets retrieved from `/v2/generation_presets`.\n"
      operationId: listLLMs
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: filter
          in: query
          description: A regular expression to match names and descriptions of the LLMs.
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to return in the list.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: "Used to retrieve the next page of LLMs after the limit has been reached.\nThis parameter is not needed for the first page of results.\n"
          schema:
            type: string
      responses:
        '200':
          description: List of LLMs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLLMsResponse'
        '403':
          description: Permissions do not allow listing summarizers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/generation_presets:
    get:
      tags:
        - Generation Presets
      summary: List generation presets
      description: "List generation presets used for query or chat requests. Generation presets are\nthe build of properties used to configure generation for a request. This includes\nthe template that renders the prompt, and various generation settings like\n`temperature`.\n"
      operationId: listGenerationPresets
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: llm_name
          in: query
          description: Filter presets by the LLM name.
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to return in the list.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: "Used to retrieve the next page of generation presets after the limit has been reached.\nThis parameter is not needed for the first page of results.\n"
          schema:
            type: string
      responses:
        '200':
          description: List of Generation Presets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGenerationPresetsResponse'
        '403':
          description: Permissions do not allow listing generation presets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v2/chats/{chat_id}':
    get:
      tags:
        - Chats
      summary: Get a chat
      description: 'Get a chat summary to view what started the chat, but not subsequent turns.'
      operationId: getChat
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
      responses:
        '200':
          description: A chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '403':
          description: Permissions do not allow retrieving the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    delete:
      tags:
        - Chats
      summary: Delete a chat
      description: Delete a chat and any turns it contains permanently.
      operationId: deleteChat
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
      responses:
        '204':
          description: Successfully deleted the chat.
        '403':
          description: Permissions do not allow deleting the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  '/v2/chats/{chat_id}/turns':
    post:
      tags:
        - Chats
      summary: Create a new turn in the chat
      description: 'Create a new turn in the chat. Each conversation has a series of `turn` objects, which are the sequence of message and response pairs that make up the dialog.'
      operationId: createChatTurn
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: A response to a chat request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatFullResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatStreamedResponse'
        '400':
          description: Turn creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating a turn in the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-stream-based-on-body: streamResponse()
    get:
      tags:
        - Chats
      summary: List turns in a chat
      description: List all turns in a chat to see all message and response pairs that make up the dialog.
      operationId: listChatTurns
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
      responses:
        '200':
          description: List of turns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatTurnsResponse'
        '403':
          description: Permissions do not allow listing turns in the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  '/v2/chats/{chat_id}/turns/{turn_id}':
    get:
      tags:
        - Chats
      summary: Get a turn
      description: 'Get a specific turn from a chat, which is a message and response pair from the conversation.'
      operationId: getChatTurn
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
        - name: turn_id
          in: path
          description: The ID of the turn.
          required: true
          schema:
            pattern: trn_.+$
            type: string
      responses:
        '200':
          description: The turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '403':
          description: Permissions do not allow getting the turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Corpus, chat, or turn not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    delete:
      tags:
        - Chats
      summary: Delete a turn
      description: Delete a turn from a chat. This will delete all subsequent turns in the chat.
      operationId: deleteChatTurn
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
        - name: turn_id
          in: path
          description: The ID of the turn.
          required: true
          schema:
            pattern: trn_.+$
            type: string
      responses:
        '204':
          description: Successfully deleted a turn.
        '403':
          description: Permissions do not allow deleting the turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Corpus, chat, or turn not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    patch:
      tags:
        - Chats
      summary: Update a turn
      description: Update a turn; used to disable or enable a chat.
      operationId: updateChatTurn
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
        - name: turn_id
          in: path
          description: The ID of the turn.
          required: true
          schema:
            pattern: trn_.+$
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTurnRequest'
      responses:
        '200':
          description: Successfully modified the turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '403':
          description: Permissions do not allow updating the turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Corpus, chat, or turn not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /v2/encoders:
    get:
      tags:
        - Encoders
      summary: List encoders
      description: Encoders are used to store and retrieve from a corpus.
      operationId: listEncoders
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: filter
          in: query
          description: A regular expression against encoder names and descriptions.
          schema:
            type: string
            example: vectara.*
        - name: limit
          in: query
          description: The maximum number of results to return in the list.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of encoders after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of encoders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEncodersResponse'
        '403':
          description: Permissions do not allow listing encoders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/rerankers:
    get:
      tags:
        - Rerankers
      summary: List rerankers
      description: Rerankers are used to improve the ranking (ordering) of search results.
      operationId: listRerankers
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: filter
          in: query
          description: A regular expression against reranker names and descriptions.
          schema:
            type: string
            example: vectara.*
        - name: limit
          in: query
          description: The maximum number of rerankers to return in the list.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of rerankers after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of rerankers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRerankersResponse'
        '403':
          description: Permissions do not allow listing rerankers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/jobs:
    get:
      tags:
        - Jobs
      summary: List jobs
      description: List jobs for the account. Jobs are background processes like replacing the filterable metadata attributes.
      operationId: listJobs
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: query
          description: The unique key identifying the corpus with the job.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/CorpusKey'
        - name: after
          in: query
          description: Filter by jobs created after a particular date-time.
          schema:
            type: string
            format: date-time
        - name: state
          in: query
          description: Filter by jobs in particular states.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/JobState'
        - name: limit
          in: query
          description: The maximum number of jobs to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of jobs after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
        '403':
          description: Permissions do not allow listing jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v2/jobs/{job_id}':
    get:
      tags:
        - Jobs
      summary: Get a job by ID
      description: Get a job by a specific ID. Jobs are background processes like replacing the filterable metadata attributes.
      operationId: getJob
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: job_id
          in: path
          description: The ID of the job to get.
          required: true
          schema:
            pattern: job_.+$
            type: string
      responses:
        '200':
          description: A job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '403':
          description: Permissions do not allow retrieving a job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /v2/users:
    post:
      tags:
        - Users
      summary: Create a user in the current customer account
      description: Create a user for the current customer account.
      operationId: createUser
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: The created user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: User creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow retrieving a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - Users
      summary: List users in the account
      description: Lists all users in the account.
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: The maximum number of users to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of users after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        '403':
          description: Permissions do not allow listing users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v2/users/{username}':
    get:
      tags:
        - Users
      summary: Get a user
      description: "Get a user and view details like thei email, username, and associated roles.\n"
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: username
          in: path
          description: "Specifies the user ID that to retrieve.\nNote that the username must be percent encoded.\n"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Permissions do not allow retrieving the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    patch:
      tags:
        - Users
      summary: Update a user
      description: Update details about a user such as role names.
      operationId: updateUser
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: username
          in: path
          description: "Specifies the user ID to update.\nNote that the username must be percent encoded.\n"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: New user after modification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Permissions do not allow updating the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    delete:
      tags:
        - Users
      summary: Delete a user
      description: Delete a user from the account.
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: username
          in: path
          description: "Specifies the user ID to delete.\nNote that the username must be percent encoded.\n"
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User was successfully deleted.
        '403':
          description: Permissions do not allow deleting the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  '/v2/users/{username}/reset_password':
    post:
      tags:
        - Users
      summary: Reset the password for a user
      description: Reset the password for a user.
      operationId: resetUserPassword
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: username
          in: path
          description: "Specifies the user ID to update.\nNote that the username must be percent encoded and URI safe.\n"
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User was sent the password reset email.
        '403':
          description: Permissions do not allow resetting the user password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /v2/api_keys:
    post:
      tags:
        - API Keys
      summary: Create an API key
      description: An API key is to authenticate when calling Vectara APIs.
      operationId: createApiKey
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: 'An API key object, used to query the Vectara API with the assigned roles.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          description: API key creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating the API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - API Keys
      summary: List API keys
      operationId: listApiKeys
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: Max number of API keys to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of API keys after the limit has been reached.
          schema:
            type: string
        - name: corpus_key
          in: query
          description: Filters the API keys to only those with permissions on the specified corpus key.
          schema:
            $ref: '#/components/schemas/CorpusKey'
      responses:
        '200':
          description: An array of API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
        '400':
          description: API key list request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow listing API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v2/api_keys/{api_key_id}':
    get:
      tags:
        - API Keys
      summary: Get an API key
      operationId: getApiKey
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: api_key_id
          in: path
          description: The ID of the API key.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '403':
          description: Permissions do not allow getting this API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - API Keys
      summary: Update an API key
      description: Update an API key such as the roles attached to the key.
      operationId: updateApiKey
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: api_key_id
          in: path
          description: The ID of the API key.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequest'
      responses:
        '200':
          description: The API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '403':
          description: Permissions do not allow getting this API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - API Keys
      summary: Delete an API key
      description: Delete API keys to help you manage the security and lifecycle of API keys in your application.
      operationId: deleteApiKey
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: api_key_id
          in: path
          description: The ID of the API key.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The API key was deleted.
        '403':
          description: Permissions do not allow deleting this API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/app_clients:
    post:
      tags:
        - Application Clients
      summary: Create an App Client
      description: An App Client is used for OAuth 2.0 authentication when calling Vectara APIs.
      operationId: createAppClient
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppClientRequest'
      responses:
        '201':
          description: 'An App Client object, used to query the Vectara API with the assigned roles.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
        '400':
          description: App Client creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating the App Client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - Application Clients
      summary: List App Clients
      operationId: listAppClient
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: The maximum number of App Clients to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: filter
          in: query
          description: Regular expression to filter the names of the App Clients.
          schema:
            type: string
        - name: page_key
          in: query
          description: Used to retrieve the next page of App Clients after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: An array of App Clients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppClientsResponse'
        '400':
          description: App Clients list request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow listing App Clients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v2/app_clients/{app_client_id}':
    get:
      tags:
        - Application Clients
      summary: Get an App Client
      operationId: getAppClient
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: app_client_id
          in: path
          description: The ID of the App Client.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The App Client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
        '403':
          description: Permissions do not allow getting this App Client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Application Clients
      summary: Update an App Client
      operationId: updateAppClient
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: app_client_id
          in: path
          description: The name of App Client.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppClientRequest'
      responses:
        '200':
          description: The App Client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
        '403':
          description: Permissions do not allow updating this App Client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Application Clients
      summary: Delete an App Client
      operationId: deleteAppClient
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: app_client_id
          in: path
          description: The name of App Client.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The App Client was deleted.
        '403':
          description: Permissions do not allow deleting this App Client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CreateCorpusRequest:
      required:
        - key
      type: object
      properties:
        key:
          $ref: '#/components/schemas/CorpusKey'
        name:
          type: string
          description: The name for the corpus. This value defaults to the key.
          example: My corpus
        description:
          type: string
          description: Description of the corpus.
          example: Documents with important information for my prompt.
        queries_are_answers:
          type: boolean
          description: 'Queries made to this corpus are considered answers, and not questions.'
          default: false
        documents_are_questions:
          type: boolean
          description: 'Documents inside this corpus are considered questions, and not answers.'
          default: false
        encoder_id:
          pattern: 'enc_[0-9]+$'
          type: string
          description: "*Deprecated*: Use `encoder_name` instead.\n"
          example: enc_1
          deprecated: true
        encoder_name:
          type: string
          description: The encoder used by the corpus.
          example: boomerang
        filter_attributes:
          type: array
          items:
            $ref: '#/components/schemas/FilterAttribute'
          description: "The new filter attributes of the corpus. \nIf unset then the corpus will not have filter attributes.\n"
        custom_dimensions:
          type: array
          items:
            $ref: '#/components/schemas/CorpusCustomDimension'
          description: "A custom dimension is an additional numerical field attached to a document part. You\ncan then multiply this numerical field with a query time custom dimension of the same\nname. This allows boosting (or burying) document parts for arbitrary reasons.\nThis feature is only enabled for Scale customers.\n"
    UpdateCorpusRequest:
      type: object
      properties:
        enabled:
          type: boolean
          description: Set whether or not the corpus is enabled. If unset then the corpus will remain in the same state.
          example: false
        name:
          type: string
          description: 'The name for the corpus. If unset or null, then the corpus will remain in the same state.'
          example: new-name
        description:
          type: string
          description: 'Description of the corpus. If unset or null, then the corpus will remain in the same state.'
          example: New description of the corpus.
      description: Corpus properties that are modifiable after creation.
    ReplaceFilterAttributesRequest:
      required:
        - filter_attributes
      type: object
      properties:
        filter_attributes:
          type: array
          items:
            $ref: '#/components/schemas/FilterAttribute'
          description: The new filter attributes.
    ReplaceFilterAttributesResponse:
      required:
        - job_id
      type: object
      properties:
        job_id:
          pattern: job_.+$
          type: string
          description: Job that was created in order to replace filter attributes.
    CorpusKey:
      maxLength: 50
      pattern: '[a-zA-Z0-9_\=\-]+$'
      type: string
      description: A user-provided key for a corpus.
      example: my-corpus
    Corpus:
      type: object
      properties:
        id:
          pattern: 'crp_[0-9]+$'
          type: string
          description: Vectara ID of the corpus.
        key:
          $ref: '#/components/schemas/CorpusKey'
        name:
          type: string
          description: Name for the corpus. This value defaults to the key.
        description:
          type: string
          description: Corpus description.
        enabled:
          type: boolean
          description: Specifies whether the corpus is enabled or not.
        chat_history_corpus:
          type: boolean
          description: Indicates that this corpus does not store documents and stores chats instead.
        queries_are_answers:
          type: boolean
          description: "Queries made to this corpus are considered answers, and not questions.\nThis swaps the semantics of the encoder used at query time.\n"
          default: false
        documents_are_questions:
          type: boolean
          description: "Documents inside this corpus are considered questions, and not answers.\nThis swaps the semantics of the encoder used at indexing.\n"
          default: false
        encoder_id:
          pattern: 'enc_[0-9]+$'
          type: string
          description: "The encoder used by the corpus.\n*Deprecated*: use `encoder_name` instead\n"
          deprecated: true
        encoder_name:
          type: string
          description: The encoder used by the corpus.
          example: boomerang
        filter_attributes:
          type: array
          items:
            $ref: '#/components/schemas/FilterAttribute'
          description: The new filter attributes of the corpus.
        custom_dimensions:
          type: array
          items:
            $ref: '#/components/schemas/CorpusCustomDimension'
          description: The custom dimensions of all document parts inside the corpus.
        limits:
          title: CorpusLimits
          type: object
          properties:
            used_docs:
              type: integer
              description: "The number of documents contained in the corpus.\n"
              format: int64
            used_parts:
              type: integer
              description: "The number of document parts contained in the corpus.\n"
              format: int64
            used_bytes:
              type: integer
              description: "NOTE: This field is currently not populated by the system.\nThe number of bytes contained in the corpus. This includes the document metadata,\ndocument part metadata, and document contents.\n"
              format: int64
            used_characters:
              type: integer
              description: "The number of characters contained in the corpus. This includes the document metadata,\ndocument part metadata, and document contents.\n"
              format: int64
            max_bytes:
              type: integer
              description: "NOTE: This field is currently not populated by the system.\nThe maximum number of bytes the corpus can be.\n"
              format: int64
            max_metadata_bytes:
              type: integer
              description: The maximum size that metadata can be on documents.
              format: int64
            index_rate:
              type: integer
              description: "NOTE: This field is currently not populated by the system.\nThe maximum per-second addition of new documents to corpus.\n"
              format: int64
        created_at:
          type: string
          description: Indicates when the corpus was created.
          format: date-time
    CorpusCustomDimension:
      required:
        - name
      type: object
      properties:
        name:
          type: string
          description: The name of the custom dimension.
          example: importance
        description:
          type: string
          description: Description of the custom dimension.
          example: Product importance.
        indexing_default:
          type: number
          description: "Default value of a custom dimension on a document part if the custom\ndimension value is not specified when the document part is indexed.\n\nA value of 0 means that custom dimension is not considered.\n"
          format: double
          default: 0
          example: 0
        querying_default:
          type: number
          description: "Default value of a custom dimension for a query if the value\nof the custom dimension is not specified when querying the corpus.\n\nA value of 0 means that custom dimension is not considered.\n"
          format: double
          default: 0
          example: 0
      description: "Custom dimensions attached to all document parts in a corpus. Allows arbitrary\nmodification of the score for many purposes.\n"
    FilterAttribute:
      required:
        - name
        - level
        - type
      type: object
      properties:
        name:
          type: string
          description: The JSON path of the filter attribute in a document or document part metadata.
          example: Title
        level:
          enum:
            - document
            - part
          type: string
          description: Indicates whether this is a document or document part metadata filter.
          example: document
        description:
          type: string
          description: Description of the filter. May be omitted.
          example: The title of the document.
        indexed:
          type: boolean
          description: Indicates whether an index should be created for the filter. Creating an index will improve query latency when using the filter.
          default: true
        type:
          enum:
            - integer
            - real_number
            - text
            - boolean
            - 'list[integer]'
            - 'list[real_number]'
            - 'list[text]'
          type: string
          description: The value type of the filter.
          example: text
    ListCorporaResponse:
      type: object
      properties:
        corpora:
          type: array
          items:
            $ref: '#/components/schemas/Corpus'
        metadata:
          $ref: '#/components/schemas/ListMetadata'
    SearchParameters:
      type: object
      properties:
        offset:
          minimum: 0
          type: integer
          description: Specifies how many results into the result to skip. This is useful for pagination.
          format: int32
          default: 0
        limit:
          minimum: 1
          type: integer
          description: The maximum number of results returned.
          format: int32
          default: 10
        context_configuration:
          $ref: '#/components/schemas/ContextConfiguration'
        reranker:
          $ref: '#/components/schemas/SearchReranker'
      description: Search parameters to retrieve knowledge for the query.
    ContextConfiguration:
      type: object
      properties:
        characters_before:
          minimum: 0
          type: integer
          description: "The number of characters that are shown before the matching document part.\nThis is useful to show the context of the document part in the wider document.\nIgnored if `sentences_before` is set.\nVectara will capture the full sentence that contains the captured characters,\nto not lose the meaning caused by a truncated word or sentence.\n"
          format: int32
          default: 0
          example: 30
        characters_after:
          minimum: 0
          type: integer
          description: "The number of characters that are shown after the matching document part. \nThis is useful to show the context of the document part in the wider document.\nIgnored if `sentences_after` is set.\nVectara will capture the full sentence that contains the captured characters,\nto not lose the meaning caused by a truncated word or sentence.\n"
          format: int32
          default: 0
          example: 30
        sentences_before:
          minimum: 0
          type: integer
          description: "The number of sentences that are shown before the matching document part.\nThis is useful to show the context of the document part in the wider document.\n"
          format: int32
          default: 0
          example: 3
        sentences_after:
          minimum: 0
          type: integer
          description: "The number of sentences that are shown after the matching document part. \nThis is useful to show the context of the document part in the wider document.\n"
          format: int32
          default: 0
          example: 3
        start_tag:
          type: string
          description: "The tag that wraps the document part at the start. This is often used to \nprovide a start HTML/XML tag or some other delimiter you can use in an \napplication to understand where to provide highlighting in your UI and \nunderstand where the context before ends and the document part begins.\n"
          example: <em>
        end_tag:
          type: string
          description: "The tag that wraps the document part at the end. This is often used to \nprovide a start HTML/XML tag or some other delimiter you can use in an \napplication to understand where to provide highlighting in your UI and \nunderstand where the context before ends and the document part begins.\n"
          example: </em>
      description: Configuration on the presentation of each document part in the result set.
    GenerationParameters:
      type: object
      properties:
        generation_preset_name:
          minLength: 1
          type: string
          description: "The preset values to use to feed the query results and other context to the model.\n\nA `generation_preset` is an object with a bundle of properties that specifies:\n  * The `prompt_template` that is rendered and then sent to the LLM.\n  * The LLM used.\n  * `model_parameter`s such as temperature.\n \nAll of these properties except the model can be overriden by setting them in this\nobject. Even when a `prompt_template` is set, the `generation_preset_name` is used to set \nthe model used.\n\nIf `generation_preset_name` is not set, the Vectara platform will use the default model and\nprompt.\n"
          example: vectara-summary-ext-v1.2.0
        prompt_name:
          minLength: 1
          type: string
          description: "Use `generation_preset_name` instead of `prompt_name`.\n"
          example: vectara-summary-ext-v1.2.0
          deprecated: true
        max_used_search_results:
          minimum: 0
          type: integer
          description: The maximum number of search results to be available to the prompt.
          format: int32
          default: 5
        prompt_template:
          type: string
          description: "Vectara manages both system and user roles and prompts for the generative\nLLM out of the box by default. However, Scale customers can override the\n`prompt_template` via this variable. The `prompt_template` is in the form of an\nApache Velocity template. For more details on how to configure the\n`prompt_template`, see the [long-form documentation](https://docs.vectara.com/docs/prompts/vectara-prompt-engine).\nSee [pricing](https://vectara.com/pricing/) for more details on becoming a Scale customer.\n"
          example: "[\n  {\"role\": \"system\", \"content\": \"You are a helpful search assistant.\"},\n  #foreach ($qResult in $vectaraQueryResults)\n     {\"role\": \"user\", \"content\": \"Given the $vectaraIdxWord[$foreach.index] search result.\"},\n     {\"role\": \"assistant\", \"content\": \"${qResult.getText()}\" },\n  #end\n  {\"role\": \"user\", \"content\": \"Generate a summary for the query '${vectaraQuery}' based on the above results.\"}\n]\n"
        prompt_text:
          type: string
          description: "This property is deprecated in favor clearer naming. Use `prompt_template`. This property will be\nignored if `prompt_template` is set.\n"
          example: "[\n  {\"role\": \"system\", \"content\": \"You are a helpful search assistant.\"},\n  #foreach ($qResult in $vectaraQueryResults)\n     {\"role\": \"user\", \"content\": \"Given the $vectaraIdxWord[$foreach.index] search result.\"},\n     {\"role\": \"assistant\", \"content\": \"${qResult.getText()}\" },\n  #end\n  {\"role\": \"user\", \"content\": \"Generate a summary for the query '${vectaraQuery}' based on the above results.\"}\n]\n"
          deprecated: true
        max_response_characters:
          minimum: 0
          type: integer
          description: "Controls the length of the generated output.\nThis is a rough estimate and not a hard limit: the end output can be longer or shorter\nthan this value. This is generally implemented by including the `max_response_characters` in the\nprompt, and the LLM's instruction following capability dictates how closely the generated output\nis limited.\n\nThis is currently a Scale-only feature.\nSee [pricing](https://vectara.com/pricing/) for more details on becoming a Scale customer.\n"
          format: int32
          example: 300
        response_language:
          $ref: '#/components/schemas/Language'
        model_parameters:
          title: ModelParameters
          type: object
          properties:
            max_tokens:
              minimum: 1
              type: integer
              description: The maximum number of tokens to be returned by the model.
              format: int32
            temperature:
              type: number
              description: "The sampling temperature to use. Higher values make the output more random, while lower\nvalues make it more focused and deterministic.\n"
              format: float
            frequency_penalty:
              type: number
              description: "Higher values penalize new tokens based on their existing frequency in the text so far,\ndecreasing the model's likelihood to repeat the same line verbatim.\n"
              format: float
            presence_penalty:
              type: number
              description: "Higher values penalize new tokens based on whether they appear in the text so far,\nincreasing the model's likelihood to talk about new topics.\n"
              format: float
          description: "The parameters for the model.  These are currently a Scale-only feature.\nSee [pricing](https://vectara.com/pricing/) for more details on becoming a Scale customer.\nWARNING: This is an experimental feature, and breakable at any point with virtually no\nnotice. It is meant for experimentation to converge on optimal parameters that can then\nbe set in the prompt definitions.\n"
        citations:
          $ref: '#/components/schemas/CitationParameters'
        enable_factual_consistency_score:
          type: boolean
          description: Enable returning the factual consistency score with query results.
          default: true
      description: The parameters to control generation.
    CitationParameters:
      type: object
      properties:
        style:
          enum:
            - none
            - numeric
            - html
            - markdown
          type: string
          description: "The citation style to be used in summary.\nCan be one of:\n* `numeric` - Citations formatted as simple numerals: \\[1\\], \\[2\\] ...\n* `none` - Citations removed from text.\n* `html` - Citation formatted as a URL like `<a href=\"url_pattern\">text_pattern</a>`.\n* `markdown` - Formatted as `[text_pattern](url_pattern)`.\n"
        url_pattern:
          type: string
          description: "The URL pattern if the citation_style is set to `html` or `markdown`.\nThe pattern can access metadata attributes in the document or part.\ne.g. `https://my.doc/foo/{doc.id}/{part.id}`\n\nThe default `url_pattern` is an empty string.\n"
          example: 'https://vectara.com/documents/{doc.id}'
        text_pattern:
          type: string
          description: "The text pattern if the citation_style is set to `html` or `markdown`.\nThis pattern sets the href for HTML or the text within `[]` in markdown,\nand defaults to N being the index of result if it is not set.\n\nThe default citation style looks like `[N](<url_pattern>)` for markdown.\n\nYou can use metadata attributes in the `text_pattern`. For example,\nthe pattern `{doc.title}` with citation style `markdown` would result\nin final citation output like `[Title](<url_pattern>)` when\nthe document's metadata includes `{\"title\":\"Title\"}`.\n"
          example: '{doc.title}'
      description: Style the generator should use when making citations.
    QueryRequest:
      required:
        - query
        - search
      type: object
      properties:
        query:
          type: string
          description: 'The search query string, which is the question the user is asking.'
          example: Am I allowed to bring pets to work?
        search:
          $ref: '#/components/schemas/SearchCorporaParameters'
        generation:
          $ref: '#/components/schemas/GenerationParameters'
        stream_response:
          type: boolean
          description: Indicates whether the response should be streamed or not.
          default: false
      description: Query one or more corpora.
    SearchCorporaParameters:
      required:
        - corpora
      allOf:
        - type: object
          properties:
            corpora:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/KeyedSearchCorpus'
              description: The corpora that you want to search.
        - $ref: '#/components/schemas/SearchParameters'
      description: The parameters to search one or more corpora.
    QueryCorpusRequest:
      required:
        - query
      type: object
      properties:
        query:
          type: string
          description: 'The search query string, which is the question the user is asking.'
        search:
          title: SearchCorpusParameters
          allOf:
            - $ref: '#/components/schemas/SearchCorpus'
            - $ref: '#/components/schemas/SearchParameters'
          description: The parameters to search one corpus.
        generation:
          $ref: '#/components/schemas/GenerationParameters'
        stream_response:
          type: boolean
          description: Indicates whether the response should be streamed or not.
          default: false
    SearchCorpus:
      type: object
      properties:
        custom_dimensions:
          $ref: '#/components/schemas/CustomDimensions'
        metadata_filter:
          type: string
          description: "The filter string to narrow the search to according to metadata attributes. The query against this\ncorpus will be confined to document parts that match the `metadata_filter`. Only metadata\nset as `filter_attributes` on the corpus can be filtered. Filter syntax is similiar to\na SQL where clause. See [metadata filters documentation](https://docs.vectara.com/docs/learn/metadata-search-filtering/filter-overview)\nfor more information.\n"
          example: doc.title = 'Charlotte''s Web'
        lexical_interpolation:
          maximum: 1
          minimum: 0
          type: number
          description: 'How much to weigh lexical scores compared to the embedding score. 0 means lexical search is not used at all, and 1 means only lexical search is used.'
          format: float
          example: 0.025
        semantics:
          $ref: '#/components/schemas/SearchSemantics'
    SearchSemantics:
      enum:
        - default
        - query
        - response
      type: string
      description: Indicates whether to consider a query against this corpus as a query or a response.
      default: default
    KeyedSearchCorpus:
      required:
        - corpus_key
      allOf:
        - $ref: '#/components/schemas/SearchCorpus'
        - type: object
          properties:
            corpus_key:
              $ref: '#/components/schemas/CorpusKey'
    SearchReranker:
      type: object
      oneOf:
        - $ref: '#/components/schemas/CustomerSpecificReranker'
        - $ref: '#/components/schemas/UserFunctionReranker'
        - $ref: '#/components/schemas/MMRReranker'
        - $ref: '#/components/schemas/ChainReranker'
        - $ref: '#/components/schemas/NoneReranker'
      description: "Rerank results of the search. Rerankers are very powerful tools to better order search results.\nBy default the search will use the most powerful reranker available to the customer's plan.\nTo disable reranking set the reranker `type` to `\"none\"`.\n"
      discriminator:
        propertyName: type
        mapping:
          customer_reranker: '#/components/schemas/CustomerSpecificReranker'
          userfn: '#/components/schemas/UserFunctionReranker'
          mmr: '#/components/schemas/MMRReranker'
          chain: '#/components/schemas/ChainReranker'
          none: '#/components/schemas/NoneReranker'
    CustomerSpecificReranker:
      type: object
      properties:
        type:
          type: string
          description: "When type is `customer_reranker`, you can specify the `reranker_name` of a reranker. `reranker_id` is deprecated.\nThe retrieval engine will then rerank results using that reranker.\n"
          default: customer_reranker
        reranker_id:
          pattern: rnk_(?!272725718)\d+
          type: string
          description: "The ID of the reranker. The multilingual reranker that may be used by Scale customers is rnk_272725719.\nDo not specify the MMR reranker ID here, and instead, use the MMR reranker object type.\n**Deprecated**: Use `reranker_name` instead.\n"
          example: rnk_272725719
          deprecated: true
        reranker_name:
          type: string
          description: "The name of the reranker. Do not specify the MMR reranker name here. Instead, use the MMR reranker object type.\n"
          example: Rerank_Multilingual_v1
        limit:
          minimum: 1
          type: integer
          description: "Specifies the maximum number of results to be returned after the reranking process. \nWhen a reranker is applied, it performs the following steps:\n1. Reranks all input results according to its algorithm.\n2. Sorts the reranked results based on their new scores.\n3. Returns the top N results, where N is the value specified by this limit.\n\nNote: This limit is applied per reranking stage. In a chain of rerankers, \neach reranker can have its own limit, potentially reducing the number of \nresults at each stage.\n"
          format: int32
        cutoff:
          type: number
          description: "Specifies the minimum score threshold for results to be included after the reranking process.\nWhen a reranker is applied with a cutoff, it performs the following steps:\n1. Reranks all input results according to its algorithm.\n2. Applies the cutoff, removing any results with scores below the specified threshold.\n3. Returns the remaining results, sorted by their new scores.\n\nNote: This cutoff is applied per reranking stage. In a chain of rerankers,\neach reranker can have its own cutoff, potentially further reducing the number of\nresults at each stage. If both 'limit' and 'cutoff' are specified, the cutoff\nis applied first, followed by the limit.\n"
          format: float
      description: Reranker that is specific to the customer.
      x-vectaraParents:
        - SearchReranker
    UserFunctionReranker:
      type: object
      properties:
        type:
          type: string
          description: "When the type is `userfn`, you can define custom reranking functions using document-level metadata,\npart-level metadata, or scores generated from the request-level metadata.\n"
          default: userfn
        user_function:
          type: string
          description: The user defined function.
          example: get('$.score') * get('$.document_metadata.boost')
        limit:
          minimum: 1
          type: integer
          description: "Specifies the maximum number of results to be returned after the reranking process. \nWhen a reranker is applied, it performs the following steps:\n1. Reranks all input results according to its algorithm.\n2. Sorts the reranked results based on their new scores.\n3. Returns the top N results, where N is the value specified by this limit.\n\nNote: This limit is applied per reranking stage. In a chain of rerankers, \neach reranker can have its own limit, potentially reducing the number of \nresults at each stage.\n"
          format: int32
        cutoff:
          type: number
          description: "Specifies the minimum score threshold for results to be included after the reranking process.\nWhen a reranker is applied with a cutoff, it performs the following steps:\n1. Reranks all input results according to its algorithm.\n2. Applies the cutoff, removing any results with scores below the specified threshold.\n3. Returns the remaining results, sorted by their new scores.\n\nNote: This cutoff is applied per reranking stage. In a chain of rerankers,\neach reranker can have its own cutoff, potentially further reducing the number of\nresults at each stage. If both 'limit' and 'cutoff' are specified, the cutoff\nis applied first, followed by the limit.\n"
          format: float
      x-vectaraParents:
        - SearchReranker
    MMRReranker:
      type: object
      properties:
        type:
          type: string
          description: "When the type is `mmr`, you can specify the `diversity_bias`, and the\nthe retrieval engine will use the MMR reranker.\n"
          default: mmr
        diversity_bias:
          type: number
          description: The diversity bias. Higher values indicate more diversity.
          format: float
          example: 0.3
        limit:
          minimum: 1
          type: integer
[...]
