openapi: 3.0.3
info:
  title: API
  version: '1.0'
servers:
  - url: https://api.writer.com
security:
  - bearerAuth: []
x-mint:
  mcp:
    enabled: true
paths:
  /v1/chat:
    post:
      security:
        - bearerAuth: []
      tags:
        - Generation API
      summary: Chat completion
      description: >-
        Generate a chat completion based on the provided messages. The response shown below is for
        non-streaming. To learn about streaming responses, see the [chat completion
        guide](https://dev.writer.com/home/chat-completion).
      operationId: chat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_request'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat_response'
            text/event-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/chat_completion_chunk'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request POST https://api.writer.com/v1/chat \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"model":"palmyra-x5","messages":[{"content":"Write a memo summarizing this earnings
            report.","role":"user"}]}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const chat = await client.chat.chat({
                messages: [{ content: 'Write a memo summarizing this earnings report.', role: 'user' }],
                model: 'palmyra-x5',
              });

              console.log(chat.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            chat = client.chat.chat(
                messages=[{
                    "content": "Write a memo summarizing this earnings report.",
                    "role": "user",
                }],
                model="palmyra-x5",
            )
            print(chat.id)
  /v1/completions:
    post:
      security:
        - bearerAuth: []
      tags:
        - Generation API
      summary: Text generation
      description: >-
        Generate text completions using the specified model and prompt. This endpoint is useful for text
        generation tasks that don't require conversational context.
      operationId: completions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/completions_request'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/completions_response'
            text/event-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/streaming_data'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request POST https://api.writer.com/v1/completions \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"model":"palmyra-x-003-instruct","prompt":"Write me a short SEO article about camping
            gear","max_tokens":150,"temperature":0.7,"top_p":0.9,"stop":["."],"best_of":1,"random_seed":42,"stream":false}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const completion = await client.completions.create({
                model: 'palmyra-x-003-instruct',
                prompt: 'Write me a short SEO article about camping gear',
              });

              console.log(completion.choices);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            completion = client.completions.create(
                model="palmyra-x-003-instruct",
                prompt="Write me a short SEO article about camping gear",
            )
            print(completion.choices)
  /v1/models:
    get:
      security:
        - bearerAuth: []
      tags:
        - Generation API
      summary: List models
      description: >-
        Retrieve a list of available models that can be used for text generation, chat completions, and other
        AI tasks.
      operationId: models
      x-mint:
        mcp:
          enabled: true
          name: list-models
          description: Get a list of available Writer AI models
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/models \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const model = await client.models.list();

              console.log(model.models);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            model = client.models.list()
            print(model.models)
  /v1/graphs:
    get:
      security:
        - bearerAuth: []
      summary: List graphs
      description: Retrieve a list of Knowledge Graphs.
      tags:
        - KG API
      operationId: findGraphsWithFileStatus
      parameters:
        - name: order
          in: query
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
          description: Specifies the order of the results. Valid values are asc for ascending and desc for descending.
        - name: before
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: >-
            The ID of the first object in the previous page. This parameter instructs the API to return the
            previous page of results.
        - name: after
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: >-
            The ID of the last object in the previous page. This parameter instructs the API to return the
            next page of results.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 50
          description: >-
            Specifies the maximum number of objects returned in a page. The default value is 50. The minimum
            value is 1, and the maximum value is 100.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/graphs_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/graphs \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              // Automatically fetches more pages as needed.
              for await (const graph of client.graphs.list()) {
                console.log(graph.id);
              }
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            page = client.graphs.list()
            page = page.data[0]
            print(page.id)
    post:
      security:
        - bearerAuth: []
      summary: Create graph
      description: Create a new Knowledge Graph.
      tags:
        - KG API
      operationId: createGraph
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/graph_request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/graph_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request POST https://api.writer.com/v1/graphs \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"name":"string"}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const graph = await client.graphs.create({ name: 'name' });

              console.log(graph.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            graph = client.graphs.create(
                name="name",
            )
            print(graph.id)
  /v1/graphs/question:
    post:
      security:
        - bearerAuth: []
      summary: Question
      description: Ask a question to specified Knowledge Graphs.
      tags:
        - KG API
      operationId: question
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/question_request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/question_response'
              example:
                question: What is the generic name for the drug Bavencio?
                answer: avelumab
                sources:
                  - file_id: '1234'
                    snippet: Bavencio is the brand name for avelumab.
            text/event-stream:
              schema:
                $ref: '#/components/schemas/question_response_chunk'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request POST https://api.writer.com/v1/graphs/question \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"graph_ids":["182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e"],"question":"What is the generic
            name for the drug Bavencio?"}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const question = await client.graphs.question({
                graph_ids: ['182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e'],
                question: 'What is the generic name for the drug Bavencio?'
            });

              console.log(question.answer);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            question = client.graphs.question(
                graph_ids=["182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e"],
                question="What is the generic name for the drug Bavencio?"
            )
            print(question.answer)
  /v1/graphs/{graph_id}:
    get:
      security:
        - bearerAuth: []
      summary: Retrieve graph
      description: Retrieve a Knowledge Graph.
      tags:
        - KG API
      operationId: findGraphWithFileStatus
      parameters:
        - name: graph_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier of the Knowledge Graph.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/graph'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/graphs/{graph_id} \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const graph = await client.graphs.retrieve('182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e');

              console.log(graph.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            graph = client.graphs.retrieve(
                "182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e",
            )
            print(graph.id)
    put:
      security:
        - bearerAuth: []
      summary: Update graph
      description: Update the name and description of a Knowledge Graph.
      tags:
        - KG API
      operationId: updateGraph
      parameters:
        - name: graph_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier of the Knowledge Graph.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_graph_request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/graph_response'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request PUT https://api.writer.com/v1/graphs/{graph_id} \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"name":"string", "description":"string", "urls":[{"url":"https://example.com/docs",
            "type":"sub_pages", "exclude_urls":["https://example.com/docs/private"]}]}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const graph = await client.graphs.update('182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', 
                { name: 'name', description: 'description' }
              );

              console.log(graph.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            graph = client.graphs.update(
                graph_id="182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e",
                name="name",
                description="description",
            )
            print(graph.id)
    delete:
      security:
        - bearerAuth: []
      summary: Delete graph
      description: Delete a Knowledge Graph.
      tags:
        - KG API
      operationId: deleteGraph
      parameters:
        - name: graph_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier of the Knowledge Graph.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_graph_response'
              example:
                id: e7392337-1c4e-4bc9-aaf5-b719bf1e938a
                deleted: true
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request DELETE https://api.writer.com/v1/graphs/{graph_id} \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const graph = await client.graphs.delete('182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e');

              console.log(graph.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            graph = client.graphs.delete(
                "182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e",
            )
            print(graph.id)
  /v1/graphs/{graph_id}/file:
    post:
      security:
        - bearerAuth: []
      summary: Add file to graph
      description: Add a file to a Knowledge Graph.
      tags:
        - KG API
      operationId: addFileToGraph
      parameters:
        - name: graph_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier of the Knowledge Graph.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/graph_file_request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request POST https://api.writer.com/v1/graphs/{graph_id}/file \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"file_id":"string"}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const file = await client.graphs.addFileToGraph('182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', {
                file_id: 'file_id',
              });

              console.log(file.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            file = client.graphs.add_file_to_graph(
                graph_id="182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e",
                file_id="file_id",
            )
            print(file.id)
  /v1/graphs/{graph_id}/file/{file_id}:
    delete:
      security:
        - bearerAuth: []
      summary: Remove file from graph
      description: Remove a file from a Knowledge Graph.
      tags:
        - KG API
      operationId: removeFileFromGraph
      parameters:
        - name: graph_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier of the Knowledge Graph to which the files belong.
        - name: file_id
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier of the file.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_file_response'
              example:
                id: 7c36a365-392f-43ba-840d-8f3103b42572
                deleted: true
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request DELETE https://api.writer.com/v1/graphs/{graph_id}/file/{file_id} \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.graphs.removeFileFromGraph('182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', 'file_id');

              console.log(response.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            response = client.graphs.remove_file_from_graph(
                file_id="file_id",
                graph_id="182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e",
            )
            print(response.id)
  /v1/files/{file_id}:
    get:
      security:
        - bearerAuth: []
      summary: Retrieve file
      description: >-
        Retrieve detailed information about a specific file, including its metadata, status, and associated
        graphs.
      tags:
        - File API
      operationId: gatewayGetFile
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier of the file.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file_response'
              example:
                id: 7c36a365-392f-43ba-840d-8f3103b42572
                created_at: '2024-07-10T13:34:28.301201Z'
                name: example.pdf
                graph_ids:
                  - 704ffd94-de04-4de2-9f8b-f9fc04831edd
                status: completed
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/files/{file_id} \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const file = await client.files.retrieve('file_id');

              console.log(file.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            file = client.files.retrieve(
                "file_id",
            )
            print(file.id)
    delete:
      security:
        - bearerAuth: []
      summary: Delete file
      description: Permanently delete a file from the system. This action cannot be undone.
      tags:
        - File API
      operationId: gatewayDeleteFile
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier of the file.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_file_response'
              example:
                id: 7c36a365-392f-43ba-840d-8f3103b42572
                deleted: true
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request DELETE https://api.writer.com/v1/files/{file_id} \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const file = await client.files.delete('file_id');

              console.log(file.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            file = client.files.delete(
                "file_id",
            )
            print(file.id)
  /v1/files:
    get:
      security:
        - bearerAuth: []
      summary: List files
      description: >-
        Retrieve a paginated list of files with optional filtering by status, graph association, and file
        type.
      tags:
        - File API
      operationId: gatewayGetFiles
      parameters:
        - name: before
          in: query
          required: false
          schema:
            type: string
          description: >-
            The ID of the first object in the previous page. This parameter instructs the API to return the
            previous page of results.
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: >-
            The ID of the last object in the previous page. This parameter instructs the API to return the
            next page of results.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 50
          description: >-
            Specifies the maximum number of objects returned in a page. The default value is 50. The minimum
            value is 1, and the maximum value is 100.
        - name: order
          in: query
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
          description: Specifies the order of the results. Valid values are asc for ascending and desc for descending.
        - name: graph_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: The unique identifier of the graph to which the files belong.
        - name: status
          in: query
          required: false
          schema:
            enum:
              - in_progress
              - completed
              - failed
          description: Specifies the status of the files to retrieve. Valid values are in_progress, completed or failed.
        - name: file_types
          in: query
          required: false
          schema:
            type: string
          description: >-
            The extensions of the files to retrieve. Separate multiple extensions with a comma. For example:
            `pdf,jpg,docx`.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files_response'
              example:
                data:
                  - id: 7c36a365-392f-43ba-840d-8f3103b42572
                    name: example.pdf
                    created_at: '2024-07-10T12:00:00Z'
                    graph_ids:
                      - 31a8b75a-9a90-432f-8861-942229125333
                    status: in_progress
                  - id: 4bbe6207-737e-486f-a287-c5e95536984a
                    name: image.jpg
                    created_at: '2024-07-09T15:30:00Z'
                    graph_ids:
                      - 31a8b75a-9a90-432f-8861-942229125333
                    status: completed
                  - id: efc86bb4-30a4-40c9-a52a-ecee0d7e071f
                    name: document.txt
                    created_at: '2024-07-08T16:00:00Z'
                    graph_ids:
                      - 31a8b75a-9a90-432f-8861-942229125333
                    status: failed
                has_more: false
                first_id: 7c36a365-392f-43ba-840d-8f3103b42572
                last_id: efc86bb4-30a4-40c9-a52a-ecee0d7e071f
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/files \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              // Automatically fetches more pages as needed.
              for await (const file of client.files.list()) {
                console.log(file.id);
              }
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            page = client.files.list()
            page = page.data[0]
            print(page.id)
    post:
      security:
        - bearerAuth: []
      summary: Upload file
      description: >-
        Upload a new file to the system. Supports various file formats including PDF, DOC, DOCX, PPT, PPTX,
        JPG, PNG, EML, HTML, SRT, CSV, XLS, and XLSX.
      tags:
        - File API
      operationId: gatewayUploadFile
      parameters:
        - name: Content-Disposition
          in: header
          required: true
          schema:
            type: string
          description: >-
            The disposition type of the file, typically used to indicate the form-data name. Use `attachment`
            with the filename parameter to specify the name of the file, for example: `attachment;
            filename=example.pdf`.
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
          description: >-
            The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/MIME_types/Common_types) of the
            file being uploaded. Supports `txt`, `doc`, `docx`, `ppt`, `pptx`, `jpg`, `png`, `eml`, `html`,
            `pdf`, `srt`, `csv`, `xls`, `xlsx`, `mp3`, and `mp4` file extensions.
        - name: Content-Length
          in: header
          required: true
          schema:
            type: integer
            format: int64
          description: The size of the file in bytes.
        - name: graphId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: >-
            The unique identifier of the Knowledge Graph to associate the uploaded file with.


            Note: The response from the upload endpoint does not include the `graphId` field, but the
            association will be visible when you retrieve the file using the file retrieval endpoint.
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              format: binary
          application/msword:
            schema:
              type: string
              format: binary
          application/vnd.openxmlformats-officedocument.wordprocessingml.document:
            schema:
              type: string
              format: binary
          application/vnd.ms-powerpoint:
            schema:
              type: string
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.presentation:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          message/rfc822:
            schema:
              type: string
              format: binary
          text/html:
            schema:
              type: string
              format: binary
          application/pdf:
            schema:
              type: string
              format: binary
          application/x-subrip:
            schema:
              type: string
              format: binary
          text/csv:
            schema:
              type: string
              format: binary
          application/vnd.ms-excel:
            schema:
              type: string
              format: binary
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request POST https://api.writer.com/v1/files \
             --header "Authorization: Bearer <token>"
             --header "Accept: */*" \
             --header "Content-Disposition: attachment; filename=descriptions.pdf" \
             --header "Content-Length: size_in_bytes" \
             --header "Content-Type: application/pdf" \
             --data-binary "@descriptions.pdf"
        - lang: JavaScript
          source: |-
            import fs from 'fs';
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const file = await client.files.upload({
                content: fs.createReadStream('path/to/file/descriptions.pdf'),
                'Content-Disposition': 'attachment; filename=descriptions.pdf',
                'Content-Type': 'application/pdf',
              });

              console.log(file.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from pathlib import Path
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            file = client.files.upload(
                content=Path('/path/to/file/descriptions.pdf'),
                content_disposition="attachment; filename=descriptions.pdf",
                content_type="application/pdf"
            )
            print(file.id)
  /v1/files/{file_id}/download:
    get:
      security:
        - bearerAuth: []
      tags:
        - File API
      summary: Download file
      description: >-
        Download the binary content of a file. The response will contain the file data in the appropriate MIME
        type.
      operationId: gatewayDownloadFile
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier of the file.
      responses:
        '200':
          description: File download successful
          headers:
            Content-Type:
              description: The MIME type of the file being downloaded
              required: true
              schema:
                type: object
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                fileDownloadExample:
                  summary: Example binary file download
                  value: File contents
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/files/{file_id}/download \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.files.download('file_id');

              console.log(response);

              const content = await response.blob();
              console.log(content);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            response = client.files.download(
                "file_id",
            )
            print(response)
            content = response.read()
            print(content)
  /v1/files/retry:
    post:
      security:
        - bearerAuth: []
      tags:
        - File API
      summary: Retry failed files
      description: >-
        Retry processing of files that previously failed to process. This will re-attempt the processing of
        the specified files.
      operationId: gatewayRetryFailedFiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/retry_files_request'
        required: true
      responses:
        '200':
          description: The retry request is being processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retry_files_response'
              example:
                success: true
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request POST https://api.writer.com/v1/files/retry \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
             --data-raw '{"file_ids":["182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e", "182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e", "182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e"]}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.files.retry({
                file_ids: [
                  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
                  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
                  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
                ],
              });

              console.log(response.success);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            response = client.files.retry(
                file_ids=["182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e", "182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e", "182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e"],
            )
            print(response.success)
  /v1/applications:
    get:
      security:
        - bearerAuth: []
      tags:
        - Generation API
      summary: List applications
      description: >-
        Retrieves a paginated list of no-code agents (formerly called no-code applications) with optional
        filtering and sorting capabilities.
      parameters:
        - name: order
          in: query
          required: false
          description: Sort order for the results based on creation time.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: before
          in: query
          required: false
          description: Return results before this application ID for pagination.
          schema:
            type: string
            format: uuid
        - name: after
          in: query
          required: false
          description: Return results after this application ID for pagination.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Maximum number of applications to return in the response.
          schema:
            type: integer
            format: int32
            default: 50
        - name: type
          in: query
          required: false
          description: Filter applications by their type.
          schema:
            $ref: '#/components/schemas/application_type'
            default: generation
      responses:
        '200':
          description: Successfully retrieved list of applications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_applications_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/applications \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              // Automatically fetches more pages as needed.
              for await (const applicationListResponse of client.applications.list()) {
                console.log(applicationListResponse.id);
              }
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            page = client.applications.list()
            page = page.data[0]
            print(page.id)
  /v1/applications/{application_id}:
    get:
      security:
        - bearerAuth: []
      tags:
        - Generation API
      summary: Application details
      description: >-
        Retrieves detailed information for a specific no-code agent (formerly called no-code applications),
        including its configuration and current status.
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier of the application to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved application details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_with_inputs'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/applications/{application_id} \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const application = await client.applications.retrieve('application_id');

              console.log(application.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            application = client.applications.retrieve(
                "application_id",
            )
            print(application.id)
    post:
      security:
        - bearerAuth: []
      tags:
        - Generation API
      summary: Generate from application
      description: Generate content from an existing no-code agent (formerly called no-code applications) with inputs.
      operationId: generateContent
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier of a [no-code agent](/no-code/introduction) in AI Studio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generate_application_request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generate_application_response'
              example:
                title: Alt text
                suggestion: A modern dining room with a minimalist design.
            text/event-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/generate_application_response_chunk'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request POST https://api.writer.com/v1/applications/{application_id} \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"inputs":[{"id": "Image ID", "value": ["12345"]}]}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.applications.generateContent('182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', {
                inputs: [
                  { id: 'id', value: ['string', 'string', 'string'] },
                  { id: 'id', value: ['string', 'string', 'string'] },
                  { id: 'id', value: ['string', 'string', 'string'] },
                ],
              });

              console.log(response.suggestion);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            response = client.applications.generate_content(
                application_id="182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e",
                inputs=[{
                    "id": "id",
                    "value": ["string", "string", "string"],
                }, {
                    "id": "id",
                    "value": ["string", "string", "string"],
                }, {
                    "id": "id",
                    "value": ["string", "string", "string"],
                }],
            )
            print(response.suggestion)
  /v1/applications/{application_id}/jobs:
    get:
      tags:
        - template
      summary: Retrieve all jobs
      description: Retrieve all jobs created via the async API, linked to the provided application ID (or alias).
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          in: path
          description: The ID of the no-code app for which to retrieve jobs.
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/api_job_status'
        - name: offset
          in: query
          description: The pagination offset for retrieving the jobs.
          required: false
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          description: The pagination limit for retrieving the jobs.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_async_application_jobs_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/applications/{application_id}/jobs \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              // Automatically fetches more pages as needed.
              for await (const applicationGenerateAsyncResponse of client.applications.jobs.list('application_id')) {
                console.log(applicationGenerateAsyncResponse.id);
              }
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            page = client.applications.jobs.list(
                application_id="application_id",
            )
            page = page.result[0]
            print(page.id)
    post:
      tags:
        - template
      summary: Generate from application (async)
      description: >-
        Generate content asynchronously from an existing no-code agent (formerly called no-code applications)
        with inputs.
      security:
        - bearerAuth: []
      parameters:
        - name: application_id
          description: The ID of the no-code app for which to create a job.
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generate_application_async_request'
        required: true
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generate_application_async_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request POST https://api.writer.com/v1/applications/{application_id}/jobs \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"inputs":[{"id": "Image ID", "value": ["12345"]}]}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const job = await client.applications.jobs.create('application_id', {
                inputs: [{ id: 'id', value: ['string'] }],
              });

              console.log(job.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            job = client.applications.jobs.create(
                application_id="application_id",
                inputs=[{
                    "id": "id",
                    "value": ["string"],
                }],
            )
            print(job.id)
  /v1/applications/jobs/{job_id}/retry:
    post:
      tags:
        - template
      summary: Retry job execution
      description: >-
        Re-triggers the async execution of a single job previously created via the Async api and terminated in
        error.
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          description: The ID of the job to retry.
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generate_application_async_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request POST https://api.writer.com/v1/applications/jobs/{job_id}/retry \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.applications.jobs.retry('182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e');

              console.log(response.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            response = client.applications.jobs.retry(
                "182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e",
            )
            print(response.id)
  /v1/applications/jobs/{job_id}:
    get:
      tags:
        - template
      summary: Retrieve a single job
      description: Retrieves a single job created via the Async API.
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          description: The ID of the job to retrieve.
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_async_application_job_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/applications/jobs/{job_id} \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const applicationGenerateAsyncResponse = await client.applications.jobs.retrieve(
                '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
              );

              console.log(applicationGenerateAsyncResponse.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            application_generate_async_response = client.applications.jobs.retrieve(
                "182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e",
            )
            print(application_generate_async_response.id)
  /v1/applications/{application_id}/graphs:
    get:
      tags:
        - template
      summary: Retrieve graphs
      description: Retrieve Knowledge Graphs associated with a no-code agent that has chat capabilities.
      parameters:
        - name: application_id
          in: path
          description: The ID of the no-code agent for which to retrieve Knowledge Graphs.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_graphs_response'
      security:
        - bearerAuth: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request GET https://api.writer.com/v1/applications/{application_id}/graphs \
             --header "Authorization: Bearer <token>"
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const applicationGraphsResponse = await client.applications.graphs.list('application_id');

              console.log(applicationGraphsResponse.graph_ids);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            application_graphs_response = client.applications.graphs.list(
                "application_id",
            )
            print(application_graphs_response.graph_ids)
    put:
      tags:
        - template
      summary: Associate graphs
      description: Updates the list of Knowledge Graphs associated with a no-code chat agent.
      parameters:
        - name: application_id
          in: path
          description: >-
            The ID of the no-code agent to update.


            Only no-code agents with chat capabilities can have associated Knowledge Graphs. No-code agents
            with text generation and research capabilities do not support Knowledge Graphs.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/application_graph_ids_request'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_graphs_response'
      security:
        - bearerAuth: []
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request PUT https://api.writer.com/v1/applications/{application_id}/graphs \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw
            '{"graph_ids":["182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e","182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e","182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e"]}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const applicationGraphsResponse = await client.applications.graphs.update('application_id', {
                graph_ids: ['182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e'],
              });

              console.log(applicationGraphsResponse.graph_ids);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            application_graphs_response = client.applications.graphs.update(
                application_id="application_id",
                graph_ids=["182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e"],
            )
            print(application_graphs_response.graph_ids)
  /v1/tools/ai-detect:
    post:
      security:
        - bearerAuth: []
      tags:
        - Tools API
      summary: AI detection
      description: >-
        Detects if content is AI- or human-generated, with a confidence score. Content must have at least 350
        characters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ai_detection_request'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ai_detection_response'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request POST https://api.writer.com/v1/tools/ai-detect \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"input":"AI and ML continue to be at the forefront of technological advancements. In
            2025, we can expect more sophisticated AI systems that can handle complex tasks with greater
            efficiency. AI will play a crucial role in various sectors, including healthcare, finance, and
            manufacturing. For instance, AI-powered diagnostic tools will become more accurate, helping
            doctors detect diseases at an early stage. In finance, AI algorithms will enhance fraud detection
            and risk management."}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.tools.aiDetect({
                input:
                  'AI and ML continue to be at the forefront of technological advancements. In 2025, we can expect more sophisticated AI systems that can handle complex tasks with greater efficiency. AI will play a crucial role in various sectors, including healthcare, finance, and manufacturing. For instance, AI-powered diagnostic tools will become more accurate, helping doctors detect diseases at an early stage. In finance, AI algorithms will enhance fraud detection and risk management.',
              });

              console.log(response.label);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            response = client.tools.ai_detect(
                input="AI and ML continue to be at the forefront of technological advancements. In 2025, we can expect more sophisticated AI systems that can handle complex tasks with greater efficiency. AI will play a crucial role in various sectors, including healthcare, finance, and manufacturing. For instance, AI-powered diagnostic tools will become more accurate, helping doctors detect diseases at an early stage. In finance, AI algorithms will enhance fraud detection and risk management.",
            )
            print(response.label)
  /v1/tools/comprehend/medical:
    post:
      security:
        - bearerAuth: []
      tags:
        - Tools API
      summary: Medical comprehend
      description: >-
        Analyze unstructured medical text to extract entities labeled with standardized medical codes and
        confidence scores.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comprehend_medical_request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/medical_comprehend_response'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request POST https://api.writer.com/v1/tools/comprehend/medical \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"content":"the symptoms are soreness, a temperature and
            cough","response_type":"Entities"}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const medical = await client.tools.comprehend.medical({ content: 'the symptoms are soreness, a temperature and cough', response_type: 'Entities' });

              console.log(medical.entities);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            medical = client.tools.comprehend.medical(
                content="the symptoms are soreness, a temperature and cough",
                response_type="Entities",
            )
            print(medical.entities)
  /v1/tools/context-aware-splitting:
    post:
      security:
        - bearerAuth: []
      tags:
        - Tools API
      summary: Context-aware text splitting
      description: >-
        Splits a long block of text (maximum 4000 words) into smaller chunks while preserving the semantic
        meaning of the text and context between the chunks.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/context_aware_text_splitting_request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/context_aware_splitting_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request POST https://api.writer.com/v1/tools/context-aware-splitting \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"text":"text to split","strategy":"llm_split"}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.tools.contextAwareSplitting({ strategy: 'llm_split', text: 'text to split' });

              console.log(response.chunks);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            response = client.tools.context_aware_splitting(
                strategy="llm_split",
                text="text to split",
            )
            print(response.chunks)
  /v1/tools/pdf-parser/{file_id}:
    post:
      security:
        - bearerAuth: []
      tags:
        - Tools API
      summary: Parse PDF
      description: Parse PDF to other formats.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier of the file.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/parse_pdf_request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/parse_pdf_response'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl --location --request POST https://api.writer.com/v1/tools/pdf-parser/{file_id} \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"format":"text"}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.tools.parsePdf('file_id', { format: 'text' });

              console.log(response.content);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            response = client.tools.parse_pdf(
                file_id="file_id",
                format="text",
            )
            print(response.content)
  /v1/tools/text-to-graph:
    post:
      security:
        - bearerAuth: []
      tags:
        - Tools API
      summary: Text-to-graph
      description: Performs name entity recognition on the supplied text accepting a maximum of 35000 words.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/text_to_graph_request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/text_to_graph_response'
              example:
                graph:
                  - - racecar [RACECAR]
                    - has_component
                    - brakes [COMPONENT]
                  - - racecar [RACECAR]
                    - can_perform
                    - decelerate [ACTION]
                  - - racecar [RACECAR]
                    - has_property
                    - powerful [PROPERTY]
                  - - 200 km/h [VELOCITY]
                    - decreased_to
                    - 0 km/h [VELOCITY]
                  - - decelerate [ACTION]
                    - performed_by
                    - racecar [RACECAR]
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request POST https://api.writer.com/v1/tools/text-to-graph \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"text":"A racecar has very powerful brakes that can decelerate from 200 km/h to 0
            km/h in a few seconds"}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.tools.textToGraph({ text: 'A racecar has very powerful brakes that can decelerate from 200 km/h to 0 km/h in a few seconds' });

              console.log(response.graph);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                # This is the default and can be omitted
                api_key=os.environ.get("WRITER_API_KEY"),
            )
            response = client.tools.text_to_graph(
                text="A racecar has very powerful brakes that can decelerate from 200 km/h to 0 km/h in a few seconds",
            )
            print(response.graph)
  /v1/tools/web-search:
    post:
      security:
        - bearerAuth: []
      tags:
        - Tools API
      summary: Web search
      description: Search the web for information about a given query and return relevant results with source URLs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/web_search_request'
            example:
              query: How do I get an API key for the Writer API?
              include_domains:
                - dev.writer.com
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/web_search_response'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request POST https://api.writer.com/v1/tools/web-search \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw '{"query":"How do I get an API key for the Writer
            API?","include_domains":["dev.writer.com"]}'
  /v1/vision:
    post:
      tags:
        - Vision
      summary: Analyze images
      description: >-
        Submit images and documents with a prompt to generate an analysis. Supports JPG, PNG, PDF, and TXT
        files up to 7MB each.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vision_request'
            example:
              model: palmyra-vision
              variables:
                - name: image_1
                  file_id: f1234
                - name: image_2
                  file_id: f9876
              prompt: Describe the difference between the image {{image_1}} and the image {{image_2}}.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                data: >-
                  Image f1234 shows a densely crowded urban beach with many umbrellas, while image f9876
                  depicts a sparsely populated tropical beach with clear turquoise water and lush greenery
              schema:
                $ref: '#/components/schemas/vision_response'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request POST https://api.writer.com/v1/vision \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw
            '{"model":"palmyra-vision","variables":[{"name":"image_1","file_id":"f1234"},{"name":"image_2","file_id":"f9876"}],"prompt":"Describe
            the difference between the image {{image_1}} and the image {{image_2}}."}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const visionResponse = await client.vision.analyze({
                model: 'palmyra-vision',
                prompt: 'Describe the difference between the image {{image_1}} and the image {{image_2}}.',
                variables: [
                  { name: 'image_1', file_id: 'f1234' },
                  { name: 'image_2', file_id: 'f9876' },
                ],
              });

              console.log(visionResponse.data);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            vision_response = client.vision.analyze(
                model="palmyra-vision",
                prompt="Describe the difference between the image {{image_1}} and the image {{image_2}}.",
                variables=[{
                    "name": "image_1",
                    "file_id": "f1234",
                }, {
                    "name": "image_2",
                    "file_id": "f9876",
                }],
            )
            print(vision_response.data)
  /v1/translation:
    post:
      tags:
        - Translation
      summary: Translate text
      description: Translate text from one language to another.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/translation_request'
            example:
              model: palmyra-translate
              source_language_code: en
              target_language_code: es
              text: Hello, world!
              formality: true
              length_control: true
              mask_profanity: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                data: ¡Hola, mundo!
              schema:
                $ref: '#/components/schemas/translation_response'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl --location --request POST https://api.writer.com/v1/translation \
             --header "Authorization: Bearer <token>" \
             --header "Content-Type: application/json" \
            --data-raw
            '{"model":"string","source_language_code":"string","target_language_code":"string","text":"string","formality":false,"length_control":false,"mask_profanity":false}'
        - lang: JavaScript
          source: |-
            import Writer from 'writer-sdk';

            const client = new Writer({
              apiKey: process.env['WRITER_API_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const translationResponse = await client.translation.translate({
                formality: true,
                length_control: true,
                mask_profanity: true,
                model: 'palmyra-translate',
                source_language_code: 'en',
                target_language_code: 'es',
                text: 'Hello, world!',
              });

              console.log(translationResponse.data);
            }

            main();
        - lang: Python
          source: |-
            import os
            from writerai import Writer

            client = Writer(
                api_key=os.environ.get("WRITER_API_KEY"),  # This is the default and can be omitted
            )
            translation_response = client.translation.translate(
                formality=True,
                length_control=True,
                mask_profanity=True,
                model="palmyra-translate",
                source_language_code="en",
                target_language_code="es",
                text="Hello, world!",
            )
            print(translation_response.data)
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Bearer authentication header of the form `Bearer <token>`, where `<token>` is your [Writer API
        key](https://dev.writer.com/api-reference/api-keys).
  schemas:
    model_info:
      required:
        - name
        - id
      type: object
      properties:
        name:
          type: string
          description: The name of the particular LLM that you want to use.
        id:
          type: string
          description: The ID of the particular LLM that you want to use
    models_response:
      required:
        - models
      type: object
      properties:
        models:
          type: array
          description: The [ID of the model](https://dev.writer.com/home/models) to use for processing the request.
          items:
            $ref: '#/components/schemas/model_info'
      example:
        models:
          - name: Palmyra X 003 Instruct
            id: palmyra-x-003-instruct
          - name: Palmyra Med
            id: palmyra-med
          - name: Palmyra Financial
            id: palmyra-fin
          - name: Palmyra X4
            id: palmyra-x4
          - name: Palmyra X5
            id: palmyra-x5
          - name: Palmyra Creative
            id: palmyra-creative
    logprobs:
      type: object
      required:
        - content
        - refusal
      nullable: true
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/logprobs_token'
          nullable: true
        refusal:
          type: array
          items:
            $ref: '#/components/schemas/logprobs_token'
          nullable: true
    logprobs_token:
      title: logprobs_token
      required:
        - token
        - logprob
        - top_logprobs
      type: object
      properties:
        token:
          type: string
        logprob:
          type: number
          format: double
        bytes:
          type: array
          items:
            type: integer
            format: int32
        top_logprobs:
          type: array
          items:
            $ref: '#/components/schemas/top_log_prob'
    top_log_prob:
      title: top_log_prob
      description: >-
        An array of mappings for each token to its top log probabilities, showing detailed prediction
        probabilities.
      required:
        - token
        - logprob
      type: object
      properties:
        token:
          type: string
        logprob:
          type: number
          format: double
        bytes:
          type: array
          items:
            type: integer
            format: int32
    completions_choice:
      required:
        - text
      type: object
      properties:
        text:
          type: string
          description: The generated text output from the model, which forms the main content of the response.
        log_probs:
          $ref: '#/components/schemas/logprobs'
    completions_response:
      required:
        - choices
      type: object
      properties:
        choices:
          type: array
          items:
            $ref: '#/components/schemas/completions_choice'
          minItems: 1
          description: >-
            A list of choices generated by the model, each containing the text of the completion and
            associated metadata such as log probabilities.
        model:
          type: string
          description: The identifier of the model that was used to generate the responses in the 'choices' array.
      example:
        choices:
          - text: Sure! Here's a search engine optimized article about...
            log_probs: null
        model: palmyra-x-003-instruct
    streaming_data:
      required:
        - value
      type: object
      properties:
        value:
          type: string
    map:
      type: object
      properties:
        additional_properties:
          type: number
          format: double
          description: For any additional_properties properties in the top_logprobs object
    completions_request:
      required:
        - model
        - prompt
      type: object
      properties:
        model:
          type: string
          description: >-
            The [ID of the model](https://dev.writer.com/home/models) to use for generating text. Supports
            `palmyra-x5`, `palmyra-x4`, `palmyra-fin`, `palmyra-med`, `palmyra-creative`, and
            `palmyra-x-003-instruct`.
        prompt:
          type: string
          description: The input text that the model will process to generate a response.
        max_tokens:
          type: integer
          format: int64
          description: The maximum number of tokens that the model can generate in the response.
        temperature:
          type: number
          format: double
          description: >-
            Controls the randomness of the model's outputs. Higher values lead to more random outputs, while
            lower values make the model more deterministic.
        top_p:
          type: number
          format: double
          description: >-
            Used to control the nucleus sampling, where only the most probable tokens with a cumulative
            probability of top_p are considered for sampling, providing a way to fine-tune the randomness of
            predictions.
        stop:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
          description: >-
            Specifies stopping conditions for the model's output generation. This can be an array of strings
            or a single string that the model will look for as a signal to stop generating further tokens.
        best_of:
          type: integer
          format: int32
          description: >-
            Specifies the number of completions to generate and return the best one. Useful for generating
            multiple outputs and choosing the best based on some criteria.
        random_seed:
          type: integer
          format: int32
          description: >-
            A seed used to initialize the random number generator for the model, ensuring reproducibility of
            the output when the same inputs are provided.
        stream:
          type: boolean
          description: >-
            Determines whether the model's output should be streamed. If true, the output is generated and
            sent incrementally, which can be useful for real-time applications.
      example:
        model: palmyra-x-003-instruct
        prompt: Write me an SEO article about...
        max_tokens: 150
        temperature: 0.7
        top_p: 0.9
        stop:
          - .
        best_of: 1
        random_seed: 42
        stream: false
    fail_message:
      required:
        - description
        - key
        - extras
      type: object
      properties:
        description:
          type: string
        key:
          type: string
        extras:
          type: object
          additionalProperties: true
    fail_response:
      required:
        - tpe
        - errors
        - extras
      type: object
      properties:
        tpe:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/fail_message'
        extras:
          type: object
          additionalProperties: true
    chat_completion_choice:
      required:
        - index
        - finish_reason
        - message
      type: object
      properties:
        index:
          type: integer
          format: int32
          description: The index of the choice in the list of completions generated by the model.
        finish_reason:
          $ref: '#/components/schemas/chat_completion_finish_reason'
          description: >-
            Describes the condition under which the model ceased generating content. Common reasons include
            'length' (reached the maximum output size), 'stop' (encountered a stop sequence), 'content_filter'
            (harmful content filtered out), or 'tool_calls' (encountered tool calls).
        message:
          $ref: '#/components/schemas/chat_completion_response_message'
        logprobs:
          description: Log probability information for the choice.
          $ref: '#/components/schemas/logprobs'
    chat_completion_streaming_choice:
      required:
        - index
        - finish_reason
        - delta
      type: object
      properties:
        index:
          type: integer
          format: int32
          description: The index of the choice in the list of completions generated by the model.
        finish_reason:
          $ref: '#/components/schemas/chat_completion_finish_reason'
          description: >-
            Describes the condition under which the model ceased generating content. Common reasons include
            'length' (reached the maximum output size), 'stop' (encountered a stop sequence), 'content_filter'
            (harmful content filtered out), or 'tool_calls' (encountered tool calls).
          nullable: true
        message:
          $ref: '#/components/schemas/chat_completion_response_message'
        delta:
          description: A chat completion delta generated by streamed model responses.
          $ref: '#/components/schemas/chat_completion_streaming_delta'
        logprobs:
          description: Log probability information for the choice.
          $ref: '#/components/schemas/logprobs'
    chat_completion_finish_reason:
      type: string
      enum:
        - stop
        - length
        - content_filter
        - tool_calls
    chat_request:
      required:
        - model
        - messages
      type: object
      properties:
        model:
          type: string
          description: >-
            The [ID of the model](https://dev.writer.com/home/models) to use for creating the chat completion.
            Supports `palmyra-x5`, `palmyra-x4`, `palmyra-fin`, `palmyra-med`, `palmyra-creative`, and
            `palmyra-x-003-instruct`.
        messages:
          type: array
          items:
            $ref: '#/components/schemas/chat_message'
          minItems: 1
          description: >-
            An array of message objects that form the conversation history or context for the model to respond
            to. The array must contain at least one message.
        max_tokens:
          type: integer
          format: int32
          description: >-
            Defines the maximum number of tokens (words and characters) that the model can generate in the
            response. This can be adjusted to allow for longer or shorter responses as needed. The maximum
            value varies by model. See the [models overview](/home/models) for more information about the
            maximum number of tokens for each model.
        temperature:
          type: number
          format: double
          default: 1
          description: >-
            Controls the randomness or creativity of the model's responses. A higher temperature results in
            more varied and less predictable text, while a lower temperature produces more deterministic and
            conservative outputs.
        top_p:
          type: number
          format: double
          description: >-
            Sets the threshold for "nucleus sampling," a technique to focus the model's token generation on
            the most likely subset of tokens. Only tokens with cumulative probability above this threshold are
            considered, controlling the trade-off between creativity and coherence.
        'n':
          type: integer
          format: int32
          description: >-
            Specifies the number of completions (responses) to generate from the model in a single request.
            This parameter allows for generating multiple responses, offering a variety of potential replies
            from which to choose.
        stop:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
          description: >-
            A token or sequence of tokens that, when generated, will cause the model to stop producing further
            content. This can be a single token or an array of tokens, acting as a signal to end the output.
        logprobs:
          type: boolean
          description: Specifies whether to return log probabilities of the output tokens.
        stream:
          type: boolean
          description: >-
            Indicates whether the response should be streamed incrementally as it is generated or only
            returned once fully complete. Streaming can be useful for providing real-time feedback in
            interactive applications.
          default: false
        tools:
          type: array
          description: >-
            An array containing tool definitions for tools that the model can use to generate responses. The
            tool definitions use JSON schema. You can define your own functions or use one of the built-in
            `graph`, `llm`, `translation`, or `vision` tools. Note that you can only use one built-in tool
            type in the array (only one of `graph`, `llm`, `translation`, or `vision`). You can pass multiple
            [custom tools](https://dev.writer.com/home/tool-calling) of type `function` in the same request.
          items:
            $ref: '#/components/schemas/tool'
            minItems: 1
        tool_choice:
          $ref: '#/components/schemas/tool_choice'
        stream_options:
          $ref: '#/components/schemas/stream_options'
        response_format:
          $ref: '#/components/schemas/response_format'
    stream_options:
      title: stream_options
      description: Additional options for streaming.
      required:
        - include_usage
      type: object
      properties:
        include_usage:
          type: boolean
          description: Indicate whether to include usage information.
    response_format:
      title: response_format
      description: >-
        The response format to use for the chat completion, available with `palmyra-x4` and `palmyra-x5`.


        `text` is the default response format. [JSON Schema](https://json-schema.org/) is supported for
        structured responses. If you specify `json_schema`, you must also provide a `json_schema` object.
      required:
        - type
      type: object
      properties:
        type:
          type: string
          description: The type of response format to use.
          enum:
            - text
            - json_schema
        json_schema:
          type: object
          description: The JSON schema to use for the response format.
    chat_response:
      required:
        - id
        - object
        - choices
        - created
        - model
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: >-
            A globally unique identifier (UUID) for the response generated by the API. This ID can be used to
            reference the specific operation or transaction within the system for tracking or debugging
            purposes.
        object:
          type: string
          description: The type of object returned, which is always `chat.completion` for chat responses.
          enum:
            - chat.completion
        choices:
          type: array
          items:
            $ref: '#/components/schemas/chat_completion_choice'
          minItems: 1
          description: >-
            An array of objects representing the different outcomes or results produced by the model based on
            the input provided.
        created:
          type: integer
          format: int64
          description: >-
            The Unix timestamp (in seconds) when the response was created. This timestamp can be used to
            verify the timing of the response relative to other events or operations.
        model:
          type: string
          description: Identifies the specific model used to generate the response.
        usage:
          $ref: '#/components/schemas/chat_completion_usage'
        system_fingerprint:
          type: string
          description: A string representing the backend configuration that the model runs with.
        service_tier:
          type: string
          description: The service tier used for processing the request.
    chat_completion_chunk:
      required:
        - id
        - object
        - created
        - choices
        - model
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: >-
            A globally unique identifier (UUID) for the response generated by the API. This ID can be used to
            reference the specific operation or transaction within the system for tracking or debugging
            purposes.
        object:
          type: string
          description: The type of object returned, which is always `chat.completion.chunk` for streaming chat responses.
          enum:
            - chat.completion.chunk
        choices:
          type: array
          items:
            $ref: '#/components/schemas/chat_completion_streaming_choice'
          minItems: 1
          description: >-
            An array of objects representing the different outcomes or results produced by the model based on
            the input provided.
        created:
          type: integer
          format: int64
          description: >-
            The Unix timestamp (in seconds) when the response was created. This timestamp can be used to
            verify the timing of the response relative to other events or operations.
        model:
          type: string
          description: Identifies the specific model used to generate the response.
        usage:
          $ref: '#/components/schemas/chat_completion_usage'
        system_fingerprint:
          type: string
        service_tier:
[...]
